.button-link.js-listify-reset-colors {
	margin-left: 1em;
}

.button-link.js-listify-reset-colors:hover {
	background: none;
}

#customize-control-marker-term-colors .wp-color-result,
.wp-customizer .term-colors-custom-colors-wrapper {
	display: none;
}

.term-color {
	width: 20px;
	height: 20px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	margin: 3px 5px 0.5em 0;
}

.select2-container + .js-listify-remove-term,
.wp-picker-active + .js-listify-remove-term {
	margin-top: 6px;
}
