#loading {
	background-color:#fff; 
	background-image: url(images/light/light-loader.gif);
}

/* -----BODY STUFF----- */
html {background: #fff;}
body {color:#555;}

a {color:#000 !important;}
a:hover {color: #000;}

/* -----H TAG STUFF----- */
h1,h2,h3, h4, h5, h6 {color: #000;}

#rightBg {background-color:#fff;}

#mesh {background-image: url("images/mesh.png");}

#navBox li a {background-color: #fff;}

li#homeNav a {background-image: url(images/light/home.png)}
li#contentNav a {background-image: url(images/light/content.png)}
body.archive li#contentNav a,
body.search li#contentNav a,
body.blog li#contentNav a {background-image: url(images/light/list.png)}
li#galleryNav a {background-image: url(images/light/gallery.png)}
li#widgetNav a {background-image: url(images/light/widget.png)}

#navBox.openNav li a.activeNav {
	border-color: #fff; 
	border-color:rgba(255,255,255,.0); 
	background-color: #fff; 
	background-color: rgba(255,255,255,.85);
}

#navBox li a:hover {
	background-color: #fff; 
	background-color: rgba(255,255,255,.85); 
}
#navBox li a.activeNav:hover {
	background-color:#000;
	background-image: url(images/light/close.png)!important; 
	background-color: rgba(255,255,255,.85) !important; 
}

/*-------MAIN NAVIGATION STUFF--------*/
#dropmenu li ul {background-color: #fff;}
#dropmenu li.current-menu-item > a,
#dropmenu li.current-menu-ancestor > a {color: #000}

/* -----SEARCH STUFF----- */
#searchform {
	background-color: #eee; 
	border-color:#eee;
}

/* -----POST AND ENTRY STUFF----- */
#tagInfo {border-color: #555;}

p.metaStuff {border-color: #ccc;}

/*-----THUMBS STUFF------*/
ul.attachmentGallery li {outline: 2px solid #fff;}
ul.attachmentGallery li.activeImg,
ul.attachmentGallery li:hover {outline:2px solid #333;}

/*----SLIDESHOW STUFF----*/
#bgControls a {color: #000; background-color: #fff;}
#bgControls a:hover {background-color: #ccc;}
#imgInfo {color: #555; background-color: #fff;}

/*-----CRUMBS AND BLOG NAV STUFF---*/
#blogNav > a {color: #000; background-color: #fff;}
#blogNav > a:hover {background-color: #ccc}
#blogNav #crumbs {background-color: #fff;}

/*-----SIDEBAR STUFF----*/
#widgetBox ul li.widget h2.widgettitle {border-color: #555;}

/* -----COMMENT STUFF----- */
#commentform label {background-color: #ddd;}
ul.children {border-color:#333;}

/*---FORM STUFF---*/
#commentform input[type="submit"]:hover, 
input[type="submit"]:hover {background-color: #ddd;}

#commentform input[type="submit"], 
input[type="submit"],
input[type="email"],
input[type="text"],
input[type="password"],
textarea {background-color: #ddd; color: #000;}

/*----TAG CLOUD WIDGET STUFF-------*/
.widget_tag_cloud a {
	color: #000;
	background-color: #ddd;	
}
.widget_tag_cloud a:hover {background-color: #ccc; color: #000;}

/*----------PACE LOADING-----------*/
.pace .pace-progress {background: #000; color: #000;}
