@display:
	label: Use
	type: on-off
	default: on
	help: "Include SEO meta data into header"

title:
	label: Title
	type: text
	default: ""
	help: "Write title for page"

keywords:
	label: Keywords
	type: text
	default: ""
	help: "Write keywords for page"

description:
	label: Description
	type: textarea
	default: ""
	help: "Write description for page"
