.entries-page-nav a:hover .entries-page-nav-item, 
.entries-page-nav .entries-page-nav-item, 
.entries-nav ul li > a:hover, 
.entries-nav ul li > span:hover, 
.entries-nav.entries-nav-numbered ul li .page-numbers.current, 
.widget_tag_cloud .tagcloud a:hover, 
.footer-widgets .widget_tag_cloud .tagcloud a:hover {
	background-color: @brand-primary;
}

.entries-page-nav a:hover .entries-page-nav-item, 
.widget_tag_cloud .tagcloud a:hover, 
.footer-widgets .tagcloud a:hover {
	border-color: @brand-primary;
}

h1, h2, h3, h4, h5, h6 {
	a:hover  {
		color: @brand-primary;
	}
}
