.nicdark_buynow_button{
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 0px;
    border-bottom: 0px;
    border-right: 0px;
}

.nicdark_buynow_button a{}


/*menu labels*/
.nicdark_newlabel a:after{ content: ''; background-size: 46px; width: 46px; height: 19px; float: right; margin-top: 0px; background-repeat: no-repeat;
    background-image: url(../img/menu/new-label.jpg);
}
.nicdark_hotlabel a:after{ content: ''; background-size: 46px; width: 46px; height: 19px; float: right; margin-top: 0px; background-repeat: no-repeat;
    background-image: url(../img/menu/hot-label.jpg);
}
.nicdark_bestlabel a:after{ content: ''; background-size: 46px; width: 46px; height: 19px; float: right; margin-top: 0px; background-repeat: no-repeat;
    background-image: url(../img/menu/best-label.jpg);
}
/*end menu labels*/


.nicdark_demo_plugin{
    float: right;
    font-size: 11px;
    padding: 5px 10px;
    margin-top: 15px;
}


/*switcher style*/
.nicdark_switcher { width: 250px; position: fixed; left: -250px; top: 150px; z-index: 999; -webkit-transition: all 0.8s ease; -moz-transition: all 0.8s ease; -o-transition: all 0.8s ease; -ms-transition: all 0.8s ease; transition: all 0.8s ease;}
.nicdark_switcher select{ border: 1px solid #f1f1f1; border-radius: 0px; padding: 10px; font-size: 12px; text-transform: uppercase; color: #a4a4a4; }
.nicdark_switcher_btn{ color: #fff; position: absolute; width: 30px; height: 31px; text-align: center; padding: 13px; font-size: 20px; cursor: pointer; margin-right: -56px; right: 0; background: rgb(74, 81, 91); }
.nicdark_switcher_close{ display: none; }
.nicdark_switcher_open:before{ -webkit-animation: nicdark_spin 3s infinite linear; animation: nicdark_spin 3s infinite linear; }
.nicdark_switcher_color{ float: left; width: 26px; height: 26px; cursor: pointer; margin-right: 10px;}
.nicdark_switcher_color.active:before{ content: '\e83b'; font-family: fontello; color: #FFF; margin-left: 7px; margin-top: 7px; font-size: 12px; position: absolute;}
.nicdark_site{ background-size: cover;}
.nicdark_switcher_pattern1{ background-image: url( ../img/switcher/patterns/pattern_1.png ); }
.nicdark_switcher_pattern2{ background-image: url( ../img/switcher/patterns/pattern_2.png ); }
.nicdark_switcher_pattern3{ background-image: url( ../img/switcher/patterns/pattern_3.png ); }
.nicdark_switcher_pattern4{ background-image: url( ../img/switcher/patterns/pattern_4.png ); }
.nicdark_switcher_pattern5{ background-image: url( ../img/switcher/patterns/pattern_5.png ); }
.nicdark_switcher_pattern6{ background-image: url( ../img/switcher/patterns/pattern_6.png ); }
.nicdark_switcher_img1{ background-image: url( ../img/switcher/images/image_1.jpg ); }
.nicdark_switcher_img2{ background-image: url( ../img/switcher/images/image_2.jpg ); }
.nicdark_switcher_img3{ background-image: url( ../img/switcher/images/image_3.jpg ); }
.nicdark_switcher_img4{ background-image: url( ../img/switcher/images/image_4.jpg ); }
.nicdark_switcher_img5{ background-image: url( ../img/switcher/images/image_5.jpg ); }
.nicdark_switcher_img6{ background-image: url( ../img/switcher/images/image_6.jpg ); }
/*end switcher style*/