@font-face {
	font-family: 'Podkova';
	src: url('../../../fonts/Podkova/Podkova-webfont.eot');
	src: url('../../../fonts/Podkova/Podkova-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../../fonts/Podkova/Podkova-webfont.woff') format('woff'),
		 url('../../../fonts/Podkova/Podkova-webfont.ttf') format('truetype'),
		 url('../../../fonts/Podkova/Podkova-webfont.svg#Podkova') format('svg');
		font-weight: normal;font-style: normal;
}