@font-face {
	font-family: 'StMarie';
	src: url('../../../fonts/StMarie/StMarie-webfont.eot');
	src: url('../../../fonts/StMarie/StMarie-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../../fonts/StMarie/StMarie-webfont.woff') format('woff'),
		 url('../../../fonts/StMarie/StMarie-webfont.ttf') format('truetype'),
		 url('../../../fonts/StMarie/StMarie-webfont.svg#StMarie') format('svg');
		font-weight: normal;font-style: normal;
}