@display:
	label: Display
	type: on-off
	default: on
	help: "Display or hide this element on page"
	basic: true

type:
	label: Type
	type: select
	default:
		1: "Search Form"
		2: "Search Sentence"
		3: "Search Buttons"
		4: "Side Search Form"
	basic: true
	selected: 4
	help: "Select type of Search Form"

radiusUnits:
	label: Radius units
	type: select
	selected: km
	default:
		km: Kilometers
		mi: Miles
	basic: true
	help: "Select units for radius"

radiusHelp:
	label: Radius Help
	type: text
	default: "Set radius for geolocation"
	basic: true

enableKeywordSearch:
	label: Keyword Search
	type: on-off
	default: on
	basic: true
	help: "Enable or disable option for search form types: Search Form and Search Buttons"

enableCategorySearch:
	label: Category Search
	type: on-off
	default: on
	basic: true
	help: "Enable or disable option for search form types: Search Form and Search Buttons"

enableLocationSearch:
	label: Location Search
	type: on-off
	default: on
	basic: true
	help: "Enable or disable option for search form types: Search Form and Search Buttons"

enableRadiusSearch:
	label: Radius Search
	type: on-off
	default: on
	basic: true
	help: "Enable or disable option for search form types: Search Form and Search Buttons"

- section(id: type-2, title: '')

sentence:
	label: Search Sentence
	type: text
	default: "I would like to find {search-keyword} at {search-category} in {search-location} or {search-radius} around me"
	help: "Write sentence represented the search form"

- section(id: type-3, title: '')


buttonColor:
	label: Buttons Color
	type: color
	opacity: 5%
	default: '#000000'
	help: "Custom color of filter buttons"
	basic: true

responsiveBck:
	label: Background on Responsive
	type: color
	default: ''
	help: "Background color when search box is collapsed under header in responsive version"
	basic: true

title:
	label: Title
	type: text
	default: ''
	help: 'Title text displayed with element (Only in Search Buttons Form type)'

description:
	label: Description
	type: textarea
	default: ''
	help: 'Description text displayed with element (Only in Search Buttons Form type)'

customClass:
	label: Custom Class
	type: code
	default: ''
	help: 'Write your custom class for own element identification'

- section(title: Element Background, advanced: true)

@bg:
	label: Background
	type: background
	default:
		color: ''
		opacity: 100%
		image: ''
		repeat: repeat
		position: top center
		scroll: scroll
	help: "Look of element background. Color, opacity and background image."

titlesAltColor:
	label: Titles Color
	type: color
	default: ''
	help: "Custom color of titles"

textAltColor:
	label: Text Color
	type: color
	default: ''
	help: "Custom color of text"

linkAltColor:
	label: Links Color
	type: color
	default: ''
	help: "Custom color of links"
