
/* =================
	Quote Style 
====================*/
.cshero-row-quote{ margin-bottom: 20px;}
.cs-quote-style-1, 
.cs-quote-style-2{display:block; position:relative;border-left: 10px solid; padding: 20px; background: #f7f7f7; font-size: 14px; color: #868686;}
