/*--------------------------------------------------------------
 
 Project   : Total WordPress Theme
 Purpose   : Sensei Plugin Tweaks
 Author    : WPExplorer
 Theme URI : http://www.wpexplorer.com

/*------------------------------------------------------------------
[# Main Buttons]
-------------------------------------------------------------------*/
.course-container a.button,
.course-container a.button:visited,
.course-container a.comment-reply-link,
.course-container #commentform #submit,
.course-container .submit,
.course-container input[type=submit],
.course-container input.button,
.course-container button.button,
.course a.button,
.course a.button:visited,
.course a.comment-reply-link,
.course #commentform #submit,
.course .submit,
.course input[type=submit],
.course input.button,
.course button.button,
.lesson a.button,
.lesson a.button:visited,
.lesson a.comment-reply-link,
.lesson #commentform #submit,
.lesson .submit,
.lesson input[type=submit],
.lesson input.button,
.lesson button.button,
.quiz a.button,
.quiz a.button:visited,
.quiz a.comment-reply-link,
.quiz #commentform #submit,
.quiz .submit,
.quiz input[type=submit],
.quiz input.button,
.quiz button.button { background: #4a97c2; color: #fff; padding: .5em 1em; margin: 0; display: inline-block; font-size: 0.923em; font-weight: 400; color: #fff; outline: none; cursor: pointer; outline: none; border: none; font-family: inherit; -webkit-appearance: none; transition: all 0.15s ease-in-out; border-radius: 3px; -webkit-font-smoothing: inherit; text-decoration: none !important; text-transform: none; }

.course-container a.button:hover,
.course-container a.button:visited:hover,
.course-container a.comment-reply-link:hover,
.course-container #commentform #submit:hover,
.course-container .submit:hover,
.course-container input[type=submit]:hover,
.course-container input.button:hover,
.course-container button.button:hover,
.course a.button:hover,
.course a.button:visited:hover,
.course a.comment-reply-link:hover,
.course #commentform #submit:hover,
.course .submit:hover,
.course input[type=submit]:hover,
.course input.button:hover,
.course button.button:hover,
.lesson a.button:hover,
.lesson a.button:visited:hover,
.lesson a.comment-reply-link:hover,
.lesson #commentform #submit:hover,
.lesson .submit:hover,
.lesson input[type=submit]:hover,
.lesson input.button:hover,
.lesson button.button:hover,
.quiz a.button:hover,
.quiz a.button:visited:hover,
.quiz a.comment-reply-link:hover,
.quiz #commentform #submit:hover,
.quiz .submit:hover,
.quiz input[type=submit]:hover,
.quiz input.button:hover,
.quiz button.button:hover { background: #327397; }

.quiz input.quiz-submit.reset:hover,
.lesson input.quiz-submit.reset:hover {
    background: #e73f3f;
}

.course .button.send-message-button { background: #9a5e9a; }
.course .button.send-message-button:hover { background: #653e65; }

.quiz input.quiz-submit.complete:hover,
.lesson input.quiz-submit.complete:hover { background: #4e8b4a; }

/*------------------------------------------------------------------
[# Courses]
-------------------------------------------------------------------*/

/* Courses > Main */
#main .course,
#main .course-container { border-bottom-color: #eee; }

/* Courses > Meta */
.lesson .lesson-meta { margin-bottom: 10px; }

/* Courses > Header */
.course-lessons { padding-top: 30px; }
#main .course .course-lessons > header,
#main .course .module-lessons > header,
#main .course-container .course-lessons > header,
#main .course-container .module-lessons > header { margin: 0 0 30px; font-weight: 600; font-size: 1.500em; border-bottom: 1px solid #eee; padding: 30px 0; border-top: 2px dashed #ddd; }

/* Courses > Results */
a.view-results,
a.view-results-link,
a.sensei-certificate-link { background: #4a97c2; color: #fff; font-weight: 400; }
a.view-results:hover,
a.view-results-link:hover,
a.sensei-certificate-link:hover { text-decoration: none; opacity: 0.85; }

/* Courses > Status */
.course .status,
.course-lessons .status,
.course-container .status { font-size: 0.923em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding: .5em 1em; font-weight: 400; background: #999; }
.meter > span { font-weight: 400; }

/* Courses > Modules */
.module { margin: 20px 0 !important; }
.module header h2 { font-size: 1.125em; color: #fff; font-weight: 400; padding: 0; }
.module header h2 a { display: block; background: #4a97c2; padding: 0.6em 0.8em; padding-right: 120px; }
.module header h2 a:hover { color: #fff; text-decoration: underline; }
.module .module-description { font-style: normal; }
.module .module-description { background: #f6f6f6; color: #666; }
.module .module-status { display: block; float: left; background: none !important; padding: 0 !important; top: 10px; font-weight: normal; font-size: 13px; }

/* Courses > Archive */
.course-container .archive-header { display: none; }
#main .course-container { border: none; }

/*------------------------------------------------------------------
[# Module Archive]
-------------------------------------------------------------------*/
body.tax-module .term-description { }

/*------------------------------------------------------------------
[# Lesson]
-------------------------------------------------------------------*/
.lesson header h1 { border-bottom: 1px solid #eee; padding: 0 0 10px; margin: 0 0 30px; font-size: 1.846em; font-weight: 400; }
.lesson .entry .video { margin-bottom: 20px; }
#private_message { margin: 0 0 10px; font-weight: 600; color: #555; }
.contact-teacher { margin-bottom: 30px; }

/*------------------------------------------------------------------
[# Quiz]
-------------------------------------------------------------------*/
.quiz form ol#sensei-quiz-list { padding: 20px 0 0; margin: 0; list-style-position: inside; }
.quiz form ol#sensei-quiz-list li,
.quiz form ol#sensei-quiz-list li > span { font-weight: 600; color: #222; }
.quiz form ol#sensei-quiz-list li .answer_message { margin-top: 10px; }

/*------------------------------------------------------------------
[# Messages]
-------------------------------------------------------------------*/
.sensei p.sensei-message.info,
.sensei div.sensei-message.info,
.course-container p.sensei-message.info,
.course-container div.sensei-message.info,
.course p.sensei-message.info,
.course div.sensei-message.info,
.lesson p.sensei-message.info,
.lesson div.sensei-message.info,
.quiz p.sensei-message.info,
.quiz div.sensei-message.info,
.learner-info p.sensei-message.info,
.learner-info div.sensei-message.info { background: #fef6d2; color: #846000; }

/*------------------------------------------------------------------
[# Breadcrumbs]
-------------------------------------------------------------------*/
.sensei-breadcrumb { margin: 30px 0; padding: 15px 0; background: none; border-top: 1px solid #eee; border-bottom: 1px solid #eee; color: #444; }

/*------------------------------------------------------------------
[# Widgets]
-------------------------------------------------------------------*/

/* Widgets > Borders */
.widget_sensei_lesson_component li,
.widget_sensei_course_component li,
.widget_sensei_course_categories li { padding: 6px 0; border-bottom: 1px solid #eee; }
.widget_sensei_lesson_component li:first-child,
.widget_sensei_course_component li:first-child,
.widget_sensei_course_categories li:first-child { border-top: 1px solid #eee }