@include: 'common.neon#exclude: title, description, headAlign'

image:
	label: Image
	type: image
	default: ""

text:
	label: Text
	type: editor
	tiny: false

textContainerWidth:
	label: Text width
	type: select
	default:
		"size21": "1/2 column"
		"size20": "half page"
		"size31": "1/3 column"
		"size32": "2/3 column"
		"size41": "1/4 column"
		"size43": "3/4 column"
		"size51": "1/5 column"
		"size52": "2/5 column"
		"size53": "3/5 column"
		"size54": "4/5 column"
	selected: "size20"

textContainerPosition:
	label: Text position
	type: select
	default:
		"left": "Left"
		"right": "Right"
	selected: "left"

textHeight:
	label: Textarea Height
	type: number
	unit: px
	default: ''
	help: "Minimal height of text box"

- section(title: Button Settings)

buttonLink:
	label: Button Link
	type: text
	default: ''
	help: "Link used for button, use valid URL format with http://"

buttonTitle:
	label: Button Title
	type: text
	default: ''
	help: 'Title text displayed in button'

buttonDesc:
	label: Button Description
	type: text
	default: ''
	help: 'Description text displayed in button'

- section(title: 'Advanced Colors', advanced: true)

buttonColor:
	label: Button Color
	type: color
	default: ""
	help: "Color of button"

buttonTitColor:
	label: Button Title
	type: color
	default: ""
	help: "Color of title text in button"

buttonDescColor:
	label: Button Description
	type: color
	default: ""
	help: "Color of description text in button"