/*-----------------------------------------------------------------------------------*/
/* - Theme Responsiveness
/*-----------------------------------------------------------------------------------*/

@media only screen and (min-width: 1240px) {
	.container {
		width: 1140px;
	}

	.container.sidebar-open #content {
		width: 765px;
	}

	.sidebar-open .list-layout .post-featured-item {
		width: 280px;
	}

	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper {
		width: 455px;
	}

	.list-layout .post-featured-item {
		width: 420px;
	}

	.list-layout .post.has-post-thumbnail .post-entry-wrapper {
		width: 680px;
	}

}

@media only screen and (max-width: 1025px) {

	.container {
		width:84%;
		max-width: 630px;
	}
	
	.main-navigation {
		display:none;
	}

	.top-search-area {
		width:auto;
		margin-right:5px;
		margin-left:5px;
	}
	
	#logo img {
		max-width:100%;
		height:auto;
	}
	
	.slicknav_menu {
		display:block;
		font-family: "Raleway", serif;
	}

	.slicknav_nav {
		top: 53px;
	}
	
	.related-posts .item {
		margin-bottom:3.5%;
	}
	
	#footer-widget-area .widget-columns {
		width:100%!important;
		margin-right: 0!important;
		margin-bottom: 80px;
	}

	#footer-widget-area .widget-columns.last {
		margin-bottom: 0;
	}
	
	.widget img {
		max-width:100%;
		height:auto;
	}
	
	.widget iframe {
		max-width:100% !important;
		height:auto;
	}
	
	.wpcf7 input {
		width:100%;
	}

	.container.sidebar-open #content{
		width: 100%;
		float:none;
	}

	.masonry-layout .post-item {
		width: 50%!important;
	}

	#sidebar {		
		width:100%;
		margin:65px auto 0;
		max-width:500px;
		float:none;
		min-height: 0!important;
	}

	.theiaStickySidebar {
		position: static!important;
	}

	.layout-title {
		max-width:60%;
	}

	.featured-area[data-slider-type="slider"] .slider-item h2, .featured-area[data-slider-type="slider"] .slider-item h2 a {
		font-size: 20px;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper {
		padding: 50px 35px 42px;
	}

	.featured-posts ul li {
		width: 50%;
		margin-bottom: 30px;
	}

	.fotorama__wrap {
		margin: 0 auto;
	}

	.featured-posts-container {
		margin-bottom: 0;
	}

}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
	
	.related-posts .item {
		width:48.25%;
	}

	.related-posts .item:nth-child(2n){
		margin-right: 0;
	}

	.list-layout .post-featured-item, 
	.sidebar-open .list-layout .post-featured-item {
		width: 245px;
		margin-right: 20px;
	}
	
	.list-layout .post.has-post-thumbnail .post-entry-wrapper,
	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper {
		width: 365px;
	}

	.list-layout .post-header h2 a
	.sidebar-open .list-layout .post-header h2 a {
		font-size: 18px;
	}

	.featured-area[data-slider-type="slider"] .slider-item h2,
	.featured-area[data-slider-type="slider"] .slider-item h2 a {
		max-width: 380px;
	}

	.featured-area[data-slider-type="slider"] .slider-item {
		height: 425px;
	}
}



@media only screen and (max-width: 782px) { 
	.wpadminbar-open .main-navigation-wrapper.sticky {
		top:46px!important;
	}

	.gallery.gallery-columns-3 .gallery-caption {
		display: none;
	}

	.featured-area[data-slider-type="slider"] .item-link {
		padding: 10px 40px 50px
	}
}

/*************************************************
*	Mobile Portrait								 *
*************************************************/

@media only screen and (max-width: 767px) {

	.featured-posts ul li {
		width: 100%;
	}

	.featured-posts ul li:last-child {
		margin-bottom: 0;
	}

	#logo img {
		max-width: 80%;
	}

	.menu-mobile .slicknav_btn {
		position: absolute;
		top:0;
		left:15px;
	}

	.footer-menu.nav-menu {
		margin-bottom: 15px;
	}

	.footer-menu.nav-menu > li {
		float: none;
		display: inline-block;
	}

	.footer-menu.nav-menu > li > a {
		line-height: 28px;
	}

	#top-social-items {
		padding: 0;
		right: 45px;
		left:auto;
	}

	.no-search #top-social-items {
		right: 0;
	}

	#top-social-items a:first-child {
		border-left: 1px solid #e8e8e8;
	}
	
	.related-posts .item {
		width:100%;
		margin-right: 0;
		margin-bottom:30px;
	}

	#respond input[type="text"], #respond input[type="email"] {
		width: 100%;
	}
	
	.thecomment .author-img {
		display:none;
	}

	.masonry-layout .post-item {
		width: 100%!important;
	}

	.post-entry-bottom {
		text-align: center;
	}

	.post-entry-bottom a.custom-more-link, .post-share,
	.post-tags {
		float: none;
	}

	.post-entry-bottom a.custom-more-link {
		display: inline-block;
	}

	.like-comment-buttons-wrapper {
		display: block;
		width: 100%;
	}

	.post-share {
		display: block;
	}

	.post-share:hover ul {
		display: block;
	}

	.post-share li.share-item {
		position: static;
		display: inline-block;
	}

	.post-author .author-img {
		position: static;
		width:100%;
		margin-top:0;
		margin-bottom: 15px;
		text-align: center;
	}

	.post-author .author-content {
		text-align: center;
		padding:0;
	}
	
	.post-comments ul.children {
		margin:0;
		padding-left: 18px;
	}

	.pagination .older, .pagination .newer {
		float: none;
	}

	.pagination .older {
		margin-bottom: 10px;
	}

	.pagination .older a, .pagination .newer a {
		display: block;
		text-align: center;
	}

	.related-posts .item h3 {
		font-size: 18px;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper {
		max-width: 80%;
		padding:36px 17px 28px;
	}

	.featured-area[data-slider-type="slider"] .slider-item .format-icon {
		width: 46px;
		height: 46px;
		top:-23px;
		margin-left: -23px;
		line-height: 47px;
		font-size: 16px;
	}

	#alternate-widget-area .jr-insta-thumb ul.thumbnails li {
		width: 25%!important;
	}

	#alternate-widget-area .jr-insta-thumb ul.thumbnails li:nth-child(8), 
	#alternate-widget-area .jr-insta-thumb ul.thumbnails li:nth-child(7), 
	#alternate-widget-area .jr-insta-thumb ul.thumbnails li:nth-child(6), 
	#alternate-widget-area .jr-insta-thumb ul.thumbnails li:nth-child(5) {
		display: none;
	}

	.list-layout .post-featured-item, 
	.sidebar-open .list-layout .post-featured-item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}
	
	.list-layout .post.has-post-thumbnail .post-entry-wrapper,
	.sidebar-open .list-layout .post.has-post-thumbnail .post-entry-wrapper {
		width: 100%;
	}

	.list-layout .like-comment-buttons-wrapper {
		text-align: left;
		margin-top: 20px;
		line-height: 1;
	}

	.post-header {
		margin-top: 10px;
		margin-bottom: 25px;
	}

	.post-featured-item {
		margin-bottom: 20px;
	}

	.post.article-item {
		margin-bottom: 30px;
		padding-bottom: 30px;
	}

	.pagination, .full-container .pagination {
		margin-top: 25px;
	}

	.featured-area[data-slider-type="slider"] .slider-item {
		height: 350px;
	}
	
}

@media only screen and (max-width: 600px) { 
	#wpadminbar {
		position: fixed;
	}
}

/*************************************************
*	10. Landscape								 *
*************************************************/

@media only screen and (min-width: 480px) and (max-width: 767px) {	
}

@media only screen and (max-width: 479px) {
	body {
		font-size: 13px;
	}

	h1 {
		font-size:23px;
	}

	h2 {
		font-size:20px;
	}

	h3 {
		font-size:18px;
	}

	h4 {
		font-size:17px;
	}

	h5 {
		font-size:16px;
	}

	h6 {
		font-size:14px;
	}

	#main-container {
		margin-top: 30px;
		padding-bottom: 30px;
	}

	.main-navigation-wrapper .sticky-logo {
		margin-top:-12px;
	}
	
	.main-navigation-wrapper .sticky-logo img {
		max-height:24px;
	}

	.layout-title {
		max-width: 80%;
	}

	.featured-area[data-slider-type="slider"] .swiper-button-prev-custom, .featured-area[data-slider-type="slider"] .swiper-button-next-custom,
	.featured-area[data-slider-type="slider"] .slider-item .format-icon {
		display: none;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper {
	    padding: 22px 17px;
	}

	.featured-area .swiper-button-next-custom {
		right: -21px;
	}

	.featured-area .swiper-button-prev-custom {
		left: -21px;
	}

	.featured-area .slider-item .btn-wrapper {
		display:none;
	}

	.featured-area[data-slider-type="slider"] .slider-item h2, .featured-area[data-slider-type="slider"] .slider-item h2 a {
		font-size: 13px;
	}

	.featured-area[data-slider-type="slider"] .item-header-wrapper .item-postit {
		font-size: 11px;
		margin-bottom: 7px;
	}
	.featured-area[data-slider-type="slider"] .date-author {
		font-size: 11px;
		margin-top: 7px;
	}

	.post-header h1 a, .post-header h2 a, .post-header h1, .post-header h2, 
	.sidebar-open .post-header h1, .sidebar-open .post-header h2, 
	.sidebar-open .post-header h1 a, .sidebar-open .post-header h2 a {
		max-width:100%;
		width: 100%;
		font-size: 18px !important;
		line-height: 1.3;
	}

	.featured-area[data-slider-type="slider"] .slider-item {
		height: 250px;
	}
	
	.container {
		width: 85%;
	}

	.post-header h1, .post-header h2 {
		padding: 0;
	}

	blockquote {
		margin-left: 0;
		margin-right: 0;
	}

	.post-header .date-author p {
		display:block;
	}

	blockquote p {
		font-size: 15px;
	}

	.format-quote .post-entry blockquote,
	.format-link .post-entry a {
		margin: 0;
		padding: 30px;
	}

	.mejs-overlay-button {
		width: 50px;
		height: 50px;
		margin: -25px 0 0 -25px;
		background-size:cover;
	}

	.page-introduce-title {
		font-size: 15px;
	}

	.archive-title-area {
		padding: 40px 0 35px;
	}

	.author-content p {
		font-size: 13px;
	}

	.post-author .box-title-area .title {
		font-size: 15px;
	}

	.box-title-area .title {
		line-height: 1.5;
		font-size: 15px;
	}

	.comment-item .comment-text span.author, .comment-item .comment-text span.author a {
		font-size: 16px;
	}

	.related-posts .item h3 {
		font-size: 16px;
	}

	.post-share .share-box {
		width:30px; 
		height:30px;
		line-height: 31px;
		font-size: 12px;
	}

	.pswp__caption {
		bottom: 0;
	}

	.pswp__caption__center {
		width: 100%;
	}

	.search-form-area .search-form .search {
		font-size: 17px;
	}
}
