/* 
	CSS Reset 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body 
{
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}

#page_content_wrapper p {
	padding-top:0.5em;
	padding-bottom:0.5em;
}

/*
	Global Layout
*/


html
{
	overflow-x: hidden;
}

body
{
	background: #000;
	font-size: 13px;
	font-family: "helvetica neue",Helvetica,Arial,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #ccc;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

hr
{
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	background: transparent;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
}

a
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	color: #999;
	text-decoration: none;
}

a:active
{
	color: #999;
	text-decoration: none;
}

h1
{
	font-size: 40px;
	font-weight: 100;
}

h2
{
	font-size: 32px;
	font-weight: 100;
}

#searchform label
{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	display: block;
	text-align: left;
	font-family: "helvetica neue",Helvetica,Arial,Verdana,sans-serif;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#searchform input[type=text]
{
	width: 90%;
}

h3
{
	font-size: 26px;
	font-weight: 100;
}

h4
{
	font-size: 24px;
	font-weight: 100;
}

h5
{
	font-size: 20px;
	font-weight: 200;
}

h6
{
	font-size: 18px;
	font-weight: 200;
}

h1, h2, h3, h4, h5, h6
{
	color: #fff;
}

.strong
{
	font-weight: bold;
}

.middle
{
	vertical-align: -30%;
}

pre, code, tt {font:12px 'andale mono', 'lucida console', monospace;line-height:1.5;padding: 15px 10px 15px 10px;display: block; overflow: auto; margin-top: 20px;
margin: 0 0 20px 0;
width:92%;
	border: 0;
	color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.clear
{
	clear: both;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

#contact_form label.error, #commentform label.error
{
	color: #AC1C20;
	float: left;
	margin-top: 6px;
	margin-bottom: 0;
}

.with_bg
{
	background: #f9f9f9;
	border: 1px solid #eeeeee;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

img.frame
{

}

.frame_left
{
	padding: 5px;
 	float: left;
 	margin: 0 20px 10px 0;
 	text-align: center;
}

.frame_left .caption, .frame_right .caption, .frame_center .caption
{
	margin: 7px 0 2px 0;
	display: block;
	color: #999;
}

.frame_right
{
	padding: 5px;
 	float: right;
 	margin: 0 0 10px 20px;
 	text-align: center;
}

.frame_center
{
	padding: 5px;
 	margin: auto;
 	margin-top: 20px;
	margin-bottom: 20px;
 	text-align: center;
 	clear: both;
 	display: table;
}

.dropcap1
{
	display: block;
	float: left;
	margin: 0 8px 0 0;
	font-size: 24px;
	line-height: 40px;
	background: transparent url("../images/dropcap_bg.png") no-repeat top center;
	color: #fff;
	width: 40px;
	height: 40px;
	text-align: center;
}

blockquote
{
	padding-left: 60px;
	width: 90%;
	background: transparent url("../images/quote_bg.png") no-repeat top left;
	min-height: 50px;
	margin: 20px 0 20px 0;
}

blockquote h2
{
	font-weight: normal;
	font-size: 20px;
}

blockquote h3
{
	font-weight: normal;
	font-size: 18px;
}

#respond
{
	width: 100%;
	float: left;
	margin: 0 0 40px 0;
}

#wrapper
{
	width: 100%;
}

.logo_wrapper
{
	margin: 0 0px 0 30px;
	display: block;
	float: left;
	padding: 0;
}

.logo_wrapper:hover, .logo_wrapper:active
{
	background: transparent;
}

.logo_wrapper img
{
	margin-top: 0;
}

.top_bar
{
	width: 100%;
	height: 56px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

body.admin-bar .top_bar
{
	top: 28px;
}

.footer_bar
{
	width: 100%;
	height: 40px;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}

.left_bar
{
	width: 30px;
	height: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 6;
}

.right_bar
{
	width: 30px;
	height: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 6;
}

#menu_wrapper
{
	margin:auto;
	z-index:999;
	float: left;
	width: 100%;
	overflow-x: hidden;
}

#nav_wrapper
{
	float: left;
}

.nav_wrapper_inner
{
}

#menu_border_wrapper .notice
{
	color: #999;
	margin-top: 18px;
}

.nav, .subnav, .nav_page_number
{
	list-style: none;
	float: left;
	padding: 19px 0 17px 25px;
}

.subnav
{
	background: none;
}

.nav li, .nav_page_number li
{
	display: block;
	float: left;
}

.nav_page_number
{
	margin-top: 2px;
}

hr.small_menu_hr
{
	border: 0;
	height: 1px;
	width: 20px;
	float: left;
	border-bottom: 2px solid #fff;
	margin-left: 5px;
}

.nav li a, .nav_page_number li
{
	display: block;
	width: 100%;
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	font-weight: bold;
	margin-right: 30px;
}

.nav li ul
{
	display: none;
	list-style: none;
	background: #fff;
	position: absolute;
 	padding: 0;
 	width: 210px;
 	height: auto;
 	z-index: 1000; 
 	font-size: 12px;
	text-transform: none;
	margin: 0 0 0 -20px;
	padding: 20px 20px 5px 20px;
}

.nav li ul li ul
{
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	z-index: 1000;
	position: relative;
}

.nav li ul li 
{
	margin: 10px 0 10px 0;
	float: none;
}

.nav li ul li a
{
	float: none;
	font-weight: normal;
	letter-spacing: 0;
	width: 100%;
}

.nav li.current-menu-parent ul
{
	display: none;
}

.nav li.current-menu-item > a, .nav li > a:hover, .nav li > a.hover, .nav li > a:active, .nav li.current-menu-parent > a
{
	color: #000;
}

.nav li.current-menu-item ul li a:hover, .nav li ul li a:hover, .nav li ul li:hover a, .nav li ul li.current-menu-item a
{
	border: 0;
	color: #000;
}

#footer
{
	margin: 13px 0 0 30px;
	font-size: 11px;
	float: left;
	color: #888;
}

#copyright
{
	margin: 25px 0 0px 30px;
	float: left;
	width: 60%;
	font-size: 11px;
}

#content_wrapper
{
	width: 72%;
	float: left;
	margin: 0;
}

#page_content_wrapper
{
	width: 960px;
	padding-bottom: 30px;
	margin: auto;
	margin-top: 35px;
	background: rgba(0,0,0,0.8);
	overflow-x: hidden;
}

#content_wrapper .inner
{
	overflow: hidden;
}

#page_content_wrapper .inner
{
	margin: 0 0 0 0;
}

.post_wrapper
{
	width: 100%;
	margin: -15px 0 50px 0;
}

.post_wrapper.single
{
	width: 100%;
	margin: 0;
}

.post_date
{
	width: 100px;
	height: 100px;
	margin-right: 20px;
	margin-top: 10px;
	float:left;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	background: #000;
}

.post_date .month
{
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin-top: 7px;
}

.post_date .year
{
	width: 100%;
	font-size: 14px;
	text-align: center;
	margin-top: -15px;
}

.post_date .date
{
	width: 100%;
	font-size: 50px;
	text-align: center;
	margin-top: -15px;
}

.post_date .comments
{
	width: 100%;
	font-size: 11px;
	text-align: center;
	margin-top: 11px;
	font-weight: normal;
	text-shadow: 0 0 0;
}

.post_social, .gallery_social
{
	width: 100px;
	float: left;
}

.gallery_social div.each
{
	float: left;
	margin-right: 10px;
}

.post_header
{
	width: 72%;
	float: left;
	margin-bottom: 10px;
	margin-top: 5px;
}

.post_header h5
{
	font-size: 26px;
}

.post_detail
{
	font-size: 10px;
	text-transform: uppercase;
	color: #999;
}

.post_excerpt
{
	width: 98%;
	margin:18px 0 0 0;
}

.post_header .post_detail, .recent_post_detail
{
	width: 80%;
	padding: 5px 10px 5px 0;
	float: left;
}

.post_detail_wrapper
{
	float: left;
	width:96%;
	margin: 0 0 10px 0;
}

#about_the_author
{
	width: 98%;
	float: left;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

#about_the_author .header span
{
	display: block;
	padding: 10px 0 10px 20px;
	font-size: 14px;
}

#about_the_author .thumb
{
	width: 80px;
	float: left;
	margin: 20px 0 0 20px;
}

#about_the_author .thumb img
{
	padding: 3px;
	width: 50px;
}

#about_the_author .description
{
	width: 370px;
	float: left;
	padding: 20px 0 20px 0;	
}

.comment .left img.avatar
{
	width: 50px;
}

.comment
{
	width: 660px;
	padding-bottom: 20px;
	float: left;
}

.comment .left
{
	width: 60px;
	float: left;
}

.comment_arrow
{
	width: 10px;
	height: 10px;
	float: left;
	position: relative;
	left: 5px;
	margin-top: 20px;
	display: none;
}

.comment .right
{
	width: 84%;
	float: left;
	padding: 14px 15px 10px 15px;
	margin-top: -2px;
	border-bottom: 1px solid #ccc;
}

ul.children div.comment .right
{
	width: 75%;
}

.comment .right p
{
	margin: 0;
	padding: 0;
}

#content_wrapper ul.children
{
	list-style: none;
	margin: -40px 0 0px 74px;
	border-left: 1px solid #ccc;
	padding: 5px 20px 2px 0;
	float: left;
	width: 106%;
}

#content_wrapper ul.children ul.children
{
	margin-top: -10px;
	padding-bottom: 0;
	width: 83.5%;
}

.comment_wrapper
{
	float: left;
	margin-left: 25px;
	border-left: 1px solid #eeeeee;
}

.comment_date
{
	float: left;
	margin: 0 0 0 10px;
	background: #fff;
	padding: 3px 5px 3px 5px;
	font-size: 10px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

ul.children .comment
{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 0;
	margin-top: 20px;
	margin-left: 55px;
	float: left;
}

ul.children .comment:last-child
{
	padding-top: 0;
	padding-bottom: 15px;
}

ul.children .comment:first-child
{
	padding-top: 10px;
	margin-top: 0px;
}

.one_half
{
	float: left;
	width: 47%;
}

.one_half.last
{
	margin-left: 0;
}

.one_half.gallery2
{
	width: 455px;
	height: 455px;
}

.one_half.gallery2 .one_half_img
{
	position: absolute;
}

.one_half.gallery2 a[rel=gallery]
{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
	background: #000;
}

.one_third
{
	width: 30%;
	float: left;
	min-height: 50px;
	margin-right: 3%;
}

.one_third.last
{
	margin-right: 0;
}

.one_third.gallery3
{
	overflow:hidden;
	position: relative;
    height: 300px;
    width:300px;
    margin: 0;
}

.one_third.portfolio3
{
    width:300px;
    margin: 0;
}

.one_third.gallery3 .one_third_img
{
	height:300px;
	position: absolute;
}

.one_third.gallery3 a[rel=gallery]
{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99999;
	background: #000;
}

.two_third
{
	float: left;
	width: 64%;
	margin-right: 3%;
}

.one_fourth
{
	width: 22%;
	float: left;
	margin-right: 3%;
	margin-bottom: 2%;
}

.one_fourth.last
{
	margin-right: 0;
}

.one_fourth.gallery4
{
	overflow:hidden;
	position: relative;
    height: 225px;
    width: 225px;
    margin:0;
}

.one_fourth.portfolio4
{
    margin:0;
    width: 225px;
}

.one_fourth.gallery4 .one_fourth_img
{
	height:225px;
	position: absolute;
}

.one_fifth
{
	width: 14%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_fifth.last
{
	margin-right: 0;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_sixth.last
{
	margin-right: 0;
}

.post_img
{
	position: relative;
	height: auto;
}

.cufon.space
{
	margin-bottom: 15px;
}

#content_slider_wrapper
{
	width: 100%;
	height: 20px;
	background: transparent;
	position: fixed;
	bottom: 200px;
}

#page_content_wrapper .inner .sidebar_content
{
	width: 660px;
	padding: 10px 10px 20px 25px;
	margin-top: 0;
	float: left;
}

#page_content_wrapper .inner .sidebar_content.full_width
{
	width: 100%;
}

#page_content_wrapper .inner .sidebar_content.full_width p
{
	width: 96%;
}

#page_content_wrapper .inner .sidebar_content.full_width hr
{
	width: 98%;
	margin-left: -5px;
}

#page_content_wrapper .inner .sidebar_wrapper
{
	width: 240px;
	float: left;
}

#page_content_wrapper .inner .sidebar_wrapper .sidebar
{
	width: 90%;
	float: left;
	margin-top: 10px;
	min-height: 300px;
}

#page_content_wrapper .inner .sidebar_wrapper .sidebar .content
{
	width: 100%;
	margin: 20px 10px 0 20px;
}

/*
	Input layout
*/

input[type=text], input[type=password], select
{
	padding: 7px;
	font-size: 12px;
	font-family: Helvetica, Arial,Verdana,sans-serif;
	margin: 0;
	background: #f9f9f9;
	border: 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

input[type=text].blur, textarea.blur
{
	color: #999;
	font-style: italic;
}

#contact_form input, #contact_form textarea, #commentform input, #commentform textarea 
{
	float: left;
	margin-bottom: 15px;
}

#contact_form label, #commentform label
{
	color: #fff;
	float: left;
	margin-left: 10px;
	font-size: 11px;
	margin-top: 6px;
	margin-bottom: 25px;
	font-weight: bold;
}

textarea
{
	padding: 7px;
	font-size: 12px;
	color: #666;
	margin: 0;
	height: 200px;
	overflow: auto;
	background: #f9f9f9;
	font-family: Helvetica, Arial,Verdana,sans-serif;
	border: 0;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

input[type=submit], input[type=button], a.button
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	color: #000;
	background: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
	border: 0;
}

a.comment-reply-link
{
	margin-top: 10px;
	float:right;
	font-size: 10px;
}

a.button
{
	padding-top:8px;
}

input[type=submit].medium, input[type=button].medium, a.button.medium
{
	font: 16px/100% Arial, Helvetica, sans-serif;
}

input[type=submit].large, input[type=button].large, a.button.large
{
	font: 20px/100% Arial, Helvetica, sans-serif;
}

#cancel-comment-reply-link
{
	float: right;
	display: block;
	margin: 7px 20px 0 10px;
	font-size: 11px;
}

input[type=submit]:active, input[type=button]:active
{
	position: relative;
	top: 1px;
	left: 1px;
	background: #444444;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#777));
	background: -moz-linear-gradient(top,  #444444,  #777);
}


input[type=submit].left, input[type=button].left, a.button.left
{
	float: left;
}

input[type=submit].right, input[type=button].right, a.button.right
{
	float: right;
}

input[type=submit].center, input[type=button].center, a.button.center
{
	margin: auto;
}

.pagination {
	margin: 0;
	padding: 10px 0 0 0;
}

.pagination a {
	padding: 5px 7px 5px 7px;
 	margin: 0 3px 0 3px;
 	color: #ffffff;
	border: solid 1px #111111;
	background: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.slideshow #thumbNav
{
	position: relative;
	clear: both;
	top: 94%;
}

#thumbNav a{ 
	display:block;
	width: 14px;
	height: 14px;
	background: url(../images/slider_bullet_nav.png) no-repeat 0 -14px;
	border:0;
	margin-right: 3px;
	float: left;
	cursor: pointer;
	position: relative;
	top: 140px;
	left: 0;
	padding-right: 4px;
	cursor: pointer;
	color: transparent;
	text-indent: -9999px;
}

.slideshow #thumbNav a
{
	top: 0;
}

#thumbNav a:hover{ background-position: 0 0px; }
#thumbNav a.cur{ background-position: 0 0; }

.caption-left h3, .caption-right h3, .caption-bottom h3
{
	color: #b11623;
	line-height: 0.9em;
	text-transform: uppercase;
	font-size: 40px;
	padding-top: 25px;
	letter-spacing: -2px;
	display: none;
}
.caption-left p, .caption-right p, .caption-bottom p
{
	color: #fff;
	margin: 10px 0 0 3px;
}

@-moz-document url-prefix() { .caption-left p, .caption-right p, .caption-bottom p { margin-top: 30px } } 

.caption-left
{
	background: #000;
	width: 300px !important;
	position: relative;
	top: -200px;
	padding: 0 12px 20px 15px;
	z-index: 999;
	display: none;
}

.caption-right
{
	width: 300px;
	background: transparent;
	position: relative;
	left: 612px;
	padding: 0 12px 20px 15px;
	top: -200px;
	z-index: 999;
	display: none;
}

#page_content_wrapper ul
{
	margin: 20px 0 0 20px;
}

#page_content_wrapper ul.flickr
{
	margin: 0 0 10px 0;
}

#page_content_wrapper ul.flickr li img
{
	width: 65px;
	height: auto;
}

#page_content_wrapper .sidebar .content .posts.blog li img, #page_content_wrapper .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
	padding: 3px;
 	width: 50px;
}

#page_content_wrapper .sidebar .content .sidebar_widget, #page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-left: 0;
	padding: 0;
}

#page_content_wrapper .sidebar .content .posts.blog li
{
	padding: 0 0 10px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li
{
	margin: 30px 0 0 0;
	padding: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li h2
{
	font-size: 24px;
	font-weight: 200;
	display: block;
	text-align: left;
	color: #fff;
}

#page_content_wrapper .sidebar .content .sidebar_widget li:first-child
{
	margin: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul
{
	list-style: none;
	padding: 10px 0 0 0;
	margin: 0 0 15px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li
{
	padding: 0 0 10px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul li:first-child
{
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

#page_content_wrapper table#wp-calendar
{
	border: 1px solid #ccc;
	margin-bottom: 30px;
	font-size: 10px;
	width: 100%;
}

#page_content_wrapper table#wp-calendar a
{
	color: #fff;
	font-weight: bold;
}

#page_content_wrapper table#wp-calendar caption
{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: left;
	font-family: "helvetica neue",Helvetica,Arial,Verdana,sans-serif;
	color: #999;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#page_content_wrapper table#wp-calendar tr th, #page_content_wrapper table#wp-calendar tr td
{
	padding: 0;
	border-bottom: 0;
	text-align: center;
}

table#wp-calendar tr th
{
	background: #eee;
}

#page_content_wrapper table#wp-calendar tfoot tr
{
	display: none;	
}

#page_content_wrapper .sidebar .content .sidebar_widget li.widget_calendar h2, #searchsubmit
{
	display: none;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr
{
	list-style: none;
	margin: 5px 0 30px 0;
	float: left;
	display: block;
	padding: 0 0 3px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li, #content_wrapper .sidebar .content .sidebar_widget li ul.flickr li a
{
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
	border: 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr li img
{
	width: 60px;
	height: auto;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter
{
	margin: 0;
	margin-top: 15px;
	list-style:none;
	font-size: 11px;
	padding: 0 0 3px 0;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li
{
	padding-left:32px;
	padding-bottom: 10px;
	background-image:url(../images/icon_twitter_bird.png);
	background-repeat:no-repeat;
	background-position:0px 0.3em;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.twitter li:first-child
{
	background-position:0px 1.3em;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media
{
	list-style: none;
	margin: 10px 0 15px 0;
	float: left;
	display: block;
	padding: 0 0 3px 0;
	margin-left: -5px;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.social_media li
{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

ul.list
{
	margin: 5px 0 0 20px;
}

.highlight_yellow
{
	background: #ffc600;
	color: #000;
	text-shadow: -1px 0 1px #fff;
}

.highlight_black
{
	background: #000;
	color: #fff;
}

#page_content_wrapper ul.twitter
{
	margin: 0;
	list-style:none;
}

#page_content_wrapper ul.twitter li
{
	padding-left:32px;
	background-image:url(../images/icon_twitter_bird.png);
	background-repeat:no-repeat;
	background-position:0px 0.3em;
	padding-bottom: 2em;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr
{
	list-style: none;
	margin: 15px 0 -10px 0;
	float: left;
	display: block;
	clear: both;
}

ul.flickr li
{
	float: left;
	margin: 0 5px 5px 0;
}

#page_content_wrapper  ul.flickr li a, #page_content_wrapper ul.flickr li a:hover, #page_content_wrapper ul.flickr li a:active
{
	background: transparent;
}

#page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-top: 15px;
	font-size: 11px;
}

#page_content_wrapper .sidebar .content .posts.blog li, #page_content_wrapper .posts.blog li
{
	line-height: 1.7em;
	clear: both;
	border:0;
	background: none;
	border-bottom: 1px solid #ccc;
}

#page_content_wrapper .sidebar .content .posts.blog li
{
	padding-top: 10px;
}

#page_content_wrapper .sidebar .content .posts.blog li strong.header, #page_content_wrapper .posts.blog li strong.header
{
	font-weight: bold;
	font-size: 13px;
}

.gallery-caption
{
	font-weight: bold;
}

#cover_content
{
	position:fixed;top:20%;left:40px;z-index:9;
}

.tf_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
}
.tf_bg img{
	position:absolute;
	top:0px; /*-482px;	 -(imgh/2 - wh/2) */
	left:0px;	/* calculate a negative value to center horizontally */
	width:100%;	/* windowwidth plus negative value of left */
	/*height:1650px; /* windowheight plus negative value of top */
	z-index: 1;
	display:none;
}
.tf_pattern{
	position:absolute;
	width:100%;
	height:100%;
	background:transparent url(../images/flip/pattern.png) repeat top left;
	z-index:2;
}
.tf_content{
	position:absolute;
	bottom:50px;
	left:50px;
	z-index:10;
	display:none;
}
.tf_content h2{
	color:#fff;
	font-size:90px;
	padding:0;
	margin:0;
	font-family: 'Dancing Script', arial, serif;
	text-shadow:1px 1px 2px #000;
}
.tf_content p{
	color:#fff;
	padding:0;
	margin:0;
	background:transparent url(../images/flip/bg_content.png) repeat top left;
	padding:40px;
	width:500px;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size:20px;
	line-height:25px;
	text-transform:uppercase;
	text-shadow:2px 2px 1px #000;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
	border:4px solid #fff;
}
.tf_thumbs{
	position:absolute;	
	z-index:12;
	right:50px;
	top:80%;
	margin-top:-79px;
	border:4px solid #fff;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;	
	-webkit-box-reflect:
		below 5px
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(transparent),
			color-stop(0.6, transparent),
			to(rgb(18, 18, 18))
		);
}
.tf_thumbs img{
	display:block;
}
.tf_loading{
	position:fixed;
	top:50%;
	left:50%;
	margin:-30px 0px 0px -30px;
	width:60px;
	height:60px;
	background:#000000 url(../js/fullscreen/ajax-loader_dark.gif) no-repeat center center;
	z-index:999;
}
.tf_next,
.tf_prev{
	width:35px;
	height:14px;
	position:absolute;
	top:79%;
	right:240px;
	z-index:100;
	cursor:pointer;
	background:transparent url(../images/flip/nav.png) no-repeat top left;
	opacity:1;
}
.tf_next{
	background-position:0px -14px;
	margin-top:80px;
}
.tf_prev{
	background-position:0px 0px;
	margin-top:-55px;
}
.tf_next:hover,
.tf_prev:hover{
	opacity:0.9;
}
.tf_zoom,
.tf_fullscreen{
	width:20px;
	height:20px;
	position:absolute;
	top:6px;
	right:6px;
	cursor:pointer;
	z-index:100;
	opacity:0.6;
	background:transparent url(../images/flip/icons.png) no-repeat top left;
}
.tf_zoom{
	background-position:0px -20px;
}
.tf_fullscreen{
	background-position:0px 0px;
}
.tf_zoom:hover,
.tf_fullscreen:hover{
	opacity:0.9;
}

.continue
{
	font-size: 16px;
}

#gallery_title
{
	background: #000;
	color: #fff;
	padding: 0 8px 0 8px;
	z-index: 999;
	position: fixed;
	bottom: 200px;
	right: 20px;
	font-size: 48px;
	font-weight: bold;
	font-family: 'Gnuolane';
	letter-spacing: 1px;
}

#gallery_desc
{
	background: #000;
	color: #fff;
	padding: 0 8px 0 8px;
	z-index: 999;
	position: fixed;
	bottom: 168px;
	right: 20px;
	font-size: 20px;
	font-family: 'Gnuolane';
	letter-spacing: 1px;
}

.jp-play, .jp-pause
{
	position: fixed;
	top: 46.5%;
	left: 4px;
	width: 22px;
	height: 20px;
	background:transparent url(../images/sound_off.png) no-repeat left center;
	text-indent: -9999px;
	z-index: 99999;
}

.jp-pause
{
	background:transparent url(../images/sound_on.png) no-repeat left center;
}

.social_wrapper
{
	width: 50%;
	float: right;
	margin: 10px 25px 0 0;
}

.social_wrapper ul
{
	list-style: none;
}

.social_wrapper ul li
{
	float: right;
	margin-right: 5px;
}

.social_wrapper ul li img
{
	width: 20px;
}

#tray-button
{
	display: none;
}

#page_content_wrapper .inner .sidebar_content#page_caption
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#page_caption h1
{
	color: #fff;
	padding: 0 15px 0 15px;
	font-size: 70px;
	letter-spacing: -1px;
	margin-left: -25px;
}

.page_control
{
	position: fixed;
	top:0px;
	right: 20px;
	width:50px;
	height:50px;
	text-align: center;
	z-index: 9999;
}

#page_minimize, a#page_minimize:hover, a#page_minimize:active
{
	position: relative;
	top: 15px;
}

#page_maximize, #page_maximize:hover, #page_maximize:active
{
	position: relative;
	top: -5px;
	visibility: hidden;
}

#page_content_wrapper .inner  #page_main_content
{
	margin-top: 20px;
}

.tagcloud
{
	margin-top: 10px;
}

#option_btn
{
	position: fixed;
	top: 200px;
	left:0;
	cursor:pointer;
	z-index: 999;
}

#option_wrapper
{
	position: fixed;
	top: 180px;
	left:-245px;
	width: 240px;
	padding: 19px 0 23px 0;
	background: #fff url('../images/option_bg.png') repeat-x;
	z-index: 99999;
	color: #666;
	font-size: 11px;
	border: 1px solid #E1E1E1;
	border-bottom: 1px solid rgba(150, 150, 150, 0.2);
	-webkit-box-shadow: -4px -4px 0px 0px rgba(150, 150, 150, 0.1);
	-moz-box-shadow: -4px -4px 0px 0px rgba(150, 150, 150, 0.1);
	box-shadow: -4px -4px 0px 0px rgba(150, 150, 150, 0.1);
}

#option_wrapper .inner
{
	width: 80%;
	margin:auto;
}

.colorpicker_preview
{
	width: 100%;
	height: 30px;
	margin: 5px 0 0 0;
}

#option_wrapper select
{
	width: 195px;
}

#jquery_jplayer_1
{
	display: none;
}

#logo_arrow_right, #logo_arrow_left
{
	margin-left: 10px;
}

#kenburns
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}

#kenburns_overlay
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#kenburns_title
{
	color: #fff;
	font-size: 50px;
	width: auto;
	position: absolute;
	bottom: 90px;
	left: 40px;
	line-height: 1em;
	background: #000;
	padding: 5px 10px 5px 10px;
	font-weight: 100;
}

#kenburns_desc
{
	color: #fff;
	font-size: 18px;
	width: auto;
	position: absolute;
	bottom: 50px;
	left: 40px;
	background: #000;
	padding: 5px 10px 5px 10px;
	font-weight: 200;
}

.gallery_social
{
	position: fixed;
	left: 60px;
	bottom: 60px;
	background: rgba(0, 0, 0);
}

.portfolio_header h6
{
	color: #fff;
	margin: 10px 0 10px 0;
	font-size: 20px;
	font-weight: 200;
}

/* 
Recaptcha Style Captcha 
=======================
 re-Captcha Style Captcha with php and jQuery 
 
 Created By: Zeeshan Rasool 
 URL : http://www.99Points.info 
 
 Get JQuery, PHP, AJAX, Codeigniter and MYSQL Tutorials and Demos on Blog
 */
 
#captcha-wrap{
	border:solid #870500 1px;
	width:270px;
	-webkit-border-radius: 10px;
	float:left;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background:#870500;
	text-align:left;
	padding:3px;
	margin-top:3px;
	height:107px;
}
#captcha-wrap .captcha-box{
	-webkit-border-radius: 7px;
	background:#fff;
	-moz-border-radius: 7px;
	border-radius: 7px;
	text-align:center;
	border:solid #fff 1px;
}
#captcha-wrap .text-box{
	-webkit-border-radius: 7px;
	background:#ffdc73;
	-moz-border-radius: 7px;
	width:140px;
	height:43px;
	float:left;
	margin:4px;
	border-radius: 7px;
	text-align:center;
	border:solid #ffdc73 1px;
}

#captcha-wrap .text-box input{ 
	width:120px; 
	-webkit-appearance: textfield;
padding: 1px;
background-color: white;
border: 2px inset;
border-image: initial;
-webkit-rtl-ordering: logical;
-webkit-user-select: text;
cursor: auto;
float: none;
margin-top: -2px;
}
#captcha-wrap .text-box label{
	 color:#000000;
	 font-family: helvetica,sans-serif;
	 font-size:11px;	
	 width:140px;
	 padding-top:3px; 
	 padding-bottom:3px; 
	 margin: 0;
	 font-weight: normal;
}
#captcha-wrap .captcha-action{
	float:right; width:117px; 
	background:url(../images/logos.jpg) top right no-repeat; 
	height:44px; margin-top:3px;
}
#captcha-wrap  img#captcha-refresh{
	margin-top:9px;
	border:solid #333333 1px;
	margin-right:6px;
	cursor:pointer;
}

#menu_border_wrapper select
{
	display: none;
}

#imageFlow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 14%;
    overflow: hidden;
    background: #000;
}
#imageFlow .diapo {
    position: absolute;
    left: -4000px;
    cursor: pointer;
    -ms-interpolation-mode: nearest-neighbor;
}
#imageFlow .link {
    margin-left: -1px;
    margin-bottom: -1px;
}
#imageFlow .text {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 40%;
    text-align: center;
    z-index: 1000;
}
#imageFlow .title {
    font-size: 0.9em;
    font-weight: bold;
}
#imageFlow .legend {
    font-size: 0.8em;
}
#imageFlow .scrollbar {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 80%;
    height: 16px;
    z-index: 1000;
}
#imageFlow .track {
    position: absolute;
    left: 1%;
    width: 98%;
    height: 10px;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
#imageFlow .arrow-left {
    position: absolute;
    display: none;
}
#imageFlow .arrow-right {
    position: absolute;
    right: 0px;
    display: none;
}
#imageFlow .bar {
    position: absolute;
    height: 10px;
    left: 0;
    width: 100px;
    -moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.diapo {
	opacity: 1;
}

.diapo.current {
	opacity: 1;
}

.portfolio_desc {
	width: 95%;
}

.gallery-main {
	display: none;
}