/* --- superfish --- */
.sf-menu li
{
	float: right;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul
{
	right: 0;
	left: auto;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul
{
	right: 10em;
	left: auto;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul
{
	right: 10em;
	left: auto;
}
/* --- demo skin --- */
.sf-menu
{
	float: right;
}
.sf-menu a
{
	border-right: 1px solid #fff;
	border-left: 0;
}
/* --- arrows --- */
.sf-menu a.sf-with-ul
{
	padding-left: 2.25em;
	padding-right: 0;
}
.sf-sub-indicator
{
	left: .75em;
	right: auto;
}
/* --- general --- */
body
{
	direction: rtl;
	unicode-bidi: embed;
}
blockquote
{
	padding-right: 25px;
	padding-left: 0;
	border-right: 2px solid #3156A3;
	border-left: 0;
}
caption, th, td
{
	text-align: right;
}
.margin_left_10
{
	margin-right: 10px;
	margin-left: 0;
}
/* --- WordPress Core --- */
.alignnone 
{
    margin: 5px 0 20px 20px;
}
.alignright 
{
    float: left;
    margin: 5px 20px 20px 0;
}
.alignleft 
{
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignright 
{
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignnone 
{
    margin: 5px 0 20px 20px;
}
a img.alignleft 
{
    float: right;
    margin: 5px 0 20px 20px;
}
.wp-caption.alignnone
{
    margin: 5px 0 20px 20px;
}
.wp-caption.alignleft 
{
    margin: 5px 0 20px 20px;
}
.wp-caption.alignright 
{
    margin: 5px 20px 20px 0;
}
/* --- headers --- */
.sentence
{
	text-align: right;
}
.sentence_author
{
	float: left;
}
/* --- header top sidebar --- */
/* --- header --- */
.header_left
{
	float: right;
}
.header_right
{
	float: left;
}
.header_left a img
{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.logo
{
	float: right;
}
.header.layout_2 .sf-menu li
{
	margin-right: -1px;
	margin-left: 0;
}
.header.layout_2 .sf-menu li ul li
{
	margin-right: 0;
	margin-left: 0;
}
.header.layout_2 .header_top_right_sidebar_container
{
	float: left;
}
/* --- menu --- */
.sf-menu li
{
	margin-right: 5px;
	margin-left: 0;
}
.sf-menu li:first-child
{
	margin-right: 0;
	margin-left: 0;
}
.sf-menu li.submenu:hover:before
{
	right: 0;
	left: auto;
}
.sf-menu li.submenu:hover:after
{
	left: 0;
	right: auto;
}
.sf-menu li.gallery_menu ul.sub-menu
{
	margin-right: -100px;
	margin-left: 0;
}
.sf-menu li.gallery_menu ul.sub-menu ul.sub-menu
{
	margin-right: -362px;
	margin-left: 0;
}
.sf-menu li ul li
{
	-webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: content-box;    /* Firefox, other Gecko */
	box-sizing: content-box;       /* Opera/IE 8+ */
	margin-right: 0;
	margin-left: 0;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul,
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
{
	right: 180px;
	left: auto;
}
.sf-menu .timetable_submenu .sub-menu
{
	margin-right: -280px;
	margin-left: 0;
}
.sf-menu li.shop_menu ul.sub-menu
{
	margin-left: 0;
	margin-right: -123px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) 
{ 
	.sf-menu .timetable_submenu .sub-menu
	{
		margin-right: -276px;
		margin-left: 0;
	}
}
.header.layout_2 .sf-menu li.menu_separator,
.header.layout_2 .sf-menu li.menu_separator:hover
{
	margin-right: -1px;
	margin-left: 0;
}
.mobile_menu_container nav.mobile_menu>ul li ul a
{
	padding-left: 0;
	padding-right: 40px;
}
.mobile_menu_container nav.mobile_menu>ul li ul ul a
{
	padding-left: 0;
	padding-right: 80px;
}
.mobile_menu_container nav.mobile_menu>ul li ul ul ul a
{
	padding-left: 0;
	padding-right: 120px;
}
/* --- page --- */
.page_left
{
	float: right;
}
.left_sidebar .page_left
{
	float: left;
}
.page_right
{
	float: left;
}
.left_sidebar .page_right
{
	float: right;
}
.top_hint
{
	float: left;
}
/* --- page header --- */
.page_header_left
{
	float: right;
}
.page_header_right
{
	float: left;
}
.page_header_left .page_title
{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
/* --- search --- */
.search input
{
	float: right;
}
/* --- bread crumb --- */
.bread_crumb
{
	float: right;
}
.bread_crumb li
{
	float: right;
	margin-right: 3px;
	margin-left: 0;
}
.bread_crumb li:first-child
{
	margin-right: 0;
	margin-left: 0;
}
/* --- icons --- */
/* --- icon small arrow --- */
li.icon_small_arrow.left_black
{
	background-image: url('images/icon_arrow_right_black.png');
}
li.icon_small_arrow.right_black
{
	background-image: url('images/icon_arrow_left_black.png');
}
.icon_small_arrow.margin_right_black
{
	background-image: url('images/icon_arrow_margin_left_black.png');
}
li.icon_small_arrow.left_white
{
	background-image: url('images/icon_arrow_right_white.png');
}
.icon_small_arrow.margin_right_white
{
	background-image: url('images/icon_arrow_margin_left_white.png');
}
li.icon_small_arrow.right_white
{
	background-image: url('images/icon_arrow_left_white.png');
}
.icon_small_arrow.top_white
{
	background-image: url('images/icon_arrow_top_white.png');
}
.icon_small_arrow.top_black
{
	background-image: url('images/icon_arrow_top_black.png');
}
.icon_small_arrow.right_gray
{
	background-image: url('images/icon_arrow_right_gray.png');
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.icon_small_arrow.square
{
	background-image: url('images/icon_arrow_square_rtl.png');
}
.icon_small_arrow.mark
{
	background-image: url('images/icon_arrow_mark_rtl.png');
}
.icon_small_arrow.tick
{
	background-image: url('images/icon_tick.png');
}
/* --- icon clock --- */
.icon_clock_green
{
	background-image: url('images/icon_clock_green.png');
}
.icon_clock_black
{
	background-image: url('images/icon_clock_black.png');
}
/* --- icon card --- */
.icon_card_green
{
	background-image: url('images/icon_card_green.png');
}
.icon_card_white
{
	background-image: url('images/icon_card_white.png');
}
/* --- social_icons --- */
.top_header_icons
{
	float: left;
}
.social_icons li
{
	float: right;
	margin-right: 5px;
	margin-left: 0;
}
.social_icons li:first-child
{
	margin-right: 0;
	margin-left: 0;
}
.social_icon.single
{
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.social_icon.single.last
{
	margin-left: 0;
	margin-right: 0;
}
/* --- header icons --- */
.header_icon
{
	float: right;
	margin-left: 5px;
	margin-right: 0;
	background-position: right top;
	padding-right: 23px;
	padding-left: 0;
}
.header_icon.phone
{
	background-image: url("images/header_phone.png");
	padding-right: 18px;
	padding-left: 0;
}
/* --- notification boxes --- */
.notification_box
{
	padding: 20px 80px 20px 30px;
}
.notification_box.nb_success
{
	background: url('images/icons_notification/info.png') no-repeat right center #5FAA4B;
}
.notification_box.nb_error
{
	background: url('images/icons_notification/cross.png') no-repeat right center #EB6D58;
}
.notification_box.nb_info
{
	background: url('images/icons_notification/info.png') no-repeat right center #42B3E5;
}
.closing_in
{
	float: left;
}
/* --- slider --- */
.slider li .slider_img
{
	right: 0;
	left: auto;
}
/* --- slider navigation --- */
.slider_navigation .slider_control
{
	float: right;
}
.slider_navigation .slider_bar
{
	margin-right: 0;
	margin-left: 0;
}
/* --- home box --- */
.home_box_container
{
	float: right;
}
.home_box .more.light:hover
{
	background-image: url('images/icon_arrow_margin_left_black.png');
}
/* --- items list --- */
.items_list li
{
	background-position: right center;
}
.items_list li.icon_clock_black
{
	padding-right: 25px;
	padding-left: 0;
}
.items_list a, .items_list span
{
	float: right;
}
.items_list .value
{
	float: left;
}
/* --- scrolling list--- */
.scrolling_list li
{
	background-position: right 18px;
	padding: 10px 18px 10px 0;
}
.scrolling_list li .left
{
	float: right;
	text-align: right;
}
.footer .scrolling_list li a
{
	float: right;
}
.timeago {
	text-align: right;
}
.scrolling_list.latest_tweets li p {
	text-align: right;
}
.scrolling_list li .number
{
	float: left;
	margin-right: 5px;
	margin-left: 0;
}
/* --- more --- */
.more
{
	float: right;
}
.more.dark_blue,
.more.light,
.more.blue,
.more.mc_button
{
	background-position: left center;
}
.more.icon_small_arrow
{
	padding: 5px 8px 7px 24px;
}
.more.icon_small_arrow.tiny
{
	padding: 4px 8px 4px 24px;
}
.more.icon_small_arrow.medium
{
	padding: 9px 15px 9px 24px;
}
.more.icon_small_arrow.large
{
	padding: 15px 20px 15px 24px;
}
/* --- blog --- */
.comment_box
{
	float: right;
	margin-left: 25px;
	margin-right: 0;
}
.columns .comment_box
{
	margin-left: 0;
	margin-right: 0;
}
.post
{
	float: right;
}
.comment_box li
{
	text-align: right;
}
.columns .comment_box li
{
	float: right;
}
.comment_box .date .value
{
	float: right;
}
.comment_box .date .arrow_date,
.comment_box .arrow_comments
{
	border-width: 5px 0 0 5px;
	right: auto;
	left: 0;
}
.columns .comment_box .date .arrow_date
{
	right: 0;
	left: auto;
}
.columns .comment_box .comments_number
{
	margin-right: 2px;
	margin-left: 0;
}
.post_content
{
	float: left;
}
.simple .more
{
	margin-right: 5px;
	margin-left: 0;
}
.post_footer_details
{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.post_footer_details:last-child
{
	margin-left: 0;
	margin-right: 0;
}
.post_footer_details li
{
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.post_footer_details li:last-child
{
	margin-left: 0;
	margin-right: 0;
}
.show_all a
{
	float: left;
}
/* --- comments --- */
.comments .comments_number a
{
	float: right;
}
.comments .comment_box .comments_number
{
	margin-right: 0;
	margin-left: 0;
}
#comments_list
{
	float: left;
}
#comments_list .comment_author_avatar
{
	float: right;
	margin-left: 30px;
	margin-right: 0;
}
#comments_list .comment_details
{
	float: right;
}
#comments_list .children
{
	float: right;
	margin-left: 0;
	margin-right: 40px;
}
#comments_list .children .children
{
	margin-right: 0;
	margin-left: 0;
}
/* --- forms --- */
.comment_form_container
{
	float: right;
	margin-right: 110px;
	margin-left: 0;
}
.comment_form,
.contact_form
{
	float: right;
}
.comment_form .left, .comment_form .right,
.contact_form .left, .contact_form .right
{
	float: right;
}
.comment_form .right
{
	float: left;
	margin-right: 20px;
	margin-left: 0;
}
.contact_form .right
{
	margin-right: 30px;
	margin-left: 0;
}
.comment_form input[type='submit'],
.contact_form input[type='submit']
{
	float: left;
}
#cancel_comment
{
	float: left;
	margin-left: 20px;
	margin-right: 0;
}
.contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
{
	background-position: 15px center;
}
/* --- pagination --- */
.pagination
{
	float: left;
}
.pagination li
{
	float: right;
	margin-right: 2px;
	margin-left: 0;
}
.pagination li:first-child
{
	margin-right: 0;
	margin-left: 0;
}
/* --- sidebar box --- */
.sidebar_box
{
	float: right;
}
/* --- categories --- */
.widget_categories ul
{
	float: right;
}
.categories li, .widget_categories li
{
	float: right;
	margin-left: 2px;
	margin-right: 0;
}
.categories li:last-child, .widget_categories li:last-child
{
	margin-left: 0;
	margin-right: 0;
}
/* --- departments --- */
.accordion .ui-accordion-header h3
{
	background: url('images/accordion/accordion_plus.png') no-repeat left center;
	padding-left: 13px;
	padding-right: 0;
}
.accordion .ui-accordion-header,
.wpb_content_element .accordion div.ui-accordion-header
{
	padding: 12px 0 12px 13px;
}
.accordion .ui-accordion-header.ui-state-active h3
{
	background: url('images/accordion/accordion_minus.png') no-repeat left center !important;
}
.accordion .ui-accordion-content .item_footer .more.blue
{
	float: left;
	margin-left: 2px;
	margin-right: 0;
}
.accordion .ui-accordion-content .item_footer .more.blue:first-child
{
	margin-left: 0;
	margin-right: 0;
}
/* --- item content --- */
.item_content .thumb_image,
.features_image
{
	float: right;
	margin-left: 30px;
	margin-right: 0;
}
.sidebar_box .accordion .item_content .thumb_image,
.sidebar_box .accordion .item_content .features_image
{
	margin-left: 20px;
	margin-right: 0;
}
.item_content .text
{
	line-height: 150%;
}
/* tabs navigation */
.tabs_navigation li
{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}
.tabs_navigation li:last-child
{
	margin-left: 0;
	margin-right: 0;
}
/* --- tabs box navigation --- */
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected {
	background-position: 15px 50%;
}
/* --- columns --- */
.column_left
{
	float: right;
	margin-right: 0;
}
.column_right
{
	float: left;
	margin-right: 30px;
}
.columns.no_width .column_right
{
	margin-left: 0;
	margin-right: 0;
}
/* --- columns_3 --- */
.columns_3 .column
{
	float: right;
	margin-right: 30px;
	margin-left: 0;
}
.columns_3 .column:first-child
{
	margin-right: 0;
	margin-left: 0;
}
/* --- dropcap --- */
.dropcap .dropcap_label
{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
/* --- list --- */
.simple_list li
{
	background-position: right center;
	padding: 5px 18px 5px 0;
}
.simple_list.top_marker li
{
	background-position: right 8px;
}
/* --- thin list --- */
.thin_list li
{
	float: right;
	margin-left: 15px;
	margin-right: 0;
}
/* --- top info list --- */
.top_info_list li
{
	float: right;
}
/* --- info list --- */
.info_list li label
{
	float: right;
}
.info_list li .text
{
	float: right;
}
/* --- pricing plan --- */
.pricing_plan
{
	float: right;
}
.pricing_plan li
{
	padding-right: 18px;
	padding-left: 0;
}
/* --- timetable --- */
.timetable tbody tr
{
	background: url('images/dotted_line.png') right top repeat-x;
}
.timetable .last
{
	padding: 10px 15px 0 0;
}
.timetable .event
{
	border-left: 1px solid #FFF;
	border-right: 0;
}
/* --- tip/tooltip/qtip --- */
.tip
{
	background-position: 260px 50%;
	float: left;
	padding: 10px 35px 10px 10px;
}
.tooltip .tooltip_content
{
	text-align: right;
}
.tooltip .tooltip_arrow
{
	right: 10px;
	left: auto;
}
.ui-tooltip-content
{
	padding:10px 20px 10px 20px;
}
/* --- controls --- */
.controls li
{
	float: right;
}
/* --- isotope gallery --- */
.isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
     -moz-transition-property: right, top, -moz-transform, opacity;
      -ms-transition-property: right, top, -ms-transform, opacity;
       -o-transition-property: right, top, -o-transform, opacity;
          transition-property: right, top, transform, opacity;
}
.mc_gallery .gallery_box
{
	float: right;
}
.gallery_item_details_list .gallery_box
{
	margin-left: 30px;
	margin-right: 0;
}
.gallery_item_details_list .details_box .controls li
{
	margin-right: 2px;
	margin-right: 0;
}
.gallery_item_details_list .details_box .controls li:first-child
{
	margin-left: 0;
	margin-right: 0;
}
.page_left .gallery_item_details_list .gallery_box
{
	margin-left: 0;
	margin-right: 0;
}
.gallery_item_details .prev
{
	background-image: url('images/icon_arrow_right_black.png');
}
.gallery_item_details .next
{
	background-image: url('images/icon_arrow_left_black.png');
}
/* --- scrolling gallery --- */
/* --- fancybox --- */
#fancybox-title-inside
{
	text-align: right;
}
/* --- contact data --- */
.contact_data li .social_icon
{
	float: right;
}
.contact_data li .value
{
	float: right;
	margin-right: 10px;
	margin-left: 0;
}
/* --- footer banner box --- */
.footer_banner_box
{
	float: right;
}
.footer_banner_box a
{
	background-position: left center;
	padding-left: 17px;
	padding-right: 0;
}
/* --- footer box --- */
.footer_box
{
	float: right;
	padding-left: 30px;
	padding-right: 0;
}
.footer_box.last,
.footer_box:last-child
{
	padding-left: 0;
	padding-right: 0;
}
/* --- footer contact info --- */
.footer_contact_info_left
{
	float: right;
}
.footer_contact_info_right
{
	float: left;
	margin-right: 20px;
	margin-left: 0;
}
/* --- copyright area --- */
.copyright_left
{
	float: right;
}
.copyright_right
{
	float: left;
}
.copyright_right .scroll_top
{
	background-position: left center;
	padding-left: 15px;
	padding-right: 0;
}
/* --- widgets --- */
.widget_archive li
{
	float: right;	
	background: url('images/icon_arrow_left_black.png') right center no-repeat;
    padding: 5px 18px 5px 0;
}
/* --- preloader --- */
.mc_preloader.pagination_preloader
{
	float: left;
	margin-left: 10px;
	margin-right: 0;
}
/* --- visual composer --- */
.vc_row-fluid .wpb_column.page_left
{
	float: right;
}
.vc_row-fluid .wpb_column.page_right
{
	float: left;
}
.vc_row-fluid [class*="vc_col-sm"]:first-child ,
.vc_row-fluid .vc-container-anchor+[class*="vc_col-sm"]
{
	margin-right: 0;
	margin-left: 0;
}
/* --- vc blog --- */
.vc_row-fluid .vc_col-sm-4 .comment_form .right
{
	margin-right: 0;
	margin-left: 0;
}
.vc_row-fluid .wpb_column .comments .comment_box .comments_number
{
	margin-right: 0;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_form_container,
.vc_row-fluid .vc_col-sm-3 .comment_form_container,
.vc_row-fluid .vc_col-sm-2 .comment_form_container
{
	margin-right: 0;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-4 .comment_form .right,
.vc_row-fluid .vc_col-sm-3 .comment_form .right,
.vc_row-fluid .vc_col-sm-2 .comment_form .right
{
	margin-right: 0;
	margin-left: 0;
}
.vc_row-fluid .vc_col-sm-2 #comments_list .comment_author_avatar
{
	margin-left: 0;
	margin-right: 0;
}
/* --- vc contact form --- */
.vc_col-sm-4 .contact_form .right,
.vc_col-sm-3 .contact_form .right,
.vc_col-sm-2 .contact_form .right
{
	margin-right: 0;
	margin-left: 0;
}
/* --- vc columns --- */
.vc_row-fluid .vc_col-sm-4 .blog.column_left,
.vc_row-fluid .vc_col-sm-3 .blog.column_left,
.vc_row-fluid .vc_col-sm-2 .blog.column_left
{
	margin-left: 0;
	margin-right: 0;
}
.vc_row-fluid .vc_col-sm-3 .comment_box,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box,
.vc_row-fluid .vc_col-sm-2 .comment_box,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box
{
	margin-left: 0;
	margin-right: 0;
}
.vc_row-fluid .vc_col-sm-3 .comment_box li,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box li,
.vc_row-fluid .vc_col-sm-2 .comment_box li,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box li
{
	float: right;
}
.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-3 .columns .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number,
.vc_row-fluid .vc_col-sm-2 .columns .comment_box .comments_number
{
	margin-right: 2px;
	margin-left: 0;
}
.vc_col-sm-3 .appointment_widget .columns.no_padding .column_left,
.vc_col-sm-2 .appointment_widget .columns.no_padding .column_left
{
	margin-left: 0;
	margin-right: 0;
}
/* --- vc isotope gallery --- */
.vc_col-sm-4 .gallery_item_details_list .gallery_box,
.vc_col-sm-3 .gallery_item_details_list .gallery_box,
.vc_col-sm-2 .gallery_item_details_list .gallery_box
{
	margin-left: 0;
	margin-right: 0;
}
/* --- vc item content --- */
.vc_col-sm-2 .item_content .features_image
{
	margin-left: 0;
	margin-right: 0;
}
/* --- vc image gallery --- */
.flex-control-paging {	
	direction: ltr;
}
.flex-control-paging li a {
	text-indent: 9999px !important;
}
/* --- vc carousel --- */
.vc-carousel .vc-carousel-inner .vc-carousel-slideline .vc-carousel-slideline-inner > .vc-item {
	float: right !important;
}
.vc-carousel-control.vc-right {
	left: 0 !important;
	right: auto !important;
}
.vc-carousel-control.vc-left {
	left: auto !important;
	right: 0 !important;
}
.vc-carousel-control .icon-next {
	background-position: 0 0;
}
.vc-carousel-control .icon-prev {
	background-position: 100% 0;
}
/* --- vc single image --- */
.wpb_single_image.vc_align_left
{
	text-align: right !important;
}
/* --- responsive --- */
@media screen and (max-width:1009px)
{
	blockquote
	{
		padding-right: 23px;
		padding-left: 0;
	}
	/* --- header --- */
	.header_left a img
	{
		margin-left: 10px;
		margin-right: 0;
	}
	/* --- menu --- */
	.sf-menu li
	{
		margin-right: 5px;
		margin-left: 0;
	}
	ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul,
	ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul
	{
		right: 171px;
		left: auto;
	}
	.sf-menu .timetable_submenu .sub-menu
	{
		margin-right: -272px;
		margin-left: 0;
	}
	@media screen and (-webkit-min-device-pixel-ratio:0) 
	{ 
		.sf-menu .timetable_submenu .sub-menu
		{
			margin-right: -268px;
		}
	}
	.sf-menu li.gallery_menu ul.sub-menu
	{
		margin-right: -108px;
	}
	.sf-menu li.gallery_menu ul.sub-menu ul.sub-menu
	{
		margin-right: -343px;
		margin-left: 0;
	}
	/* --- blog --- */
	.comment_box
	{
		margin-left: 18px;
		margin-right: 0;
	}
	/* --- comments --- */
	#comments_list .comment_author_avatar
	{
		margin-left: 23px;
		margin-right: 0;
	}
	/* --- comment form --- */
	.comment_form_container
	{
		margin-right: 103px;
		margin-left: 0;
	}
	.contact_form .right
	{
		margin-right: 20px;
		margin-left: 0;
	}
	/* --- departments --- */
	.item_content .thumb_image,
	.features_image
	{
		margin-left: 23px;
		margin-right: 0;
	}
	/* --- columns --- */
	.column_left
	{
		margin-right: 0;
		margin-left: 0;
	}
	.column_right
	{
		margin-left: 0;
		margin-right: 23px;
	}
	/* --- columns_3 --- */
	.columns_3 .column
	{
		margin-left: 0;
		margin-right: 23px;
	}
	/* --- pricing plan ---*/
	.pricing_plan li
	{
		padding-left: 0;
		padding-right: 18px;
	}
	/* --- isotope gallery --- */
	.gallery_item_details_list .gallery_box
	{
		margin-right: 0;
		margin-left: 23px;
	}
	/* --- footer box --- */
	.footer_box
	{
		float: right;
		padding-right: 0;
		padding-left: 18px;
	}
	/* --- contact form --- */
	.vc_col-sm-8 .contact_form .tabs_box_navigation.sf-menu .tabs_box_navigation_selected
	{
		background-position: 15px center;
	}
	/* --- visual composer --- */
	body .vc_row-fluid [class*="vc_col-sm"]
	{
		margin-right: 0px;
		left: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box
	{
		margin-left: 0;
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box li,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box li 
	{
		float: right;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-4 .columns .comment_box .comments_number
	{
		margin-right: 2px;
		margin-left: 0;
	}
	/* --- vc comments --- */
	.vc_row-fluid .vc_col-sm-6 .comment_form .right
	{
		margin-left: 0;
		margin-right: 0;
	}
	/* --- vc columns --- */
	.vc_row-fluid .vc_col-sm-6 .blog.column_left
	{
		margin-left: 0;
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .appointment_widget .columns.no_padding .column_left
	{
		margin-right: 0;
		margin-left: 0;
	}
	/* --- vc item content --- */
	.vc_col-sm-3 .mc_features_large .item_content .features_image
	{
		margin-left: 0;
		margin-right: 0;
	}
}
@media screen and (max-width:767px)
{
	/* --- header --- */
	.header.layout_2 .header_top_right_sidebar_container {
		float: right;
	}
	/* --- page header --- */
	.page_header_right
	{
		float: right;		
	}
	/* --- menu --- */
	.mobile_menu.collapsible-mobile-submenus .menu-item-has-children a.template-arrow-menu
	{
		right: auto;
		left: 0;
	}
	/* --- blog --- */
	.blog.column_left
	{
		margin-left: 0;
		margin-right: 0;
	}
	/* --- departments --- */
	.item_content .thumb_image, .features_image
	{
		margin-left: 20px;
		margin-right: 0;
	}
	/* --- columns --- */
	.column_left
	{
		margin-left: 0;
		margin-right: 0;
	} 
	.caroufredsel_wrapper .column_left
	{
		float: right;
	} 
	.page_right .columns .column_left, 
	.page_right .columns .column_right 
	{
		float: right; 
		margin-left: 23px; 
		margin-right: 0;
	}
	.page_right .columns.no_padding .column_right
	{
		margin-left: 0;
		margin-right: 0;
	}
	.columns.full_width .columns .column_left, 
	.columns.full_width .columns .column_right
	{
		float: right;
	}
	.columns.full_width .columns .column_left
	{
		margin-left: 23px;
		margin-right: 0;
	}
	/* --- isotope gallery --- */
	.gallery_item_details_list .gallery_box
	{
		margin-left: 0;
		margin-right: 0;
	}
	/* --- scrolling gallery --- */
	.mc_gallery.horizontal_carousel li.gallery_box
	{
		margin-left: 12px;
		margin-right: 0;
	}
	/* --- footer box --- */
	.footer_box
	{ 
		padding-left: 0; 
		padding-right: 0;
	}	
	/* --- visual composer --- */
	.vc_row-fluid .wpb_column.vc_col-sm-2,
	.vc_row-fluid .wpb_column.vc_col-sm-3,
	.vc_row-fluid .wpb_column.vc_col-sm-4,
	.vc_row-fluid .wpb_column.vc_col-sm-6,
	.vc_row-fluid .wpb_column.vc_col-sm-8,
	.vc_row-fluid .wpb_column.vc_col-sm-9,
	.vc_row-fluid .wpb_column.vc_col-sm-10,
	body .vc_row-fluid .vc_col-sm-2,
	body .vc_row-fluid .vc_col-sm-3,
	body .vc_row-fluid .vc_col-sm-4,
	body .vc_row-fluid .vc_col-sm-6,
	body .vc_row-fluid .vc_col-sm-8,
	body .vc_row-fluid .vc_col-sm-9,
	body .vc_row-fluid .vc_col-sm-10
	{
		margin-right: 0; 
		margin-left: 0;
	}
	.vc_row-fluid .wpb_column.vc_col-sm-6,
	body .vc_row-fluid .vc_col-sm-6
	{
		clear: none;
	}
	/* --- vc layouts --- */
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
	{
		float: right;
		margin-left: 0;
		margin-right: 23px; 
	}
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6:first-child
	{
		margin-right: 0;
		margin-left: 0;
	}
	/* --- vc blog --- */
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-3 .comment_box,
	.vc_row-fluid .vc_col-sm-2 .comment_box
	{
		float: right;
		margin-right: 0; 
		margin-left: 18px;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number
	{
		margin-left: 0; 
		margin-right: 0;
	}
	.vc_row-fluid .vc_col-sm-4 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-4 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-3 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-3 .comment_box .arrow_comments,
	.vc_row-fluid .vc_col-sm-2 .comment_box .date .arrow_date,
	.vc_row-fluid .vc_col-sm-2 .comment_box .arrow_comments
	{
		
		float: right;
	}
	/* --- vc comments --- */
	.vc_row-fluid .wpb_column .comment_form_container
	{
		margin-right: 103px;
		margin-left: 0; 
	}
	.vc_row-fluid .wpb_column .comment_box .arrow_comments
	{
		float: right;
	}
	.vc_row-fluid .wpb_column #comments_list .comment_author_avatar
	{
		margin-right: 0;
		margin-left: 23px;
	}
	.vc_row-fluid .wpb_column .comment_form .right, .wpb_column .contact_form .right
	{
		margin-right: 20px;
		margin-left: 0;
	}
}
@media screen and (max-width:479px)
{
	/* --- bread crumb --- */
	.bread_crumb
	{
		margin-left: 0;
		margin-right: 0;
	}
	/* --- blog --- */
	.comment_box,
	.vc_row-fluid .vc_col-sm-4 .comment_box,
	.vc_row-fluid .vc_col-sm-3 .comment_box,
	.vc_row-fluid .vc_col-sm-2 .comment_box
	{
		float: right;
		margin-left: 0;
		margin-right: 0;
	}
	.comment_box li,
	.vc_row-fluid .vc_col-sm-4 .comment_box li,
	.vc_row-fluid .vc_col-sm-3 .comment_box li,
	.vc_row-fluid .vc_col-sm-2 .comment_box li
	{
		float: right;
	}
	.comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-4 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-3 .comment_box .comments_number,
	.vc_row-fluid .vc_col-sm-2 .comment_box .comments_number
	{
		margin-right: 2px;
		margin-left: 0;
	}
	.comment_box .date .arrow_date,
	.comment_box .arrow_comments
	{
		right: 0;
		left: auto;
	}
	/* --- comment form --- */
	.comment_form_container,
	.vc_row-fluid .wpb_column .comment_form_container
	{
		margin-right: 0;
		margin-left: 0;
	}
	.comment_form .right,
	.vc_row-fluid .wpb_column .comment_form .right
	{
		margin-right: 0;
		margin-left: 0;
	}	
	.wpb_column .contact_form .right
	{
		margin-right: 0;
		margin-left: 0;
	}
	/* --- departments --- */
	.item_content .thumb_image,
	.features_image
	{
		margin-left: 20px;
		margin-right: 0;
	}
	/* --- columns --- */
	.column_left
	{
		margin-left: 0;
		margin-right: 0;
	}
	.page_right .columns .column_right 
	{
		margin-left: 0;
		margin-right: 0;
	}
	/* --- sidebar box --- */
	.sidebar_box .categories li
	{
		float: right; 
		margin-left: 2px;
		margin-right: 0;
	}
	/* --- scrolling gallery --- */
	.mc_gallery.horizontal_carousel li.gallery_box
	{
		margin-right: 37.5px;
		margin-left: 0;
	}
	.mc_gallery.horizontal_carousel.gallery_2_columns li.gallery_box,
	.mc_gallery.horizontal_carousel.gallery_3_columns li.gallery_box
	{
		margin-right: 0;
		margin-left: 12px;
	}
	/* --- footer contact info --- */
	.footer_contact_info_right
	{ 
		margin-right: 15px;
		margin-left: 0;
	}
	/* --- vc layouts --- */
	.vc_col-sm-8 .vc_row-fluid .vc_col-sm-6
	{ 
		margin-right: 0;
		margin-left: 0;
	}
}