@display:
	label: Display
	type: on-off
	default: on
	help: "Display or hide this element on page"
	basic: true

type:
	label: Type
	type: select
	default:
		'youtube': 'YouTube'
		'vimeo': 'Vimeo'
		'media': 'Media'
	selected: 'youtube'
	help: "Select video source"
	basic: true

- section(id: type-youtube, title: '')

youtubeLink:
	label: Link
	type: url
	default: ''
	help: "URL of video displayed on page, use valid URL format with http://"
	basic: true

youtubeVideoFormat:
	label: Video Format
	type: select
	default:
		"16:9": "16:9"
		"4:3": "4:3"
	selected: '16:9'
	basic: true

youtubeAutoplay:
	label: Autoplay
	type: variable
	default: 1
	less: false
	basic: true

youtubeLoop:
	label: Loop
	type: on-off
	default: on
	help: "Enable or Disable video loop playback"
	less: false
	basic: true

youtubeVideoSound:
	label: Video Sound
	type: on-off
	default: off
	less: false
	basic: true

- section(id: type-vimeo, title: '')

vimeoLink:
	label: Link
	type: url
	default: ''
	help: "URL of video displayed on page, use valid URL format with http://"
	basic: true

vimeoVideoFormat:
	label: Video Format
	type: select
	default:
		"16:9": "16:9"
		"4:3": "4:3"
	selected: '16:9'
	basic: true

vimeoAutoplay:
	label: Autoplay
	type: variable
	default: 1
	less: false
	basic: true

vimeoLoop:
	label: Loop
	type: on-off
	default: on
	help: "Enable or Disable video loop playback"
	less: false
	basic: true

vimeoVideoSound:
	label: Video Sound
	type: on-off
	default: off
	less: false
	basic: true

- section(id: type-media, title: '')

mediaLink:
	label: Source
	type: image
	default: ''
	less: false
	basic: true

mediaVideoFormat:
	label: Video Format
	type: select
	default:
		"16:9": "16:9"
		"4:3": "4:3"
	selected: '16:9'
	basic: true

mediaAutoplay:
	label: Autoplay
	type: variable
	default: 1
	less: false
	basic: true

mediaLoop:
	label: Loop
	type: on-off
	default: on
	help: "Enable or Disable video loop playback"
	less: false
	basic: true

- section

height:
	label: Height
	type: number
	unit: px
	default: 500
	help: "Height of player"
	basic: true

overlay:
	label: Overlay Background
	type: background
	default:
		color: ''
		opacity: 100%
		image: ''
		repeat: repeat
		position: top center
		scroll: scroll
	help: "Look of element background. Color, opacity and background image."

alternative:
	label: Mobile Alternative
	type: image
	default: ""


