// Very small text elements
// Portfolio Archive: elements that appear on hover (See More, Categories)
// Single Project: next project hover elements, Share title
.meta {
	@extend %beta;
	display: inline-block;
	margin: 0;

	color: inherit;
	font-size: 11px;
	line-height: 1.4;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	list-style: none;

	> * {
		display: inline-block;
		margin-bottom: 0.7em;
	}

	> * + *:before {
		content: "-";
		padding-right: .5em;
		padding-left: .2em;
	}
}

.meta--project {
	@extend %fs-13;
}

// Blog Archive Subtitle Categories
// Blog Archive Posts
// Single Post
.meta--post {
	@extend %fs-12;
	font-weight: 400;
    letter-spacing: 0.185em;

    a {
    	color: #91949B;
    }

	> * + *:before {
		content: "•";
	}
}
