@charset "UTF-8";
/* CSS Document */

.tooltip-info {display:inline;}

.stage-slider {max-width:100%;}

.columns.shortcode.block.last {padding-right:0 !important;}

.columns.right.last {margin-right:0;float:right;}

.activity-avatar a,
.item-avatar a {display:block;height:60px;width:60px;}

.custom-layer .jwplayer-wrapper {position:absolute !important;}

ul.dock-panel ul.dock-tab-wrapper {
 visibility:visible !important;
 display:none;
}

ul.dock-panel ul.dock-tab-wrapper.show {
 display:block;
}

.slider-wrap {padding:0 20px;}

a.action-icons i:before {display:inline-block;} /* chrome fix */

div.custom-layer .stage img,
div.custom-layer .fullimage img {
 width: auto;
 height: 100%;
 min-width:100% !important;
 top: 0;
 left: 0;
 position:fixed;
 margin: 0; 
 min-width: 0;
 min-height: 0; 
}

div.custom-layer .fullimage {
 position: fixed; 
 top: 0; 
 left: 0; 
 width: 100%; 
 height: 100%;
}

#primary-wrapper {width:100%;overflow-x:auto;}

html>/**/body #header-bg {  background-color:transparent !important;  }

	#primary-wrapper.horizontal-layout #header-wrap {
	 position:relative;	
	 margin:0 auto;
	 max-width: 1050px;
	 width:100%;
	 height:auto;
	 padding:0 20px;
	}
	
	#primary-wrapper.horizontal-layout.collapse-menu #header-wrap {
	 position:absolute;
	}
	
	#primary-wrapper.horizontal-layout.boxed-content .sub-header {margin-left:0;margin-right:0;}
	#primary-wrapper.horizontal-layout.boxed-content .sub-header #sub-tabs {padding:0;}
	
	#primary-wrapper.horizontal-layout.fullslider-active #header-wrap,
	#primary-wrapper.horizontal-layout.tva-wide-layout #header-wrap,
	#primary-wrapper.horizontal-layout.tva-wide-layout div.main-wrap,
	#primary-wrapper.horizontal-layout.tva-wide-layout div.slider-wrap {
	 max-width:100%;	
	 width:100%;
	}
	
	#primary-wrapper.horizontal-layout #header-bg {
	 width:100%;
	 height:100%;	
	}
	
	#primary-wrapper.horizontal-layout #header {
	 width:100%;
	 height:auto;
	 padding:20px 0;
	}
	
	#primary-wrapper.horizontal-layout .header-inner,
	#primary-wrapper.horizontal-layout .header-inner-wrap {
	 height:auto;
	 overflow:visible;	
	}
	
	#primary-wrapper.horizontal-layout .header-inner {
	 padding:0 20px 0 20px;	
	 margin:0;
	}
	
	#primary-wrapper.horizontal-layout.tva-wide-layout .header-inner {padding:0;}
	
	#primary-wrapper.horizontal-layout.top-lr .header-inner,
	#primary-wrapper.horizontal-layout.top-rl .header-inner {
	 display:table-row;
	 width:100%;
	}
	
	#primary-wrapper.horizontal-layout.top-rl #nv-tabs > ul {margin-right:20px;}
	
	#primary-wrapper.horizontal-layout.top-lr #nv-tabs,
	#primary-wrapper.horizontal-layout.top-lr #header-logo,
	#primary-wrapper.horizontal-layout.top-rl #nv-tabs,
	#primary-wrapper.horizontal-layout.top-rl #header-logo,
	#primary-wrapper.horizontal-layout .header-inner .dock-panel-wrap {
	 display:table-cell;
	 vertical-align: middle;
	}
	
	#primary-wrapper.horizontal-layout.top-lr #header-logo img,
	#primary-wrapper.horizontal-layout.top-rl #header-logo img {		
	 max-width:none;
	}
	
	#primary-wrapper.horizontal-layout.top-lr #nv-tabs,
	#primary-wrapper.horizontal-layout.top-rl #nv-tabs,
	#primary-wrapper.horizontal-layout .header-inner .dock-panel-wrap {
	 width:100%;	
	}
	
	
	#primary-wrapper.horizontal-layout .slider-wrap,
	#primary-wrapper.horizontal-layout .main-wrap {
	 margin:0 auto;
	 border-width:0 0 1px 0;	
	}
	
	#primary-wrapper.horizontal-layout.top-cc #header-wrap #nv-tabs {text-align:center;}
	
	#primary-wrapper.horizontal-layout.top-lr #header-wrap #nv-tabs,
	#primary-wrapper.horizontal-layout.top-rl #header-wrap #header-logo {text-align:right;}
	
	#primary-wrapper.horizontal-layout.top-rl #header-wrap #nv-tabs,
	#primary-wrapper.horizontal-layout.top-lr #header-wrap #header-logo {text-align:left;}
	
	#primary-wrapper.horizontal-layout #nv-tabs ul li {display:inline-block;}
	
	
	#primary-wrapper.horizontal-layout #nv-tabs ul ul {
	 position:absolute;
	 min-width:250px;
	 text-align:left;	
	 padding:10px 0 5px 0;
	 margin-top:5px;
	 -moz-box-shadow:0px 1px 3px rgba(0,0,0,0.10);
	 -webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.10);
	 box-shadow:0px 1px 3px rgba(0,0,0,0.10); 
	 opacity:0;
	 display:block;
	 visibility:hidden;
	}

	#primary-wrapper.horizontal-layout #nv-tabs ul li a { 
	 padding: 9px 10px;
	}

	#primary-wrapper.horizontal-layout #nv-tabs ul li.menu-item-has-children > a {
	 padding-right:22px;	
	}	
	
	#primary-wrapper.horizontal-layout #header-logo h2 {white-space:nowrap;}	
	
	#primary-wrapper.horizontal-layout .menu-sidebar-panel ul .widget:last-child {margin-bottom:0;}
	
	#primary-wrapper.horizontal-layout #nv-tabs ul ul.sub-menu:before {
	  content: " ";
	  display: inline-block;
	  border-width: 9px;
	  border-style: solid;
	  border-left-color: transparent;
	  border-right-color: transparent;
	  border-top-color: transparent;
	  position: absolute;
	  top: 0;
	  left: 10px;
	  margin: -18px 0 0 0;
	  z-index: 1;
	}
	
	#primary-wrapper.horizontal-layout #nv-tabs ul ul li {display:block;font-style:normal;}
	
	#primary-wrapper.horizontal-layout.top-lr .header-inner .dock-panel-wrap {padding-right:0;} 
	#primary-wrapper.horizontal-layout.top-rl .header-inner .dock-panel-wrap {padding-left:0;} 
	
	#primary-wrapper.horizontal-layout .header-inner .dock-panel {margin-bottom:0;white-space:nowrap;}
	#primary-wrapper.horizontal-layout #nv-tabs>ul {white-space:nowrap;}
	
	#primary-wrapper.horizontal-layout div.autototop a {left:auto;right:20px;}