// =============================================================================
// _META.CSS
// -----------------------------------------------------------------------------
// Admin styles.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Table Styles
//   02. Form Elements
//   03. Image Uploader
//   04. Taxonomy Styles
//   05. Stack Specific Styles
// =============================================================================

// Table Styles
// =============================================================================

.x-form-table th,
.x-form-table td {
  border-top: 1px solid #eee;
}



// Form Elements
// =============================================================================

.x-form-table label[for] {
  display: block;
  font-size: 12px;
  font-weight: 400;
}

.x-form-table label[for] strong {
  display: block;
  margin: 4px 0 0;
  font-weight: 700;
}

.x-form-table label[for] span {
  display: block;
  margin: 6px 0 1px 0;
  line-height: 1.5;
  color: #bbb;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}

.x-form-table label[for]:hover span {
  color: #444;
}

.x-form-table input[type="text"],
.x-form-table input[type="button"]:not(.wp-picker-default):not(.wp-picker-clear),
.x-form-table textarea,
.x-form-table select {
  float: left;
  width: 99%;
  margin-right: 0.25em;
}

.x-form-table textarea {
  resize: none;
}

.x-form-table select[multiple] {
  height: 105px;
}

.x-form-table input.file {
  margin-bottom: 11px;
}

.x-form-table input.button {
  margin-right: 0;
}

.x-form-table input.radio {
  float: none;
  width: auto;
  margin-right: 3px;
}

.x-form-table .radio-label {
  display: block;
  margin: 0.25em 0 0.5em 0.25em;
}



// Image Uploader
// =============================================================================

.x-meta-box-img-thumb-wrap {
  margin-top: 20px;
}

.x-meta-box-img-thumb-wrap .x-uploader-image:nth-child(4n) img {
  margin-right: 0;
}

.x-meta-box-img-thumb-wrap img {
  float: left;
  width: 151px;
  margin: 15px 15px 0 0;
}



// Taxonomy Styles
// =============================================================================

.form-field p,
.form-field .description {
  display: block;
  width: 95%;
  margin: 3px 0 0 1px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-field .wp-picker-default {
  width: auto;
}



// Stack Specific Styles
// =============================================================================

.x-ethos #x-meta-box-portfolio-item .x-form-table tbody tr:nth-child(5) {
  display: none;
}