/* 
Purple Skin
*/

body {
	background-image: url(../images/purple/background.jpg);
}

a {
	color: #be2d6a;
}

h1, h2, h3 {
	color: #4a3837;
}

h4 {
	color: #856968;
}

a.regular {

	color: #be2d6a;
	border-bottom: 1px dotted #959595;
}

a.regular:hover {
	color: #98806c;
	border: 0px none;
}

.active-color {
	color: #be2d6a;
}

.sep-line-points {
	border-top: 1px dotted #959595;
	border-bottom: 1px dotted #959595;
}

.sep-line-center-decoration-text {
	color: #be2d6a;
	background: url(../images/purple/decorations.png) no-repeat center center; 
}

.block-separator-top,
.block-separator-top-homepage {
	background-image: url(../images/purple/decoration_top.png);
}

.block-separator-bottom {
	background-image: url(../images/purple/decoration_bottom.png);
}

.line-separator {
	border-bottom: 1px dotted #959595;
}

.product-item {
	border: 1px solid #C4C4C4;
	box-shadow: 0px 0px 1px 0px rgba(206, 198, 183, 1);
	-webkit-box-shadow: 0px 0px 1px 0px rgba(206, 198, 183, 1);
	-moz-box-shadow: 0px 0px 1px 0px rgba(206, 198, 183, 1);
}

.product-item .title,
.image.mosaic-block {
	background-color: #f6f3ee;
	box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-moz-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
}

.product-item .info {
	background-color: #f6f3ee;
	box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-moz-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
}

.product-item .title a {
	color: #4a3837;
}

.product-item .price {
	background-color: #be2d6a;
	color: #ffffff;
}

span.button-small {
	box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
	border: 1px solid #f3f3f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#ede8e3), to(#e2dcd6));
	background: -moz-linear-gradient(top, #ede8e3 0%, #e2dcd6 100%);
	background-color: #e7e2dc;
	background: linear-gradient(#ede8e3, #e2dcd6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ede8e3', endColorstr='#e2dcd6');
}

#container span.button-small a.special{
background-image: url(../images/purple/icons.png);
background-position: 0px -427px;
background-repeat: no-repeat;
color: #4a3837;
}

span.button-small a.special:hover {
background-color: #e3ded8;

}

.general-block,
.general-block-list {
	background-color: #f6f3ee;
	box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-moz-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
}

.general-block-outer {
	box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
	-moz-box-shadow: 0px 0px 1px 1px rgba(206, 198, 183, 1);
}

.list-options {
	border-bottom: 1px dotted #959595;
	color: #8A8A8A;
}

.list-options a.active-view {
	color: #777777;
}

.style-select {
	background: no-repeat scroll right center #DDDDDD;
}

#content .widget_layered_nav li a, #content .widget_layered_nav li.chosen a, #content .widget_layered_nav li a:hover {
background-image: url(../images/purple/checked.png);
}

#container .tp-bullets.simplebullets.round .bullet {
background: url(../images/purple/slider_nav.png) no-repeat 0 -26px;
margin: 5px;
height: 26px;
width: 26px;
}
#container .tp-bullets.simplebullets.round .bullet.selected {
background: url(../images/purple/slider_nav.png) no-repeat 0 0px;
}

/*************************/
/***** List Products *****/
/*************************/

.list-product-content .price,
.details-product-content .price {
	background-color: #be2d6a;
	color: #ffffff;
}






/*******************/
/***** Details *****/
/*******************/

p.meta {
	color: #8d8d8d;
}













/**********************/
/***** Navigation *****/
/**********************/

.navigation {
	background: url(../images/purple/navigation.png) 0px 0px no-repeat;
}

.navigation-shadow {
	background-image: url(../images/purple/navigation_shadow.png);
}





/******************/
/***** Search *****/
/******************/

.search-container {
	background: url(../images/purple/search.png) no-repeat;
}

.search-btn {
	background: transparent;
}

.search-field {
  color: #856968;
}





/********************/
/***** Homepage *****/
/********************/

.quote {
	background-image: url(../images/purple/quote.png);
}

.quote2 {
	background-image: url(../images/purple/quote2.png);
}

.quote3 {
	background-image: url(../images/purple/quote3.png);
}

.quote .text {
	color: #4a3837;
}

.quote2 .text,
.quote3 .text {
	color: #4a3837;
}

.quote2 .text .highlight,
.quote3 .text .highlight,
h1 span.highlight,
h2 span.highlight,
h3 span.highlight,
h4 span.highlight,
h5 span.highlight,
h6 span.highlight {
	color: #be2d6a;
	background: none;
}





/***************/
/***** FAQ *****/
/***************/

ul.faq-item li {
	border-top: 1px dotted #4a3837;
}





/*******************/
/***** Compare *****/
/*******************/

.compare-module h3 {
	color: #ffffff;
	box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-moz-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(85, 58, 89, 0.05) inset;
	background-color: #765c65;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#978486), to(#634855));
	background-image: -moz-linear-gradient(top, #978486, #634855);
	background-image: linear-gradient(#978486, #634855);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#978486', endColorstr='#634855');
}

.compare-module p.even {
	background: #f0ede6;
}





/*******************/
/***** Buttons *****/
/*******************/

button, input[type="submit"], a.button,
.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt {
	border-radius: 4px;
	zoom: 1;
	padding: 8px;
	color: #f6f3ee;
	border-bottom: 1px solid #821341;
	border-top: 1px solid #9e1e53;
	border-left: 1px solid #8a1b67;
	border-right: 1px solid #8a1b67;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
	background-color: #5f4451;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a23353), to(#7a1836));
	background-image: -moz-linear-gradient(top, #a23353, #7a1836);
	background-image: linear-gradient(#a23353, #7a1836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a23353', endColorstr='#7a1836');
	display: inline-block;
}

button:hover, input[type="submit"]:hover, a.button:hover {
	background:  #8c2644 !important;
	border: 1px solid #85103f;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
}

button.red-submit-button, input[type="submit"].red-submit-button, a.red-submit-button {
	color: #f6f3ee;
	text-shadow:  0px -1px 0px rgba(0,0,0,0.4);
	border-bottom: 1px solid #5e072b;
	border-top: 1px solid #bc378c;
	border-left: 1px solid #b0386a;
	border-right: 1px solid #b0386a;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 3px rgba(0,0,0,0.2);
	background-color: #8d2644;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c5497d), to(#9e2a5b));
	background-image: -moz-linear-gradient(top, #c5497d, #9e2a5b);
	background-image: linear-gradient(#c5497d, #9e2a5b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5497d', endColorstr='#9e2a5b');
}

button.red-submit-button:hover, input[type="submit"].red-submit-button:hover, a.red-submit-button:hover {
	background:  #9b154d;
	
	
	
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
}

a.dark-button {
	color: #f3efe7;
	text-shadow:  0px -1px 0px rgba(0,0,0,0.4);
	border-bottom: 1px solid #240a02;
	border-top: 1px solid #927a73;
	border-left: 1px solid #4a3837;
	border-right: 1px solid #4a3837;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.4);
	background-color: #5f4451;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#978283), to(#442d3e));
	background-image: -moz-linear-gradient(top, #978283, #442d3e);
	background-image: linear-gradient(#978283, #442d3e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#978283', endColorstr='#442d3e');
}

a.dark-button:hover {
	background:  #4a3747;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3), 0px 1px 3px rgba(0,0,0,0.3);
}

a.light-button {
	color: #4a3837;
	text-shadow:  0px 1px 0px rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid #a39282;
	border-top: 1px solid #cac0b5;
	border-left: 1px solid #cac0b5;
	border-right: 1px solid #a39282;
	box-shadow: inset 1px 1px 0px rgba(255,255,255,0.7), 0px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.7), 0px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 0px rgba(255,255,255,0.7), 0px 1px 1px rgba(0,0,0,0.1);
	background-color: #E2DCD6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EDE8E3), to(#E2DCD6));
	background-image: -moz-linear-gradient(top, #EDE8E3, #E2DCD6);
	background-image: linear-gradient(#EDE8E3, #E2DCD6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDE8E3', endColorstr='#E2DCD6');
}

a.light-button:hover {
	background:  #ccc4bc !important;
	box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3), 0px 1px 2px rgba(0,0,0,0.1);
}




































/*********************************/
/***** Gallery and Portfolio *****/
/*********************************/

.gallery-item-small {
	background-image: url(../images/purple/gallery_item_bkg.png);
}

.gallery-text {
	color: #461507;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #d3a66a;
	background: #f0d6b5;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(240, 214, 181);
	/* RGBa with 0.6 opacity */
	background: rgba(240, 214, 181, 0.7);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	/* -dms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)"; */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.gallery-text a { color: #461507; }

.portfolio-text {
	color: #461507;
}






/******************/
/***** Footer *****/
/******************/

#footer {
	background: url(../images/purple/footer.jpg) #6f1d40 repeat;
	box-shadow: inset 0px -30px 28px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0px -30px 28px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0px -30px 28px rgba(0,0,0,0.2);
}

@media screen and (max-width: 960px) {
	#footer {
		background: url(../images/purple/footer-small.jpg) repeat;
	}
}

#footer-label {
	color: #ffffff;
	background: url(../images/purple/footer_label.png) no-repeat;
}

#footer-label span.number {
	color: #bfc79b;
}

#footer h1 {
	color: #efa075;
	text-shadow: 1px 1px 2px #000000;
}

#footer p {
	color: #ffffff;
}

.icon-cart,
.icon-account,
.icon-shipping,
.icon-wallet,
.icon-support,
.icon-cart,


#footer ul li {
	background-image: url(../images/purple/icons.png);
}
#footer ul.social-icons li { background-image: none; }

span.icon-shipping,
span.icon-wallet,
span.icon-support,
span.icon-cart,
span.icon-account {
	color: #be2d6a;
}

#footer ul li a {
	color: #ffffff;
}

#footer ul li a:hover {
	color: #9d9d9d;
}

#container .go-btn,
#container .go-btn:hover {
	background: url(../images/purple/signup2.png) no-repeat transparent !important;
	color: #461507;
	text-shadow: 0 1px 0px #c04794;
}

.newsletter-field,
.social-icons li {
	color: #9d9d9d;
	border-bottom: 0px solid #c95518;
	border-left: 0px solid #c0a98f;
	border-right: 0px solid #c95518;
	border-top: 0px solid #c0a98f;
	box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 0.2), 0px 0px 1px 2px rgba(0, 0, 0, 0.2) inset;
	background: #41162e;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(65, 22, 46);
	/* RGBa with 0.6 opacity */
	background: rgba(65, 22, 46, 0.7);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#33000000)"; */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}






/************************************/
/***** Flexislider - index.html *****/
/************************************/

.pager a {
	background: url(../images/purple/slider_nav.png) no-repeat 0px -26px;
}

.pager a.selected {
	background: url(../images/purple/slider_nav.png) no-repeat 0px 0px;
}

.prev,
.next {
	background: url(../flexi/images/purple/bg_direction_nav.png) no-repeat scroll 0 0 transparent;
}

.flex-direction-nav {
	background-image: url(../flexi/images/purple/slider_controls.png);
}

.flexslider {
	background: url(../flexi/images/purple/slider_selected_bkg.png) no-repeat top right;
}

.flex-direction-nav a {
	background: url(../flexi/images/purple/bg_direction_nav.png) no-repeat 0 0;
}






/*********************************/
/***** Layout Internal Pages *****/
/*********************************/

.collapsible {
	background-image: url(../images/purple/sidebar_arrow_open.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 36px;
}

.collapsible.closed {
	background-image: url(../images/purple/sidebar_arrow_closed.png);
}

.sidebar ul li.active,
.sidebar ul li.active:hover {
	background: url(../images/purple/sidebar_list_active.png) #e1ddd7 no-repeat left center;
}

.sidebar ul li:hover{
	background: url(../images/purple/sidebar_list_active.png) #efece8 no-repeat left center;
}

.sidebar-post-thumb {
	border: 1px solid #cec6b7;
}

.sidebar-post-date {
	color: #a5a5a5;
}

.tagcloud a {
	box-shadow: 0px 0px 0px 1px rgba(206, 198, 183, 1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(206, 198, 183, 1);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(206, 198, 183, 1);
	border: 1px solid #f3f3f3;
	background: -webkit-gradient(linear, left top, left bottom, from(#ede8e3), to(#e2dcd6));
	background: -moz-linear-gradient(top, #ede8e3 0%, #e2dcd6 100%);
	background-color: #e7e2dc;
	background: linear-gradient(#ede8e3, #e2dcd6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ede8e3', endColorstr='#e2dcd6');
}







.tagcloud a:hover {
	background: #f1ede8;
}

.sidebar-post-title a {
	color: #be2d6a;
}





/***********************/
/***** Breadcrumbs *****/
/***********************/

ul.breadcrumbs li {
	background: url(../images/breadcrumbs_arrow.png) no-repeat right center;
}





/****************/
/***** Blog *****/
/****************/

.blog-date {
	background: #be2d6a;
}

.blog-post-title-inner a {
	color: #4a3837;
}

.blog-date .month {
	color: #ffffff;
}

.blog-date .date-number {
	color: #ffffff;
}



















/********************/
/***** Contacts *****/
/********************/

.address .street,
.address .phone {
	border-bottom: 1px solid #ede6e9;
}






/****************/
/***** Cart *****/
/****************/

.cart-container table td {
	border-bottom: 1px solid #ede6e9;
}

.cart-container table td span.heading {
	color: #8e8e8e;
}

.cart-container table tr.promo td {
	background-color: #e4e4e4;
}

.cart-container span.grey {
	color: #7b7b7b;
}

.cart-container span.summary {
	color: #424242;
}

.input-text-grey {
	background-color: #d2d2d2;
	box-shadow: 0px 1px 1px 0px #787878 inset;
	-moz-box-shadow: 0px 1px 1px 0px #787878 inset;
	-webkit-box-shadow: inset 0px 1px 1px 0px #787878;
	border-radius: 4px;
	height: 32px;
	line-height: 32px;
	border: 0px none;
	padding: 0px 5px;
}






/**********************/
/***** Shortcodes *****/
/**********************/

span.highlight {
	background: #be2d6a;
	color: #ffffff;
}

span.highlight2 {
	background: #4a3837;
	color: #ffffff;
}






/*************************************/
/***** Superfish Navigation Menu *****/
/*************************************/

.sf-menu li a  { /* visited pseudo selector so IE6 applies text colour*/
	color: #f6f3ee;
}

.sf-menu li:hover a { /* visited pseudo selector so IE6 applies text colour*/
	color: #4a3837;
}

.sf-menu li.sfish-navgiation-item li a.sf-with-ul {
	background: url(../images/purple/dropdown_arrow.png) center right no-repeat;
}

.sf-menu li.sfish-navgiation-item>a.sf-with-ul {
	background: url(../images/purple/dropdown_arrow_white.png) center right no-repeat;
}

.sf-menu li ul {
	background:		#f6f3ee;
}

.sf-menu li li li {
	border-bottom: 1px solid #e1ddd7;
}

.sf-menu li:hover, .sf-menu li.sfHover {


	background:		#f6f3ee;
}

.sf-menu li ul li:hover {
	background: #efede7;
}

.sf-menu li ul li.more-levels:hover {
	background: #efede7 url(../images/purple/dropdown_arrow.png) center right no-repeat;
}

.sf-menu li.more-levels {
	background: url(../images/purple/dropdown_arrow.png) center right no-repeat;
}

.sf-menu li.sfish-navgiation-item li {
	border-bottom: 1px solid #e1ddd7;
	box-shadow: inset 0px -3px 4px rgba(223, 223, 223, 0.3);
}






/********************************************/
/***** For screen resolution up to 1065 *****/
/********************************************/

@media screen and (max-width: 1006px) {

	#container .navigation {
		background: url(../images/purple/navigation_repeat.png) repeat-x;
	}
	
}






/********************************/
/***** Mosaic Sliding Boxes *****/
/********************************/

.mosaic-overlay {
	background: transparent;
}
	
.mosaic-block .details {
	background: rgba(67, 67, 67, 0.7);
	color: #ffffff;
}






/*******************************/
/***** Flexisider - index1 *****/
/*******************************/

.flex-control-thumbs li {
	background: rgba(72, 7, 51, 0.1);
}

.flex-control-thumbs li.flex-current {
	background: rgba(72, 7, 51, 0.7);
}







/**********************************/
/***** Camera Slider - index3 *****/
/**********************************/

.camera_wrap .camera_pag .camera_pag_ul li {
	background: url(../images/purple/slider_nav.png) no-repeat scroll 0 -26px transparent;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent {
	background: url(../images/purple/slider_nav.png) no-repeat scroll 0 0px transparent;
}






/**************************************/
/***** Pikachoose Slider - index2 *****/
/**************************************/

.pika-middle {
	background: rgba(70, 21, 7, 0.1);
	border: 1px solid #cfc2b2;
}

.pika-left {
	background: #BE2D6A;
}

.pikachoose h4 {
	color: #f8f3e8;
	text-shadow: 1px 1px 0 #474747;
	text-align: center;
	padding: 30px;
}

.pikachoose h3 {
	font-size: 20px;
	color: #ded8cb;
	text-shadow: 1px 1px 0 #474747;
	text-align: center;
	padding: 10px 30px;
	margin: 0px;
}