/**
 * Password strength meter
 */
.woocommerce-password-strength {
	color: #ffffff;
	font-weight: normal;
	text-align: center;
	margin-top: 0.5em;
	padding: 3px 1.5em;
	display: block;

	&.strong {
		background-color: #c1e1b9;
		border-color: #83c373;
	}

	&.short {
		background-color: #f1adad;
		border-color: #e35b5b;
	}

	&.bad {
		background-color: #fbc5a9;
		border-color: #f78b53;
	}

	&.good {
		background-color: #ffe399;
		border-color: #ffc733;
	}
}

.woocommerce-password-hint {
	margin: 0.5em 0 0;
	display: block;
}
