@import url(style-dark.css);


/*************************** General Styling ***************************/

/* Page Styling */
body {
color: #eee;
background: #000;
}

/* Text Styling */
a {
color: #31c8ff;
}
a:hover {
color: #2b82ae;
}
h1, h2, h3, h4, h5, h6 {
color: #fff;
}

/* List Styling */
.gp-list li {
background-position: -137px -510px;
}


/************************************ Content Areas ************************************/

/* Content Wrapper */
#content-wrapper {
padding-left: 0;
padding-right: 0;
background: #000;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

/* Main Content */
#content {
position: relative;
width: 710px;
}

/* Sidebar */
#sidebar {
width: 240px;
}


/************************************ Page/Post Styling ************************************/

/* Post Loop */
.post-text h2 a {
color: #fff;
}


/************************************ Shortcodes: Accordion ************************************/

h3.accordion-title {
background-position: -326px -224px;
}
h3.ui-state-active.accordion-title {
background-position: -306px -257px;
}


/************************************ Shortcodes: Author Info ************************************/

.author-info {
border-color: #333;
}


/************************************ Shortcodes: Columns ************************************/

/* Separate Columns */
.separate > div {
border-color: #333;
}

/* Joint Columns */
.joint > div {
border-color: #333;
}


/************************************ Shortcodes: Dividers ************************************/

.sc-divider {
border-color: #333;
}


/************************************ Shortcodes: Lists ************************************/

.circle li {
background-position: -92px -550px;
}
.square li {
background-position: -72px -571px;
}
.tick li {
background-position: -50px -591px;
}
.large-tick li {
background-position: -18px -618px;
}
.large-cross li {
background-position: 0 -635px;
}


/************************************ Shortcodes: Related Posts ************************************/

/* Related Posts Container */
.related-posts {
border-color: #333;
}


/************************************ Shortcodes: Tabs ************************************/

.ui-tabs .ui-tabs-nav li.ui-tabs-active { 
background: #333;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
color: #fff;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover a {
color: #fff;
}
.sc-tab-panel {
background: #333;
}


/************************************ Shortcodes: Text Boxes ************************************/

.text-box {
background: #333;
}


/************************************ Shortcodes: Toggle Box ************************************/

h3.toggle {
background-position: -286px -281px;
}
h3.toggle-active {
background-position: -266px -318px;
}


/************************************ Widgets ************************************/

/* General Widget Styling */
.widget {
background: #333;
}
.widget .widgettitle {
color: #fff;
}
.widget .widgettitle a,
.widget .widgettitle a:hover {
color: #fff;
}


/************************************ Comments Section ************************************/

/* Comment List */
#comments ol.commentlist li .comment-text {
border-color: #333;
}