/*

	1 - LAYOUT

		1.1 - Header
		1.2 - Content
		1.3 - Footer

*/

/*===============================================

	L A Y O U T
	Layout styles

===============================================*/

/*
	Hierarchy:

	#layout
	| #header
	| | #header-layout-2
	| | | #header-holder-2
	| | | | ...
	| | #header-layout
	| | | #header-holder
	| | | | #logo
	| | | | #hcustom
	| | | | ...
	| #content
	| | #content-layout
	| | | #content-holder
	| | | | #content-box
	| | | | | div
	| | | | | | div
	| | | | | | | ...
	| | | | #sidebar
	| | | | | ...
	| #footer
	| | #footer-layout
	| | | #footer-holder
	| | | | #footer-box
	| | | | | .sidebar-footer
	| | | | | | ...
	| | | #copyrights-holder
	| | | | #copyrights-box
*/

#layout {
	max-width: 100%;
	overflow: hidden;
}


	/*-------------------------------------------
		1.1 - Header
	-------------------------------------------*/

	#header {
		position: relative;
		max-width: 1300px;
		margin: 50px auto 0;
		background: #F5F5F5;
		z-index: 3;
	}
	
		#header-layout-2 {
			position: relative;
			max-width: 1300px;
			margin: 0 auto;
		}

			#header-layout-2:before {
				position: absolute;
				top: -24px;
				right: 0;
				content: "";
				border-style: solid;
				border-width: 0 0 24px 320px;
				border-color: transparent transparent #F5F5F5 transparent;
			}

			#header-layout-2:after {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				border-style: solid;
				border-width: 12px 160px 0 0;
				border-color: #3A3346 transparent transparent transparent;
			}

				#header-holder-2 {
					position: relative;
					display: block;
					width: 1200px;
					margin: 0 auto;
					z-index: 2;
				}

		#header-layout {
			position: relative;
			max-width: 1300px;
			margin: 0 auto;
			padding: 0 0 50px;
		}

			#header-layout:before {
				position: absolute;
				top: -24px;
				right: 0;
				content: "";
				border-style: solid;
				border-width: 0 0 24px 320px;
				border-color: transparent transparent #F5F5F5 transparent;
			}

			#header-layout:after {
				position: absolute;
				bottom: 0;
				right: 0;
				content: "";
				border-style: solid;
				border-width: 0 0 105px 1300px;
				border-color: transparent transparent #FFF transparent;
			}

				#header-holder {
					position: relative;
					display: block;
					width: 1200px;
					color: #CCC;
					margin: 0 auto;
					z-index: 1;
				}


				/*--- Logo -----------------------------*/

				#logo {
					position: relative;
					float: left;
					width: 262px;
					height: 140px;
					margin-right: 32px;
					padding: 10px 0;
					background: #1c93c5;
					z-index: 2;
				}

					.opera #logo,
					.safari #logo {
						height: 160px;
					}

					#logo:before {
						position: absolute;
						top: -20px;
						right: 0;
						content: "";
						border-style: solid;
						border-width: 0 0 20px 262px;
						border-color: transparent transparent #1c93c5 transparent;
					}

					#logo:after {
						position: absolute;
						bottom: -20px;
						left: 0;
						content: "";
						border-style: solid;
						border-width: 20px 262px 0 0;
						border-color: #1c93c5 transparent transparent transparent;
						z-index: 1;
					}

						#logo h2,
						#logo h2 a,
						#logo h2 img {
							position: relative;
							display: block;
							font-size: 64px;
							line-height: 0.9em;
							font-weight: bold;
							color: #FFF;
							text-align: center;
							letter-spacing: -0.02em;
							text-decoration: none;
							max-width: 262px;
							margin: 0 auto;
							padding: 0;
							opacity: 1;
						}
	
							#logo h2 {
							}

								#logo h2 img {
									margin: 0 auto;
								}

									.hidpi #logo h2 img {
										opacity: 0;
									}
	
								#logo h2 strong {
									font-weight: bold;
								}


				/*--- Custom data -----------------------------*/

				#hcustom {
					width: 262px;
					height: 160px;
					float: right;
				}

					#hcustom a {
						color: #FFF;
					}


	/*-------------------------------------------
		1.2 - Content
	-------------------------------------------*/

	#content {
		z-index: 1;
		position: relative;
	}

		#content-layout {
			position: relative;
			max-width: 1300px;
			margin: 0 auto;
			background: #FFF;
		}

			#content-holder {
				display: block;
				width: 1200px;
				margin: 0 auto;
				padding: 0;
				z-index: 1;
			}

				#content-box {
					min-height: 600px;
				}

					/* Content area */
					div.post-single {
						width: 667px;
					}

					/* If sidebar by right */
					.sidebar-position-right #content-box {
						float: left;
						width: 888px;
					}
	
						.sidebar-position-right #content-box > div {
							padding: 50px 51px 50px 0;
							background: url('../images/line.png') right top repeat-y;
						}

							.sidebar-position-right div.post-single {
								float: right;
							}

					/* If sidebar by left */
					.sidebar-position-left #content-box {
						float: right;
						width: 888px;
					}
					
						.sidebar-position-left #content-box > div {
							padding: 0 0 51px 51px;
							background: url('../images/line.png') left top repeat-y;
						}

							.sidebar-position-left div.post-single {
								float: left;
							}

					/* If sidebar none */						
					.sidebar-position-none #content-box > div {
						padding: 50px 0;
					}

						.sidebar-position-none div.post-single {
							float: right;
							width: 1030px;
						}


	/*-------------------------------------------
		1.3 - Footer
	-------------------------------------------*/

	#footer {
		position: relative;
		margin-bottom: 50px;
		z-index: 1;
	}

		#footer:after {
				position: relative;
				float: right;
				content: "";
				margin: -40px 0 0;
				border-style: solid;
				border-width: 0 0 210px 2600px;
				border-color: transparent transparent #3a3346 transparent;
				z-index: 10;
		}

			#footer-layout {
				position: relative;
				max-width: 1300px;
				margin: 0 auto;
				padding-top: 105px;
				background: #F5F5F5;
			}

				#footer-layout:before {
					position: absolute;
					top: 0;
					left: 0;
					content: "";
					border-style: solid;
					border-width: 105px 1300px 0 0;
					border-color: #FFF transparent transparent transparent;
				}

				#footer-layout:after {
					position: absolute;
					bottom: -24px;
					left: 0;
					content: "";
					border-style: solid;
					border-width: 24px 320px 0 0;
					border-color: #F5F5F5 transparent transparent transparent;
				}
			
					#footer-holder {
						position: relative;
						width: 1200px;
						margin: 0 auto;
						z-index: 2;
					}
	
	
	#copyrights-holder {
		padding: 10px 0;
		background: url('../images/line.png') left top repeat-x;
	}
	
		#copyrights-box {
			position: relative;
			width: 1200px;
			margin: 0 auto;
			z-index: 11;
		}

			#copyrights-box a {
				opacity: 1;
				transition: opacity 250ms linear;
			}

			#copyrights-box a:hover {
				transition: opacity 125ms linear;
			}
	
			#copyrights-company {
				font-size: 12px;
			}
			
			#copyrights-developer {
				font-size: 12px;
			}