/*

	1 - SIDEBARS

		1.1 - Sidebar
		1.2 - Post Sidebar
		1.3 - Homepage Sidebars

	2 - FOOTER SIDEBARS

		2.1 - 1/3 + 1/3 + 1/3
		2.2 - 1/4 + 1/4 + 1/2
		2.3 - 1/4 + 1/2 + 1/4
		2.4 - 1/2 + 1/4 + 1/4
		2.5 - 1/4 + 1/4 + 1/4 + 1/4
		2.6 - 2/3 + 1/3

*/

/*===============================================

	S I D E B A R S
	Sidebar - is a default sidebar by right side. Available on almost pages.
	Post Sidebar - is an optional sidebar. Available on post page only.

===============================================*/

/*
	Hierarchy:

	#content
	| #content-layout
	| | #content-holder .sidebar-position-right/left/none
	| | | #content-box
	| | | | div
	| | | | | div
	| | | | | .sidebar-post (for post only)
	| | | | | | .stickyDiv
	| | | | | | | .widget
	| | | | | | | | ...
	| | | #sidebar
	| | | | .sidebar
	| | | | | .widget
	| | | | | | ...
*/

.widget > h5 {
	background: url('../images/line.png') left bottom repeat-x;
	margin-left: 0;
	margin-bottom: 1em;
	padding-top: 0;
}

	#sidebar .widget > h5 {
		color: #FFF;
	}

		#sidebar .widget_calendar > h5 {
			color: #56646F;
		}

		 #sidebar .widget-posts > h5 {
		 	margin-bottom: 15px;
		 	background: url('../images/line-white.png') left bottom repeat-x;
		 }


	/*-------------------------------------------
		1.1 - Sidebar
	-------------------------------------------*/

	.sidebar-position-right #sidebar {
		float: right;
	}
	
	.sidebar-position-left #sidebar {
		float: left;
	}
	
		#sidebar {
			width: 312px;
			padding: 20px 0;
			background: transparent;
			z-index: 2;
		}
	
			/* Sidebar margin by left */
			.sidebar-position-right .sidebar {
				margin-left: 50px;
			}
	
			/* Sidebar margin by right */
			.sidebar-position-left .sidebar {
				margin-right: 50px;
			}
	
			.sidebar {
				display: block;
				max-width: 100%;
			}

				.sidebar .stickyDiv {
					width: 207px;
				}
	
				.widget {
					position: relative;
					margin: 0 auto 45px;
				}

					#sidebar .widget {
						padding: 25px;
						color: #AAADAE;
						background: #3a3346;
					}

					#sidebar .widget:before {
						position: absolute;
						content: "";
						top: -20px;
						right: 0;
						border-style: solid;
						border-width: 0 0 20px 262px;
						border-color: transparent transparent #3a3346 transparent;
					}
			
					#sidebar .widget:after {
						position: absolute;
						content: "";
						bottom: -20px;
						left: 0;
						border-style: solid;
						border-width: 20px 262px 0 0;
						border-color: #3a3346 transparent transparent transparent;
					}


	/*-------------------------------------------
		1.2 - Post Sidebar
	-------------------------------------------*/

	 div.sidebar-post {
		background: url('../images/line-light.png') right top no-repeat; /* needed for responsive*/
	 }

		/* Post Sidebar by left side */
		.sidebar-position-right div.sidebar-post,
		.sidebar-position-none div.sidebar-post {
			float: left;
			width: 120px;
			margin-right: -145px;
		}
		
		/* Post Sidebar by right side */
		.sidebar-position-left div.sidebar-post {
			float: right;
			width: 120px;
			margin-left: -145px;
		}
		
			.sidebar-post,
			.sidebar-post div {
				font-size: 12px;
			}
		
			.sidebar-post .stickyDiv {
				width: 120px;
			}


	/*-------------------------------------------
		1.3 - Homepage Sidebars
	-------------------------------------------*/

	#content-holder .sidebar-homepage-b {
		margin: 0;
	}
		.sidebar-homepage-b .widget {
			padding: 0;
			background: none;
		}


/*===============================================

	F O O T E R   S I D E B A R S
	Another optional sidebars based on footer

===============================================*/

/*
	Hierarchy:

	#footer
	| #footer-layout
	| | #footer-holder
	| | | #footer-box
	| | | | .sidebar-footer
	| | | | | div
	| | | | | | .widget
	| | | | | | | ...
*/

.sidebar-footer {
	float: left;
}

	.sidebar-footer > div {
		margin: 40px 50px 50px 0;
	}

		.sidebar-footer > div .widget {
		}

			.sidebar-footer > div .widget * {
			}

			.sidebar-footer h5 {
				background: url('../images/line.png') left bottom repeat-x;
				margin-left: 0;
				margin-bottom: 1em;
			}

			.sidebar-footer a {
			}

			.sidebar-footer > div .widget:not(.widget_nav_menu) a:hover {
				color: inherit;
			}


	/*-------------------------------------------
		2.1 - 1/3 + 1/3 + 1/3
	-------------------------------------------*/

	.footer-box-v1 .sidebar-footer {
		width: 417px;
	}

	.footer-box-v1 .sidebar-footer.last {
		width: 366px;
	}

		.footer-box-v1 .sidebar-footer.last > div {
			margin-right: 0;
		}


	/*-------------------------------------------
		2.2 - 1/4 + 1/4 + 1/2
	-------------------------------------------*/

	.footer-box-v2 .sidebar-footer {
		width: 312px;
	}
	
	.footer-box-v2 .sidebar-footer.last {
		width: 574px;
	}
	
		.footer-box-v2 .sidebar-footer.last > div {
			margin-right: 0;
		}


	/*-------------------------------------------
		2.3 - 1/4 + 1/2 + 1/4
	-------------------------------------------*/

	.footer-box-v3 .sidebar-footer {
		width: 624px;
	}
	
	.footer-box-v3 .sidebar-footer:first-child {
		width: 312px;
	}

	.footer-box-v3 .sidebar-footer.last {
		width: 262px;
	}
	
		.footer-box-v3 .sidebar-footer.last > div {
			margin-right: 0;
		}


	/*-------------------------------------------
		2.4 - 1/2 + 1/4 + 1/4
	-------------------------------------------*/

	.footer-box-v4 .sidebar-footer {
		width: 312px;
	}
	
	.footer-box-v4 .sidebar-footer:first-child {
		width: 624px;
	}

	.footer-box-v4 .sidebar-footer.last {
		width: 262px;
	}
	
		.footer-box-v4 .sidebar-footer.last > div {
			margin-right: 0;
		}


	/*-------------------------------------------
		2.5 - 1/4 + 1/4 + 1/4 + 1/4
	-------------------------------------------*/

	.footer-box-v5 .sidebar-footer {
		width: 312px;
	}
	
	.footer-box-v5 .sidebar-footer.last {
		width: 264px;
	}
	
		.footer-box-v5 .sidebar-footer.last > div {
			margin-right: 0;
		}


	/*-------------------------------------------
		2.7 - 2/3 + 1/3
	-------------------------------------------*/

	.footer-box-v6 .sidebar-footer {
		width: 417px;
	}

	.footer-box-v6 .sidebar-footer:first-child {
		width: 783px;
	}

		.footer-box-v6 .sidebar-footer.last > div {
			margin-right: 0;
		}