html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav ul, nav ol {
    list-style: none outside none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.inside .theme-metabox-table td{
	padding-left: 0;
}
.theme-metabox-table{
	margin-right:0;
}
#mm_product_custom_meta_box .theme-metabox-name{
	min-width:200px;
	text-align: left;
}
.inside{
	overflow:hidden;
}
.form_select{
	float:left;
	margin-right:15px !important;
}
.color_wrap{
	overflow:hidden;
}
#option-typorgraphy .form_select + div.clear,.color_wrap + br,.color_wrap + br + br{
	display:none;
}
div.color{
	float:none;
}
.admin-main a {
    text-decoration: none;
}
.admin-main a, .admin-main a > * {
    color: #2A2B2D;
    text-decoration: none;
}
.not-ie a, .not-ie a > * {
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
}
img {
    max-width: 100%;
}
.admin-main ul li {
    list-style: none outside none;
}
.admin-main {
    color: #3B3C3F;
    font: 14px/1.5 'PT Sans',Arial,sans-serif;
}
.admin-main p {
    line-height: 1.6em;
    margin: 0 0 1.5em;
    padding: 0;
}
#truethemes_container h1, #truethemes_container h2, #truethemes_container h3, #truethemes_container h4, #truethemes_container h5, #truethemes_container h6 {
    color: #FFFFFF;
    font-family: 'PT Sans',sans-serif;
    font-weight: 400;
    line-height: 1.25;
}
#truethemes_container h3 {
    font-size: 24px;
}
#truethemes_container h4 {
    font-size: 18px;
}
#truethemes_container h5 {
    font-size: 16px;
}
#truethemes_container h5.title {
    color: #2A2B2D;
    margin-bottom: 10px;
    margin-top: 20px;
}
.sub-heading-title {
    color: #2A2B2D !important;
    font-weight: 700 !important;
}
h5.title:first-child {
    margin-top: 0;
}
.new-field {
    margin-bottom: 5px;
}
.new-field h5.title {
    margin: 2px 0;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.clear {
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.admin-button {
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s linear 0s;
    vertical-align: baseline;
}
.option-button {
    background-color: #F0F0F0;
    border-color: #A9ACAE;
    border-style: solid;
    border-width: 1px;
    color: #2A2B2D;
    cursor: pointer;
    display: inline-block;
    font: 14px/1.5 'PT Sans',Arial,sans-serif;
    margin-bottom: 15px;
    outline: medium none;
    padding: 7px 9px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #E5E5E5;
    vertical-align: baseline;
}
.button-set .option-button {
    margin: 0 3px;
}
.option-button, .add-field, .remove-field, .save-field {
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 1px #F5F5F5 inset;
}
.option-button:first-of-type {
    margin-left: 0;
}
.option-button:hover, .add-field:hover, .remove-field:hover, .save-field:hover {
    background: linear-gradient(to bottom, #F2F2F2 0%, #B7B7B7 100%) repeat scroll 0 0 transparent !important;
    box-shadow: 1px -1px 0 0 #D5D5D5 inset, -1px 0 0 0 #D5D5D5 inset !important;
}
.add-field, .remove-field, .save-field {
    background: none repeat scroll 0 0 #F0F0F0 !important;
    border-color: #A7A9AC !important;
    border-style: solid !important;
    border-width: 1px !important;
    color: #2A2B2D !important;
    cursor: pointer !important;
    display: inline;
    font: 13px/1.5 'PT Sans',Arial,sans-serif !important;
    height: 27px !important;
    outline: medium none !important;
    padding: 3px 8px 4px 31px !important;
    position: relative;
    text-align: center !important;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 #F7F7F7;
    vertical-align: baseline !important;
}
.remove-field, .save-field {
}
.save-field {
    margin-left: 0;
}
.add-field:after {
    background-image: url("../images/icons/add-field.png");
    background-repeat: no-repeat;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.remove-field:after {
    background-image: url("../images/icons/remove-field.png");
    background-repeat: no-repeat;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.save-field:after {
    background-image: url("../images/icons/remove-field.png");
    background-repeat: no-repeat;
    content: "";
    height: 17px !important;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}
.row .add-field {
    margin-left: 10px;
}
.group button, .group input[type="button"], .group input[type="reset"], .group input[type="submit"] {
    cursor: pointer;
}
.group button, .group input, .group select, .group textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}
.group label {
    cursor: pointer;
    display: block;
}
.group input[type="text"] {
    border-color: #BABABA;
    border-style: solid;
    border-width: 1px;
    color: #3B3C3F;
    font: 14px/1.5 'PT Sans',sans-serif;
    margin-bottom: 1em;
    padding: 6px 8px;
    width: 100%;
}
.group textarea {
    color: #3B3C3F;
    font: 14px/1.5 'PT Sans',sans-serif;
    margin-bottom: 1em;
    padding: 6px 8px;
    width: 100%;
}
.listing input[type="text"], .listing select {
    margin-bottom: 0;
    width: 85%;
}
.not-ie input[type="text"], .not-ie textarea, .not-ie select {
    -moz-box-sizing: border-box;
    border-radius: 3px 3px 3px 3px;
    transition: all 0.25s linear 0s;
}
.ie8 input[type="text"], .ie8 select, .ie9 input[type="text"], .ie9 select {
    line-height: 1.15;
}
textarea {
    height: 112px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #3B3C3F;
    font-family: 'PT Sans',sans-serif;
    font-size: 14px;
}
.radio-holder {
    margin-bottom: 25px;
}
.listing .radio-holder {
    margin-bottom: 0;
}
.radio-holder label {
    display: inline-block;
    vertical-align: middle;
}
.listing .radio-holder label:last-of-type {
    margin-right: 0;
}
.radio-holder input[type="radio"] {
    margin-bottom: 2px;
    margin-right: 8px;
    vertical-align: middle;
}
.admin-aside {
    float: left;
    width: 16%;
}
.admin-nav {
    margin-top: 105px;
}
.admin-nav ul {
    border-bottom: 1px solid #3D3F41;
    border-top: 1px solid #28292B;
}
.admin-nav > ul > li {
    border-bottom: 1px solid #28292B;
    border-left: 1px solid transparent;
    border-top: 1px solid #3D3F41;
    border-width: 1px;
    padding-left: 20px;
    position: relative;
}
.admin-nav > ul > li.current {
    background-color: rgba(0, 0, 0, 0.1);
    border-left-color: #3D3F41;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.18) inset, 0 1px 0 1px rgba(0, 0, 0, 0.1) inset;
}
.admin-nav > ul > li.current {
}
.ie8 .admin-nav > ul > li.current {
    background-color: #222222;
}
.admin-nav > ul > li.current:after {
    background-image: url("../images/icons/admin-menu-arrow.png");
    background-repeat: no-repeat;
    content: "";
    height: 16px;
    margin-top: -8px;
    position: absolute;
    right: -1px;
    top: 50%;
    width: 8px;
}
.admin-nav > ul > li a {
    background-image: url("../images/icons/admin-menu-icons.png");
    background-repeat: no-repeat;
    color: #C5C8CD;
    display: block;
    font-size: 13px;
    padding: 11px 0 11px 26px;
    text-shadow: 1px 1px 0 #2A2B2D;
}
.option-general > a {
    background-position: 0 0px;
}
.option-typorgraphy > a {
    background-position: 0 -42px;
}
.option-homesettings > a {
    background-position: 0 -84px;
}
.option-contact > a {
    background-position: 0 -126px;
}
.option-404 > a {
    background-position: 0 -172px;
}
.option-testimonials > a {
    background-position: 0 -327px;
}
.admin-main {
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    margin: 0 auto;
    padding: 30px 0 0 20px;
    position: relative;
    width: 100%;
}
.admin-main {
    background-color: #2A2B2D;
    background-image: url("../images/bg-admin-main.png");
    background-repeat: repeat;
}
.admin-content {
    -moz-box-sizing: border-box;
	box-sizing:border-box;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #2F2F32;
    border-radius: 4px 0 0 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.03) inset;
    float: right;
    padding-right: 20px;
    vertical-align: top;
    width: 84%;
}
.ie8 .admin-content {
    background-color: #434549;
}
.heading-holder, .footer-holder {
    border-radius: 4px 4px 0 0;
    padding: 10px 0 10px 30px;
}
.heading-holder .heading-title {
    float: left;
}
.optional-links {
    float: right;
}
.optional-links li {
    float: left;
    margin-left: 10px;
}
.optional-links a {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF !important;
    display: block;
    font-family: 'PT Sans',sans-serif;
    padding: 7px 8px 6px 35px;
    position: relative;
    text-shadow: 1px 1px 0 #1B1B1D;
}
.optional-links a:before {
    background-image: url("../images/icons/optional-sprite.png");
    background-repeat: no-repeat;
    content: "";
    height: 33px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
}
.optional-links li.publish-to a:before {
    background-position: 0 -33px;
}
.optional-links a:hover {
    border-color: #303033;
    box-shadow: 0 0 0 1px #58595D inset;
}
.optional-links a:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%) repeat scroll 0 0 transparent;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
}
.ie8 .optional-links a:hover {
    border-color: #303033;
}
.footer-holder {
    color: #9A9DA1;
    font-size: 12px;
}
.footer-holder a {
    color: #FFFFFF;
}
.sub-heading {
    border-bottom: 1px solid #BABABA;
    box-shadow: 0 -1px 0 0 #EDEDED inset;
    padding: 14px 40px 12px 30px;
}
.sub-heading {
    background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%) repeat scroll 0 0 transparent;
}
.sub-heading-title {
    color: #2A2B2D;
    font-weight: 700;
}
.sub-heading .sub-heading-title {
    float: left;
}
.sub-heading .optional-pages {
    float: right;
}
.optional-pages a {
    border-color: transparent;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #2A2B2D;
    margin-left: 25px;
    padding: 8px 8px 8px 31px;
    position: relative;
    text-shadow: 1px 1px 0 #F2F2F2;
}
.optional-pages .cancel {
    padding-left: 36px;
}
.optional-pages .cancel:after {
    background-position: 0 -37px;
}
.optional-pages .add:after, .optional-pages .cancel:after {
    background-image: url("../images/icons/optional-pages.png");
    background-repeat: no-repeat;
    content: "";
    height: 21px;
    left: 8px;
    position: absolute;
    top: 7px;
    width: 19px;
}
.optional-pages a:hover {
    background: linear-gradient(to bottom, #F2F2F2 0%, #B7B7B7 100%) repeat scroll 0 0 transparent;
    border-color: #BABCBE;
    box-shadow: 1px -1px 0 0 #D5D5D5 inset, -1px 0 0 0 #D5D5D5 inset;
}
.main-holder {
    background-color: #FFFFFF;
    min-height: 300px;
    padding: 20px;
}
a.type {
    background-image: url("../images/icons/sprite-listing-type.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}
a.type.post {
    background-position: 0 -59px;
}
a.type.gallery {
    background-position: 0 -116px;
}
a.type.contact {
    background-position: 0 -169px;
}
.listing {
    margin-bottom: 15px;
}
.listing tbody tr:hover td a.type.protected {
    background-position: 0 -30px;
}
.listing tbody tr:hover td a.type.post {
    background-position: 0 -88px;
}
.listing tbody tr:hover td a.type.gallery {
    background-position: 0 -144px;
}
.listing tbody tr:hover td a.type.contact {
    background-position: 0 -194px;
}
a.published {
    background-image: url("../images/icons/sprite-listing-published.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 24px;
}
a.published.visible {
    background-position: 0 4px;
}
a.published.invisible {
    background-position: 0 -50px;
}
.listing tbody tr:hover td a.published.visible {
    background-position: 0 -22px;
}
.listing tbody tr:hover td a.published.invisible {
    background-position: 0 -78px;
}
a.options {
    background-image: url("../images/icons/sprite-listing-options.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 19px;
    margin: 0 3px;
    width: 16px;
}
a.options.edit {
    background-position: 0 3px;
}
a.options.remove {
    background-position: 0 -48px;
}
.listing tbody tr:hover td a.options.edit {
    background-position: 0 -23px;
}
.listing tbody tr:hover td a.options.remove {
    background-position: 0 -73px;
}
.listing {
    border-collapse: inherit;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
}
.listing thead th {
    background: linear-gradient(to bottom, #505154 0%, #36373B 100%) repeat scroll 0 0 transparent;
}
.listing thead th {
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 20px;
    text-align: left;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.listing .aligncenter {
    text-align: center;
}
.listing thead th:first-child {
    border-radius: 4px 0 0 0;
}
.listing thead th:last-child {
    border-radius: 0 4px 0 0;
}
.listing tbody tr:last-child td:first-child {
    border-radius: 0 4px 0 0;
}
.listing tbody tr:nth-child(2n) td {
    background-color: #EFEFEF;
}
.listing tbody td {
    -moz-box-sizing: border-box;
    border-top: 1px solid #E3E3E3;
    padding: 10px 20px;
}
.listing-width-1 {
    width: 35%;
}
.listing-width-2 {
    width: 27%;
}
.listing-width-3 {
    width: 13%;
}
.listing-width-4 {
    width: 19%;
}
.listing-width-5 {
    width: 6%;
}
.listing tbody td:first-child {
    border-left: 1px solid #BABABA;
}
.listing tbody td:last-child {
    border-right: 1px solid #BABABA;
}
.listing tbody tr:last-child td {
    border-bottom: 1px solid #BABABA;
}
.listing tbody tr:hover td {
    background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%) repeat scroll 0 0 transparent;
}
.listing tbody tr:hover td {
    border-top-color: #E3E3E3;
    box-shadow: 0 -1px 0 0 #EDEDED inset;
}
.listing tbody tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.listing tbody tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}
div#users-contain {
    margin: 20px 0;
    width: 350px;
}
div#users-contain table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
}
div#users-contain table td, div#users-contain table th {
    border: 1px solid #EEEEEE;
    padding: 0.6em 10px;
    text-align: left;
}
.ui-dialog .ui-state-error {
    padding: 0.3em;
}
.validateTips {
    border: 1px solid transparent;
    padding: 0.3em;
}
#option-homesettings .main-holder br {
    display: none;
}
div[class^="admin_row_"] > h4, div[class^="admin_col_"] h4 {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #000000 !important;
    font-size: 14px !important;
    font-weight: bold !important;
    margin-top: 0;
    padding: 7px 20px;
    position: relative;
}
div[class^="admin_row_"] > h4:after, div[class^="admin_col_"] h4:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #8A8B8D;
    content: "";
    display: block;
    height: 0;
    margin-top: -2px;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
}
div[class^="admin_row_"] h5, div[class^="admin_col_"] h5 {
    color: #000000 !important;
    margin: 0 0 7px !important;
}
div[class^="admin_row_"], div[class^="admin_col_"] {
    border: 1px solid #BABABA;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    overflow: hidden;
}
div[class^="admin_row_"] select, div[class^="admin_col_"] select {
    border-color: #BABABA !important;
    margin-bottom: 10px;
    width: 100%;
}
div[class^="admin_row_"] > div, div[class^="admin_col_"] > div {
    border-top: 1px solid #BABABA;
    padding: 10px 20px;
}
div[class^="admin_row_"] input[type="text"], div[class^="admin_row_"] ul, div[class^="admin_col_"] ul {
    width: 60% !important;
}
div[class^="admin_row_"] ul, div[class^="admin_col_"] ul {
    -moz-box-sizing: border-box;
    border: 1px solid #BABABA;
    border-radius: 3px 3px 3px 3px;
    height: 100px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
div[class^="admin_row_"] ul li, div[class^="admin_col_"] ul li {
    padding: 2px 10px;
}
div[class^="admin_col_"] input[type="text"] {
    width: 100% !important;
}
.admin_col_01 {
    width: 30%;
}
.admin_col_02 {
    margin-left: 10px;
    width: 28%;
}
.admin_col_03 {
    margin-left: 10px;
    width: 38.9%;
}
.row_admin_01 > div, .big_row_admin > div, .big_row > .admin_big_col_01, .big_row .admin_big_col_02, .bottom_blocks_row > div {
    display: inline-block;
    vertical-align: top;
}
.row_admin_01 > div > div {
    height: 452px;
}
.admin_col_01 ul.slider_list {
    height: 49%;
    width: 100% !important;
}
.admin_col_04 > div {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #8A8A8A;
}
.big_row {
    width: 67%;
}
.admin_big_col_02 {
    width: 74.8%;
}
.admin_col_04 {
    width: 31.5%;
}
.admin_big_col_01 {
    width: 23.4%;
}
.admin_col_04, .admin_big_col_02, .admin_col_09, .admin_col_10, .admin_col_11 {
    margin-left: 10px;
}
.inline_1, .inline_2 {
    display: inline-block;
    width: 48%;
}
.inline_2 {
    margin-left: 10px;
}
.bottom_blocks_row > div {
    width: 23.3%;
}
.admin_col_05 > div {
    height: 349px;
}
.admin_col_04 > div {
    min-height: 749px;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
.group input[type="text"] {
    padding: 3.7px 8px;
}
}
.radio-holder > label{
	padding-top:4px;
	padding-bottom:5px;
	position:relative;
}
.radio-holder > label:first-child{
	padding-right:50px;
}
.radio-holder > label:first-child+label{
	padding-left:50px;
}
.radio-holder input[type="radio"]{
	display:none;
}
.radio-holder > label:first-child:after{
	content:"";
	display:block;
	width:40px;
	height:30px;
	position:absolute;
	top:0;
	right:0;
	background:url("../images/admin_no_icon.png") no-repeat 0 0;
}
.radio-holder > label:first-child+label:after{
	content:"";
	display:block;
	width:39px;
	height:30px;
	position:absolute;
	top:0;
	left:0;
	background:url("../images/admin_yes_icon.png") no-repeat top left;
}
.radio-holder > label.active_label_radio:after{
	background-position:0 -30px !important;
}

.radio.settings_layout_color label{
float: left;
margin: 5px 5px 15px 0;
width: 28px;
height: 28px;
border: 1px solid #c7cfc8;
background: #ccc;
background-repeat: no-repeat;
}
.settings_layout_color {
height: 30px;
}

.settings_layout_color label.yellow{
background: #ffbe00;
}
.settings_layout_color label.orange{
background: #f5791f;
}
.settings_layout_color label.red{
background: #dc3c35;
}
.settings_layout_color label.dark-cherry{
background: #ed424b;
}
.settings_layout_color label.cherry{
background: #b61732;
}
.settings_layout_color label.default{
background: #81ba10;
}
.settings_layout_color label.dark-green{
background: #14ad80;
}
.settings_layout_color label.aqua{
background: #00abbd;
}
.settings_layout_color label.blue{
background: #0f8bd2;
}
.settings_layout_color label.purple{
background: #7c529d;
}


.settings_layout_img .of-input{
margin: 5px;
}

.option-404 > a {
background-position: 0 -126px;
}
.option-color > a {
background-position: 0 -84px;
}
.option-shop > a {
background-position: 0 -168px;
}
.option-portfolio > a {
background-position: 0 -289px;
}

.option-header > a {
background-position: 0 -208px;
}
.option-footer > a {
background-position: 0 -248px;
}





