// RTL essentials
body {
    direction: rtl;
    unicode-bidi: embed;
}
.alignleft {
    float: none;
}
code {
    text-align: left;
}
ul li, ol li {
    direction:rtl;
}

// no italics
.must_be_logged_in {
    p {
        font-style: normal;
    }
}
#respond, .must_be_logged_in {
	.comment-notes {
	    font-style: normal;
    }
}
.sidebar .signup {
    small {
        font-style: normal;
    }
}
.widget {
    &.widget_rss {
        cite {
            font-style: normal;
        }
    }
}
.shortcode-post {
    small {
        font-style: normal;
    }
}

// no serif fonts
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif
}

.ddsmoothmenu ul {
    float: left;
}
.ddsmoothmenu ul li {
    float: right;
}

header .one-third.column {
    float: right;
}

#second-menu {
    right: auto;
    left: 0;
}

#main-menu a.downarrow::after, #main-menu a.rightarrow::after {
    content: "\f100";
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

// RTL style conversion
#menu-top {
	@media only screen and (min-width: 767px) {
		margin-right: 0;
		margin-left: 20px;
	}
	a {
		float: left;
		&.last {
			margin-right: 10px;
		}
	}
	.empha {
		float: left;
		text-align: right;
		padding-right: 40px;
	}
	.language_switcher {
		@media only screen and (max-width: 767px) {
			right: auto;
            left: 0;
		}
		a {
			margin: 10px 5px 0 0;
			float: left;
		}
	}
}
#top-menu > ul.has-cta > li:last-child a::before {
    padding-top: 0;
}


#heading-box-container {
	.one-third.column {
		.button {
			float: left;
		}
	}
}

// menu
.logo-link {
    float: right;
}
.amplus_panel.titlebox + .amplus_panel .button {
    float: left;
    margin: 0 20px 0 0;
}
#top-menu {
	a, a:visited {
		text-align: right;
	}
	> ul.has-cta > li:last-child a {
		float: left;
		text-align: right;
		&:before {
			float: left;
		}
	}
}
#main-menu {
	a {
		text-align: right;
	}
}

#body-content {
	.nivo-controlNav {
		a {
			margin: 4px 1px 0;
		}
	}
}


// font awesome adjustment for lists. the spacing isn't correct
ul.icons {
	margin-left: 0;
	margin-right: 30px;
}

.sharrre .box i {
    margin-right: 0;
    margin-left: 5px;
}


.bfi_accordion {
	li {
		> h4 {
			&:after {
				float: left;
			}
		}
		> h4.selected {
			&:after {
				float: left;
			}
		}
	}
}

.bfi_tabs {
	.tab-title {
		li {
			float: left;
		}
		h4 {
			float: left;
			margin-right: 5px;
		}
	}
}
.bfi_tabs.vertical {
	.tab-title {
		float: left;
		h4 {
			margin-right: 0;
		}
	}
}

.dropcaps {
	float: left;
	margin: 5px 5px 0 0;
}


// togglers
.bfi_toggle {
	h4 {
		&:after {
			float: left;
		}
	}
	&.open {
		h4 {
			&:after {
				float: left;
			}
		}
	}
}


// info boxes
.bfi_infobox {
	i:first-child {
		float: right;
		margin: 0 0 0 20px;
	}
	i:nth-child(2) {
		float: left;
		margin: 4px 20px 0 0;
	}
}



// Buttons
a.button, a.button:visited, a.button:hover {
	i {
		float: none;
		margin-right: 0;
		margin-left: 15px;
	}
}

#body-content .nivoSlider .nivo-caption {
    left: auto;
    right: 0;
}

.single-post .content a.button.prev-post i, .single-post .content a.button.prev-post:hover i, .single-post .content a.button.prev-post:visited i {
    margin: 0 0 0 10px;
}
a.button.bfi_submit, a.button.bfi_reset {
    float: right;
    margin: 0 0 0 20px;
}
body.single-portfolio_item .blog-content .categories {
    margin: 0 !important;
}


.amplus_panel .blog-content article,
.single-portfolio_item .content .blog-content,
.single-post .content .blog-content {
    .date, .author, .categories, .comments, .tags {
        &:before {
            margin-right: 0;
            margin-left: 10px;
            margin-top: 2px;
            float: right;
        }
    }
    .button.readmore i {
        margin: 0 5px 0 0;
        &:before {
            content: "\f100";
        }
    }
}


// contact form shortcode
.contactform {
	label {
		i {
			margin-right: 0;
			margin-left: 5px
		}
	}
	p.name {
		float: right;
	}
	p.email {
		float: left;
	}
}
.error_container .error {
	&:before {
		margin-right: 0;
		margin-left: 10px;
	}
}


#respond, .must_be_logged_in {
    form {
        .form-submit {
            a {
                margin: 0 0 0 10px;
            }
        }
    }
	label {
		i {
			margin-right: 0;
            margin-left: 5px;
		}
	}
	.logged-in-as {
	    float: left;
	    i {
	        margin-left: 0;
	        margin-right: 10px;
	    }
	}
}


blockquote {
    position: relative;
    font-style: normal;
    padding: 9px 19px 0 20px;
    padding-left: 0;
    padding-right: 60px;
    border-right: 1px solid #ddd;
    border-left: 0;
    p {
        font-style: normal;
    }
    &:before {
        left: auto;
        right: 12px;
    }
}


// title box
.titlebox {
	.button {
		float: left;
	}
}


.sidebar {
    &.left > article {
        margin-right: 20px;
        @media only screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    &.right > article {
        margin-left: 20px;
        @media only screen and (max-width: 767px) {
            margin-left: 0;
        }
    }
}



#page-nav {
    .navigation > * {
        float: left;
        margin-right: 5px;
    }
}

body.error404 .amplus_panel form.search {
    margin-left: 0;
    margin-right: 20%;
}
form.search {
    input {
        padding: 10px 10px 10px 40px;
    }
    a.button, a.button:hover {
        right: auto;
        left: 0;
    }
}

.sidebar {
    form.search a, form.signup a {
        right: auto;
    }
}
form.search a, form.signup a {
    left: auto;
    right: -5px;
}
footer .search {
    a {
        float: left;
    }
}
.sidebar .signup {
    div {
        text-align: right;
    }
}

footer {
    .copyright-container {
        small {
            margin-left: 0;
            margin-right: 10px;
            @media only screen and (max-width: 767px) {
                margin-left: 0;
                margin-right: 20px;
            }
        }
    }
}
footer .social .bfi_social {
    float: left;
    margin-right: 10px;
    margin-left: 0;
}

.syntaxhighlighter {
    direction: ltr;
}

.dropcaps, .dropcaps.colored {
    float: none;
    background: none;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.featurenumber > h2, .featurenumber > h4 {
    line-height: inherit;
}

.widget {
    li:before {
        float: right;
        content: "\f104";
        margin-right: 0;
        margin-left: 5px;
    }
    // portfolio widget
    &.widget_bfiwidgetportfoliomodel {
        div {
            margin-top: 5px;
        }
    }
    // calendar widget
    &.widget_calendar {
        #wp-calendar {
            caption {
                &:before {
                    margin-right: 5px;
                }
            }
        }
    }
    // twitter
    &.widget_bfiwidgettwittermodel {
        .bfi-twitter-widget {
            padding-left: 0;
            padding-right: 30px;
            li:before {
                left: auto;
                right: -30px;
            }
        }
    }
}


body/*.page-template-template-blog-php*/ {
    .blog-content {
        .date, .author, .categories, .comments, .tags {
            margin: 10px 0 0 5px;
            &:before {
                margin-right: 0;
                margin-left: 10px;
                margin-top: 7px;
                float: right;
            }
        }
        .button.readmore i {
            margin: 0 5px 0 0;
            &:before {
                content: "\f100";
            }
        }
    }
}
.author-box {
    .avatar {
        float: right;
        img {
            margin-right: 0;
            margin-left: 20px;
        }
    }
}
#comments li .comment-reply-edit .comment-reply-link {
    float: left;
}

i.icon-double-angle-right:before {
    content: "\f100";
}
i.icon-double-angle-left:before {
    content: "\f101";
}


// infinite-scrolling styles
#infscr-loading {
    i {
        margin-right: 0;
        margin-left: 10px;
    }
}



.button.next-post {
    float: left;
    i, i:hover {
        margin-right: 0 !important;
        float: none !important;
        margin-left: 10px;
    }
}


#comments {
    li {
        padding: 10px 0 0 10px;
        img.avatar {
            float: right;
            margin-right: 10px;
            margin-left: 20px;
        }
        .comment-reply-edit {
            float: left;
            .comment-edit {
                margin-left: 15px;
            }
        }
        // depth reply margins
        margin-left: 0;
        margin-right: 120px;
        &.depth-1 {
            margin-left: 0;
            margin-right: 0;
        }
        &.depth-2 {
            margin-right: 30px;
            margin-left: 0;
        }
        &.depth-3 {
            margin-right: 60px;
            margin-left: 0;
        }
        &.depth-4 {
            margin-right: 80px;
            margin-left: 0;
        }
        &.depth-5 {
            margin-right: 100px;
            margin-left: 0;
        }
        &.depth-6 {
            margin-right: 110px;
            margin-left: 0;
        }
        &.depth-7 {
            margin-right: 120px;
            margin-left: 0;
        }
    }
}


.filters {
    span {
        margin-right: 0;
        margin-left: 20px;
    }
    a.button.filter {
        margin-right: 0;
        margin-left: 10px;
    }
}


article.portfolio {
	div {
        a i {
            margin-left: 0;
            margin-right: 5px;
        }
	}
}


body.single-portfolio_item {
    .related-post {
        > div {
            a i {
                margin-left: 0;
                margin-right: 5px;
            }
        }
    }
}


body.page-template-template-sitemap-php {
    .sitemap {
        i {
            float: right;
            margin: 2px 0 0 10px;
        }
    }
}


.shortcode-post {
    a.button i {
        margin-left: 0;
        margin-right: 5px;
    }
}

#main-menu > ul > li > a, #main-menu > ul > li > a:visited,
#top-menu a, #top-menu a:visited {
    font-size: 13px;
}

footer .fc-webicon, footer .fc-webicon:hover {
    margin: 3px 10px 0 0 !important;
}