<?xml version="1.0" encoding="UTF-8"?>
<theme>
    <base>
        <name>Goodstore</name>
        <version>1.0</version>
    </base>

    <plugins>
        <plugin name="jaw_shortcodes" vmax="200" vmin="0">
            <jaw_blog /> 
            <jaw_custom_text /> 
            <jaw_divider /> 
            <jaw_page /> 
            <jaw_image /> 
            <jaw_list /> 
            <jaw_list_item /> 
            <jaw_author /> 
            <jaw_quote />
            <jaw_section /> 
            <jaw_tabs /> 
            <jaw_tabs_titles /> 
            <jaw_tabs_title /> 
            <jaw_tabs_contents /> 
            <jaw_tabs_content /> 
            <jaw_section /> 
            <jaw_message /> 
            <jaw_sidebar /> 
            <jaw_iframe /> 
            <jaw_accordion /> 
            <jaw_accordion_item /> 
            <jaw_typography /> 
            <jaw_h /> 
            <jaw_google_map /> 
            <jaw_google_map_marker /> 
            <jaw_bing_map /> 
     
            <jaw_y_video /> 
            <jaw_countdown /> 
            <jaw_icon /> 
            <jaw_v_video /> 
            <jaw_qrcode /> 
            <jaw_custom_code /> 
            <jaw_button /> 
            <jaw_progressbar /> 
            <jaw_one_progressbar /> 
            <jaw_panel_box /> 
            <jaw_blog_carousel />
            <jaw_blog_carousel_vertical />
            <jaw_woo_carousel />
            <jaw_woo_carousel_vertical />
            <jaw_woo_carousel_small />
            <jaw_woo_carousel_vertical_small />  
            <jaw_social_icons /> 
            <jaw_circle_chart /> 
            <jaw_chart_item /> 
            <jaw_cta /> 
            <jaw_comments /> 
            <jaw_paralax_text /> 
            <jaw_blog_big /> 
            <jaw_portfolio /> 
            <jaw_faq /> 
            <jaw_gallery /> 
            <jaw_slider /> 
            <jaw_testimonial />
            <jaw_googlefonts />
            <jaw_breadcrumbs />
            <jaw_testimonial_carousel />
            <jaw_testimonial_carousel_vertical />
            <jaw_team />
            <jaw_banner />
            <jaw_contact />

            <jaw_title />
            <jaw_html_carousel />
            <jaw_html_carousel_one />
            <jaw_login />
            <jaw_row />
            
            <jaw_paralax_video />
            
            <jaw_grid />
            <jaw_grid_item/>
        </plugin>

        <plugin name="jaw_customposts" vmin="0" vmax="200">
            <jaw_portfolio/>
            <jaw_faq/>
            <jaw_team/>
            <jaw_testimonial/>
        </plugin>
        
        <plugin name="jaw_widgets" vmin="0" vmax="100">  
            <jaw_banner_widget/>
            <jaw_latest_post_widget/>
            <jaw_login_widget/>
            <jaw_rating_widget/>
            <jaw_social_widget/>
            <jaw_tab_post_widget/>
            <jaw_twitter_widget/>
            <jaw_ecommerce_widget/>
        </plugin>
    </plugins>

    
</theme>
