/*----------------------------------------------------
	Font Face for RT-Theme 17
----------------------------------------------------*/

	@font-face {
	    font-family: 'ExoRegular';
	    src: url('web-fonts/Exo-Regular-webfont.eot');
	    src: url('web-fonts/Exo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		    url('web-fonts/Exo-Regular-webfont.woff') format('woff'),
		    url('web-fonts/Exo-Regular-webfont.ttf') format('truetype'),
		    url('web-fonts/Exo-Regular-webfont.svg#ExoRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
	#navigation_bar > ul > li > a,
	.paging li a,
	.banner .featured_text,
	a.banner_button,
	h1,h2,h3,h4,h5,h6,
	.icon-holder.number,
	.tp-caption.rt-theme-bigger-dark-text,
	.tp-caption.r-theme-blue,
	.tp-caption.r-theme-black 
	{
		font-family:"ExoRegular", Arial, Helvetica, sans-serif;
		-webkit-font-smoothing:antialiased;
	}
