@include: common.neon

type:
	label: Type
	type: select
	selected: grid
	default:
		'page': 'Page'
		'comments': 'Comments'
	help: "Select type of Facebook box"

#colorScheme:
#	label: Color Scheme
#	type: select
#	selected: light
#	default:
#		light: Light
#		dark: Dark
#	help: "Select color scheme of Facebook box"

- section(id: fb-page, title: 'Page settings')

href:
	label: Facebook Page URL
	type: url
	default: ''
	help: "URL of Facebook page displayed in box, use valid URL format with http://"

width:
	label: Width
	type: number
	unit: 'px'
	default: '340'
	help: "Width of Facebook box"

height:
	label: Height
	type: number
	unit: 'px'
	default: '500'
	help: "Height of Facebook box"

smallHeader:
	label: Small Header
	type: on-off
	default: off
	help: "Use the small header instead"

adaptContainerWidth:
	label: Adapt container width
	type: on-off
	default: on
	help: "Try to fit inside the container width"

hideCover:
	label: Hide Cover
	type: on-off
	default: off
	help: "Hide cover photo in the header"

showFacepile:
	label: Show Facepile
	type: on-off
	default: on
	help: "Show profile photos when friends like this"

showPosts:
	label: Show Posts
	type: on-off
	default: false
	help: "Show posts from the Page's timeline."

hideCta:
	label: Hide CTA
	type: on-off
	default: false
	help: "Hide the custom call to action button (if available)"

- section(id: fb-comments, title: 'Comments settings')

posts:
	label: Number of Posts
	type: number
	default: 15
	help: "Count of visible posts in Facebook box"

- section(title: 'Advanced Colors', advanced: true)

borderColor:
	label: Border Color
	type: color
	default: ""
	opacity: 100%	
	help: "Color of Border"
	
borderWidth:
	label: Border Width
	type: number
	unit: px	
	default: 4
	help: "Width of border when Border Color is defined"