/* 16. Cart */
/* ------------------------------------------------------ */
.woocommerce-cart {
	.cart-products { background: @bgColor3; }
	.list-product h5 { margin-top: 5px; margin-bottom: 5px; padding: 0;}
	h5 { margin-top: 0; margin-bottom: 0; padding: 20px 0; font-weight: 600; }
	.cart-item { border-bottom: 1px solid @borderColor; padding: 15px 0; 
		.product-position { line-height: 70px; }
		.product-thumbnail { display: none; }
		.product-name { 
			span { display: block; font-size: 12px; font-style: italic; }
			a:not(.product-thumbnail) { color: @textColor; display: block; font-weight: 700; }
		}
	}
	.product-price, .product-quantity, .product-subtotal { text-align: center; }
	// .amount { color: @highlightColor; font-size: 14px; }
	// .product-subtotal .amount, .subtotal-amount .amount { font-weight: 700; }
	.product-subtotal {
		.amount { display: inline-block; vertical-align: middle;
			small, span { display: block; line-height: 1 }
			small { padding-top: 5px; }
		}
	}
	.product-remove { text-align: center; 
		.remove { font-size: 20px; color: @textColor; .lh-transition(color .3s);
			&:hover { color: @highlightColor; }
		}
	}
	.product-quantity .quantity { text-align: center; position: relative; width: 40px; margin: 0 auto;/*-webkit-backface-visibility: hidden;*/
		.minus, .plus { display: none; }
		// input { width: 50px; height: 30px; text-align: center; line-height: 30px; margin-right: 0; }
		input { /*float: left; *//*border: 1px solid lighten(@textColor, 50%);*/ border: none; width: 50px; height: 30px; text-align: center; margin-left: 0px; background: transparent; z-index: 1; position: relative; line-height: 20px; margin-right: 0;/* line-height: 40px;*/ }
			&:after { content: ""; position: absolute; top: 20px; left: 5px; width: 30px; height: 30px; border: 1px solid @borderColor; z-index: 0; }
	}
	.product-coupon {
		.coupon-code { width: 100%; margin-bottom: 10px; overflow: hidden;
			#coupon_code { border: 1px solid @borderColor; background: transparent; .lh-placeholder(lighten(@textColor, 50%)) !important; font-weight: 300; padding: 4px 10px; float: left; display: block; width: 49%; }
		}
		a { display: block; width: 49%; margin-left: 51%; text-transform: uppercase; }
		.product-btn { margin-bottom: 15px;
			a:first-of-type { float: left; margin-left: 0; }
		}
	}
	// .subtotal { text-align: center; }
	// .subtotal-txt { text-align: right; }
	// .subtotal, .subtotal-txt {
		// span { font-weight: 700; }
	// }

	.cart-subtotal { padding: 15px 0; border-bottom: 1px solid @borderColor; }
	.cart-buttons { border-bottom: 1px solid @borderColor; 
		a { text-transform: uppercase; letter-spacing: 1px; font-weight: 600;  }
		a, input { display: block; width: 100%; margin-bottom: 15px;}
		input[type=text] { padding-left: 15px; }
		#coupon_code { height: 33px; font-size: 12px; }
	}
	.products {
		.rating { line-height: 1;
			span { font-size: 12px; 
				span { top: -3px; }
			}
		}
		.price .amount { font-size: 14px; }
	}
	.cross-sells { padding: 30px 15px 30px; margin: 0 -15px; /*background: fade(@bgColor3, 30%);*/
		.h4 { margin-top: 0; margin-bottom: 30px; }
		.products { border: none; padding-bottom: 0;  }
	}
	.cart_totals { margin: 0 -15px; padding: 0 15px;
		.header-margin { border: 1px solid fade(@borderColor, 50%); background: fade(@bgColor3, 50%); margin: 0 -15px; padding: 15px; }
		.row { border: 1px solid @borderColor; border-top: none; }
		.shipping_calculator { border-top: 1px solid fade(@borderColor, 50%); border-bottom: 1px solid fade(@borderColor, 50%); border-right: 1px solid @borderColor; border-left: 1px solid @borderColor; background: fade(@bgColor3, 50%); 
			.row { border: none; }
		}
		// .h4 { margin: 0 -15px; padding: 15px; background: @bgColor3; }
	}
	.cart-collaterals { margin-top: 30px; 
		.cart-buttons { border: 1px solid @borderColor; }
		.cart_totals .h4 { .h4(); margin-top: 0; margin-bottom: 0; }
		.cart-shipping { display: table; width: 100%; padding: 15px; margin-bottom: 0; border-bottom: none; 
			.subtotal-txt, .subtotal { display: table-cell; vertical-align: middle; }
			.subtotal { text-align: right; }
		}
		.cart-separator { display: none; }
		.shipping_calculator {
			h5 { position: relative; 
				&:before, &:after { content: ""; position: absolute; top: 50%; margin-top: -1px; right: 0; width: 12px; height: 2px; background: @textColor; }
				&:after { .lh-transform(rotate(90deg)); .lh-transition(transform .3s);}
				// &:after { content: ""; position: absolute; top: 50%; margin-top: -6px; right: 5px; width: 2px; height: 12px; background: @textColor; .lh-transform(rotate(0deg)); .lh-transition(transform .3s);}
				&.open-calculator {
					&:after { .lh-transform(rotate(0deg));}
				}

			}
			.shipping-calculator-button { display: block; }
		}
	} 

}
#cart > .row { border-left: 1px solid @borderColor; border-right: 1px solid @borderColor;
	&.cart-header { border: 1px solid fade(@borderColor,50%); background: fade(@bgColor3,50%); }
}
/* Shop cart mediaqueries */
/* ------------------------------------------------------ */
@media (min-width: @screen-sm-min) { 
	.woocommerce-cart {
		.cart-item { padding: 15px 0; 
			.product-thumbnail { /*display: block;*/ position: relative; width: 70px; height: 70px;/* float: left;*/
				&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: @bgColor2; .lh-opacity(0); .lh-transition(opacity .3s); .lh-backface-visibility(hidden);}
				&:hover { 
					&:after { opacity: 0.7 }
				}
				img { width: 100%; height: auto; display: block;  }
				figure { width: 100%; height: 100%; display: block; }
			}
			.product-name {
				.product-thumbnail, .name { display: inline-block; vertical-align: middle; }
				// span {  margin-left: 100px; }
				.name { padding-left: 30px; width: calc(e('100% - 100px'));
					a { /*font-size: 16px; */.lh-transition(color .3s); white-space: nowrap; text-overflow: ellipsis; overflow: hidden; /*font-family: @header-font-family;*/ letter-spacing: 1px;
						&:hover { color: @highlightColor; }
					}
				}
			}
		
		}
		.cart-header {
			.product-name { margin-left: 100px; }
		}

		// .amount { font-size: 16px;}
		// .subtotal-amount { font-size: 20px; }
		// .subtotal span, .subtotal-txt { font-size: 18px; }
		
		.product-quantity .quantity { text-align: center; overflow: hidden; .lh-backface-visibility(hidden); position: relative; width: 70px; margin: 0 auto; /*margin-top: 15px;*//* position: absolute; margin-left: -30px; left: 50%; */
			// .minus, .plus { display: block; background: @bgColor2; color: @textColor2; width: 20px; height: 20px; line-height: 20px; padding: 0; float: none; border: none; font-size: 14px; margin: 0; margin-left: 41px;
			// 	&:hover { background: @highlightColor; .lh-transition(background-color .3s)}
			// }
			// .plus { margin-bottom: 1px; }
			input { width: 60px; height: 40px; margin-left: 10px; }
			&:after { top: 0; left: 15px; width: 40px; height: 40px; }
		}
		.product-coupon { overflow: hidden;
			.coupon-code { width: auto; float: left; 
				#coupon_code { width: auto; display: inline-block; margin-right: 15px; max-width: 150px; }
			}
			a { width: auto; margin-left: 0; display: inline-block; }
			.product-btn { float: right; 
				a:first-of-type { margin-right: 15px;}
			}
		}
		.cart-buttons { overflow: hidden; padding: 15px 0; 
			.coupon-code { float: left; 
				a, input { display: block; float: left; }
				#coupon_code  { margin-right: 10px;}
			}
			.product-btn { float: right; 
				a { display: inline-block;}
			}
			a, input { width: auto; margin-bottom: 0; }
		}
	}	
}



/* End of cart */
/* ------------------------------------------------------ */