/* 11. Menu section */
/* ------------------------------------------------------ */
//.menu { 
.menu-content {
	.mix { display: none; 
		.row { background: @bgColor; } 
	}
	.menu-item { .make-xs-column(12); .make-sm-column(12); .make-md-column(6); .make-lg-column(4); text-align: center;
		> a { width: 50%; display: block; position: relative; overflow: hidden;
			&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: @bgColor2; .lh-opacity(0); .lh-transition(opacity .3s); .lh-backface-visibility(hidden);}
			figure, img { width: 100%; height: auto; display: block; }
			.actions { position: absolute; top: 50%; width: 100%; text-align: center; margin-top: -20px; .lh-opacity(0); .lh-transition(opacity .4s .1s); z-index: 0; }
		//i {  color: #fff; width: 40px; height: 40px; font-size: 34px; line-height: 40px; }	
		// i { display: none; }	
	
			img { .lh-transform(translateZ(0), scale(1)); .lh-transition(transform .9s cubic-bezier(0.25, 0.46, 0.45, 0.94)); .lh-transform-origin(center); .lh-opacity(1) !important;}
			.actions { background: #000; .lh-opacity(0); top: 0; bottom: 0;  margin-top: 0; .lh-transform(translate(0,0))!important; .lh-transition(opacity .4s); }
			&:hover {
				.actions { .lh-opacity(.5); .lh-transform(translate(0,0)) !important;}
				img { .lh-transform(scale(1.08)); .lh-opacity(1) !important;}
			}
			// img { width:100%; .lh-opacity(0); .lh-transition(opacity .4s);
			// 	&.lazyloaded { .lh-opacity(1); }
			// }  
			// .actions { position: absolute; top: 50%; width: 100%; text-align: center; margin-top: -20px; .lh-translate(0, -40px); .lh-opacity(0); .lh-transition(transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .4s .1s); z-index: 10; }
			// i {  color: #fff; width: 40px; height: 40px; font-size: 34px; line-height: 40px; }		

			// &:hover { 
			// 	&:after { .lh-opacity(.7); }
			// 	.actions { .lh-translate(0,0); .lh-opacity(1); }			
			// }					
		}
	}
	// .open_post { 
	// 	// i { display: none; }

	// } 
}

.container.above-content { padding-top: 60px !important; }
.container.below-content { margin-bottom: 30px !important; }

.open_overlay {
	i {  color: @textColor2; width: 40px; height: 40px; font-size: 34px; line-height: 40px; position: absolute; top: 50%; left: 50%; margin-top: -20px; margin-left: -20px; .lh-translate(0, -40px); .lh-opacity(0); .lh-transition(transform .5s cubic-bezier(0.165, 0.84, 0.44, 1), opacity .4s .1s); z-index: 1;  }		
	> a {
		&:hover {
			i { .lh-opacity(1); .lh-transform(translate(0,0)) !important;}
		}
	}
}
.product-image {  width: 50%; display: block; position: relative; overflow: hidden;
	&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: @bgColor2; .lh-opacity(0); .lh-transition(opacity .3s); .lh-backface-visibility(hidden);}
	figure, img { width: 100%; height: auto; display: block; }
	img { width: 100%; .lh-opacity(0); .lh-transition(opacity .4s);
		&.lazyloaded { .lh-opacity(1); }
	}
}
.item-description { padding: 0 0 30px; .lh-transition(background-color 0.3s); font-size: 14px;
	// h6 { font-size: 16px; }
	h5 { margin-top: 0; margin-bottom: 10px; }
	a { .lh-transition(color .3s); cursor: pointer; color: @textColor;
		&:hover { color: @highlightColor; }
	}
	p { .lh-transition(color 0.3s); margin: 5px 0 0px; 
		&.item-excerpt { font-weight: normal; }
	}
	.item-price { font-weight: 600; color: @highlightColor}
	.old-price, del { text-decoration: line-through; opacity: 0.5; font-size: 12px;}
	.new-price, strong { color: @highlightColor;}
	&:after { color: @textColor2; .lh-transition(color 0.3s) } 
}
//}
.menu-category { 
	h2 { background: @bgColor2; margin: 0 -15px; padding: 25px 15px; color: @textColor2; letter-spacing: 1px; text-align: center; /*text-transform: capitalize;*/ margin-bottom: 30px; position: relative; z-index: 2; }
		&.hide-section-header { display: none; }
	&.no-bg-section-header { 
		h2 { background: transparent; padding: 15px; color: @textColor; }
	}
}

.no-hover { 
	&:hover { cursor: default; 
		img { .lh-opacity(1); }
	}
}

.category-description { text-align: center; margin: 0 -15px; padding: 30px 0 30px 0; border-bottom: 1px solid @borderColor; 
	p:last-of-type { margin-bottom: 0; }

	@media (max-width: @screen-sm-max) { 
		 padding-top: 30px; 
	}
}

.list-category { left: 0px; right: 0px; margin-left: 0px; .lh-transition(opacity .5s); margin-bottom: 0; display: block; background: @bgColor; position: relative; text-align: center; .clearfix();
	li { display: block; position: relative;  width: 50%; float: left; 
		span, > a { padding: 20px 0; margin: 0 10px; color: @textColor; font-weight: 400; font-size: 14px; position: relative; cursor: pointer; text-transform: capitalize; display: block;
		}
		a { 
			&:active, &:focus, &:hover { color: inherit; }
		}
	}
	> li > a:not(.cart), .shop-list >ul >li:not(.shopping-cart) a, >li >span {
		&:before { position: absolute; top: 40px; left: 50%; color: transparent; content: "\2022"; text-shadow: 0 0 transparent; font-size: 0.7em; .lh-transform(translate(-50%,0)); .lh-transition(transform .3s, color .3s, text-shadow .3s); pointer-events: none; font-weight: 400;}
		&.active, &:hover {
			&:before { color: @textColor; text-shadow: 10px 0 @textColor, -10px 0 @textColor;}
		}
	}
	&.second-hover {
		> li > span, >li > a:not(.cart), .shop-list >ul >li:not(.shopping-cart) a {
			&:before { content: ''; background: @textColor; position: absolute; bottom: 12px; top: auto !important; left: 5%; width: 90%; height: 1px; .lh-opacity(0); .lh-transform(translateX(-100%)); .lh-transition(all 0.3s);}
			&.active, &:hover {
				&:before { .lh-opacity(0.5); .lh-transform(translateX(0)); }
			}			
		}
	}
}
#menu {
	// .category-description { margin-bottom: 30px; }
	.item-description p { /*font-weight: 600; */
		&.desc { font-weight: normal; margin: 0; }
	}
	
}

#menu, #second-menu { 
	.item-description p { font-weight: 400; 
		&:last-of-type { font-weight: 600; }
	}
	.footer-content { padding: 0 !important; }
}

#second-menu {
	.menu-content {
		.menu-item { .make-xs-column(12); .make-sm-column(3); .make-md-column(3); .make-lg-column(2); background: @bgColor;}
	}
	.item-description { width: 100%; 
		.item-price { font-weight: 600; color: @highlightColor}
		.old-price { text-decoration: line-through; opacity: 0.5; font-size: 12px;}
		.new-price { color: @highlightColor;}
		/*p { font-weight: 600; }*/
	}	
}

#third-menu { 
	.items-content { padding-top: 60px; padding-bottom: 0;  
		.menu-item { display: inline-block; width: 100%; float: none; vertical-align: top; text-align: left; padding: 0; 
			.menu-details { float: right; margin-left: (@grid-gutter-width / 2); position: relative; top: -2px; font-weight: 600;}
			.item-description { padding: 0 ; padding: 30px 0 0; position: relative; font-size: 14px;
				h5 { margin-bottom: 5px; }
				p { font-size: 14px; margin: 0 0 5px; /*font-weight: 600; */}
			}
		}
	}
	&.woocommerce { 
		.items-content .item-description { border-top: 1px solid @borderColor;
			h5 { margin-bottom: 15px;}
		}
	}
	.dots { position: absolute; top: 0; left: 15px; right: 15px; z-index: 0; margin: 0; border: 0; height: 2px; background-repeat: repeat-x; display: block; background-image: radial-gradient(circle closest-side, #333 99%,rgba(0,0,0,0) 1%); opacity: 0.3; background-position: bottom; background-size: 6px 2px; }
	.no-bg-section-header { padding-top: 60px; 
		h2 { padding: 0; }
	}
	.category-description { padding: 0; border: none; }
	.menu-content > div:last-child { 
		.items-content { padding-bottom: 60px }
	} 
}
.menu-item {
	.icon-food { width: auto; margin-left: 5px; min-width: 1px;
		img { max-width: 16px; display: inline-block; margin: 0 2px; position: relative; top: -2px; }
	}
	.item-description { padding: 0 ; padding: 0 0 30px; position: relative; font-size: 12px; /*font-family: 'Lato';*/
		h5, .item-title { font-size: 16px; 
			p { display: inline-block; margin: 0; }
		}
		.label, .badge { font-size: 10px; padding: .1em .5em; line-height: normal; position: relative; top: -2px; margin-right: 5px; }
	}
	.food-badges { margin-bottom: 5px; }
}

#menu-list-new {
	.container { padding-top: 0; padding-bottom: 0; }
	
	.menu-content.padding-filters { padding-top: 60px; }
	
	.grid-sizer { width: 50%; }
	.menu-content {
		> div:first-of-type {
			.boxed-section-header { margin-top: 0 !important; 
	
			}
		}
		
		.boxed-section-header { margin-top: 60px; margin-bottom: 60px; 
			&.no-img-header { padding-top: 60px; margin-top: 0; margin-bottom: 0;  }
		}
		> div:last-of-type .container:last-of-type { padding-bottom: 60px; }
		.menu-item { display: inline-block; width: 50%; float: none; vertical-align: top; text-align: left; padding: 0 15px; 
			&:last-of-type .item-description { padding: 0; }
		}
	}
	.menu-category h2 { text-transform: uppercase; }
	// .menu-item { display: inline-block; width: 50%; float: none; vertical-align: top; text-align: left; padding: 0 20px; 
	// 	&:last-of-type .item-description { padding: 0; }
	// 	.item-description { padding: 0 ; padding: 0 0 30px; position: relative; font-size: 12px; /*font-family: 'Lato';*/
	// 		h5, .item-title { font-size: 16px; }
	// 		.label { font-size: 10px; padding: .1em .5em; line-height: normal; position: relative; top: -2px; margin-right: 5px; }
	// 	}
	// }

	.entry-title { position: relative; margin-top: 0; margin-bottom: 0; padding-right: 95px; text-align: left; z-index: 5; 
		span, a { display: inline-block; }
		.item-title { position: relative; z-index: 1;}
	}
	.dots { position: absolute; bottom: 4px; right: 0; z-index: 0; margin: 0; border: 0; height: 2px; background-repeat: repeat-x; display: block; background-image: radial-gradient(circle closest-side, #333 99%,rgba(0,0,0,0) 1%); opacity: 0.3; background-position: bottom; background-size: 6px 2px; }

	.category-description { background: transparent; padding: 0 15px !important; border: none; margin: 0;
		p { margin: 0; font-size: 14px; letter-spacing: 0; color: fade(@textColor, 50%); font-weight: normal; }
	}
	.menu-details { position: absolute; bottom: 0; right: 0;
		p { margin: 0; font-size: 16px; }
	}

	// &.woocommerce {
	// 	.menu-content .shop-list-image { margin: 0 15px 15px 15px; }
	// 	.rating>span span { top: -3px; }
	// }
}
.menu-grid-item { width: 50%; padding: 45px 15px 0 15px;
	&:nth-child(2), &:nth-child(3) { padding: 0 15px; }
	.menu-item { padding: 0; width: 100% !important; float: none; }
	h3 { margin-top: 0; margin-bottom: 45px; text-align: center; }
}
.boxed-section-header {
	.menu-category { padding: 60px 0;
		h2 { padding: 0; margin: 0; background: transparent; }
		.category-description { padding: 0 !important; border: none; margin: 0; position: relative; z-index: 2; 
			p { margin-bottom: 0; color: @textColor2 !important; font-size: 16px; }
		}
		
	}
	&.no-img-header { padding: 0; 
		.menu-category {
			h2 { color: @textColor !important; }
			.category-description {
				p { color: fade(@textColor, 50%) !important; }
			}
		}
	
	}
	&.container { padding-top: 0 !important; padding-bottom: 0 !important; }
}

.menu-list { padding-top: 30px; 
	.menu-content { margin-top: 30px; }
	.grid-sizer { width: 50%; }
	.menu-items { width: 45%; background: @bgColor3 ; margin-bottom: 15px;  }
	// .menu .item-description();
	.menu-item { margin: 15px 0; padding: 0 15px; }
	.menu-category { padding: 25px 15px; background: @bgColor2; color: @textColor; 
		h2 { margin: 0; }
	}
}

/* Menu mediaqueries */
/* ------------------------------------------------------ */
@media (max-width: @screen-xs-max) {
	#menu-list-new {
		.grid-item, .grid-sizer, .menu-item { width: 100% !important; }
		.grid-item .menu-item { padding: 0 !important; }
		.grid-item { padding: 0px 20px 0 20px;
			h3 { margin-top: 30px; margin-bottom: 30px; text-align: center; }
			&:nth-child(2) { 
				h3 { margin-top: 0 !important;}
			}
		}
		.boxed-section-header .menu-category { padding: 30px 0; }
		// .container { padding-top: 45px; padding-bottom: 45px; }
	}
}
@media (max-width: @screen-sm-max) {
	#menu .row .menu-item:first-of-type { padding-top: 30px; }
	.menu-content {
		.menu-item {/* margin-bottom: 30px;*/ height: auto !important; /*margin-top: -10px;*/ 
			> a, .product-image { width: 20%; float: left;}
		}
		.product-image, .food-badges span { margin-top: 10px;}
	}
	.item-description { text-align: left; padding-bottom: 0;  }

	#menu { 
		.item-description { width: 80%; float: left; text-align: left; padding-left: (@grid-gutter-width / 2); padding-bottom: 0;  }
	}
	#third-menu .dots { bottom: 0; top: auto; left: 0; right: 0; }
	#third-menu .menu-category h2, #third-menu .category-description, #menu .menu-category h2 { margin-bottom: 0; }
	#third-menu .items-content { padding-top: 30px; padding-bottom: 30px; }
	#third-menu .no-bg-section-header { padding-top: 0; }
	#third-menu .menu-content >div:first-of-type { margin-top: 30px; }
	#second-menu .menu-content {
		.menu-item { margin-bottom: 0px; margin-top: 0px; }
	}
	#menu, #second-menu { 
		.footer-content { padding: 0 15px !important; }
	}
	#menu-list-new .backstrech img { opacity: 1 !important; }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	#second-menu { 
		.menu-content .menu-item { width: 100%; text-align:  center; float: none;
			.item-description { text-align: center; }
		}
	}
}


@media (min-width: @screen-md-min) { 
	.menu {
		h2 { margin-bottom: 0; }
		.item-description {
			p { font-size: 14px;}
		}
	}
	#menu { 
		.item-description { display: block; position: absolute; left: 0; width: 50%; height: 100%;  padding: 0 15px;
			>div { display: table; height: 100%; width: 100%;
				>div { display: table-cell; vertical-align: middle; text-align: center;  }
			}
			&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; top: 50%; right: -30px; left: auto; border-right: none; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: 15px solid @bgColor; margin-top: -15px; z-index: 3;   }
		}
	}
	#second-menu {
		.menu-content {
			.menu-item { position: relative; display: block; padding: 0; 
				.menu-item-wrapper { position: absolute; display: table; width: 100%; left:0; padding: 0 15px; top: 0; height: 100%;}
			}
		}
		.item-description { padding: 0; width: 100%; display: table-cell; vertical-align: middle; text-align: center; }	
	}
	.list-category { text-align: center; 
		li { display: inline-block; float: none; width: auto; 
			span { padding: 20px 0; margin: 0 10px; 
				&:before { top: 40px;}
			}
		}
	}
	#third-menu { 
		.items-content { /*padding: 60px 0;  */
		.menu-item { display: inline-block; width: 50%; 
			&:nth-child(1), &:nth-child(2) { 
				.item-description { border-top-color: transparent;}
				.dots { display: none; }
			}
			.item-description { margin: 0 15px 15px;}
		}}
	}
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  
	#menu { 
		.two_columns .menu-item { width: 50% !important; }
		.menu-content {
			.menu-item { padding: 0;
				> a, .product-image { float: right}
				&:nth-child(4n-3),
				&:nth-child(4n-2) { 
					> a, .product-image { float: left;}
					.item-description { right: 0; left: auto;
						&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; left: -30px; top: 50%; margin-top: -15px; border-right: 15px solid @bgColor; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: none;  }
					}
				}
			}
		}
	}
	#second-menu .menu-content .menu-item { 
		&:nth-child(8n+2), &:nth-child(8n+4), &:nth-child(8n+5), &:nth-child(8n+7) { background: @bgColor3; }
	}
}

@media (min-width: @screen-lg-min) { 
	#menu { 
		.two_columns .menu-item { padding: 0; width: 50% !important; 
			> a, .product-image { float: right}
			&:nth-child(4n-3),
			&:nth-child(4n-2) { 
				> a, .product-image { float: left;}
				.item-description { right: 0; left: auto;
					&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; left: -30px; top: 50%; margin-top: -15px; border-right: 15px solid @bgColor; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: none;  }
				}
			}
		}
		.three_columns .menu-item { padding: 0;
			> a, .product-image { float: right}
			&:nth-child(6n-5),
			&:nth-child(6n-4),
			&:nth-child(6n-3) { 
				> a, .product-image { float: left;}
				.item-description { right: 0; left: auto;
					&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; left: -30px; top: 50%; margin-top: -15px; border-right: 15px solid @bgColor; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: none;  }
				}
			}
		}
	}
	#second-menu .menu-content .menu-item { 
		&:nth-child(12n+2), &:nth-child(12n+4), &:nth-child(12n+6), &:nth-child(12n+7), &:nth-child(12n+9), &:nth-child(12n+11) { background: @bgColor3; }
	}
}

/* End of menu section */
/* ------------------------------------------------------ */