/* 14. Product section */
/* ------------------------------------------------------ */
.single-product {
	h3 { text-transform: capitalize; letter-spacing: 1px; position: relative;}
	&.menu .menu-content .menu-item {  width: 100%; 
		>div, > a { width: 100%; }
		
	}
	.product-photos { }

	.purchase { margin-bottom: 15px; overflow: hidden;
		.product-btn {  
			.select-btn { height: 40px; position: relative; cursor: pointer; z-index: 10; display: inline-block;  padding-right: 15px; margin-bottom: 0; }
			select { border: 1px solid @textColor; background: transparent; border-radius: 0; padding: 6px 16px; position: relative; .lh-appearance(none); margin-bottom: 15px; position: relative; z-index: 9; cursor: pointer; width: 100%;
				&:focus { outline: none;}
			}
			select::-ms-expand {
			    display: none;
			} 
			> div { margin-bottom: 15px;}
			.shop-button { margin-top: 0; float: left;} 
		}
		
		.quantity { width: auto; display: inline-block; position: relative;
			input { width: 33px; height: 33px; text-align: center; border: 1px solid @textColor; background: transparent; .lh-appearance(none); color: @textColor; padding: 0;}
			.plus, .minus { background: @bgColor2; color: @textColor2; position: relative; z-index: 3;
				&:hover, &:focus { background: @highlightColor; .lh-transition(background-color .3s, border-color .3s); border: 1px solid @highlightColor !important; }
			}
			&:after { content: ""; position: absolute; width: 33px; height: 33px; left: 36px; border: 1px solid @textColor; z-index: 0; top: 0; }
			.qty { margin-right: -15px; width: 48px; z-index: 1; position: relative; border: none; }
		}
	}
	.product-description { .make-xs-column(12); .make-sm-column(12); .make-md-column(6); .make-lg-column(6);  padding-top: 30px; padding-bottom: 30px; background: @bgColor3;
		.reviews-form #commentform .form-control { border-color: fade(@textColor, 30%) !important; background: @bgColor; }
		p { font-size: 16px;}
		.description { margin-bottom: 45px;}

	}
	
	.reviews { padding-bottom: 30px; overflow: hidden; position: relative; 
		.reviews-author > span { font-weight: 600; margin-bottom: 0; display: block; font-size: 16px; }
		.controls-reviews { position: absolute; top: 0; right: 0; }
	}
	.reviews-form { margin-top: 15px; position: relative; 
		.rating { position: absolute; top: 0; right: 0; }
	}
	.rating-select {
		select { display: none; }
		> span {
			span { .lh-transition(width .3s); }
		}
	}

	.message-success { right: 0; max-width: 185px;}
}

.single-product, .single-product2 { 
	.product {
		.item-excerpt { padding: 20px 0 5px; margin-bottom: 0; font-size: 16px;}
		.item-price { /*padding-bottom: 15px; */
			span { font-size: 16px; }
		}
		.social-share { padding-top: 20px; }
		.item-badge { position: absolute; top: 30px; left: 30px; line-height: 1;
			p { margin: 0; }
			span { margin-right: 5px; }
			.label, .badge { font-size: 12px; }
		}
		.product-category { 
			span { color: lighten(@textColor, 50%); font-size: 12px; letter-spacing: 1px; }
			a { color: @textColor; font-weight: 600; letter-spacing: 1px; font-size: 12px; /*font-style: italic;*/ }
		} 
		.icon-food { /*position: absolute;*/ top: 0; padding-left: 5px; 
			img { width: 20px; position: relative; top: -3px; }
		}
	}
	h6 { font-size: 18px; margin-top: 15px;  }
	h3 { margin-top: 0; margin-bottom: 0; }
	.product-description {
		h3 { margin-bottom: 30px; } 
	}
	// .swiper-slide { .lh-backface-visibility(hidden); }
}

.single-product2 {
	.dish-desc { padding-top: 30px; padding-bottom: 30px; text-align: center;}
	.product-description { background: @bgColor3; padding-top: 30px; padding-bottom: 30px; }
	.swiper-slide { .lh-backface-visibility(hidden); }
}


.berg-product-carousel-wrapper { width: 100% !important; position: relative; margin: 0 !important; }
.gallery-top {
	.swiper-next { right: 30px; }
	.swiper-prev { left: 30px; }
	.swiper-next, .swiper-prev { position: absolute; width: 50px; height: 50px; top: 50%; margin-top: -25px; z-index: 11; background: rgba(0, 0, 0, 0.2); border-radius: 50%; text-align: center; .lh-opacity(0); .lh-transition(opacity .3s); cursor: pointer !important;
		i { height: 50px; line-height: 50px; color: @textColor2; font-size: 30px; .lh-opacity(0); .lh-transition(opacity .3s);
			&:before { margin: 0 !important; }
		}
		
	}
	.swiper-slide img { .lh-backface-visibility(hidden); }
	&:hover {
		.swiper-next, .swiper-prev { .lh-opacity(1);
			i { .lh-opacity(0.5);}
			&:hover { 
				i { .lh-opacity(1); }
			}
			
		}
	}
}
.gallery-thumbs { height: 20%; box-sizing: border-box; padding: 0; 
	.swiper-next { right: 15px; }
	.swiper-prev { left: 15px; }
	.swiper-next, .swiper-prev { position: absolute; width: 30px; height: 30px; top: 50%; margin-top: -15px; z-index: 11; background: rgba(0, 0, 0, 0.4); text-align: center; .lh-opacity(0); .lh-transition(opacity .3s); cursor: pointer !important; border-radius: 50%; 
		i { height: 30px; line-height: 30px; color: @textColor2; font-size: 16px; .lh-opacity(0); .lh-transition(opacity .3s);
			&:before { margin: 0 !important; }
		}
		
	}
	&:hover {
		.swiper-next, .swiper-prev { .lh-opacity(1);
			i { .lh-opacity(0.5);}
			&:hover { 
				i { .lh-opacity(1); }
			}
			
		}
	}
}
.gallery-thumbs .swiper-slide { width: 25%; height: 100%; .lh-opacity(.6); position: relative;
	figure, img { width: 100%; }
	// &:after { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: #000; z-index: 1; .lh-backface-visibility(hidden); .lh-opacity(.5); .lh-transition(opacity .2s); }
}
.gallery-thumbs .swiper-slide-active { .lh-opacity(1); }
.berg-product-carousel { width: 100% !important; }
.product-gallery { 
	figure, img { width: 100%; }
	.product { 
		strong { font-size: 16px !important;}
	}
} 

.product-photos { 
	.owl-item  .item:after { .lh-opacity(.5) !important; .lh-transition(opacity .3s);}
	.active-item .item:after {  .lh-opacity(0) !important; .lh-transition(opacity .3s);}
}
.menu .product-category a { color: @textColor; .lh-transition(color .3s); 
	&:hover { color: @highlightColor; }
	&:after { content: "\2022"; font-size: 10px; position: relative; color: @textColor; opacity: .5; padding-left: 3px; font-style: normal; }
	&:last-child {
		&:after { content: ""; display: none; }
	}
}


/* Product mediaqueries */
/* ------------------------------------------------------ */
@media (min-width: @screen-md-min) { 
	.single-product2 {
		h6 { font-size: 20px; margin-bottom: 5px; }
	}
	.single-product {
		&.menu .menu-content .menu-item {  overflow: hidden; padding: 0;
			h6 { font-size: 20px;}
			.item-description { display: block; position: absolute; right: 0; width: 50%; height: 100%; padding: 0; left: auto; top: 0; 
				>div { display: table; height: 100%; width: 100%;
					>div { display: table-cell; vertical-align: middle; text-align: center;}
				}
				&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; top: 50%; left: -30px; right: auto; border-right: 15px solid; border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: none; margin-top: -15px; z-index: 3; }
			}
			#product-carousel .item, #product-carousel2 .item { width: 100%; float: left;
				img { width: 100%; height: auto;}

			}
		}
		.product-photos { width: 50%; float: left; padding: 0; display: block;
			.item { float: left; display: block; position: relative;
				&:after { content: ''; display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: @bgColor2; .lh-opacity(0); .lh-transition(opacity .3s); .lh-backface-visibility(hidden);}
				figure, img { display: block; width: 100%;}
				figure { height: 100%;}
				img { height: auto;}
				
			}
			.actions { position: absolute; top: 50%; width: 100%; text-align: center; margin-top: -20px; .lh-translate(0, -50px); .lh-opacity(0); .lh-transition(transform .3s, opacity .3s .1s); z-index: 10;}
			// i {  color: #fff; width: 40px; height: 40px; font-size: 34px; line-height: 40px; }
		}

		.purchase {
			.product-btn { overflow: hidden;
				> div { float: left; margin-right: 15px;}
				.shop-button { margin: 0; }
				.select-btn { width: auto;}
			}
		}

		.product-description { float: right; position: relative;
			&:after { content: ''; display: block; height: 30px; width: 30px; position: absolute; top: -30px; left: 50%; margin-left: -15px; border-right: 15px solid transparent; border-top: none; border-bottom: 15px solid @borderColor; border-left: 15px solid transparent; z-index: 3;   }
			&:before { content: ''; background: @bgColor3; position: absolute; height: 3000px; width: 100%; top: 100%; left: 0; }
		}
	}
	.reviews {
		.reviews-author { float: left; }
		.reviews-text { margin-left: 180px; }
	}
	.berg-product-carousel-wrapper { width: 50% !important; }
	//.berg-product-carousel { width: 50% !important; }
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	.single-product.menu {
		.menu-content .menu-item .item-description { padding: 30px; text-align: center;}
		.product-description { padding: 15px}
	}
	.product-gallery.menu-item { margin-bottom: 0 !important; }
}

@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	.single-product.menu {
		.menu-content .menu-item .item-description { padding: 0 30px;}
		.product-description { padding: 30px; }
	}
}
@media (max-width: @screen-xs-max) { 
	.single-product .menu-content .menu-item .item-description { padding-top: 30px; text-align: center; } 
	.gallery-top .swiper-prev, .gallery-top .swiper-next { width: 30px; height: 30px; margin-top: -15px; 
		i { height: 30px; line-height: 30px; font-size: 16px; }
	}
	.gallery-top .swiper-prev { left: 15px; }
	.gallery-top .swiper-next { right: 15px; }
	.single-product .purchase .quantity {
		.qty { margin-right: 5px; width: 50px; }
		&:after { width: 50px; left: 0; top: 1px;  }
	}
}
@media (max-width: @screen-sm-max) { 
	.single-product {
		.gallery-thumbs { display: none; }
		.product-description { margin-bottom: 0; padding: 30px 15px 15px; }
		.related h3 { position: relative; z-index: -1; }
	}
	.gallery-top .swiper-prev, .gallery-top .swiper-next { .lh-opacity(1);
		i { .lh-opacity(1) !important; }
	}
	.single-product .product .item-badge, .single-product2 .product .item-badge { position: relative !important; top: auto !important; left: auto !important; margin-bottom: 15px; }
}
@media (min-width: @screen-lg-min) { 
	.single-product.menu {
		.menu-content .menu-item .item-description { padding: 0 120px;}
		.product-description { padding: 60px 90px;}
	}
}
/* End of product section */
/* ------------------------------------------------------ */