@include: common.neon

showLine:
	label: Display Separator
	type: on-off
	default: on
	help: "Enable or disable separator"

- section(title: 'Advanced Color and Settings', advanced: true)

labelBorder:
	label: Border Color
	type: color
	default: ""
	help: "Border color of label"

countBck:
	label: Counter Color
	type: color
	default: ""
	help: "Color of number background in counter"

countNum:
	label: Counter Number
	type: color
	default: ""
	help: "Color of number in counter"

countTxt:
	label: Counter Text
	type: color
	default: ""
	help: "Color of text in counter"

widthCount:
	label: Counter Width
	type: number
	unit: px
	default: ''
	help: "Custom minimal width of counter"

widthNum:
	label: Number Width
	type: number
	unit: px
	default: ''
	help: "Custom minimal width of number in counter"

