@include: common.neon

monday:
	label: Monday
	type: text
	basic: true

tuesday:
	label: Tuesday
	type: text
	basic: true

wednesday:
	label: Wednesday
	type: text
	basic: true

thursday:
	label: Thursday
	type: text
	basic: true

friday:
	label: Friday
	type: text
	basic: true

saturday:
	label: Saturday
	type: text
	basic: true

sunday:
	label: Sunday
	type: text
	basic: true

showFreeDay:
	label: Empty Days
	type: on-off
	default: on
	help: "Display or hide empty days in table"
	basic: true

note:
	label: Note
	type: textarea
	default: ''
	help: "Text visible as note below table"
	basic: true
