@include: common.neon

type:
	label: Type
	type: select
	default:
		accordion: Accordion
		toggle: Toggle
		htabs: Horizontal Tabs
		vtabs: Vertical Tabs
	help: "Select type of toggles"

category:
	label: Category
	type: categories
	taxonomy: toggles
	default: 0
	help: "Select category displayed on page"

orderby:
	label: Order By
	type: select
	selected: menu_order
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		title: Alphabetically
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

- section(title: 'Advanced Colors and Setting', advanced: true)

toggleActiveColor:
	label: Active Toggle Color
	type: color
	default: ""
	help: "Background color of active toggle"
	
toggleBackgroundColor:
	label: Toggle Color
	type: color
	opacity: 100%
	default: ""
	help: "Background color of inactive toggle"

toggleIconColor:
	label: Toggle Icon Color
	type: color
	opacity: 100%
	default: ""
	help: "Color of toggle icon"

toggleContentColor:
	label: Toggle Content Color
	type: color
	opacity: 100%
	default: ""
	help: "Background color of toggle content"

togleWidthVertical:
	label: Vertical Togle Width
	type: range
	unit: %
	min: 10
	max: 50
	step: 1
	default: 30
	help: "Width of vertical toggles"

togleWidthHorizontal:
	label: Horizontal Togle Width
	type: range
	unit: px
	min: 80
	max: 300
	step: 10
	default: 100
	help: "Min-width of horizontal toggles"