@import url(http://fonts.googleapis.com/css?family=Lato:900|Bitter);

body {
  font-family: 'Bitter', serif;
  font-size: 1em;
  color: #4c4c4c;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: #4c4c4c;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

h1, h2, h3 {
  text-align: center;
}

h2, h3, h4 {
  letter-spacing: .2em;
}

h1 {
  color: #4c4c4c;
  font-size: 3.125em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.500em;
}

h3 {
  font-size: 1.063em;
}

h4, h5, h6 {
  font-size: 0.875em
}

.post-content {
  h1, h2, h3,
  h4, h5, h6 {
    text-align: left;
  }
  * {
    + h1, + h2, + h3,
    + h4, + h5, + h6 {
      margin-top: 17px;
    }
  }
}

p {
  font-size: 0.875em;
  color: #4c4c4c;
  line-height: 1.714em;
  &.black {
    color: #4c4c4c;
  }
  &.white {
    color: #fff;
  }
}
a {
  color: @motive;
  text-decoration: none;
  font-size: 1em;
  &:hover {
    color: #4c4c4c;
    text-decoration: none;
  }
}

#MainNav {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  text-transform: uppercase;
  a {
    color: #808080;
    &:hover {
      color: #808080;
    }
  }
  .nav {
    font-weight: bold;
  }
}

section {
  &.section-emphasis {
    h3 {
      color: @light-motive;
    }
  }
}

.work {
  .full-view {
    p {
      font-size: 0.875em;
      color: #262626;
    }
  }
}

.icon-box {
  font-family: 'Bitter', serif;
  h4 {
    color: #4c4c4c;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    &:before {
      font-family: 'FontAwesome';
    }
  }
}

.person-box {
  h5 {
    font-family: 'Bitter', serif;
    font-size: 0.875em;
    font-weight: normal;
    text-transform: none;
  }
  a {
    font-size: 0.875em;
  }
}

p.huge {
    font-size: 1.250em;
    font-weight: normal;
    line-height: 1.8em;
}

.blog-big-list {
  .latest-posts {
    .date {
      font-family: 'Lato', sans-serif;
      font-size: 0.875em;
      color: #4c4c4c;
      text-transform: uppercase;
      line-height: 1.5em;
      letter-spacing: .2em;
    }
  }
}

.text-center {
  text-align: center;
}

/* == WIDGETS == */
.latest-posts {
  .title {
    color: #4c4c4c;
    &:hover {
      color: #4c4c4c;
    }
  }
  a.title {
    color: @motive;
    &:hover {
      color: #4c4c4c;
    }
  }
  .date {
    color: #4c4c4c;
  }
}
.latest-posts-widget {
  .date {
    font-size: 0.750em;
  }
  .title {
    line-height: 1.333em;
  }
}

.widget {
  a {
    font-size: 0.813em;
  }
}

#Contact {
  .social {
  }
}

.tweets {
  h3 {
    font-size: 2.5em;
  }
  .tweet {
    .tweet_text {
      font-size: 0.813em;
      line-height: 24px;
      a {
        font-size: 1em;
        &:hover {
        }
      }
    }
    .tweet_time {
      font-size: 0.750em;
    }
  }
}

.parallax .tweets {
  h3 {
    color: #fff;
  }
  .tweet {
    color: #fff;
    .tweet_text {
      color: #fff;
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    .tweet_time {
      color: @light-motive;
    }
  }
}

footer {
  > h4 {
    color: #808080;
  }
  form {
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="text"],
    input[type="url"],
    input[type="week"] {
      color: #808080;
    }
    textarea {
      color: #808080;
    }
  }
}

form {
  margin: 0;
  ::-webkit-input-placeholder,
  ::-moz-placeholder,
  :-moz-placeholder,
  :-ms-input-placeholder,
  input[type]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #808080;
  }
  input[type],
  textarea {
    font-family: 'Bitter', serif;
    font-size: 0.875em;
    line-height: 1.25em;
  }
  input[type="submit"],
  input[type="button"],
  label {
    font-family: 'Lato', sans-serif;
    letter-spacing: .2em;
    color: #fff;
    font-size: 0.813em;
    text-transform: uppercase;
    font-weight: bold;
  }
  label.error {
    font-family: 'Bitter', serif;
    line-height: 1.5em;
    letter-spacing: 0;
    text-transform: none;
    font-weight: normal;
  }
}

/* =========================
 * ========= BLOG ==========
 * ========================= */

#BlogHeader {
  h1 {
    font-size: 1.500em;
    letter-spacing: .2em;
    line-height: 1em;
    text-transform: uppercase;
  }
}
#BlogBody {
  color: #4c4c4c;
  h2 {
    text-align: left;
  }
  p {
    color: #4c4c4c;
  }
  a {
    &:hover {
      color: inherit;
    }
    &.btn:hover {
      color: #fff;
    }
  }
  article.post {
    .post-meta {
      font-size: 0.875em;
      .date {
        font-family: 'Lato', sans-serif;
        color: #4c4c4c;
        text-transform: uppercase;
        line-height: 1.5em;
        font-weight: bold;
        letter-spacing: .2em;
      }
    }
  }
  nav.pager {
    letter-spacing: .2em;
    ul,
    .view-all-posts {
      font-size: 0.875em;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
    }
  }
  #comments,
  .comments {
    .comment {
      .comment-meta {
        .author {
        }
        .date {
          font-size: 0.750em;
          color: #808080;
        }
      }
    }
    .comment-reply-link {
      font-size: 0.875em;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}
.post-title {
  text-transform: none;
  font-family: 'Bitter', serif;
  font-size: 1.813em;
  line-height: 1.5em;
  color: #4c4c4c;
  font-weight: normal;
  letter-spacing: 0;
}
a.post-title {
  color: @motive;
  &:hover {
    color: #4c4c4c;
  }
}

blockquote {
  font-size: 1em;
  line-height: 1.625em;
  .author {
    font-size: 0.813em;
    color: #808080;
  }
}

/* ========= 404 ========== */
#_404 {
  h1 {
    color: #4c4c4c;
    font-size: 7.500em;
    letter-spacing: .2em;
    .message-1 {
      font-size: 0.192em;
      letter-spacing: .3em;
      line-height: 1.2em;
    }
    .message-2 {
      font-size: 0.117em;
      letter-spacing: .3em;
      line-height: 1.2em;
    }
  }
  .message-3 {
    color: #4c4c4c;
    text-align: center;
  }
}

/* =========================
 * ====== COMPONENTS ======= */

.btn {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  line-height: 3.846em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
  &:hover {
    color: #fff;
  }
  &.btn-large {
    font-size: 1em;
    line-height: 4.5em;
  }
  &.btn-small {
    font-size: 0.75em;
    line-height: 3.417em;
  }
  &.btn-mini {
    font-size: 0.625em;
    line-height: 3.5em;
    padding: 0 11px 0 13px;
  }
  &.btn-inactive {
    color: #b2b2b2;
    &:hover {
      color: #b2b2b2 !important;
    }
  }
}


.button-box {
  p {
    font-size: 1em;
  }
}


.dropcap {
  &:first-letter {
    font-size: 5.5em;
    line-height: 1em;
  }
}


em {
  &.strong,
  &.stronger {
    color: #fff;
  }
}


ul {
  &.list-ok,
  &.list-chevron,
  &.list-arrow,
  &.list-star,
  &.list-dot {
    font-size: 0.875em;
    line-height: 1.714em;
  }
}


.table-special {
  font-size: 0.875em;
  line-height: 1.714em;
  thead {
    font-size: 0.929em;
    font-family: 'Lato', sans-serif;
    color: #4c4c4c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}


.bar-info {
  font-size: 0.875em;
}

.price-box {
  > span {
    &.price {
      font-size: 2.286em;
      line-height: 1.3em;
      sup {
        font-size: 0.375em;
      }
      sub {
        font-size: 0.375em;
      }
    }
    font-size: 0.875em;
  }
}


.tabs {
  .nav {
    li {
      a {
        font-size: 0.875em;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .2em;
      }
    }
  }
  .tab-content {
  }
}


.accordion {
  .accordion-group {
    .accordion-heading a {
      font-size: 0.875em;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .2em;
      &:before {
        font-family: "FontAwesome";
      }
      &.active {
        color: #4c4c4c;
      }
    }
  }
}


blockquote.testimonial {
  font-size: 0.875em;
  line-height: 1.766em;
  .author {
    font-size: 0.929em;
    .name {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .2em;
    }
  }
}