.woocommerce ul.products.woocolumns-1 li.product,
.woocommerce-page ul.products.woocolumns-1 li.product,
.woocommerce .related ul.products.woocolumns-1 li.product,
.woocommerce-page .related ul.products.woocolumns-1 li.product,
.woocommerce .upsells ul.products.woocolumns-1 li.product,
.woocommerce-page .upsells ul.products.woocolumns-1 li.product{
  width: 100%;
}

.woocommerce ul.products.woocolumns-2 li.product,
.woocommerce-page ul.products.woocolumns-2 li.product,
.woocommerce .related ul.products.woocolumns-2 li.product,
.woocommerce-page .related ul.products.woocolumns-2 li.product,
.woocommerce .upsells ul.products.woocolumns-2 li.product,
.woocommerce-page .upsells ul.products.woocolumns-2 li.product{
  width: 50%;
}
.woocommerce ul.products.woocolumns-3 li.product,
.woocommerce-page ul.products.woocolumns-3 li.product,
.woocommerce .related ul.products.woocolumns-3 li.product,
.woocommerce-page .related ul.products.woocolumns-3 li.product,
.woocommerce .upsells ul.products.woocolumns-3 li.product,
.woocommerce-page .upsells ul.products.woocolumns-3 li.product{
  width: 33.33%;
}
.woocommerce ul.products.woocolumns-4 li.product,
.woocommerce-page ul.products.woocolumns-4 li.product,
.woocommerce .related ul.products.woocolumns-4 li.product,
.woocommerce-page .related ul.products.woocolumns-4 li.product,
.woocommerce .upsells ul.products.woocolumns-4 li.product,
.woocommerce-page .upsells ul.products.woocolumns-4 li.product{
  width: 25%;
}
.woocommerce ul.products.woocolumns-5 li.product,
.woocommerce-page ul.products.woocolumns-5 li.product,
.woocommerce .related ul.products.woocolumns-5 li.product,
.woocommerce-page .related ul.products.woocolumns-5 li.product,
.woocommerce .upsells ul.products.woocolumns-5 li.product,
.woocommerce-page .upsells ul.products.woocolumns-5 li.product{
  width: 20%;
}
.woocommerce ul.products.woocolumns-6 li.product,
.woocommerce-page ul.products.woocolumns-6 li.product,
.woocommerce .related ul.products.woocolumns-6 li.product,
.woocommerce-page .related ul.products.woocolumns-6 li.product,
.woocommerce .upsells ul.products.woocolumns-6 li.product,
.woocommerce-page .upsells ul.products.woocolumns-6 li.product{
  width: 16.66%;
}
.woocommerce ul.products.woocolumns-1 li.product,
.woocommerce-page ul.products.woocolumns-1 li.product,
.woocommerce .related ul.products.woocolumns-1 li.product,
.woocommerce-page .related ul.products.woocolumns-1 li.product,
.woocommerce .upsells ul.products.woocolumns-1 li.product,
.woocommerce-page .upsells ul.products.woocolumns-1 li.product{
  width: 100%;
}

.woocommerce ul.products.woocolumns-2 li.product,
.woocommerce-page ul.products.woocolumns-2 li.product,
.woocommerce .related ul.products.woocolumns-2 li.product,
.woocommerce-page .related ul.products.woocolumns-2 li.product,
.woocommerce .upsells ul.products.woocolumns-2 li.product,
.woocommerce-page .upsells ul.products.woocolumns-2 li.product{
  width: 50%;
}
.woocommerce ul.products.woocolumns-3 li.product,
.woocommerce-page ul.products.woocolumns-3 li.product,
.woocommerce .related ul.products.woocolumns-3 li.product,
.woocommerce-page .related ul.products.woocolumns-3 li.product,
.woocommerce .upsells ul.products.woocolumns-3 li.product,
.woocommerce-page .upsells ul.products.woocolumns-3 li.product{
  width: 33.33%;
}
.woocommerce ul.products.woocolumns-4 li.product,
.woocommerce-page ul.products.woocolumns-4 li.product,
.woocommerce .related ul.products.woocolumns-4 li.product,
.woocommerce-page .related ul.products.woocolumns-4 li.product,
.woocommerce .upsells ul.products.woocolumns-4 li.product,
.woocommerce-page .upsells ul.products.woocolumns-4 li.product{
  width: 25%;
}
.woocommerce ul.products.woocolumns-5 li.product,
.woocommerce-page ul.products.woocolumns-5 li.product,
.woocommerce .related ul.products.woocolumns-5 li.product,
.woocommerce-page .related ul.products.woocolumns-5 li.product,
.woocommerce .upsells ul.products.woocolumns-5 li.product,
.woocommerce-page .upsells ul.products.woocolumns-5 li.product{
  width: 20%;
}
.woocommerce ul.products.woocolumns-6 li.product,
.woocommerce-page ul.products.woocolumns-6 li.product,
.woocommerce .related ul.products.woocolumns-6 li.product,
.woocommerce-page .related ul.products.woocolumns-6 li.product,
.woocommerce .upsells ul.products.woocolumns-6 li.product,
.woocommerce-page .upsells ul.products.woocolumns-6 li.product{
  width: 16.66%;
}

@media(max-width: 991px){
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce .related ul.products.woocolumns-4 li.product,
  .woocommerce-page .related ul.products.woocolumns-4 li.product,
  .woocommerce .upsells ul.products.woocolumns-4 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-4 li.product{
    width: 33.3333333%;
    &:nth-child(4){
      clear: left !important;
    }
  }

  .woocommerce #content div.product .yith-wcwl-add-to-wishlist, .woocommerce-page #content div.product .yith-wcwl-add-to-wishlist, .woocommerce div.product .yith-wcwl-add-to-wishlist, .woocommerce-page div.product .yith-wcwl-add-to-wishlist{
    position: relative;
  }
}
@media(max-width: 768px){
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product,
  .woocommerce .related ul.products.woocolumns-3 li.product,
  .woocommerce-page .related ul.products.woocolumns-3 li.product,
  .woocommerce .upsells ul.products.woocolumns-3 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce .related ul.products.woocolumns-4 li.product,
  .woocommerce-page .related ul.products.woocolumns-4 li.product,
  .woocommerce .upsells ul.products.woocolumns-4 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product,
  .woocommerce .related ul.products.woocolumns-5 li.product,
  .woocommerce-page .related ul.products.woocolumns-5 li.product,
  .woocommerce .upsells ul.products.woocolumns-5 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product,
  .woocommerce .related ul.products.woocolumns-6 li.product,
  .woocommerce-page .related ul.products.woocolumns-6 li.product,
  .woocommerce .upsells ul.products.woocolumns-6 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-6 li.product{
    float: left;
    clear: none!important;
  }
}
@media(max-width: 767px){
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product,
  .woocommerce .related ul.products.woocolumns-3 li.product,
  .woocommerce-page .related ul.products.woocolumns-3 li.product,
  .woocommerce .upsells ul.products.woocolumns-3 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce .related ul.products.woocolumns-4 li.product,
  .woocommerce-page .related ul.products.woocolumns-4 li.product,
  .woocommerce .upsells ul.products.woocolumns-4 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product,
  .woocommerce .related ul.products.woocolumns-5 li.product,
  .woocommerce-page .related ul.products.woocolumns-5 li.product,
  .woocommerce .upsells ul.products.woocolumns-5 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product,
  .woocommerce .related ul.products.woocolumns-6 li.product,
  .woocommerce-page .related ul.products.woocolumns-6 li.product,
  .woocommerce .upsells ul.products.woocolumns-6 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-6 li.product{
    width: 50%;
    &:nth-child(3){
      clear: left !important;
    }
    &:nth-child(4){
      clear: none !important;
    }
  }
}
@media(max-width: 480px) {
  .woocommerce ul.products.woocolumns-2 li.product,
  .woocommerce-page ul.products.woocolumns-2 li.product,
  .woocommerce .related ul.products.woocolumns-2 li.product,
  .woocommerce-page .related ul.products.woocolumns-2 li.product,
  .woocommerce .upsells ul.products.woocolumns-2 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-2 li.product,
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product,
  .woocommerce .related ul.products.woocolumns-3 li.product,
  .woocommerce-page .related ul.products.woocolumns-3 li.product,
  .woocommerce .upsells ul.products.woocolumns-3 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-3 li.product,
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce .related ul.products.woocolumns-4 li.product,
  .woocommerce-page .related ul.products.woocolumns-4 li.product,
  .woocommerce .upsells ul.products.woocolumns-4 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-4 li.product,
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product,
  .woocommerce .related ul.products.woocolumns-5 li.product,
  .woocommerce-page .related ul.products.woocolumns-5 li.product,
  .woocommerce .upsells ul.products.woocolumns-5 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-5 li.product,
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product,
  .woocommerce .related ul.products.woocolumns-6 li.product,
  .woocommerce-page .related ul.products.woocolumns-6 li.product,
  .woocommerce .upsells ul.products.woocolumns-6 li.product,
  .woocommerce-page .upsells ul.products.woocolumns-6 li.product{
    width: 100%;
  }
}


.woocommerce,.woocommerce-page {

//  General //===========================

  a{
    font-size: 14px;
  }

//  Headers //===========================

  h1{
    font-size: 32px;
  }

  h2{
    font-size: 1.150em;
  }

  section h2 ,section h3{
    margin: 30px 0px;
    line-height: normal;
  }

   footer section h2 ,footer section h3{
    margin: 10px 0px;
    line-height: normal;
  }

  .h4{
    letter-spacing: .2em;
    font-size: 1em !important;
    height: 40px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
  }

//  Info, messages, warnings //===========================

  .order-info{
    margin-bottom: 30px;
  }

  .woocommerce-message,.woocommerce-info{
    border-top: none;
    .ct-m-rounded(4px);
  }

  .woocommerce-message{
    background-color: lighten(#3bc53b,30%);
  }

  .woocommerce-info{
    background-color: lighten(@motive,30%);
  }

  .woocommerce-error,.woocommerce-message,.woocommerce-info{
    line-height: 50px;
    &:before{
      line-height: 40px !important;
      font-family: fontawesome;
      font-size: 20px;
      line-height: 0.6;
    }
  }

  .woocommerce-message{
    &:before{
      content: '\f071';
    }
  }

  .woocommerce-info{
    &:before{
      content: '\f0eb';
    }
  }

  .woocommerce-error{
    border-top: none;
    background-color:  lighten(#ff2d2d,30%);
    .ct-m-rounded(4px);
    &:before{
      content: '\f06a';
    }
  }

// Select //===========================

  select,input{
    font-size: 14px !important;
  }

  select, .select2-container .select2-choice{
    height: 41px;
    line-height: 41px;
    .ct-m-rounded(0px);
    border-color: #bfbfbf;
    border-width: 2px;
    cursor: pointer;
    &:focus{
      padding-left: 6px !important;
    }
    &:focus:valid:focus{
      outline: none;
    }
  }

// Images - single product //=========================

  .images{
    .thumbnails{
      margin-left: 0px;
    }
  }

  // Summary - single product //=========================

  .summary .product_meta{
    span{
      font-size: 14px;
    }
  }

// Cart //===========================

  .cart{

    .variations{
      margin-top: 1em;
      >tbody >tr td.label{
        padding-right: 0px;
        margin-right: 1em;
        background: transparent;
        border-radius: 0px;
        height:37px;
        label{
          margin: 10px;
        }
      }
    }

    .variations_button{
      margin: 15px 0px;
      padding: 15px 0px;
      border-bottom: 1px dotted #000000;
      border-top: 1px dotted #000000;
      line-height: 37px;
      height: 60px;
    }

    .actions{

      .coupon {
        display: table;
        >input{
          display: table-cell;
          vertical-align: middle;
          float: none !important;
        }
      }
    }


    &.shop_table{
      border: none;
    }

    a.remove{
      position: relative;
      line-height: 22px;
      background: transparent;
      .woo-hover;
      .woo-hover--danger;
      .woo-hover--rounded;
      color: red !important;
    }

    input[type="number"]{
     padding-right: 0px;
      &:focus{
        color: @motive;
      }
    }
    .product-thumbnail{
      >a{
        position: relative;
        display: block;
        max-width: 64px;

        .woo-hover;

        img{
          width: 64px;
        }
      }
    }
    .coupon{
      input[type="text"].input-text{
        border-width: 2px !important;
        height:50px;
        width:115px;
        margin-right: 10px!important;
      }
      input[type="submit"].button{
        width:auto;
      }
    }
  }

  .cart-collaterals{
    h2{
      text-align: left;
    }
  }

//  Whishlist table

  .wishlist_table{
    text-align: center !important;
    >tbody{
      >tr{
        span.wishlist-in-stock{
          color: #3bc53b;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }

//  Pagination //===========================

  nav.woocommerce-pagination{
    >ul{
      border: none;
      >li{
        border: none;
        span.current{
          background: @motive;
          color: #ffffff;
        }
        .prev,.next{
          position: relative;
          color: transparent;
          &:hover,&:focus,&:active{
            color: transparent;
            &:before,&:after{
              color: #ffffff;
            }
          }
        }
        .prev{
          &:before{
            content: '\f053';
            font-family: fontawesome;
            color: @motive;
            position: absolute;
            right: 10px;
          }
        }
        .next{
          &:after{
            content: '\f054';
            font-family: fontawesome;
            color: @motive;
            position: absolute;
            left: 10px;
          }
        }
        >a {
          &:hover, &:focus, &:active {
            .ct-m-transition();
            background: #000000;
            color: #ffffff;
          }
        }
      }
    }
  }


// Table //==========================

  table{
    .ct-m-rounded(0px)!important;
    >thead >tr, >thead >tr >th, >thead >tr >th >span{
      color: rgb(43,43,43);
      .h4;
    }
    >tbody{
      >tr{
        >td,>th{
          position: relative;
          border-top: none !important;
          border-bottom: 1px dotted rgba(0,0,0,0.4);
        }
      }
    }

    &.cart{
      >tbody >tr{
        > td,>th{
          &:after{
            content: '.';
            color: white;
            position: absolute;
            bottom: -9px;
            font-size: 6px;
            left: -1px;
          }
        }
      &:last-child {
        background-color: #ffffff;
          > td, > th {
            padding: 10px 0px 6px 0px;
            border: none;
          }
        }
      }
    }
  }


  form.checkout{
    table.shop_table{
      border: none;
      tfoot > tr{
        &:first-child{
          > th, >td{
            border-top: none;
          }
        }
        > th{
        .h4;
        }
        > th, >td{
          position: relative;
          border-top: 1px dotted #000000;
        }
      }
    }
  }

  form{
    // Tables //========================

    &[method="post"]{
     .ct-m-rounded(0px);
    }

    &.checkout
    .shop_table{
      >tfoot >tr >th{ text-align: left}
    }
  }

  .cart-collaterals{
    .cart_totals{
      text-align: left;
      table{
        width: 100%;
        > tbody >tr{
        >th {
          width: 150px;
          font-size: 0.875em;
          letter-spacing: .2em;
          text-transform: uppercase;
          font-weight: bold;
          font-family: 'Lato', sans-serif;
        }
        >th,>td{
          form section{
            margin: 0;
          }
          &:after{
            content: '.';
            color: white;
            position: absolute;
            bottom: -15px;
            font-size: 6px;
            left: -2px;
            }
          }
        }
      }
    }
  }


//  Form //===========================
//+ accordions
  form{

    label{
      color: #4c4c4c;
    }

    &.checkout_coupon .button{
      height: 42px;
    }

    &.checkout.woocommerce-checkout{

      #payment{
        .ct-m-rounded(0px);
        background: transparent !important;
        >ul{
          padding-left: 0px;
          padding-right: 0px;
          border-bottom: none;
        }
      }

      &.checkout{

        .woocommerce-checkout-payment,.woocommerce-shipping-fields,.woocommerce-billing-fields{

          .create-account{
            label{
              display: block;
              text-align: center;
            }
          }

          >ul >li,h3,.create-account{

            input[type="radio"],input[type="checkbox"]{
              width: 14px;
              height: 14px;
              display: inline-block;
              margin: 0px;
            }

            >label{
              display: inline;
              cursor: pointer;
            }
            >.payment_box{
              margin-top: 0px !important;
              background-color: transparent !important;
              border-bottom: 1px dotted #000000;
              &:after{
                display: none !important;
              }
            }
          }
          div.payment_box:after{
            top: 0px !important;
          }
        }
      }
    }
    &.login{

      margin: 2em auto;
      width: 50%;

      label{
        color: #4c4c4c;
      }
      input[type="submit"]{
        display: block;
      }
      label[for="rememberme"]{
        input[name="rememberme"]{
          cursor: pointer;
          position: relative;
          display: inline-block;
          width: 15px;
        }
      }
    }
  }



//  Buttons //===========================

  .shop_table .order .order-actions{
    .button.view{
      .ct-m-transition();
      background: @motive;
      color: #ffffff;
      &:hover{
        background: #000000;
      }
    }
  }

  .button{
    .ct-m-rounded(0px) !important;
    .btn;
    .btn-default;
  }

  form.cart{

    .single_add_to_cart_button{
      margin-top: 10px;
      line-height: 41px;
    }
  }

  .woocommerce-message{
    .button{
      .ct-m-transition();
      background: #8fae1b !important;
      &:hover{
        background: #000000 !important;
      }
    }
  }

  .button.loading{
    padding-right: 47px !important;
  }

  .products .product,form,.cart_totals,.return-to-shop,.woocommerce-message{
      .button{
        .btn;
        .btn-default;
        &.loading:after{
          top: 0px;
          right: 15px;
        }
      }
  }

//  submit button in tabs
  #review_form #respond .form-submit input.submit{
    .btn;
    .btn-default;
  }

  .alt{
    &.button{
      background: @motive!important;
      &:hover{
        background: #000000!important;
      }
    }
  }

  //  Prices //===========================

  .price{
    .ct-m-transition(all,0.3s,ease-out);
    color: #4c4c4c !important;
    ins span.amount, span.amount{
      font-size: 1.25em;
    }
    del{
      span.amount{
        padding-right: 10px;
      }
    }
  }


//  Related products

  .related.products{
    margin-top: 30px;
  }

//  Shop products //==========================

  .products{
    margin-left: -15px !important;
    margin-right: -15px !important;
    .product{
      margin-bottom: 4em !important;
      text-align: center;
      .ct-productWrapper{
        padding-left: 15px;
        padding-right: 15px;

        .star-rating{
          margin: 10px auto 20px auto;
          color: @motive;
        }

        >a{

          .price{
            ins{
              font-weight: normal;
              text-decoration: none;
            }
            del{
              display: inline-block !important;
            }
          }
        }
      }
    }
  }

//  Single product //==========================

  .product {

    input[type="number"]{
      margin-right: 10px;
    }

    h1{
      text-align: left;
    }

    .product_meta .sku_wrapper{
      display: block;
    }

    .price {
      margin-bottom: 30px;
      ins,del{
        font-weight: normal !important;
      }
      ins{
        text-decoration: none;
      }
      del{
        display: inline-block !important;
      }
    }

    form.cart {
      margin: 15px 0px;
      padding: 15px 0px;
      border-bottom: 1px dotted #000000;
      border-top: 1px dotted #000000;
    }

    form.variations_form.cart{
      border-bottom: none;
    }

  }
// Tabs //========================

  .woocommerce-tabs {

//    Comments =====================>

    ol.commentlist{
      margin-bottom: 30px !important;
      img{
        width: 48px !important;
        background: none !important;
        border: none !important;
      }
      li .comment-text{
        border: none !important;
        border-bottom: 1px dotted #000000 !important;
        .ct-m-rounded(0px) !important;
      }
    }

//    <=====================

    ul.tabs {
      margin: 0 auto !important;
      width: 100%;
      text-align: center;
      padding-left: 0px !important;
      > li {
        .h4;
        background-color: transparent !important;
        border: none !important;
        &:before, &:after {
          display: none;
        }

        >a{
         color: @motive!important;
        }

        &.active > a{
          color: #4c4c4c !important;
        }

      }
      &:before {
        display: none !important;
      }
    }
  }

//  Onsale tag //===========================

  span.onsale{
    .ct-m-transition(all,0.3s,ease-out);
    background-color: @motive;
    font-weight: normal;
  }



//  SIDEBAR //=========================== =========================== =========================== ===========================

      .widget{

        //  Price filter //===========================

        &.widget_price_filter .widget-inner{
          text-align: left;

          .price_slider_amount{
            display: inline-block;
            text-align: left;
            .button{
              font-size: 0.75em;
              line-height: 3.417em;
              padding: 0px 19px 0px 27px !important;
            }
          }

          .price_slider_wrapper{
              .ui-widget-content {
                background-color: #e6e6e6;
                .ui-slider-range,.ui-slider-handle{
                  background-color:@motive;
                }
            }
          }
        }

//        Widget borders //===========================


        &.widget_recent_reviews, &.widget_products, &.widget_top_rated_products,
        &.widget_layered_nav{
          .widget-inner {
            > ul > li{
              padding: 7px 0px 7px 0px;
              border-bottom: 1px dotted #000000;

//              reviewer distance

              span.reviewer,span.amount{
                font-size: 14px;
                line-height: 30px;
              }

//              cash distance

              ins,del{
                padding-top: 15px;
              }

              &:last-child{
                border-bottom: none;
              }
            }
          }
        }

        //  Widget titles //===========================

        &.widget_products .widget-inner, &.widget_top_rated_products .widget-inner,
        &.widget_recent_reviews .widget-inner , &.widget_recently_viewed_products,
        &.widget_shopping_cart .widget-inner{

          .product-title, ul.product_list_widget li a{
            font-family: "Lato",sans-serif;
            letter-spacing: .2em;
            font-size: 12px;
            text-transform: uppercase;
          }


//          Star rating

          .star-rating > span{
            color: @motive;
          }

//          Prices

          del{
            .ct-m-opacity(0.5);
          }

          ins{
            text-decoration: none;
          }

        }

//        Widget shopping cart //===========================

        &.widget_shopping_cart .widget-inner{
          padding: 20px;
          border: 1px dotted #000000;
          a{
            font-size: 12px !important;
          }
          a.remove{
            padding-left: 3px;
            padding-top: 1px;
            padding-bottom: 1px;
          }
          .total {
            border-top: 1px dotted #000000;
            strong {
              font-family: "Lato", sans-serif;
              letter-spacing: .2em;
              font-size: 13px;
              text-transform: uppercase;
            }
          }

          .cart_list li{
            padding-bottom: 10px;
          }

          p.buttons a.button{
            &:first-child{
              margin-bottom: 10px;
              background: #000000;
              &:hover{
                background: @motive;
              }
            }
            .btn;
            font-size: 0.75em;
            height: 3.417em;
            padding: 0px 19px 0px 27px;
          }

        }
//        Widget categories //===========================

        &.widget_product_categories .widget-inner{
          ul.product-categories{
            margin-left: 0px;
            list-style: none;
            >li{
              >a{
                padding: 5px 0px;
                display: block;
                border-bottom: 1px dotted #000000;
              }
              >ul.children {
                margin: 0px!important;
                li{
                  padding: 7px 0px 7px 10px;
                  border-bottom: 1px dotted #000000;
                  list-style: none;
                }
              }
            }
          }
        }

        &.widget_product_search .widget-inner{
            input[type="submit"]{
              font-size: 0.75em !important;
              height: 3.417em;
              padding: 0px 19px 0px 27px;
            }
        }

        &.widget_layered_nav .widget-inner{
          >ul >li{
            a{
              float: left;
            }
            span{
              float: right;
            }
          }
        }

      }

}



//Woocommerce product page - items //========================

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
  margin-right: 0;
}


//UTILITIES //========================


//Mixins //========================

.ct-m-transition(@type: all, @duration:0.2s, @ease:ease-out) {
  -webkit-transition: @type @duration @ease;
  -moz-transition: @type @duration @ease;
  -o-transition: @type @duration @ease;
  transition: @type @duration @ease;
}

.ct-m-opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
  @opperc: @opacity * 100;
  -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
  filter: ~"alpha(opacity=@{opperc})";
}

.ct-m-rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

//Hover //========================

.woo-hover{
  &:before {
    content: "";
    .ct-m-opacity();
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: @motive;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    .ct-m-transition(all,0.3s,ease-out);
  }
  &:hover{
    &:before{
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.woo-hover--danger{
  &:before{
    background: #ff2d2d;
  }
}

.woo-hover--rounded{
  &:before{
  .ct-m-rounded(50%);
  }
}
