/* --------------------------------------------------------------

   Basic WordPress Blog Styles

-------------------------------------------------------------- */

/* Images
-------------------------------------------------------------- */

.entry-content img {
  margin: 0 0 1.5em 0;
}
.alignleft,
img.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright,
img.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter,
img.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  text-align: center;
  margin-bottom: 1.5em;
}
.wp-caption img {
  border: 0 none;
  margin: 0;
  padding: 0;
}
.wp-caption p.wp-caption-text {
  margin: 0;
}
.wp-smiley {
  max-height: 1em;
  margin: 0 !important;
}
.gallery dl {
  margin: 0;
}
.gallery-caption {
  margin: -1.5em 0 0 0;
}

/*sticky posts more visible*/
.sticky {
  h2.title a { font-weight: bold }
}
.bypostauthor {
  .author { font-weight: bold }
}

/* Pullquotes */

blockquote.left {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  text-align: right;
  width: 33%;
}
blockquote.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
  text-align: left;
  width: 33%;
}





/* wp widget lists */

.widget_archive .widget-inner,
.widget_categories .widget-inner,
.widget_recent_entries .widget-inner,
.widget_recent_comments .widget-inner,
.widget_categories .widget-inner,
.widget_meta .widget-inner,
.widget_pages .widget-inner,
.widget_rss .widget-inner,
.widget_links .widget-inner {

  ul{
    list-style: none;
    margin:0;

    li a{
      font-weight:700;
    }

    li{
      border-top: 1px solid @mo-gray;
      padding: 13px 0;

      font-size:14px;
      line-height:18px;
    }
    li:first-child {
      border-top:0;
    }
  }
}




.widget_categories .widget-inner li a {
  text-transform: uppercase;
}

.widget_archive .widget-inner {

  ul {
    margin:0 0 14px 8px;

    li {
      padding:4px 0;
      border:0;
    }
  }
}

/* search widget */
.widget_search {
  form {
    margin:10px 0;
  }

  input {
    margin:0;
  }
}

/* nav menu widget */

.widget.widget_nav_menu ul {
  position:static;
  display:block;
  margin:0;
  padding:0;
  background: transparent;
  list-style:none;
  visibility: visible;
  float: none;
  min-width: 100%;
  .box-shadow(none);
  border: 0;
  margin-bottom: 10px;
}

.widget.widget_nav_menu ul li a {
  background: transparent;
  color:#000;
  font-size:13px;
  line-height:15px;
  border:0;
  padding:5px 0;
  margin:0;
  white-space: normal;
  text-transform: none;
  font-weight: 400;
}

footer .widget.widget_nav_menu ul li a {
  color:#fff;
}

.widget.widget_nav_menu ul li a:after {
  display:none;
  height:0;
}

.widget.widget_nav_menu ul li ul li {
  margin-left:15px;
}


.widget_text {
/*prevent from long names*/
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}









/******** additional styles */

/** graph-chart **/
.easyPieChart {
    position: relative;
    text-align: center;
    margin:0 auto;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.graph-circle span, .graph-circle img{
  position: relative;
}




/* gmap */
.google_map img{max-width: inherit}



