/*-------------------------------------------------------------- 
Custom overrides
--------------------------------------------------------------*/
.karma_mega_div span.karma-mega-title {
	color:#DB8C18;
}
/*-------------------------------------------------------------- 
Header
--------------------------------------------------------------*/
.top-block,
.top-block ul.sf-menu li ul,
#footer-callout,
#tt-slider-full-width,
.tools.full-width-page-title-bar,
body.karma-flat-cs .tools.full-width-page-title-bar,
body.karma-flat-cs #footer_bottom {
	background: #8B5209;
}
#footer-callout {
	border-bottom: 1px solid #FEBF62;
}
.tt-post-quote {
	background:#FDA41E;
}
/* Header / Footer Gradient */
.header-holder,
#footer,
body.karma-header-custom .tools.full-width-page-title-bar,
body.karma-header-custom .top-block {
	border-top: 1px solid #FEBF62;
	background-color: #CA6A00;
	background-image: linear-gradient(to bottom, #FDA41E, #CA6A00); /* required first in the list for IE11 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FDA41E), to(#CA6A00));
	background-image: -webkit-linear-gradient(top, #FDA41E, #CA6A00);
	background-image: -moz-linear-gradient(top, #FDA41E, #CA6A00);
	background-image: -webkit-linear-gradient(top, #FDA41E, #CA6A00);
	background-image: -o-linear-gradient(top, #FDA41E, #CA6A00);
	background-image: ms-linear-gradient(to bottom, #FDA41E, #CA6A00);
	-pie-background: linear-gradient(to bottom, #FDA41E, #CA6A00);
}
/* Karma Flat */
body.karma-flat-cs .header-holder,
body.karma-flat-cs #footer {
	background-color: #E2921E;
	background-image: none;
}
/* Custom CSS3 Color Stops for different height headers */
.header-holder.tt-logo-center {
	background-image: linear-gradient(to bottom, #FDA41E, #CA6A00 80%);
	-pie-background: linear-gradient(to bottom, #FDA41E, #CA6A00 80%);	
}
.header-holder.tt-header-holder-tall {
	background-image: linear-gradient(to bottom, #FDA41E, #CA6A00 47%);
	-pie-background: linear-gradient(to bottom, #FDA41E, #CA6A00 47%);
}
#footer {
	background-image: linear-gradient(to bottom, #FDA41E, #CA6A00 64%);
	-pie-background: linear-gradient(to bottom, #FDA41E, #CA6A00 64%);	
}
.top-block,
.top-block a,
#header .toolbar-left li,
#header .toolbar-right li {
	color: rgba(255,255,255, 0.65);
}
#tt-mobile-menu-button span:after,
.tt-icon-box span.fa-stack {
	color: #FDA41E;	
}
/**
 *
 * Header Style - Light
 *
 * adjust colors for
 * better design aesthetic
 * 
 * .karma-header-custom class gets added to body
 * when light or dark header selected
 *
 * @since Karma 4.8
 *
 **/
 /* GRADIENT Full Width Title Bar - color reverse foer shadow effect */
body.karma-header-light .tools.full-width-page-title-bar {
	background-color: #FDA41E;
	background-image: linear-gradient(to bottom, #CA6A00, #FDA41E); /* required first in the list for IE11 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FDA41E), to(#CA6A00));
	background-image: -webkit-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -moz-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -webkit-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -o-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: ms-linear-gradient(to bottom, #CA6A00, #FDA41E);
}
/* GRADIENT dropdown link:hover bg color */
body.karma-header-custom #menu-main-nav li ul a:hover,
body.karma-header-custom #menu-main-nav li ul li.current-menu-item.hover a,
body.karma-header-custom #menu-main-nav li ul li.parent.hover a,
body.karma-header-custom #menu-main-nav li ul li.parent.hover a:hover,
body.karma-header-custom #menu-main-nav li ul li.hover ul li.hover a,
body.karma-header-custom #menu-main-nav li ul li.hover ul li.hover a:hover,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor.hover a,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor.hover ul a:hover,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a:hover,
body.karma-header-custom .top-block .top-holder ul.sf-menu li .sub-menu li a:hover,
body.karma-header-custom #wrapper.tt-uberstyling-enabled .header-area .ubermenu ul li.ubermenu-item ul.ubermenu-submenu li.ubermenu-item > a:hover {
	background-color: #DF820C;
}
/* GRADIENT top-level active */
body.karma-header-custom #menu-main-nav li.current-menu-item strong,
/* GRADIENT dropdown active link color */
body.karma-header-custom #menu-main-nav li ul li.current-menu-item a,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor a,
body.karma-header-custom #menu-main-nav li ul li.current-menu-parent ul li.current-menu-item a,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor a,
body.karma-header-custom #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a,
body.karma-header-custom #menu-main-nav li.current-menu-parent strong,
body.karma-header-custom #menu-main-nav li.current-menu-ancestor strong,
body.karma-header-custom #menu-main-nav li.current-menu-ancestor a::after,
body.karma-header-custom #menu-main-nav li.parent:hover strong,
body.karma-header-custom #menu-main-nav li.parent:hover a::after,
body.karma-header-custom #menu-main-nav li:hover strong {
	color: #DF820C;
}
/* FLAT top-block + page-title-bar */
body.karma-header-custom.karma-flat-cs .tools.full-width-page-title-bar,
body.karma-header-custom.karma-flat-cs .top-block,
body.karma-header-custom.karma-flat-cs .top-block ul.sf-menu li ul {
	background-color: #FDA41E;
	background-image: none;
}
/* FLAT dropdown link:hover bg color */
body.karma-flat-cs #menu-main-nav li ul a:hover,
body.karma-flat-cs #menu-main-nav li ul li.current-menu-item.hover a,
body.karma-flat-cs #menu-main-nav li ul li.parent.hover a,
body.karma-flat-cs #menu-main-nav li ul li.parent.hover a:hover,
body.karma-flat-cs #menu-main-nav li ul li.hover ul li.hover a,
body.karma-flat-cs #menu-main-nav li ul li.hover ul li.hover a:hover,
body.karma-flat-cs #menu-main-nav li ul li.current-menu-ancestor.hover a,
body.karma-flat-cs #menu-main-nav li ul li.current-menu-ancestor.hover ul a:hover,
body.karma-flat-cs #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a:hover,
body.karma-flat-cs .top-block .top-holder ul.sf-menu li .sub-menu li a:hover,
body.karma-flat-cs #wrapper.tt-uberstyling-enabled .header-area .ubermenu ul li.ubermenu-item ul.ubermenu-submenu li.ubermenu-item > a:hover {
	background-color: #fda41e;
}
/* FLAT - top-block dropdown link:hover bg color */
body.karma-header-custom.karma-flat-cs .top-block .top-holder ul.sf-menu li .sub-menu li a:hover {
	background: #8B5209;
}
/* FLAT top-level active */
body.karma-header-custom.karma-flat-cs #menu-main-nav li.current-menu-item strong,
/* FLAT dropdown active link color */
body.karma-header-custom.karma-flat-cs #menu-main-nav li ul li.current-menu-item a,
body.karma-header-custom.karma-flat-cs #menu-main-nav li ul li.current-menu-parent ul li.current-menu-item a,
body.karma-header-custom.karma-flat-cs #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor a,
body.karma-header-custom.karma-flat-cs #menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a,
body.karma-header-custom.karma-flat-cs #menu-main-nav li.current-menu-parent strong,
body.karma-header-custom.karma-flat-cs #menu-main-nav li.current-menu-ancestor strong,
body.karma-header-custom.karma-flat-cs #menu-main-nav li.current-menu-ancestor a::after,
body.karma-header-custom.karma-flat-cs #menu-main-nav li.parent:hover strong,
body.karma-header-custom.karma-flat-cs #menu-main-nav li.parent:hover a::after,
body.karma-header-custom.karma-flat-cs #menu-main-nav li:hover strong {
	color: #fda41e;
}
/**
 *
 * /// END Header Style - Light
 *
 */
/*-------------------------------------------------------------- 
Main Menu
--------------------------------------------------------------*/
#menu-main-nav a span.navi-description,
/* reset search/404 navi-description so "blog" isn't active */
.search-header #menu-main-nav li.current_page_parent a span.navi-description,
.error-header #menu-main-nav li.current_page_parent a span.navi-description,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover {
	color: rgba(255,255,255, 0.55);
}
body.karma-flat-cs #menu-main-nav a span.navi-description,
body.karma-flat-cs .search-header #menu-main-nav li.current_page_parent a span.navi-description,
body.karma-flat-cs .error-header #menu-main-nav li.current_page_parent a span.navi-description {
	color: rgba(255, 255, 255, 0.7);
}
/* dropdown active link color */
#menu-main-nav li ul li.current-menu-item a,
#menu-main-nav li ul li.current-menu-ancestor a,
#menu-main-nav li ul li.current-menu-parent ul li.current-menu-item a,
#menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor a,
#menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a {
	color: #C4A782;
}
/* dropdown menu bg color */
#menu-main-nav.sf-menu li ul,
#menu-main-nav li.parent:hover,
.tt-logo-center #menu-main-nav li.parent:first-child:hover,
#wrapper.tt-uberstyling-enabled .ubermenu ul.ubermenu-nav > li.ubermenu-item.tt-uber-parent:hover,
#wrapper.tt-uberstyling-enabled .ubermenu ul.ubermenu-nav li.ubermenu-item ul.ubermenu-submenu {
	background: #8B5209;
}
/* dropdown link:hover bg color */
#menu-main-nav li ul a:hover,
#menu-main-nav li ul li.current-menu-item.hover a,
#menu-main-nav li ul li.parent.hover a,
#menu-main-nav li ul li.parent.hover a:hover,
#menu-main-nav li ul li.hover ul li.hover a,
#menu-main-nav li ul li.hover ul li.hover a:hover,
#menu-main-nav li ul li.current-menu-ancestor.hover a,
#menu-main-nav li ul li.current-menu-ancestor.hover ul a:hover,
#menu-main-nav li ul li.current-menu-ancestor ul li.current-menu-ancestor ul li.current-menu-item a:hover,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover,
#wrapper.tt-uberstyling-enabled .header-area .ubermenu ul li.ubermenu-item ul.ubermenu-submenu li.ubermenu-item > a:hover {
	background: #AE8653;
	color:#FFF;
}
/* reset dropdown link:hover on non-active items */
#menu-main-nav li ul li.parent.hover ul a,
#menu-main-nav li ul li.hover ul li.hover ul li a,
#menu-main-nav li ul li.current-menu-ancestor.hover ul a {
	background:none;	
}
/*-------------------------------------------------------------- 
Footer
--------------------------------------------------------------*/
#footer_bottom {
	background: #643B06 url(../images/skins/bg-footer-bottom-orange.png) top center repeat-x;
}
.footer-content a,
#footer_bottom a,
#footer .blogroll li,
#mc_signup .mc_required,
.mc_required,
#mc-indicates-required,
#footer ul.tt-recent-posts li p {
	color: rgba(255,255,255, 0.55);
}
#footer .blogroll a,
#footer ul.tt-recent-posts h4 {
	color: #FFF;
}
#footer h3 {
	border-bottom: 1px solid rgba(255,255,255, 0.3);
}
#footer,
#footer p,
#footer ul,
#footer_bottom,
#footer_bottom p,
#footer_bottom ul,
#footer #mc_signup_form label {
	color: #EEE;
}
/*---------------------*/
/* IE8
/*---------------------*/
/* IE8 does not support rgba. hex# colors provided below */
.ie8 .top-block,
.ie8 .top-block a,
.ie8 #header .toolbar-left li,
.ie8 #header .toolbar-right li {
	color: #CFBBA1;
}
.ie8 #menu-main-nav a span.navi-description,
/* reset search/404 navi-description so "blog" isn't active */
.ie8 .search-header #menu-main-nav li.current_page_parent a span.navi-description,
.ie8 .error-header #menu-main-nav li.current_page_parent a span.navi-description,
.top-block .top-holder ul.sf-menu li .sub-menu li a:hover {
	color: #EDC289;
}
.ie8 .footer-content a,
.ie8 #footer_bottom a,
.ie8 #footer .blogroll li,
.ie8 #mc_signup .mc_required,
.ie8 .mc_required,
.ie8 #mc-indicates-required {
	color: #F2C993;
}
.ie8 #footer h3 {
	border-bottom: 1px solid #F8B95F;
}
/*-------------------------------------------------------------- 
 * Secondary Color Scheme
 *
 * xx-secondary.css no longer gets called unless user
 * has selected alternate secondary color.
 * (this reduces 1 HTTP request :)
 *
 *
 * @since Karma 4.6
--------------------------------------------------------------*/
/*-------------------------------------------------------------- 
Sliders
--------------------------------------------------------------*/
/* jQuery1 slider + utility bar */
.jquery1-slider-wrap,
.tools {
background-color: #FDA41E;
background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FDA41E), to(#CA6A00));
background: -webkit-radial-gradient(circle, #FDA41E, #CA6A00);
background: -moz-radial-gradient(circle, #FDA41E, #CA6A00);
background: -ms-radial-gradient(circle, #FDA41E, #CA6A00);
}
/* IE Image Fallback */
.ie7 .jquery1-slider-wrap,
.ie8 .jquery1-slider-wrap,
.ie9 .jquery1-slider-wrap {
	background: transparent url(../images/skins/secondary-orange/bg-jquery-bnr.png) 0 0 no-repeat;
}
/* overwrite box-shadow from style.css (for lighter color schemes only) */
.jquery1-slider-wrap {
	-webkit-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.2);
}
body.karma-flat-cs .jquery1-slider-wrap,
body.karma-flat-cs .tools,
.ie7 body.karma-flat-cs .jquery1-slider-wrap,
.ie8 body.karma-flat-cs .jquery1-slider-wrap,
.ie9 body.karma-flat-cs .jquery1-slider-wrap {
    background-image: none;
    background: #FDA41E;
} 
/*-------------------------------------------------------------- 
Sub Menus
--------------------------------------------------------------*/
/* horizontal */
#horizontal_nav ul a:hover,
#horizontal_nav ul .current_page_item,
#horizontal_nav.tt-gallery-nav-wrap .active,
/* tabs */
.tabset .ui-state-active,
.tabset .active,
.tabset a:hover,
/* wp-page-navi */
.karma-pages span.current,
.wp-pagenavi span.current {
	background: #DC7F0B;
}
/* woo-commerce */
#content nav.woocommerce-pagination ul li span.current {
	background: #DC7F0B;
	color: #fff;
	padding: 7px;
}
/* vertical-left */
#sub_nav ul a:hover,
#sub_nav ul li.current_page_item a {
	background: url(../images/skins/secondary-orange/subnav-left.png) 0 49% no-repeat;
}
/* vertical-right */
#sub_nav.nav_right_sub_nav ul a:hover,
#sub_nav.nav_right_sub_nav ul li.current_page_item a {
	background: url(../images/skins/secondary-orange/subnav-right.png) 0 49% no-repeat;
}
/* vertical-left-flat */
body.karma-flat-cs #sub_nav ul a:hover,
body.karma-flat-cs #sub_nav ul li.current_page_item a {
	background: url(../images/skins/secondary-orange/subnav-left-flat.png) 0 49% no-repeat;
}
/* vertical-right-flat */
body.karma-flat-cs #sub_nav.nav_right_sub_nav ul a:hover,
body.karma-flat-cs #sub_nav.nav_right_sub_nav ul li.current_page_item a {
	background: url(../images/skins/secondary-orange/subnav-right-flat.png) 0 49% no-repeat;
}
/* overwrite box-shadow from style.css (for lighter color schemes only) */
#horizontal_nav ul a:hover,
#horizontal_nav ul .current_page_item a,
/* tabs */
.tabset .ui-state-active,
.tabset .active,
.tabset a:hover,
/* wp-page-navi */
.karma-pages span.current,
.wp-pagenavi span.current,
.woocommerce-pagination .current {
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
/*-------------------------------------------------------------- 
Links / Lists
--------------------------------------------------------------*/
/* links */
a,
p a strong,
.link-top,
.tt_comment_required,
ul.tt-recent-posts h4,
span.required,
/* lists */
ul.list li,
ul.list1 li:before,
ul.list2 li:before,
ul.list3 li:before,
ul.list4 li:before,
ul.list5 li:before,
ul.list6 li:before,
ul.list7 li:before,
ul.list8 li:before,
#sidebar ul li:before,
#sub_nav ul li .sub-menu li:before,
#sub_nav ul li .sub-menu li .sub-menu li:before,
#sidebar ul li,
/* left nav */
#sub_nav ul li .sub-menu a,
#sub_nav ul li .sub-menu li.current_page_item a,
#sub_nav ul ul a,
#sub_nav ul ul a:hover,
#sub_nav ul li.current_page_item ul li a,
#sub_nav ul li.current_page_parent ul li.current_page_item a,
/* right nav */
#sub_nav.nav_right_sub_nav ul ul a,
#sub_nav.nav_right_sub_nav ul ul a:hover,
#sub_nav.nav_right_sub_nav ul li.current_page_item ul li a,
#sub_nav.nav_right_sub_nav ul li.current_page_parent ul li.current_page_item a,
#sub_nav .sub_nav_sidebar .textwidget ul li,
#sub_nav .sub_nav_sidebar a,
i.discussion-title,
#sidebar ul.social_icons.tt_vector_social_icons a:after,
#content p.team-member-title {
	color: #DC7F0B;
}
/*-------------------------------------------------------------- 
Layout
--------------------------------------------------------------*/
.post_comments {
	box-shadow: 0 0 0 1px #FDA41E, 0 0 0 2px #CA6A00;
	background-color: #CA6A00;
	background-image: linear-gradient(to bottom, #CA6A00, #FDA41E); /* required first in the list for IE11 */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CA6A00), to(#FDA41E));
	background-image: -webkit-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -moz-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -webkit-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: -o-linear-gradient(top, #CA6A00, #FDA41E);
	background-image: ms-linear-gradient(to bottom, #CA6A00, #FDA41E);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#CA6A00', endColorstr='#FDA41E');
}
body.karma-flat-cs .post_comments {
    background-image: none;
    background: #FDA41E;
}
/* IE8 + IE9 do not support CSS3 radial gradient - fallback images provided below */
.ie8 .tools .frame,
.ie9 .tools .frame {
	background: url(../images/skins/secondary-orange/bg-tools-c.png) repeat-y;
}
.ie8 span.tools-top,
.ie9 span.tools-top {
	background: url(../images/skins/secondary-orange/bg-tools-t.png) no-repeat;
}
.ie8 span.tools-bottom,
.ie9 span.tools-bottom {
	background: url(../images/skins/secondary-orange/bg-tools-b.png) 0 100% no-repeat;
}