/*----------------------------------------*\
            $COPYRIGHT-OVERLAY
\*----------------------------------------*/

.copyright-overlay{
    position: fixed;
    top: 50%;
    left: 50%;

    z-index: 9999;
    display: none;
    background: rgba(0, 0, 0, 0.95);
    border-radius: 5px;

    .is--active-copyright-overlay &{
        display: block;
    }
}

.copyright-overlay__container{
    @extend .flexbox;
    height: 100%;
    margin: 0 auto;
}

.copyright-overlay__content{
    @extend .flexbox__item;
    @extend %fs-13;
    color: white;
    text-align: center;
    padding: $u/2;

    font-weight: bold;
}




.is--copyright-protected{
    .entry__featured-image, .hero, .entry-content img, .pile-item img{
        -webkit-touch-callout: none !important;
    }
}