#poststuff h4 {
	margin-bottom: 0;
}

ul.radiopic-list li {
	display: inline-block;
	background-color: #F4F4F4;
	text-align: center;
	padding: 6px;
	margin-right: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #EAEDF0;
	cursor: pointer;
}

ul.radiopic-list li:hover {
	border: 1px solid #1E8CBE;
	background-color: #fff;
}

ul.radiopic-list li.selected {
	border: 1px solid #1E8CBE;
	background-color: #1E8CBE;
	color: #fff;
}

ul.radiopic-list li span {
	font-size: 20px;
	vertical-align: middle;
	width: 24px;
	display: inline-block;
}

ul.radiopic-list li span:before {
	line-height: 24px;
}

ul.radiopic-list li.no-icon {
	color: #F84242;
}

ul.radiopic-list li.no-icon:hover {
	border: 1px solid #F84242;
	background-color: #fff;
}

ul.radiopic-list li.no-icon.selected {
	border: 1px solid #F84242;
	background-color: #F84242;
	color: #fff;
}

#wpalchemy-content-apt {
	margin-top: 30px;
}