@include: common.neon

category:
	label: Category
	type: categories-featured
	taxonomy: items
	default: 0
	help: "Select category displayed on page"

orderby:
	label: Order By
	type: select
	selected: date
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		date: Creation Date
		rand: Random
	help: 'Select order of items listed on page'

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

count:
	label: Count
	type: number
	default: 99
	help: "Number of items listed on page"

textRows:
	label: Text Rows
	type: number
	unit: number
	default: 3
	help: "Number of rows for description text"

#addInfo:
#	label: Advanced Info
#	type: on-off
#	default: on
#	help: "Enable or disable post information"

boxColumns:
	label: Columns
	type: select
	selected: 4
	default: [1, 2, 3, 4, 5]
	help: "Number of items in one row"

boxAlign:
	label: Text Alignment
	type: image-radio
	checked: align-center
	images:
		align-left: text-align-left.png
		align-center: text-align-center.png
		align-right: text-align-right.png
	default:
		align-left: Align to Left
		align-center: Align to Center
		align-right: Align to Right
	help: "Select alignment of title and description"

boxEnableCarousel:
	label: Carousel
	type: on-off
	default: on
	help: "Enable or disable carousel feature"

boxEnableAutoplay:
	label: Carousel Autoplay
	type: on-off
	default: off
	help: "Enable or disable carousel autoplay feature"

boxEnableFading:
	label: Carousel Fading
	type: on-off
	default: off
	help: "Enable or disable carousel fading feature"

boxRows:
	label: Carousel Rows
	type: select
	selected: 1
	default: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	help: "Number of rows in carousel"

boxImageHeight:
	label: Image Format
	type: select
	selected: "1:1"
	default:
		"1:1" : "1:1"
		"2:1" : "2:1"
		"4:3" : "4:3"
		"16:9" : "16:9"
	help: "Select format for images in carousel"

