# Disabling elements

#page-title: disabled

# Overloading default config

#portfolio:
#	title: Super Portfolio # overload title
#	configuration:
#		cpt:
#			- portfolio
#		assets:
#			js:
#				......
#		columnable: false

widget-area:
	title: _x(Widget Area, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: true
		sortable: true
		columnable: true

header-map:
	title: _x(Header Map, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: false
		sortable: false
		columnable: false
		assets:
			js:
				marker-clusterer: true
				modernizr: true

header-video:
	title: _x(Header Video, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: false
		sortable: false
		columnable: false
		assets:
			js:
				wp-mediaelement: true

events-with-map:
	disabled: true

search-form:
	title: _x(Search Form, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: false
		sortable: false
		columnable: false

taxonomy-list:
	title: _x(Taxonomy List, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: true
		sortable: true
		columnable: true
		assets:
			js:
				ait-jquery-carousel: true

items:
	title: _x(Items, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: true
		sortable: true
		columnable: true
		cpt:
			- item
		assets:
			js:
				ait-jquery-carousel: true

#featured-items:
#	title: _x(Featured Items, name of element)
#	package:
#		free: false
#		standard: true
#		business: true
#		themeforest: true
#		developer: true
#	configuration:
#		cloneable: true
#		sortable: true
#		columnable: true
#		cpt:
#			- item
#		assets:
#			js:
#				ait-jquery-carousel: true

items-info:
	title: _x(Items Info, name of element)
	package:
		free: false
		standard: true
		business: true
		themeforest: true
		developer: true
	configuration:
		cloneable: true
		sortable: true
		columnable: true

