general:
	title: General
	options:

		layoutType:
			label: Layout Type
			type: image-radio
			checked: layout-wide
			images:
				layout-wide: layout-wide.png
				layout-narrow: layout-narrow.png
			default:
				layout-wide: Wide Layout
				layout-narrow: Narrow Layout

		websiteWidth:
			label: Website Width
			type: range
			unit: px
			min: 1000
			max: 1800
			step: 50
			default: 1200

		leftSidebarWidth:
			label: Left Sidebar Width
			type: range
			unit: %
			min: 10.0
			max: 30.0
			step: 0.1
			default: 20.6

		rightSidebarWidth:
			label: Right Sidebar Width
			type: range
			unit: %
			min: 10.0
			max: 30.0
			step: 0.1
			default: 26.1

		sidebarGap:
			type: variable
			default: 4

		progressivePageLoading:
			label: Progressive Page Loading
			type: on-off
			default: off

		- section(title: 'Main Theme Colors and Backgrounds')

		favicon:
			label: Favicon
			type: image
			default: "/design/img/favicon.png"

		mainbg:
			label: Website Background
			type: background
			default:
				color: '#ffffff'
				opacity: 100%
				image: ''
				repeat: no-repeat
				position: top center
				scroll: scroll
			required: true

		pageBgColor:
			label: Page Background
			type: color
			default: '#ffffff'
			opacity: 100%
			required: true

		titColor:
			label: Titles
			type: color
			default: '#35cbc9'
			required: true

		txtColor:
			label: Text
			type: color
			default: '#777777'
			required: true

		lnkColor:
			label: Links
			type: color
			default: '#ff9c00'
			required: true

		hvrColor:
			label: Links Hover
			type: color
			default: '#f37e2a'
			required: true

		decColor:
			label: Decoration
			type: color
			default: '#9cd8d8'
			required: true

		secdecColor:
			label: Second Decoration
			type: color
			default: '#ff9c00'
			required: true

		featuredColor:
			label: Featured Items Color
			type: color
			default: '#e4f8f8'
			required: true
			help: "Decorative Color for the Featured Items"

		linesColor:
			label: Lines
			type: color
			opacity: 10%
			default: '#000000'
			required: true

		lightObj:
			label: Lighter Objects
			type: color
			default: '#f7f7f7'
			opacity: 100%
			required: true

		darkObj:
			label: Darker Objects
			type: color
			default: '#666666'
			opacity: 100%
			required: true

header:
	title: Header
	options:

#		headerType:
#			label: Header Type
#			type: image-radio-full
#			checked: header-one
#			images:
#				header-one: header-one.png
#				header-two: header-two.png
#			default:
#				header-one: Header One
#				header-two: Header Two


		logo:
			label: Website Logo
			type: image
			default: '/design/img/logo.png'

		logowidth:
			label: Logo width
			type: range
			unit: %
			min: 10.0
			max: 30.0
			step: 0.5
			default: 24.0
			help: "Reserved space for logo"

		menucollapse:
			label: Menu Collapse
			type: range
			unit: px
			min: 768
			max: 1920
			step: 10
			default: 970
			help: "Resolution when main menu is set under logo"

		headbg:
			label: Background
			type: background
			default:
				color: '#ffffff'
				opacity: 100%
				image: ''
				repeat: repeat
				position: center center
				scroll: scroll
			required: true

		topbarbg:
			label: Top Bar Background
			type: color
			default: '#f7f7f7'
			opacity: 100%

		topbarcolor:
			label: Top Bar Color
			type: color
			default: '#777777'

		stickyMenu:
			label: Sticky Menu
			type: on-off
			default: on

		displayHeaderResources:
			label: Display Header Resources
			type: on-off
			default: on

		headerResourcesButtonLink:
			label: Button Link
			type: posts
			cpt: page
			default: ""
			help: "Link used when current user is not logged in"

		userPanel:
			label: Display User Panel
			type: select
			selected: enable
			default:
				enable: Enable
				disable: Disable

		- section(id: userPanel-enable, title: 'User Panel Settings', help: "In case you don't want to provide additional info, leave following fields empty.")

		descLogin:
			label: Login Description
			type: text
			default: ''

		descRegister:
			label: Register Description
			type: text
			default: ''

		conditions:
			label: Terms & Conditions
			type: text
			default: ''

		headerPanelUseCaptcha:
			label: Use Captcha
			type: on-off
			default: on

		- section(title: 'Main Menu Colors and Backgrounds')

		menubg:
			label: Background
			type: color
			default: ''
			opacity: 100%
			image: ''
			repeat: repeat
			position: top center
			scroll: scroll

		menuColor:
			label: Menu Items
			type: color
			default: '#666666'

		menuColorAct:
			label: Active Menu Item
			type: color
			default: '#9cd8d8'

		- section(title: Custom JavaScript Code)

		customJsCode:
			label: JavaScript Code
			type: multiline-code
			default: ''

footer:
	title: Footer
	options:
		- section(title: 'Footer Widgets Area')

		footerbg:
			label: Background
			type: background
			default:
				color: '#FBFBFB'
				opacity: 100%
				image: ''
				repeat: repeat
				position: top center
				scroll: scroll
			required: true

		titFwColor:
			label: Titles
			type: color
			default: '#35cbc9'

		txtFwColor:
			label: Text
			type: color
			default: '#777777'

		lnkFwColor:
			label: Links
			type: color
			default: '#ff9c00'

		decFwColor:
			label: Decoration
			type: color
			default: '#ff9c00'


		- section(title: 'Footer Bar')

		FtText:
			label: Text Area Width
			type: number
			unit: %
			default: 47

		FtMenu:
			label: Menu Area Width
			type: number
			unit: %
			default: 47

		bgColor:
			label: Background
			type: color
			default: '#FBFBFB'
			opacity: 100%

		txtColor:
			label: Text
			type: color
			default: '#777777'

		lnkColor:
			label: Links
			type: color
			default: '#ff9c00'

		hvrColor:
			label: Links Hover
			type: color
			default: '#e36a12'
			opacity: 100%

		text:
			label: Text Area
			type: editor
			default: '<p><a href="http://www.ait-themes.club">© 2016 Copyright by AIT.</a> All rights reserved. Lorem ipsum dolor sit amet consecteur...</p>'

		- section(title: Custom JavaScript Code)

		customJsCode:
			label: JavaScript Code
			type: multiline-code
			default: ''

typography:
	title: Typography
	options:

		titleFont:
			label: Title Website Font
			type: font-select
			choices:
				system:
					label: System font
					font-family: 'Arial, sans-serif'
				google:
					label: Google Fonts
			default: google@Raleway

		mainFont:
			label: Main Website Font
			type: font-select
			choices:
				system:
					label: System font
					font-family: 'Arial, sans-serif'
				google:
					label: Google Fonts
			default: system

		- section(title: Font Sizes)

		txtSize:
			label: Standard Text
			type: number
			unit: px
			default: 14
			help: "Basic text size in px"

		#smlSize:
		#	label: Small Text
		#	type: number
		#	unit: px
		#	default: 13
		#	help: "Small text size in px"

		litSize:
			label: Little Text
			type: number
			unit: px
			default: 12
			help: "Little text size in px"

		decSize:
			label: Decoration Text
			type: number
			unit: px
			default: 16
			help: "Size of decoration texts, buttons and other texts in px"

		mnuSize:
			label: Main Menu Text
			type: number
			unit: px
			default: 13
			help: "Menu text size in px"

		boxSize:
			label: Box Title Text
			type: number
			unit: px
			default: 20
			help: "Size of titles in boxes"

		h1Size:
			label: H1
			type: number
			unit: px
			default: 30
			help: "Size of H1 titles in px"

		h2Size:
			label: H2
			type: number
			unit: px
			default: 26
			help: "Size of H2 titles in px"

		h3Size:
			label: H3
			type: number
			unit: px
			default: 22
			help: "Size of H3 titles in px"

		h4Size:
			label: H4
			type: number
			unit: px
			default: 18
			help: "Size of H4 titles in px"

		h5Size:
			label: H5
			type: number
			unit: px
			default: 16
			help: "Size of H5 titles in px"

		h6Size:
			label: H6
			type: number
			unit: px
			default: 14
			help: "Size of H6 titles in px"

breadcrumbs:
	title: Breadcrumbs
	options:
		# changed separator type to variable because in the directory2 theme it is not changable
		separator:
			label: Separator
			type: code
			default: '/'

		#before:
		#	label: Breadcrumbs Text
		#	type: text
		#	default: 'You are here:'

		showHome:
			label: Text for "Home"
			type: text
			default: "Home"

		network:
			label: Website Title
			type: on-off
			default: on

# Allows adding sidebars and widget areas from theme admin
@widgetAreasAndSidebars:
	title: 'Sidebars & Widget Areas'
	options:

		- section(title: Sidebars, help: 'Add new Sidebar by click on "+ Add New Item" link, or remove existing Sidebar by clicking on red cross.')


		@sidebar:
			label:
			type: clone
			min: 1
			max: infinity
			removeAll: false
			sort: false
			items:
				name:
					label: Name
					type: text
			default:
				0:
					name: 'General (Subpage)'
				1:
					name: Homepage
				2:
					name: Blog
				3:
					name: Blog Post
				4:
					name: Portfolio Item
				5:
					name: Item
				6:
					name: Shop
				7:
					name: Registration
				8:
					name: Menu

		- section(title: Footer Widget Areas, help: 'Add new Footer Widget Area by click on "+ Add New Item" link, or remove existing Footer Widget Area by clicking on red cross.')

		footer:
			type: clone
			min: 1
			max: 6
			removeAll: false
			sort: false
			items:
				name:
					label: Name
					type: text
					default: ''
				width:
					label: Width
					type: number
					unit: %
					default: 25
			default:
				0:
					name: Footer Widget Area 1
					width: 31
				1:
					name: Footer Widget Area 2
					width: 23
				2:
					name: Footer Widget Area 3
					width: 23
				3:
					name: Footer Widget Area 4
					width: 23



google:
	title: Google
	options:

		analyticsTrackingId:
			label: Google Analytics Tracking ID
			type: code
		mapsApiKey:
			label: Google Maps API key
			type: code
social:

	title: Social Icons
	options:

		enableSocialIcons:
			label: Display
			type: on-off
			default: on

		socbg:
			label: Background
			type: color
			default: '#000000'
			opacity: 30%

		socIconsNewWindow:
			label: Open In New Window
			type: on-off
			default: on

		socIcons:
			label: Social Icons
			type: clone
			max: 10
			items:
				title:
					label: Title
					type: text
				icon:
					label: Icon
					type: font-awesome-select
					category: social
					less: false
				iconColor:
					label: Icon Color
					type: color

				#iconDark:
				#	label: Icon Dark
				#	type: image
				#	less: false
				url:
					label: Link
					type: url
			default:
				0:
					title: Facebook
					icon: 'fa-facebook'
					iconColor: '#3b5998'
					#iconDark: '/design/img/ico/icon-social-fb-hover.png'
					url: 'http://www.facebook.com/AitThemes'
				1:
					title: Twitter
					icon: 'fa-twitter'
					iconColor: '#00aced'
					#iconDark: '/design/img/ico/icon-social-tw-hover.png'
					url: 'http://www.twitter.com/AitThemes'
				2:
					title: 'YouTube'
					icon: 'fa-youtube'
					iconColor: '#bb0000'
					#iconDark: '/design/img/ico/icon-social-yt-hover.png'
					url: 'https://www.youtube.com/user/AitThemes'
				3:
					title: dribbble
					icon: 'fa-dribbble'
					iconColor: '#ea4c89'
					#iconDark: '/design/img/ico/icon-social-dr-hover.png'
					url: 'https://dribbble.com/aitthemes'


items:
	title: "Item Category / Location Options"
	options:
		- section(title: Basic Options)
		categoryDefaultIcon:
			label: Category Default Icon
			type: image
			default: "/design/img/categories/category_default.png"
			help: "Default icon for categories without own icon"
		categoryDefaultPin:
			label: Category Default Map Marker
			type: image
			default: "/design/img/pins/default_pin.png"
			help: "Default marker for categories without own map marker"

		locationDefaultIcon:
			label: Location Default Icon
			type: image
			default: "/design/img/categories/location.png"
			help: "Default icon for locations without own icon"

		categoryDefaultImage:
			label: Category Default Image
			type: image
			default: ""
			help: "Default image for categories without own header image"
		locationDefaultImage:
			label: Location Default Image
			type: image
			default: ""
			help: "Default image for locations without own header image"

		#headerImageHeight:
		#	label: Header image height
		#	type: number
		#	default: 375

		- section(title: List Options)
		categoryColumns:
			label: Columns
			type: select
			selected: 4
			default: [2, 3, 4]
			help: "Number of items per row"

		- section(title: Sorting Options)
		sortingDefaultCount:
			label: Number of Items
			type: number
			default: 12
			help: "Number of items listed on one page"
		sortingDefaultOrderBy:
			label: Order By
			type: select
			selected: date
			default:
				date: Date
				title: Title
			help: "Select order of items listed on page"
		sortingDefaultOrder:
			label: Order
			type: select
			selected: ASC
			default:
				ASC: ASC
				DESC: DESC
			help: "Select order of items listed on page"
		sortingEnableMapPagination:
			label: Header Map Pagination
			type: on-off
			default: off
			help: "Enable pagination in Header Map. Works only on Search and Taxonomy pages"
		taxonomyLayout:
			label: Taxonomy Page Layout
			type: select
			selected: list
			default:
				list: List
				box: Box
			help: "Select layout type of displayed items"
		searchLayout:
			label: Search Page Layout
			type: select
			selected: box
			default:
				list: List
				box: Box
			help: "Select layout type of displayed items"

		- section(title: Featured Categories)
		maxDisplayedCategories:
			label: Maximum categories displayed
			type: number
			default: 3
			less: false
			help: Maximum categories displayed on serach results and breadcrumbs

item:
	title: Item Detail Options
	options:
		- section(title: Basic Options)
		noFeatured:
			label: Default Featured Image
			type: image
			default: "/design/img/default_featured_img.jpg"
			help: "Default image for items without own featured image"

		noHeader:
			label: Default Header Image
			type: image
			default: ""
			help: "Default image for items without own header image"

		- section(title: Contact Owner Options)
		contactOwnerButtonTitle:
			label: Button Title
			type: text
			default: "Contact Owner"
			help: "Title displayed on contact button"
		contactOwnerButtonDisabledTitle:
			label: Disabled Button Title
			type: text
			default: "Contact Disabled by Owner"
			help: "Title displayed on disabled contact button"

		contactOwnerMailFromName:
			label: Email From Name
			type: string
			default: ""
			help: "Email name to send email from"
		contactOwnerMailFromEmail:
			label: Email From Address
			type: string
			default: ""
			help: "Email address to send email from"

		contactOwnerMailForm:
			label: Email Message
			type: textarea
			default: '{user-name} has written the following message: {user-message}'
			help: "Text displayed in email sent via contact form. Avalaible variables {user-name}, {user-email}, {user-message}"

		contactOwnerInputNameLabel:
			label: Name Input Label
			type: text
			default: "Your Name"
			help: "Label for name input"
		contactOwnerInputEmailLabel:
			label: Email Input Label
			type: text
			default: "Your Email"
			help: "Label for email input"
		contactOwnerInputSubjectLabel:
			label: Subject Input Label
			type: text
			default: "Your Subject"
			help: "Label for subject input"
		contactOwnerInputMessageLabel:
			label: Message Input Label
			type: text
			default: "Your Message"
			help: "Label for message area"
		contactOwnerSendButtonLabel:
			label: Send Button Label
			type: text
			default: "Send Message"
			help: "Label for send button"
		contactOwnerMessageSuccess:
			label: Success Message
			type: text
			default: "Owner has been contacted"
			help: "Message displayed when form is sent successfully"
		contactOwnerMessageErrorUser:
			label: Validation Error Message
			type: text
			default: "Input fields contain invalid values"
			help: "Message displayed when validation is not successful"
		contactOwnerMessageErrorServer:
			label: Server Error Message
			type: text
			default: "Server encountered an error, if the problem remains, contact the page administrator"
			help: "Message displayed when form sending failed"

		- section(title: Map Options)
		mapHeight:
			label: Map Height
			type: number
			unit: px
			default: 350
			help: "Height of Google Map"
		mapZoom:
			label: Map Zoom
			type: range
			min: 1
			max: 21
			default: 18
			help: "Zoom level of Google Map"

		mapDisplayLandscapeShow:
			label: Display landscape
			type: on-off
			default: on
		mapDisplayAdministrativeShow:
			label: Display administratives
			type: on-off
			default: on
		mapDisplayRoadsShow:
			label: Display roads
			type: on-off
			default: on
		mapDisplayWaterShow:
			label: Display water
			type: on-off
			default: on
		mapDisplayPoiShow:
			label: Display poi
			type: on-off
			default: on
		- section(title: Address Options)
		addressHideEmptyFields:
			label: Hide Empty Values
			type: on-off
			default: off
			help: "Hide empty contact information"
		addressHideGpsField:
			label: Hide GPS
			type: on-off
			default: off
			help: "Hide GPS information"
		addressWebNofollow:
			label: Nofollow Web Link
			type: on-off
			default: off
			help: "Use nofollow attribute in web link for SEO purposes"
		- section(title: Features Options)
		featuresColumns:
			type: variable
			default: 6
			#label: Columns
			#type: select
			#selected: 6
			#default: [1, 2, 3, 4 ,5, 6]
			#help: "Number of items per row"
		featuresIconSize:
			label: Icon Size
			type: number
			default: 22
			help: "Size of features icons"
		featuresDisplayDesc:
			label: Display Descriptions
			type: on-off
			default: on
			help: "Display features descriptions"

packages:
	title: Packages
	options:
		expirationNotificationEnable:
			label: Enable Email Notification
			type: on-off
			default: on
		expirationNotificationTime:
			label: Email Notification Time
			type: range
			min: 1
			max: 30
			step: 1
			default: 5
			help: "Number of days before account expires"
		expirationNotificationSubject:
			label: Email Notification Subject
			type: text
			default: "Your account will expire soon"
		expirationNotificationMessage:
			label: Email Notification Message
			type: textarea
			default: ""

		packageTypes:
			label: Package Types
			type: clone
			max: infinity
			items:
				adminApprove:
					label: Admin approve
					type: on-off
					less: false
					help: "Admin must approve item before showing on frontend"
				adminApproveEdit:
					label: Admin approve edited
					type: on-off
					less: false
					help: "Admin must approve edited item before showing on frontend"
				itemsFeatured:
					label: Featured items
					type: on-off
					less: false
					help: "Items in this package can be featured"
				#itemsFeaturedAll:
					#label: All items are featured
					#type: on-off
					#less: false
					#help: "By enabling (on) this option, all items in the package will be featured. Otherwise admin need to specify featured items manually."
				name:
					label: Name
					type: string
					less: false

				slug:
					type: hidden
					uuid: true
					default: ''

				desc:
					label: Description
					type: string
					less: false
				maxItems:
					label: Maximum Items
					type: number
					less: false
				expirationLimit:
					label: Expiration Limit
					type: number
					less: false
					help: "Package expiration limit in days (0 for unlimited). Used for free and single paypal payments."
				price:
					label: Price
					type: number
					less: false
					help: "Package price (0 for free)"

				capabilityEditor:
					label: "Content (Editor)"
					type: on-off
					less: false
				capabilityMedia:
					label: "Content (Media)"
					type: on-off
					less: false
				capabilityExcerpt:
					label: Excerpt
					type: on-off
					less: false
				capabilityImage:
					label: Image
					type: on-off
					less: false
				capabilityComments:
					label: Comments
					type: on-off
					less: false
				capabilityHeaderType:
					label: Header Type
					type: on-off
					less: false
				capabilityAddress:
					label: Address
					type: on-off
					less: false
				capabilityTelephone:
					label: Telephone
					type: on-off
					less: false
				capabilityEmail:
					label: Email
					type: on-off
					less: false
				capabilityWeb:
					label: Web
					type: on-off
					less: false
				capabilityOpeningHours:
					label: Opening Hours
					type: on-off
					less: false
				capabilitySocialIcons:
					label: Social Icons
					type: on-off
					less: false
				capabilityGallery:
					label: Gallery
					type: on-off
					less: false
				capabilityFeatures:
					label: Features
					type: on-off
					less: false
				capabilityYoastseo:
					label: Yoast Seo
					type: on-off
					less: false
					help: 'only appliable when Yoast SEO plugin is installed'

			default:
				0:
					adminApprove: 'on'
					itemsFeatured: 'off'
					itemsFeaturedAll: 'on'
					name: 'Free'
					slug: '63911c36'
					desc: ''
					maxItems: 3
					expirationLimit: 0
					price: 0
					capabilityEditor: 'off'
					capabilityExcerpt: 'off'
					capabilityImage: 'off'
					capabilityComments: 'on'
					capabilityAddress: 'off'
					capabilityTelephone: 'off'
					capabilityEmail: 'off'
					capabilityWeb: 'off'
					capabilityOpeningHours: 'off'
					capabilitySocialIcons: 'off'
					capabilityGallery: 'off'
					capabilityFeatures: 'off'
					capabilityYoastseo: 'off'

payments:
	title: Payments
	options:
		currency:
			label: Currency
			type: select
			selected: USD
			default:
				AUD: 'Australian Dollar (AUD)'
				BRL: 'Brazilian Real (BRL)'
				CAD: 'Canadian Dollar (CAD)'
				CZK: 'Czech Koruna (CZK)'
				DKK: 'Danish Krone (DKK)'
				EUR: 'Euro (EUR)'
				HKD: 'Hong Kong Dollar (HKD)'
				HUF: 'Hungarian Forint (HUF)'
				ILS: 'Israeli New Sheqel (ILS)'
				JPY: 'Japanese Yen (JPY)'
				MYR: 'Malaysian Ringgit (MYR)'
				MXN: 'Mexican Peso (MXN)'
				NOK: 'Norwegian Krone (NOK)'
				NZD: 'New Zealand Dollar (NZD)'
				PHP: 'Philippine Peso (PHP)'
				PLN: 'Polish Zloty (PLN)'
				GBP: 'Pound Sterling (GBP)'
				RUB: 'Russian Ruble (RUB)'
				SGD: 'Singapore Dollar (SGD)'
				SEK: 'Swedish Krona (SEK)'
				CHF: 'Swiss Franc (CHF)'
				TWD: 'Taiwan New Dollar (TWD)'
				THB: 'Thai Baht (THB)'
				TRY: 'Turkish Lira (TRY)'
				USD: 'U.S. Dollar (USD)'
			help: "Currency code for payments"


		- section (title: "Payment Gates")
		bankTransfer:
			label: Bank Transfer
			controller: none
			type: payment
			default: on
		paypal:
			label: PayPal
			controller: AitPaypal
			type: payment
			default: on
		paypalRecurring:
			label: PayPal Recurring
			controller: AitPaypalSubscriptions
			type: payment
			default: off
		stripe:
			label: Stripe
			controller: AitStripe
			type: payment
			default: off
