@include: common.neon

category:
	label: Category
	type: categories
	taxonomy: faqs
	default: 0
	help: "Select category displayed on page"
	basic: true

count:
	label: Count
	type: number
	default: 3
	help: "Number of visible items"
	basic: true

orderby:
	label: Order By
	type: select
	selected: menu_order
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		title: Alphabetically
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'
	basic: true

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'
	basic: true

showCategoryData:
	label: Category Data
	type: on-off
	default: on
	help: "Display category information on page"
	basic: true