@include: common.neon

type:
	label: Type
	type: select
	default:
		ROADMAP: Normal Map
		SATELLITE: Satellite Map
		HYBRID: Hybrid Map
	basic: true
	help: "Select type of Google Map"

contentSize:
	label: Size
	type: select
	default:
		contentsize: Content Size
		fullsize: Fullwidth Size
	basic: true
	help: "Select size of Google Map"

height:
	label: Height
	type: number
	unit: px
	default: 370
	basic: true
	help: "Height of Google Map"

markers:
	label: Markers
	type: clone
	max: infinity
	basic: true
	help: 'Add new Marker by click on "+ Add New Item" link, or remove existing Marker by clicking on red cross. Click on "Remove All Items" link to remove all existing Markers.'
	items:
		title:
			label: Title
			type: text
			help: "Title displayed in infowindow"
		url:
			label: Link
			type: url
			help: "URL of link displayed in infowindow, use valid URL format with http://"
		description:
			label: Description
			type: text
			help: "Description displayed in infowindow"
		icon:
			label: Icon Image
			type: image
			less: false
			help: "Marker image URL"
		address:
			label: Address
			type: text
			default: ''
			help: "Address for marker position"
	default: []

#address:
#	label: Address
#	type: text
#	default: ''
#	basic: true
#	help: "Address of default position shown on Google Map"
address:
	label: Address
	type: map
	default:
		address: ""
		latitude: "1"
		longitude: "1"
		streetview: off
	basic: true
	help: "Address of default position shown on Google Map"

zoom:
	label: Zoom
	type: range
	less: false
	min: 0
	max: 21
	default: 12
	basic: true
	help: "Zoom level of Google Map"

- section(title: 'Map General Colors', advanced: true)

borderColor:
	label: Map's Border
	type: color
	default: ''
	help: "Border color of Google Map"

mapHue:
	label: Map's Hue
	type: color
	default: ''
	help: "Hue color of Google Map"

mapSaturation:
	label: Map's Saturation
	type: range
	min: -100
	max: 100
	step: 1
	default: '0'
	help: "Saturation level of Google Map"

mapBrightness:
	label: Map's Brightness
	type: range
	min: -100
	max: 100
	step: 1
	default: '0'
	help: "Brightness level of Google Map"

- section(title: 'Map Object Colors', advanced: true)

objSaturation:
	label: Saturation
	type: range
	min: -100
	max: 100
	step: 1
	default: '0'
	help: "Saturation level of Google Map objects"

objBrightness:
	label: Brightness
	type: range
	min: -100
	max: 100
	step: 1
	default: '0'
	help: "Brightness level of Google Map objects"

landscapeColor:
	label: Landscape Hue
	type: color
	default: ''
	help: "Hue color of Google Map landscape"

administrativeColor:
	label: Administrative Hue
	type: color
	default: ''
	help: "Hue color of Google Map administrative areas"

roadsColor:
	label: Roads Hue
	type: color
	default: ''
	help: "Hue color of Google Map roads"

waterColor:
	label: Water Hue
	type: color
	default: ''
	help: "Hue color of Google Map water"

poiColor:
	label: POI Hue
	type: color
	default: ''
	help: "Hue color of Google Map Points Of Interest"

mousewheelZoom:
	label: MouseWheel Zoom
	type: on-off
	default: off
