/* inFocus - Fading Slider Fix
-------------------------------------------------------------- */
.fading_slider #slider_module_inner .floating_slide,
.fading_slider #slider_module_inner .staged_slide,
.fading_slider #slider_module_inner .overlay_slide,
.fading_slider #slider_module_inner .partial_gradient_slide{background:none!important;}
.fading_slider #slider_module_inner.floating_slide #mysite_fading_slider{background:url(../../images/sliders/floating.png) center top no-repeat;}
.fading_slider #slider_module_inner.staged_slide #mysite_fading_slider{background:url(../../images/sliders/staged.png) center top no-repeat;}
.fading_slider #slider_module_inner.overlay_slide #mysite_fading_slider{background:url(../../images/sliders/staged.png) center top no-repeat;}
.fading_slider #slider_module_inner.partial_gradient_slide #mysite_fading_slider{background:url(../../images/sliders/staged.png) center top no-repeat;position:relative;}
.fading_slider .raw_html .positioning span img{
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);}

/* Shadow Alt
-------------------------------------------------------------- */
.tabs_vertical li a,.featured_tabs li a{background:url(../../images/shortcodes/inset_line3.png) left bottom repeat-x;}
.about_author_module,.share_this_module{border-top:1px solid #fff;border-bottom:1px solid #d5d5d5;outline:1px solid #EAEAEA;}
#body_inner .galleria-container,
.fancy_image img,.framed,.video_frame,
.mysite_flickr_widget img,
.wp-caption,#content .gallery img,
.single_post_image img,.post_grid_image img,.post_list_image img,
.about_author_module .avatar,
.fancy_table, .fancy_box, .pullquote, .toggle_frame
{outline:1px solid #EAEAEA;}

/* Opacity
-------------------------------------------------------------- */
.transparent_border{filter:alpha(opacity=15);}
.slider_nav_thumb .slider_nav a {filter:alpha(opacity=60);}
.slider_nav_thumb .slider_nav a:hover {filter:alpha(opacity=100);}
