<h2>Modern 1</h2>

[%su_heading style="modern-1-dark"] Heading [/%su_heading]
[%su_heading style="modern-1-light"] Heading [/%su_heading]
[%su_heading style="modern-1-blue"] Heading [/%su_heading]
[%su_heading style="modern-1-orange"] Heading [/%su_heading]
[%su_heading style="modern-1-violet"] Heading [/%su_heading]

-----

<h2>Modern 2</h2>

[%su_heading style="modern-2-dark"] Heading [/%su_heading]
[%su_heading style="modern-2-light"] Heading [/%su_heading]
[%su_heading style="modern-2-blue"] Heading [/%su_heading]
[%su_heading style="modern-2-orange"] Heading [/%su_heading]
[%su_heading style="modern-2-violet"] Heading [/%su_heading]

-----

<h2>Line</h2>

[%su_heading style="line-dark"] Heading [/%su_heading]
[%su_heading style="line-light"] Heading [/%su_heading]
[%su_heading style="line-blue"] Heading [/%su_heading]
[%su_heading style="line-orange"] Heading [/%su_heading]
[%su_heading style="line-violet"] Heading [/%su_heading]

-----

<h2>Dotted line</h2>

[%su_heading style="dotted-line-dark"] Heading [/%su_heading]
[%su_heading style="dotted-line-light"] Heading [/%su_heading]
[%su_heading style="dotted-line-blue"] Heading [/%su_heading]
[%su_heading style="dotted-line-orange"] Heading [/%su_heading]
[%su_heading style="dotted-line-violet"] Heading [/%su_heading]

-----

<h2>Flat</h2>

[%su_heading style="flat-dark"] Heading [/%su_heading]
[%su_heading style="flat-light"] Heading [/%su_heading]
[%su_heading style="flat-blue"] Heading [/%su_heading]
[%su_heading style="flat-green"] Heading [/%su_heading]