<h2>Modern</h2>

[%su_spoiler title="Spoiler title" style="modern-dark"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="modern-light"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="modern-violet"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="modern-orange"] Spoiler content [/%su_spoiler]

-----

<h2>Glass</h2>

[%su_spoiler title="Spoiler title" style="glass-dark"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="glass-light"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="glass-blue"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="glass-green"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="glass-gold"] Spoiler content [/%su_spoiler]

-----

<h2>Mixed</h2>

[%su_spoiler title="Spoiler title" style="carbon"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="sharp"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="grid"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="wood"] Spoiler content [/%su_spoiler]
[%su_spoiler title="Spoiler title" style="fabric"] Spoiler content [/%su_spoiler]