<h2>Modern</h2>

[%su_tabs style="modern-dark"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="modern-light"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="modern-blue"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="modern-orange"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

-----

<h2>Flat</h2>

[%su_tabs style="flat-dark"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="flat-light"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="flat-blue"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="flat-green"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

-----

<h2>Mixed</h2>

[%su_tabs style="carbon"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="sharp"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="grid"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="wood"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]

[%su_tabs style="fabric"]
	[%su_tab title="Tab 1 title"] Tab 1 content [/%su_tab]
	[%su_tab title="Tab 2 title"] Tab 2 content [/%su_tab]
	[%su_tab title="Tab 3 title"] Tab 3 content [/%su_tab]
[/%su_tabs]