/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/

.btn {
    padding: $_u4 $_u;

    white-space: normal;
    max-width: 100%;

    letter-spacing: .0625em;
    @include font-size(16px, true, 1.083);
    font-weight: 500;
    
    background-color: #262525;
    color: #a6a1a1;

    transition: all .15s;
    border-radius: 5px;

    &:hover {
        background-color: $accent;
        color: white !important;
    }

    &.btn--beta { @include font-size(12px, true, 1.25); }
    &.btn--alpha { @include font-size(12px, true, 1.5); }
}

.btn--primary {
    background-color: $accent;
    color: white;

    &:hover {
        background:$dark;
    }
}

.btn--secondary {
    color: white;
}

.btn--tertiary {
    @extend .btn--secondary;
    background-color: $light;

    &:hover {
        color: $dark !important;
    }
}


/*------------------------------------*\
    $SIZES
\*------------------------------------*/
.btn--small {
    padding: $_u4 18px;
    
    @include font-size(14px, true, 0.75);
    font-weight: normal;

    &.btn--beta { @include font-size(11px, true, 1); }
    &.btn--alpha { @include font-size(11px, true, 1.25); }
}

.btn--large {
    padding-left: 2em;
    padding-right: 2em;

    @include font-size(18px, true, 1.5);
    
    &.btn--beta { @include font-size(16px, true, 1.75); }
    &.btn--alpha { @include font-size(16px, true, 2); }
}

.btn--huge {
    padding-left: 2.5em;
    padding-right: 2.5em;

    @include font-size(22px, true, 2);

    &.btn--beta { @include font-size(20px, true, 2.5); }
    &.btn--alpha { @include font-size(20px, true, 3); }
}

.btn-list {
    @extend .cf;
    padding: 0;
    margin: 0 0 0 -2px;
    list-style: none;

    > .btn, > li, > a {
        float: left;
        margin-left: 2px;
        margin-bottom: 2px;
    }
}

.meta-list{
    margin-bottom: $_u2;

    .btn { 
        padding: 0 6px;

        @include font-size(12px); 
        text-transform: uppercase;
    }

    .list-head{
        margin-right: $_u2;
        border: 1px solid transparent;
    }

    a.btn{
        @extend .link--light;

        margin-left: 0;

        border: 1px solid $border;
        border-right: 0;
        border-radius: 0;

        background: transparent;
    }

    a.btn:last-child{
        border-right: 1px solid $border;
    }
}

/*------------------------------------*\
    $MISCELLANEOUS
\*------------------------------------*/
.btn--speech {
    position:relative;
    padding: 5px $_u2;
    border: 1px solid $border;
    background: transparent;

    &:before, &:after {
        content: "";
        position: absolute;
        top:100%;
        left: 47%;
        transform: translateX(-50%);
        border-collapse: separate;
    }
    &:after {
        width: 0;
        height: 0;

        border-width: 11px 11px 0 0;;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
    }

    &:before {
        border-width: $_u2 $_u2 0 0;
        border-style: solid;
        border-color: #a9a9a9 transparent transparent transparent;
    }
}