/* Media queries for responsive */

@media (max-width: 767px) {

    /* ========== HEADER ===========*/
    #nav:not(.mobile-clone), #logo:not(.mobile-clone){
        display: none !important;
    }
    .nav.mobile-clone, #logo.mobile-clone {
        display: inline-block !important;
    }

    #header {
        position: relative !important;
        text-align: center;
        z-index: 1000;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #header + div {
        margin-top: 0 !important;
    }

    #header-container .container {
        padding: 0;
    }

    #header-sidebar {
        border-bottom: 1px solid;
        margin-left: -15px;
        margin-right: -15px;
        width: 100%;
        float: none;
        display: inline-block;
        position: relative;
    }

    .skin2 #header-sidebar {
        position: static;
    }

    .skin2 .row1 {
        min-height: 0;
    }

    #header .nav,
    #header .widget_search_mini,
    #header #welcome-menu,
    #header #welcome-menu-login,
    #header .yit_cart_widget,
    .woocommerce #header .yit_cart_widget {
        display: inline-block;
        height: 45px;
        width: 24%;
        margin: 0;
        padding: 0;
        vertical-align: top;
        float: none;
        border-left: 1px solid;
        background: no-repeat top center;
    }

    #logo {
        float: none;
        display: inline-block;
    }

    #header .main-nav {
        border-left: 0;
    }

    #header .main-nav > ul {
        display: none;
        position: absolute;
        border-top: 1px solid;
        left: 0;
        background: #fff;
        height: auto;
        width: 100%;
        padding: 4px 6% 12px;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(30, 30, 30, 0.1);
        -moz-box-shadow:    0px 2px 5px 0px rgba(30, 30, 30, 0.1);
        box-shadow:         0px 2px 5px 0px rgba(30, 30, 30, 0.1);
    }

    #header .main-nav .menu-trigger {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 26px;
        padding-top: 10px;
        color: #999;
    }

    #header .main-nav li.icon-home-responsive {
        display: none;
    }

    #header .nav li {
        line-height: normal;
        display: block;
        padding: 4px 0;
    }

    #header .nav li .submenu {
        position: static;
        min-height: 0 !important;
        width: auto !important;
        margin: 0 !important;
        background: none !important;
        border: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        padding-top: 0;
    }

    #header .nav ul.sub-menu,
    #header .nav ul.children {
        padding-top: 3px;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
            -ms-box-shadow: none;
             -o-box-shadow: none;
                box-shadow: none;
    }

    #header .nav li .submenu ul {
        padding: 0 0 0 13px;
    }

    #header .nav li .submenu ul li,
    #header .nav li .submenu ul li a {
        margin-left: 0;
        padding: 2px 0 0 !important;
    }

    #header .nav li .submenu ul li a:before {
        content: "- ";
        display: inline;
        position: static;
        opacity: 1;
        background: none;
    }

    #header .nav li.menu-item-has-children {
        display: block !important;
        opacity: 1 !important;
    }

    #header .nav .megamenu ul.sub-menu {
        padding: 0 0 0 13px;
        margin: 0;
        width: 100%;
    }

    #header .nav .megamenu ul.sub-menu li {
        border: 0;
        background: none !important;
        height: auto !important;
    }

    .nav ul > li a {
        color: #000 !important;
    }

    #header-sidebar .widget_search_mini .search_mini_button {
        height: 100%;
        width: 100%;
        font-size: 24px;
        padding-top: 10px;
        color: #999;
    }

    #header-sidebar .widget_search_mini .search_mini_button span {
        display: none;
    }

    .woocommerce #header-sidebar .yit_cart_widget .cart_label,
    #header-sidebar .yit_cart_widget .cart_label,
    #welcome-menu > ul > li.menu-item > a,
    #welcome-menu-login > ul > li.menu-item > a {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    .woocommerce #header-sidebar .yit_cart_widget .cart-items,
    #header-sidebar .yit_cart_widget .cart-items {
        width: 100%;
        height: 100%;
        margin: 0;
        background: no-repeat url('../../../images/mobile-menu/cart.png') top center !important;
    }

    .woocommerce #header-sidebar .yit_cart_widget .cart_wrapper,
    #header-sidebar .yit_cart_widget .cart_wrapper {
        display: none !important;
    }

    #header .nav li.menu-item > a {
        padding: 0;
        line-height: normal;
    }

    #header .nav li.menu-close > a {
        padding: 5px 20px 12px;
        border-bottom: 1px solid #dcdcdc;
        display: block;
        margin-left: -20px;
        margin-right: -20px;
        font-size: 12px;
    }

    .woocommerce #header-sidebar .yit-mini-cart-icon,
    #header-sidebar .yit-mini-cart-icon,
    #header .nav li.menu-item a:before,
    #header .nav li.menu-item a:after,
    #welcome-menu > ul > li.menu-item a span,
    #welcome-menu > ul > li.menu-item a:before,
    #welcome-menu > ul > li.menu-item a:after,
    #welcome-menu-login > ul > li.menu-item a span,
    #welcome-menu-login > ul > li.menu-item a:before,
    #welcome-menu-login > ul > li.menu-item a:after {
        display: none;
    }

    #header #welcome-menu > ul,
    #header #welcome-menu > ul > li,
    #header #welcome-menu-login > ul,
    #header #welcome-menu-login > ul > li {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    /* users icon */
    #header #welcome-menu > ul > li,
    #header #welcome-menu-login > ul > li {
        text-align: center;
        font-size: 24px;
        color: #999;
    }
    #header #welcome-menu > ul > li:before,
    #header #welcome-menu-login > ul > li:before {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #header #welcome-menu > ul > li a,
    #header #welcome-menu-login > ul > li a {
        padding: 0 !important;
    }

    #header.fixed-header #welcome-menu-login.nav ul li.login-menu div.submenu{
        padding-top: 50px;
    }
    #header .nav li .submenu ul#menu-welcome-menu li a{
        padding: 8px 0 !important;
        background-image: none !important;
    }

    #header.fixed-header #welcome-menu-login.nav ul li.login-menu div.submenu{
        display: none !important;
    }
    #header .nav li .submenu ul#menu-welcome-menu li a:before{
        display: none;
    }

    #search_mini {
        width: 60%;
    }

    #header-sidebar,
    #header .widget_search_mini,
    #header #welcome-menu,
    #header #welcome-menu-login,
    .woocommerce #header .yit_cart_widget,
    #header .yit_cart_widget,
    #header .main-nav > ul {
        border-color: #ddd;
    }

    .parallaxeos_animate h1{
        font-size: 45px !important;
    }
    .parallaxeos_animate h2 {
        font-size: 35px !important;
    }
    .counter {
        margin-top: 20px;
    }
    .counter .number {
        font-size: 60px !important;
    }

    /* ========== END HEADER ===========*/

    /* WISHILIST */
    #yith-wcwl-form table.wishlist_table .button {
        padding: 5px 8px 4px;
        display: inline-block;
    }

    .box-title.box-title-line-middle .title-bar:before, .box-title.box-title-line-middle .title-bar:after{
        display: none;
    }

    .banner-container {
        margin-bottom: 20px !important;
    }

    .slider.banners .swiper-slide-big .slide-text.border {
        border: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
    }

    .slider.banners .swiper-slide-big .slide-text.border {
        border: none;
    }

    #primary .testimonials-slider {
        border: none;
    }
    /* Blog Small Thumbanails */
    .single-post .blog.small .post-format.video,
    .single-post .blog.small .post-format.audio{
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    /* Blog Section */
    .blog_section .post_informations {
        display: inline-block;
    }

    .blog_section.thumbnails{
        float: none;
        margin-bottom: 10px;
        padding-right: 0;
    }

    .blog_section.thumbnails .attachment-blog_section{
        display: none;
    }

    .blog_section.thumbnails .attachment-blog_section_mobile{
        display: block;
    }
    .yit_shortcodes.recent-post .hentry-post{
        width: 50%;
        display: inline-block;
        padding-right: 15px;
    } 


    /* =================== GOOGLE MAP ================================*/
    #map .map_info {
        bottom: 18px;
        right: 0;
    }

    #map .container_map_box_info{
        float: left ;
        width: 100%;
    }
    .google-map-frame {
        margin: 20px 0;
    }
    .google-map-frame iframe {
        padding-bottom: 20px;
    }



    /* =================== END GOOGLE MAP ================================*/

    div.margin-bottom.box-sections {
        margin-bottom: 20px !important;
    }
    .team-section .member .thumb > img {
        margin-bottom: 20px;
    }


    /* =================== ONE_FOURTH ================================*/
    .box-sections, .one-fourth, .one-third, .two-fourth, .two-third, .three-fourth { float:none; width:100%; margin:0; clear:both; }
    .box-title, .box-sections, .one-fourth, .one-third, .two-fourth, .two-third { margin-bottom:20px; }
    /* =================== END ONE_FOURTH ================================*/

    .widget.widget_search #searchform #searchsubmit{
        width: 80px;
        background-position: 30px -55px;
        float:right;
    }

    .widget.widget_shopping_cart .product_list_widget .mini-cart-item-info {
        display: table-cell;
        margin-top: auto;
    }

    /* ========== CTA Newsletter ===========*/
    .call-three .newsletter-cta-form-container li:first-child{
        width: 100%;
    }

    .call-three .newsletter-cta-form-container li:nth-child(2){
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    .call-three .newsletter-cta-form-container input[type="submit"]{
        width: auto;
        padding: 8px 20px 6px;
    }
    /* ========== End CTA Newsletter ===========*/

    /* =========== CTA WITH BUTTON =========== */


    .call-to-action-two .call-to-action-two-container div.icon-container{
        display: none;
    }
    .call-to-action-two .call-to-action-two-container div.incipit span {
        font-size: 50%;
    }
    .call-to-action-two .call-to-action-two-container div.call-btn a.btn-alternative {
        font-size: 70%;
    }

    /* =========== END CTA WITH BUTTON ======= */

    /* single sidebar */
    .portfolio-filterable #portfolio_filterable.sidebar-right.three-for-row li,
    .portfolio-filterable #portfolio_filterable.sidebar-left.three-for-row li{
        width: 49.9%!important;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-no.four-for-row li:nth-child( odd ){
        width: 49.9%;
    }

    .portfolio-filterable #portfolio_filterable li:nth-child( odd ){
        clear: both;
    }

    .filters-container ul.filters {
        width: 95%;
    }
    .box-title.box-title-line-around h5, .box-title.box-title-line-around h2 {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* FEATURED TABS */
    .featured-column{
        border: none;
        margin-bottom: 30px !important;
    }

    /* CALL TWO */
    

    /* SHOP */
    .woocommerce ul.products li.product .thumb img, .woocommerce-page ul.products li.product .thumb img {
        width: 100%;
    }
    .woocommerce .products ul li, .woocommerce ul.products li, .woocommerce-page .products ul li, .woocommerce-page ul.products li, .woocommerce ul.product_list_widget li, .yit_products_category ul.product_list_widget li  {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .woocommerce ul.product_list_widget:after, ul.product_list_widget:after{
        content: '';
        display: block;
        clear: both;
    }
    .woocommerce .products-slider ul.products li, .woocommerce-page .products-slider ul.products li{
        width: 100%;
    }
    #footer .woocommerce ul.product_list_widget li, #footer .woocommerce-page ul.product_list_widget li, #footer .widget.yit_products_category ul.product_list_widget li{
        width: 50%;
        display: inline-block;
        padding-right: 15px;
    }
    .woocommerce ul.products li.product.grid .info-product.slideup .price, .woocommerce-page ul.products li.product.grid .info-product.slideup .price,
    .woocommerce ul.products li.product.masonry_item .info-product.slideup .price, .woocommerce-page ul.products li.product.masonry_item .info-product.slideup .price {
        float: none;
        position: relative;
        text-align: left;
        clear: both;
    }
    .woocommerce ul.products li.product .quick-view a, .woocommerce ul.products li.product .quick-view p {
        font-size: 12px;
        text-align: left;
        line-height: 43px;
    }
    .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce span.added_to_cart_ico, .woocommerce-page span.added_to_cart_ico {
        padding: 0px 4px;
        font-size: 12px;
        line-height: 18px;
    }

    .woocommerce ul.products li.product.grid.col-sm-4:nth-child(2n+1){
       float: none;
    }

    .widget.featured-products li img {
        width: 60%;
    }

    .woocommerce #tab-reviews #reviews #comments {
        float: none;
        padding-right: 0;
        width: 100%;
    }
    .woocommerce #review_form_wrapper {
        width: 100%;
    }
    .contact-form ul li {
        padding-right: 0;
    }
    .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
        margin-left: -40px;
    }
    .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
        height: auto;
        padding: 18px 0px 18px 40px;
        text-align: left;
    }
    .woocommerce .woocommerce-message .button.wc-forward, .woocommerce-page .woocommerce-message .button.wc-forward {
        position: relative;
        float: right;
        top: -10px;
        right: 0;
    }
    .woocommerce .cart-user-info{
        margin-top: 20px;
    }

    /* AJAX SEARCH */

    .yith-ajaxsearchform-container .search-navigation {
        width: 60%;
    }

    .yith-ajaxsearchform-container .sbHolder {
        width: 20%;
    }

    /* TESTIMONIALS */
    #testimonial.testimonial-comic .testimonial-box {
        padding: 15px 15px 20px 15px;
    }
    #testimonial.testimonial-comic {
        background: none;
    }
    #testimonial.testimonial-comic .testimonial-text p:after {
        display: none;
    }
    .testimonial-item-square {
        width: 50%;
        float: left;
    }


    #faqs-container{
        margin-bottom: 40px;
    }
    .logos-slider .list_carousel ul li {
        margin: 0;
        text-align: center;
    }
    .logos-slider a[href='#'] {
        display: inline-block;
    }


    /* FOOTER */
    #footer .widget.recent-posts .recent-post .hentry-post{
        width: 50%;
        display: inline-block;
        padding-right: 15px;
        float: left;
    }

    /* DISABLE THE POPUP */
    .yitpopup_overlay, .yitpopup_wrapper{
        display: none !important;
    }


    .section.services .service-wrapper{
        width: 50%;
    }
   

    /* PRETTYPHOTO */
    div.pp_default {
        left: 5% !important;
        right: 5% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 90% !important
    }

    div.pp_default .pp_contract, div.pp_default .pp_expand, div.pp_default .pp_gallery, div.pp_default .pp_next, div.pp_default .pp_previous {
        display: none !important
    }

    div.pp_default .pp_arrow_next, div.pp_default .pp_arrow_previous, div.pp_default .pp_close {
        height: 44px;
        width: 44px;
        font-size: 44px;
        line-height: 44px
    }

    div.pp_default .pp_arrow_next:before, div.pp_default .pp_arrow_previous:before, div.pp_default .pp_close:before {
        font-size: 44px
    }

    div.pp_default .pp_description {
        display: none !important
    }

    .pp_content, div.pp_default .pp_details {
        width: 100% !important
    }

    .pp_content img {
        width: 100% !important;
        height: auto !important
    }

    .currentTextHolder {
        line-height: 3
    }


    /* SLIDER BANNER */
    .slider.banners .swiper-slide-big {
        width: 160px;
    }
    .slider.banners .swiper-slide-small {
        width: 93.6px;
    }
    .slider.banners .swiper-slide-big.swiper-slide:last-child {
        width: 152px;
    }
    .slider.banners .swiper-slide-small.swiper-slide:last-child {
        width: 85.6px;
    }
    .slider.banners .slide-text{
        transform: scale(0.8);
        -ms-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -o-transform: scale(0.8);
    }
    .slider.banners .slide-text h3 {
        transform: scale(0.6);
        -ms-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -o-transform: scale(0.6);
    }

    /* FLEXSLIDER */
    .flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
        margin-top: -4px;
    }

    /* FLEXSLIDER PORTFOLIO */
    .portfolio-pinterest .span3 {
        width: auto;
        margin-right: 20px;
    }

    /* PORTFOLIO PINTEREST */
    .portfolio-pinterest #portfolio_pinterest.sidebar-right.three-for-row li,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left.three-for-row li{
        width: 49.9%!important;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-no.four-for-row li:nth-child( odd ){
        width: 49.9%;
    }

    /*BUDDYPRESS*/
    #buddypress div.item-list-tabs ul li.last{
        float: none;
    }
}

@media (max-width: 480px) {
    div.clear.space{
        display: none;
    }

    .slider-parallax .owl-pagination{
        display: none;
    }
    .slider.banners .next, .slider.banners .prev{
        transform: scale(0.55);
        -ms-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -o-transform: scale(0.55);
        overflow: hidden;
    }
    .slider.banners:hover .next{
        right: 5px;
    }
    .slider.banners:hover .prev{
        left: 5px;
    }

    .btn-flat, a.btn-flat, .btn-alternative, a.btn-alternative, #submit, .button {
        padding: 4px 10px 2px;
    }

    .stylepicker{
        display: none;
    }
    #primary {
        margin-top: 20px;
    }
    /* ========== HEADER ===========*/
    #topbar {
        text-align: center;
        line-height: normal;
    }

    #topbar .widget_text {
        display: block;
    }

    #topbar-left, #topbar-right {
        display: inline-block;
        float: none;
    }

    #topbar .widget:last-of-type {
        margin-right: 0;
    }

    /* ========== END HEADER ===========*/

    .woocommerce #review_form_wrapper, .woocommerce-page #review_form_wrapper{
        display: block;
        width: 100%;
    }
    .woocommerce #tab-reviews #reviews #comments, .woocommerce-page #tab-reviews #reviews #comments {
        float: none;
        width: 100%;
        padding: 0;
    }

    /* ========== CTA Newsletter ===========*/
    .call-three .newsletter-cta-form-container input[type="submit"]{
        width: 100% !important;
        padding: 0 !important;
    }
    /* ========== End CTA Newsletter ===========*/

    /* CTA TWO */
    .call-to-action-two .call-to-action-two-container{
        display: block;
    }
    .call-to-action-two .call-to-action-two-container div.incipit {
        display: block;
        width: 100%;
    }
    .call-to-action-two .call-to-action-two-container div.call-btn {
        position: relative;
        display: block;
        margin-top: 20px;
    }
    .call-to-action-two .call-to-action-two-container div.incipit span {
        padding-top: 20px;
    }
    .call-to-action-two div.call-btn-arrow{
        display: none;
    }
    .call-to-action-two .call-to-action-two-container div.call-btn a.btn-alternative{
        margin-left: -7px;
    }

    /* ========== Product Swiper ========== */
    .products-slider.swiper .swiper-slide img{
        width: 100%;
    }

    /* ========== Portfolio Filterable ========== */
    .portfolio-filterable #portfolio_filterable li,
    .portfolio-filterable #portfolio_filterable.sidebar-no.four-for-row li:nth-child( odd ),
    .portfolio-filterable #portfolio_filterable.sidebar-right.three-for-row li,
    .portfolio-filterable #portfolio_filterable.sidebar-left.three-for-row li{
        width: 100%!important;
    }
    .portfolio_small_image h2.post-title.portfolio-title {
        margin: 15px 0;
        display: block;
    }
    .portfolio_small_image.portfolio-title-bar a.btn {
        position: relative;
        right: 0;
        top: 0;
        margin-bottom: 20px;
    }
    .portfolio_small_image .portfolio_other_project .title-bar:before, .portfolio_small_image .portfolio_other_project .title-bar:after{
        display: none;
    }
    .portfolio_small_image .portfolio_other_project .title-bar h5{
        line-height: normal;
    }

    .filters-container ul.filters li{
        display: inline-block;
        text-align: center;
    }

    .counter {
        transform: scale(0.55);
        -ms-transform: scale(0.55);
        -moz-transform: scale(0.55);
        -webkit-transform: scale(0.55);
        -o-transform: scale(0.55);
        margin-top: -20px;
        margin-bottom: -40px !important;

    }
    .single-post .blog.big .yit_post_meta_wrapper{
        margin-left: 0;
        margin-right: 0;
    }
    .single-post .blog.big .share-wrapper{
        padding: 0;
    }
    .single-post .blog.big .share {
        padding-top: 15px;
    }

    /*#primary .testimonials-slider ul.testimonial-content li blockquote, #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content li blockquote p {
        margin: 0;
    }*/
    #primary .testimonials-slider ul.testimonial-content li blockquote p {
        font-size: 18px;
    }
    .service-wrapper{
        width: 100%;
    }
    .section.services .service-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
    .call-three .newsletter-cta-form-container ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .call-three .newsletter-cta-form-container .text span.newsletter-cta-title {
        font-size: 24px !important;
    }
    .call-three .newsletter-cta-form-container .text span.newsletter-cta-incipit {
        font-size: 16px !important;
    }

    .box-title.box-title-line-middle .title-bar:before, .box-title.box-title-line-middle .title-bar:after{
        display: none !important;
    }
    .box-title.box-title-line-middle .title-bar h5{
        text-align: center;
    }


    .yit_shortcodes.recent-post .hentry-post {
        width: 100%;
        padding-right: 0px;
        float: none;
        clear: both;
    }
    .sc-banner.switch-text, .sc-banner.zoom-box{
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    .sc-banner.switch-text a .sc-content h2, .sc-banner.switch-text a .sc-content h3, .sc-banner.switch-text i, 
    .sc-banner.zoom-box a .sc-content h2, .sc-banner.zoom-box a .sc-content h3, .sc-banner.zoom-box i{
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }
    .sc-banner h2 {
        margin: 10px 0px 0px 80px;
    }
        .banner-image .banner-image-slogan {
        font-size: 16px !important;
    }
    .banner-image .banner-image-subslogan {
        font-size: 24px;
    }
    .pricing_box.price-table div.head h1.title {
        font-size: 12px;
    }
    .price-table div.button-container a.btn-alternative, .price-table div.button-container a.btn-flat {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
    }
    .box-title, .box-sections, .one-fourth, .one-third, .two-fourth, .two-third {
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .filters.faq li {
        padding: 0 14px;
    }
    .contact-info{
        margin-bottom: 20px !important;
    }
    /* BLOG */
    .blog.small .thumbnail, .blog.small .post-format {
        float: none;
        padding: 0;
    }

    .blog.small .thumbnail{
        margin-right: 0;
    }
    .swiper-direction, .swiper-pagination {
        transform: scale(0.6);
        -ms-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        -o-transform: scale(0.6);
    }

    .blog_section .post_informations{
        width: auto;
    }

    .testimonial-item-square {
        width: 100%;
        float: none;
        clear: both;
    }
    .testimonials-slider{
        margin-top: 0px;
    }
    .parallaxeos_animate h3 {
        font-size: 20px !important;
    }
    .parallaxeos_animate h1, .parallaxeos_animate h2, .parallaxeos_animate h3, .parallaxeos_animate h4 {
        margin-top: 40px;
    }
    .parallaxeos_animate a {
        margin-top: 15px;
    }

    ul.testimonial-content li.item {
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }

    #searchform {
        display: inline-block;
        width: 100%;
    }
    #searchform #s {
        width: 80%;
    }
    #searchform #searchsubmit{
        float: right;
    }

    /* SHOP */

    .widget.woocommerce .products ul li, .widget.woocommerce ul.products li, .widget.woocommerce-page .products ul li, .widget.woocommerce-page ul.products li, .widget.woocommerce ul.product_list_widget li, .yit_products_category ul.product_list_widget li {
        width: 50%;
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .widget.woocommerce.widget_recently_viewed_products img, .widget.woocommerce.widget_products img, .widget.woocommerce.widget_top_rated_products img, .widget.woocommerce.widget_recent_reviews img, .widget.yit_products_category img {
        float: none;
        display: block;
        height: auto;
        margin-bottom: 10px;
    }
    #title_bar .product-nav {
        display: none;
    }
    .woocommerce ul.products li.product .quick-view a, .woocommerce ul.products li.product .quick-view p{
        text-align: center;
    }
    .woocommerce ul.products li.product .quick-view a.trigger {
        display: none;
    }
    .woocommerce ul.products li.product .quick-view .ico-cart{
        position: inherit;
        margin-top: 0;
    }
    .woocommerce .products ul li:nth-child(odd), .woocommerce ul.products li:nth-child(odd), .woocommerce-page .products ul li:nth-child(odd), .woocommerce-page ul.products li:nth-child(odd), .woocommerce ul.product_list_widget li:nth-child(odd), .yit_products_category ul.product_list_widget li:nth-child(odd){
        clear: left;
    }

    .single-product.woocommerce div.product div.images {
        float: none;
        width: 100% !important;
    }
    .single-product.woocommerce div.product div.summary {
        display: block;
        width: 100% !important;
        padding: 0 !important;
    }
   /* .woocommerce div.product-actions div.compare {
        display: none;
    }*/

    .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
        padding: 18px 0;
        text-align: center;
    }
    .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
        display: none;
    }
    .woocommerce .woocommerce-message .button.wc-forward, .woocommerce-page .woocommerce-message .button.wc-forward {
        width: 100%;
        margin-top: 5px;
    }
    .woocommerce table.shop_table.cart div.product-thumbnail{display: none;}
    .woocommerce table.shop_table.cart th.product-name, .woocommerce-page table.shop_table.cart th.product-name{
        padding-left: 0;
    }
    .woocommerce table.shop_table.shipping td section p, 
    .woocommerce table.shop_table.shipping td section p.form-row-wide-last, 
    .woocommerce form .form-row select, 
    .woocommerce-page form .form-row select, 
    .woocommerce form .form-row-first, 
    .woocommerce-page form .form-row-first, 
    .woocommerce form .form-row-last, 
    .woocommerce-page form .form-row-last{
        width: 100%;
    }
    .woocommerce .order_details li, .woocommerce-page .order_details li{
        float: none;
        border-right: none;
        border-bottom: 1px dashed;
        width: 100%;
        padding: 10px 0;
    }
    #my-account-content .addresses .col-1,
    .woocommerce .addresses .col-1,
    #my-account-content .addresses .col-2,
    .woocommerce .addresses .col-2,
    .woocommerce-MyAccount-content .addresses .col-1,
    .woocommerce-MyAccount-content .addresses .col-2 {
        width: 100%;
        float: none;
    }
    #my-account-sidebar ul,
    #my-account-sidebar div.user-profile,
    .woocommerce-MyAccount-navigation ul,
    .woocommerce-MyAccount-navigation div.user-profile {
        border: none;
    }
    #my-account-sidebar div.user-profile,
    .woocommerce-MyAccount-navigation div.user-profile {
        margin-top: 20px;
    }

    div#my-account-content,
    div.woocommerce-MyAccount-content {
        padding: 0;
    }

    #my-account-content table.my_account_orders tr,
    .woocommerce-MyAccount-content table.my_account_orders tr {
        position: relative;
        display: block;
    }

    #my-account-content table.my_account_orders thead,
    .woocommerce-MyAccount-content table.my_account_orders thead {
        display: none;
    }

    #my-account-content table.my_account_orders td,
    .woocommerce-MyAccount-content table.my_account_orders td {
        display: inline-block;
        width: 50%;
        float: left;
        padding: 10px 0;
    }

    #my-account-content table.my_account_orders td.order-actions,
    .woocommerce-MyAccount-content table.my_account_orders td.order-actions {
        /*position: absolute;*/
        width: 100%;
        display: block;
        padding-top: 0;
        float: none
    }

    #my-account-content table.my_account_orders td.order-actions a,
    .woocommerce-MyAccount-content table.my_account_orders td.order-actions a {
        width: 100%;
        display: block;
    }
    #yith-wcwl-form table.wishlist_table td.product-thumbnail, #yith-wcwl-form table.wishlist_table th.product-thumbnail, #yith-wcwl-form table.wishlist_table thead{
        display: none;
    }

    /* BBPRESS */
    #bbpress-forums div.bbp-search-form {
        float: none;
    }

    /* FOOTER */
    #footer .widget.recent-posts .recent-post .hentry-post {
        width: 100%;
        float: none;
    }
    #copyright .right {
        text-align: left;
        padding: 0 15px;
    }
    #back-top, #back-top a{
        display: none;
    }

    /* BUDDY PRESS */

    #buddypress div.item-list-tabs#subnav ul li.last{
        margin-bottom: 20px;
    }
    #buddypress div.activity-meta a {
        float: left;
        margin-bottom: 10px;
    }

    /* VARIOUS */
    .featured-column {
        margin-bottom: 80px !important;
    }
    .featured-column.last{
        margin-bottom: 20px !important;
    }
    .woocommerce ul.products li.product-category .product-category-link .show-category-background{
        overflow: hidden;
    }

    #primary .testimonials-slider ul.testimonial-content li blockquote{
        margin: 0;
    }
    #primary .parallaxeos_outer .testimonials-slider ul.testimonial-content li blockquote p{
        margin: 0;
    }

    .piechart {
        margin-top: 50px;
    }

    .box-sections.vertical div.box-content {
        margin-bottom: 40px;
    }

    /* PORTFOLIO PINTEREST */
    .portfolio-pinterest #portfolio_pinterest .work,
    .portfolio-pinterest #portfolio_pinterest.sidebar-no.four-for-row li:nth-child( odd ),
    .portfolio-pinterest #portfolio_pinterest.sidebar-right.three-for-row li,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left.three-for-row li{
        width: 100%;
    }

    /* AJAX SEARCH */

    .yith-ajaxsearchform-container .search-navigation {
        width: 40%;
    }

    .yith-ajaxsearchform-container .sbHolder {
        width: 20%;
    }

}

@media (min-width: 768px) and (max-width: 992px) {


    /* MEGA MENU FIX */
    .nav .megamenu ul.sub-menu > li {
        background-image: none !important;
    }
    .nav .megamenu ul.sub-menu > li {
        display: inline-block;
    }
    
    .bigmenu:not(.menu-item-children-2) >.submenu {
        width: 591px !important;
    }
    .bigmenu >.submenu > ul.sub-menu > li {
        width: 160px;
    }


    .section.services .service-wrapper{
        width: 50%;
    }
    .counter {
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    .numbers-sections .number-box{
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    .piechart{
        transform: scale(0.7);
        -ms-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        -o-transform: scale(0.7);
    }
    .slider.banners .swiper-slide-big .slide-text.border{
        border: none;
    }
    .slider.banners .slide-text h4 {
        font-size: 16px;
    }
    .slider.banners .slide-text h3 {
        font-size: 20px;
    }
    .widget.yith-woo-ajax-navigation h3 i{
        display: none;
    }
    #nav{
        clear:both;
        text-align: center;
        height: 45px;
    }
    .skin2 #menu-main-menu {
        padding-top: 12px;
    }
    #welcome-menu.nav ul > li div { 
        top: 72px; 
    }
    .bigmenu .submenu{
      top: 45px;
    }
    .nav ul > li div{
        top:56px;
    }
    .nav ul > li a {
        line-height: 40px;
    }
    .skin2 .nav > ul > li > div {
        top: 32px;
    }
    .boxed-layout #wrapper.container .container.slider-parallax{
        width: 780px;
    }

    /* Blog Small Thumbanails */
    .blog.small .yit_post_content{
      min-height: 280px;
    }

    /* Blog Single Small Thumbanails */
    .single-post .blog.small .post-format.video,
    .single-post .blog.small .post-format.audio{
        width: 100%;
        padding: 5px;
        text-align: center;
    }

    /* Blog Section */
    .blog_section .post_informations {
        display: inline-block;
    }

    .blog_section.post_meta .info a:last-child {
        display: block;
    }

    /* TEAM Section */
    .team-section .member-info .member-description {
        min-height: 183px;
    }

    /* Banner Shortcodes */

    .sc-banner.switch-text a .sc-content h2, 
    .sc-banner.zoom-box a .sc-content h2,
    .sc-banner.zoom-left a .sc-content h2 {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        font-size: 18px !important;
        line-height: normal !important;
        margin: 10px 0px 0px 60px;
    }

    .sc-banner.switch-text  a .sc-content h3, 
    .sc-banner.zoom-box  a .sc-content h3,
    .sc-banner.zoom-left  a .sc-content h3 {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        font-size: 16px !important;
        line-height: normal !important;
        margin: 5px 0px 0px 60px;
    }

    .sc-banner i {
        font-size: 35px !important;
        margin-top: -18px;
        left: 10px;
        top: 50%;
        width: 25px;
        height: 25px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }


    /*contact form recaptcha */

    .recaptchatable #recaptcha_image {
        margin: 0 !important;
        width: 200px !important;
    }
    .recaptchatable .recaptcha_r1_c1,
    .recaptchatable .recaptcha_r3_c1,
    .recaptchatable .recaptcha_r3_c2,
    .recaptchatable .recaptcha_r7_c1,
    .recaptchatable .recaptcha_r8_c1,
    .recaptchatable .recaptcha_r3_c3,
    .recaptchatable .recaptcha_r2_c1,
    .recaptchatable .recaptcha_r2_c2,
    .recaptchatable .recaptcha_r4_c1,
    .recaptchatable .recaptcha_r4_c2,
    .recaptchatable .recaptcha_r4_c4,
    .recaptchatable .recaptcha_image_cell {
        background: none !important;
    }

    #recaptcha_area{
        width: 100% !important;
    }
    #recaptcha_area #recaptcha_table{
        width: 100% !important;
    }

    .recaptchatable #recaptcha_image #recaptcha_challenge_image{
        width: 100% !important;
    }

    .recaptcha_input_area{
        width: 100% !important;
    }

    .recaptcha_input_area input{
        width: 100% !important;
    }

    #recaptcha_table tr td:not(:first-child){
        display: none;
    }

    /*end contact form recaptcha */

    .widget.widget_search #searchform #searchsubmit{
        width: 100%;
        background-position: 67px -55px;
        float: none;
    }

    .widget.widget_shopping_cart .buttons a{
        display: block;
        margin-bottom: 10px;
    }

    .widget.widget_shopping_cart .product_list_widget .mini-cart-item-info {
        display: block;
        margin-top: 10px;
    }

    /* ========== CTA Newsletter ===========*/

    .call-three .newsletter-cta-form-container input[type="submit"]{
        width: auto;
        padding: 8px 20px 6px;
    }
    /* ========== End CTA Newsletter ===========*/

    /* =========== CTA WITH BUTTON =========== */

    .call-to-action-two .call-to-action-two-container div.incipit span {
        font-size: 73%;
        padding: 0 10px;
    }
    .call-to-action-two .call-to-action-two-container div.call-btn a.btn-alternative {
        font-size: 80%;
        padding: 20px 30px;
    }

    /* =========== END CTA WITH BUTTON ======= */

    /* =========== FEATURED COLUMNS ======= */
    .featured-column {
        background-image: none !important;
        border: none;
        padding: 0;
    }
    /* =========== END OF FEATURED COLUMNS ======= */

    /*============ PORTFOLIO FILTERABLE ===========*/
    .filters-container ul.filters{
        width: 100%;
    }

    .portfolio-filterable #portfolio_filterable li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        width: 96%;
    }

    .portfolio-filterable #portfolio_filterable li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-filterable #portfolio_filterable li .portfolio-title a{
        line-height: 20px;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-thumb .portfolio-overlay,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-thumb .portfolio-overlay{
        padding: 0 10px;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        padding: 5px 0;
        width: 95%;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-title a,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-title a{
        line-height: 20px;
    }

    /*============ END PORTFOLIO FILTERABLE ===========*/

    #wrapper.container{
        -webkit-box-sizing: border-box;
        box-sizing: border-box; 
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: auto;
        padding: 0;
    }
    #wrapper.container .container {
        margin-left: auto; 
        margin-right: auto; 
        -webkit-box-sizing: border-box;
        box-sizing: border-box; 
    }
    #wrapper.container #header.container {
        margin-left: auto;
        margin-right: auto;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .boxed-layout #wrapper.container {
        width: 750px;
    }

    /*============ SHOP PAGES ===========*/
    .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before {
        margin-left: -40px;
    }
    .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message {
        height: auto;
        padding: 18px 0px 18px 40px;
        text-align: left;
    }
    .woocommerce .woocommerce-message .button.wc-forward, .woocommerce-page .woocommerce-message .button.wc-forward {
        position: relative;
        float: right;
        top: 0;
        right: 0;
    }
    .woocommerce .cart-collaterals .cart_update_checkout input {
        padding-left: 10px;
    }
    .woocommerce table.shop_table.shipping td section p {
        width: 100%;
    }
    #my-account-sidebar .user-profile div.user-image {
        float: none;
        display: inline-block;
    }
    #my-account-sidebar .user-profile div.user-logout {
        margin-left: 0;
        float: none;
        clear: both;
        margin-top: 10px;
    }
    .woocommerce label[for="password_2"]{
        margin-top: 25px;
        margin-bottom: 0;
    }

    .woocommerce ul.products li.product.grid .info-product.slideup .price, .woocommerce-page ul.products li.product.grid .info-product.slideup .price,
    .woocommerce ul.products li.product.masonry_item .info-product.slideup .price, .woocommerce-page ul.products li.product.masonry_item .info-product.slideup .price {
        position: relative;
        text-align: left;
        clear: both;
        float: none;
    }
    .woocommerce ul.products li.product .quick-view a, .woocommerce ul.products li.product .quick-view p {
        font-size: 12px;
        text-align: left;
        line-height: 43px;
    }
    .woocommerce span.onsale, .woocommerce-page span.onsale, .woocommerce span.added_to_cart_ico, .woocommerce-page span.added_to_cart_ico {
        padding: 0px 4px;
        font-size: 12px;
        line-height: 18px;
    }
    .widget.woocommerce.widget_recently_viewed_products img, .widget.woocommerce.widget_products img, .widget.woocommerce.widget_top_rated_products img, .widget.woocommerce.widget_recent_reviews img, .widget.yit_products_category img {
        float: none;
        display: block;
    }
    .widget.woocommerce.widget_recently_viewed_products img, .widget.woocommerce.widget_products img, .widget.woocommerce.widget_top_rated_products img, .widget.woocommerce.widget_recent_reviews img, .widget.yit_products_category img{
        margin: 0 0 7px 0;
    }

    .woocommerce #tab-reviews #reviews #comments {
        float: none;
        width: 100%;
        padding-right: 0;
    }
    .woocommerce #review_form_wrapper {
        display: block;
        width: 100%;
    }
    .woocommerce #inquiry-form .product-inquiry h4 {
        padding-left: 40px;
    }
    .woocommerce #inquiry-form .product-inquiry span.fa {
        position: absolute;
    }
    .woocommerce #inquiry-form .contact-form ul li {
        width: 100%;
        padding: 0;
    }
    /* TESTIMONIALS */
    #testimonial.testimonial-comic .testimonial-box {
        padding: 15px 15px 20px 15px;
    }
    #testimonial.testimonial-comic {
        background: none;
    }
    #testimonial.testimonial-comic .testimonial-text p:after {
        display: none;
    }
    .testimonial-item-square {
        width: 50%;
    }

    .features-tab-container ul.features-tab-labels li h4 a{
        font-size: 14px !important;
    }
    .box-title.box-title-line-middle.box-title-text-center .title-bar:before{
        margin-left: auto;
    }
    .box-title.box-title-line-middle.box-title-text-center .title-bar:after{
        margin-right: auto;
    }
    .section.services .service-wrapper:nth-child(odd) {
        clear: left !important;
    }

    /* POPUP */
    .yitpopup_wrapper {
        height: 410px;
    }

    /* BANNER SLIDER */
    .slider.banners .swiper-slide-big {
        width: 256px;
    }
    .slider.banners .swiper-slide-small {
        width: 150px
    }
    .slider.banners .swiper-slide-big.swiper-slide:last-child {
        width: 248px;
    }
    .slider.banners .swiper-slide-small.swiper-slide:last-child {
        width: 142px;
    }

    /* FLEXSLIDER PORTFOLIO */
    .portfolio-pinterest h2 {
        font-size: 14px;
        margin-top: 25%;
    }

    .portfolio-pinterest span.categories {
        font-size: 12px;
        padding-left: 0;
        background: none;
    }

    .portfolio-pinterest span.detail {
        width: 22px;
        height: 22px;
        background-size: 100%;
    }

    /* PINTEREST PORTFOLIO ex @media (max-width: 991px) */
    .portfolio-pinterest #portfolio_pinterest .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        width: 96%;
    }

    .portfolio-pinterest #portfolio_pinterest .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-pinterest #portfolio_pinterest .work .portfolio-title a{
        line-height: 20px;
    }

    /* single sidebar */
    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-thumb .portfolio-overlay,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-thumb .portfolio-overlay{
        padding: 0 10px;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        padding: 5px 0;
        width: 96%;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-title a,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-title a{
        line-height: 20px;
    }

    /*BUDDYPRESS*/
    #buddypress div.item-list-tabs ul li.last{
        float: none;
    }

    /* AJAX SEARCH */

    .yith-ajaxsearchform-container .search-navigation {
        width: 65%;
    }

    .yith-ajaxsearchform-container .sbHolder {
        width: 20%;
    }
}
    /* */

@media (min-width: 980px) and (max-width: 1199px) {
    /* Blog Section */
    .slider.banners .swiper-slide-big .slide-text.border{
        border: none;
    }
    .slider.banners .slide-text h4 {
        font-size: 16px;
    }
    .slider.banners .slide-text h3 {
        font-size: 20px;
    }
    .blog_section .post_informations {
        width: 32%;
    }
    .widget.widget_search #searchform #s {
        max-width: 130px;
    }
    .modal-dialog{
        width: 900px;
    }

    .filters-container ul.filters{
        width: 90%;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-double li:nth-child(odd){
        clear: both;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-double.four-for-row li:nth-child( odd ){
        width: 49.9%;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right.three-for-row li:nth-child( n+3 ),
    .portfolio-filterable #portfolio_filterable.sidebar-left.three-for-row li:nth-child( n+3 ){
        width: 33.3%;
    }

    /* single sidebar */
    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        width: 97%;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-right li .portfolio-title a,
    .portfolio-filterable #portfolio_filterable.sidebar-left li .portfolio-title a{
        line-height: 20px;
    }

    .portfolio-filterable #portfolio_filterable.sidebar-double.three-for-row li{
        width: 49.9%;
    }

    /* Banner Shortcodes */
    .sc-banner.switch-text a .sc-content h2,
    .sc-banner.zoom-box a .sc-content h2,
    .sc-banner.zoom-left a .sc-content h2 {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        font-size: 18px !important;
        line-height: normal !important;
        margin: 20px 0px 0px 60px;
    }

    .sc-banner.switch-text  a .sc-content h3,
    .sc-banner.zoom-box  a .sc-content h3,
    .sc-banner.zoom-left  a .sc-content h3 {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
        font-size: 16px !important;
        line-height: normal !important;
        margin: 5px 0px 0px 60px;
    }

    .sc-banner i {
        font-size: 35px !important;
        margin-top: -18px;
        left: 15px;
        top: 50%;
        width: 25px;
        height: 25px;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    /* TESTIMONIALS */
    #testimonial.testimonial-square blockquote {
        margin: 10px 20px;
    }

    #testimonial.testimonial-square .testimonial-text {
        margin: 15px 20px;
    }

    /* SHOP */
    .woocommerce ul.products li.product.grid .info-product.slideup .price, .woocommerce-page ul.products li.product.grid .info-product.slideup .price,
    .woocommerce ul.products li.product.masonry_item .info-product.slideup .price, .woocommerce-page ul.products li.product.masonry_item .info-product.slideup .price {
        position: relative;
        text-align: left;
        clear: both;
    }
    .woocommerce label[for="password_2"]{
        margin-top: 25px;
        margin-bottom: 0;
    }

    /* BANNER SLIDER*/
    .slider.banners .swiper-slide-big { width: 330px; }
    .slider.banners .swiper-slide-small { width: 193px; }
    .slider.banners .swiper-slide-big.swiper-slide:last-child { width: 328px; }
    .slider.banners .swiper-slide-small.swiper-slide:last-child { width: 185px; }

    /* AJAX SEARCH */

    .yith-ajaxsearchform-container .search-navigation {
        width: 60%;
    }

    .yith-ajaxsearchform-container .sbHolder {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .nav ul > li.icon-home a { padding: 0px 20px;}
    #logo {margin-right: 25px }
    /*#logo img { max-height: 62px; }*/
    /*.boxed-layout #wrapper.container .container.slider-parallax{*/
        /*width: 1200px;*/
    /*}*/

    .modal-dialog{
        width: 1040px;
    }

    /* widget google map */
    .sidebar .google-map .google-map-frame, .sidebar .google-map .google-map-frame iframe{max-width: 230px;}

    /* BANNER SLIDER */
    .slider.banners .swiper-slide-big {
        width: 400px;
    }

    .slider.banners .swiper-slide-small {
        width: 234px;
    }
    .slider.banners .swiper-slide-big.swiper-slide:last-child {
        width: 392px;
    }
    .slider.banners .swiper-slide-small.swiper-slide:last-child {
        width: 224px;
    }
    /* FLEXSLIDER PORTFOLIO */
    .portfolio-pinterest .yit_item{
        margin-bottom: 30px;
    }

    .portfolio-pinterest span.categories {
        display: inline-block;
        line-height: 30px;
        margin-top: 0;
    }

    .portfolio-pinterest .yit_item span.categories img {
        max-width: none;
        margin-right: 5px;
        display: inline-block;

        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
    }

    /* PINTEREST PORTFOLIO */
    /* single sidebar */
    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info{
        width: 97%;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-thumb .portfolio-overlay .portfolio-overlay-info .portfolio-overlay-title{
        line-height: 20px;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right .work .portfolio-title a,
    .portfolio-pinterest #portfolio_pinterest.sidebar-left .work .portfolio-title a{
        line-height: 20px;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-right.three-for-row li:nth-child( n+3 ),
    .portfolio-pinterest #portfolio_pinterest.sidebar-left.three-for-row li:nth-child( n+3 ){
        width: 33.3%;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-double.three-for-row li{
        width: 49.9%;
    }

    .portfolio-pinterest #portfolio_pinterest.sidebar-double.four-for-row li:nth-child( odd ){
        width: 49.9%;
    }
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    .isPhone #header-sidebar .yit_cart_widget .cart-items {
        background: no-repeat url('../../../images/mobile-menu/cart@2x.png') top center !important;
        background-size: 64px 90px !important;
    }

}