# Disable directory browsing

Options All -Indexes

# Protect .htaccess
<Files .htaccess>

    order allow,deny
    deny from all

</Files>

# Protect zip files from direct access
<Files *.zip>

        Order Allow,Deny
        Deny from all

</Files>

