/* Default widget list */
.widget {}
.widget ul {}
.widget ul li {}
.widget ul li a {}


/* widget nav menu */
.widget.widget_nav_menu {}
.widget.widget_nav_menu ul {}
.widget.widget_nav_menu ul li {}
.widget.widget_nav_menu ul li a {}
/* links widget */
.widget .widget_links {}
.widget .widget_links ul {}
.widget .widget_links ul li {}
.widget .widget_links ul li a {}

/* meta widget */
.widget .widget_meta {}
.widget .widget_meta ul {}
.widget .widget_meta ul li {}
.widget .widget_meta ul li a {}

/* pages widget */
.widget .widget_pages {}
.widget .widget_pages ul {}
.widget .widget_pages ul li {}
.widget .widget_pages ul li a {}

/* recent-posts widget */
.widget .widget_recent_entries {}
.widget .widget_recent_entries ul {}
.widget .widget_recent_entries ul li {}
.widget .widget_recent_entries ul li a {}

/* archives widget */
.widget .widget_archive {}
.widget .widget_archive ul {}
.widget .widget_archive ul li { list-style-image: url('images/icon_archive.png'); } 
.widget .widget_archive ul li a {}
.widget .widget_archive select {}
.widget .widget_archive option {}

/* tag-cloud widget */
.widget .widget_links {}
.widget .widget_links li:after {}
.widget .widget_links li:before {}
.widget .widget_tag_cloud {display: block; clear: both; }
.widget .tagcloud a {font-size: 11px !important;  background: #fafafa; text-transform: uppercase; color:#777; border:1px solid #f0f0f0; padding:4px 6px; line-height:12px; margin:0 0px 0px 0; cursor: pointer; }
.widget .tagcloud a:after {}
.widget .widget_tag_cloud a:before {}

/* calendar widget */
.widget .widget_calendar {}
.widget #calendar_wrap {}
.widget #calendar_wrap th {}
.widget #calendar_wrap td {}
.widget #wp-calendar tr td {}
.widget #wp-calendar caption {}
.widget #wp-calendar a {}
.widget #wp-calendar #today {}
.widget #wp-calendar #prev {}
.widget #wp-calendar #next {}
.widget #wp-calendar #next a {}
.widget #wp-calendar #prev a {}

/* category widget */
.widget .widget_categories {}
.widget .widget_categories ul {}
.widget .widget_categories ul li {} 
.widget .widget_categories ul ul.children {}
.widget .widget_categories a {}
.widget .widget_categories select{}
.widget .widget_categories select#cat {}
.widget .widget_categories select.postform {}
.widget .widget_categories option {}
.widget .widget_categories .level-0 {}
.widget .widget_categories .level-1 {}
.widget .widget_categories .level-2 {}
.widget .widget_categories .level-3 {}

/* recent-comments widget */
.widget .recentcomments {}
.widget #recentcomments {}
.widget #recentcomments li {  }
.widget #recentcomments li a {float:none; clear: none;}
.widget .widget_recent_comments {}

/* search widget */
.widget #searchform {}
.widget.widget_search form {padding:0; margin:0;}
.widget.widget_search input{margin:20px 0px 0; padding:10px 20px; width:219px; border-radius: none;
	
	}
.widget .screen-reader-text {}

/* text widget */
.widget .textwidget { margin:10px 0px;}
.widget .widget_text {}
.widget .textwidget p {}

/* Twitter widget */

.widget.widget_twitter{}
.widget.widget_twitter ul{}
.widget.widget_twitter ul li span a { text-decoration: underline; float: none;}
.widget.widget_twitter ul li span {display:block; clear:both; margin-bottom:4px;}
.widget.widget_twitter ul li {padding:10px 0px;line-height: 18px; display:block;}
.widget.widget_twitter ul li a {display:inline; float: none; clear: none; background: none; padding:0; margin:0;}
.widget #twitterlink {margin:10px 0 10px 0px; float: left;}
	

/* Submenu inserted via meta panel */	
#epic_submenu{display: block; clear: both;  margin-top:10px; margin-bottom:-9px !important; position: relative; width:auto;}
#epic_submenu ul{
	display:block;
	clear: both;
	list-style: none;
	margin:0;
	border-top:1px dotted #d4d4d4;
	}

#epic_submenu li{
	display: block;
	float: left;
	clear: none;
	margin:0 -1px 0 0;
	padding:0;
	}

#epic_submenu ul li a{
	display:block;
	float: left;
	padding:6px 20px 6px 0;
	font-weight: bold;
	}

#epic_submenu ul li.current-menu-item a{
	background: #fcfcfc; 
	border-bottom:1px solid #fcfcfc;
	color:#333;
	}
#epic_submenu .sub-menu {display:none;}


.flickrlist_wrap {width:100%; margin-bottom:20px; float: left;} 
ul.flickrlist {list-style:none;  display: block; margin:4px 0 10px 0px; }
ul.flickrlist li {display:block; float: left; padding:0; border:none; clear: none;   margin:0 3% 3% 0; width:22%; }
ul.flickrlist li a {display:inline; background:none ; padding:0 !important; border:none; margin:0 !important;   }
ul.flickrlist li a img {width:100%; }
ul.flickrlist li a:hover img {width:100%; opacity:0.7; }
ul.flickrlist li:nth-child(even) {display:none;  }

