// $VARIABLES
$headerBg: #1f2329;

$headingFont: 'Nixie One', cursive;
$bodyFont: 'Open Sans', Arial;

$accent: #69ae43;
$linkColor: $accent;
$textColor: #5c5c5c;

$sAccent: #2b373c;


$sectionBorder: #e0e0dd;

// Theme Dependant

