/**
* Core website structure  (body /  headers / sidebars / footer )
*/
html,
body {
  min-height: 100%;
}
html {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  line-height: 1.7em;
}
.responsive_enabled #holder {
  min-width: 0;
}
#wrapper {
  margin: 0 auto;
  padding: 0 15px;
  /*max-width:984px;*/
  max-width: 1170px;
  position: relative;
}
#footer_inner {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
#header {
  text-align: center;
}
#page_bottom {
  clear: both;
}
#page_style_wrap.with-left-sidebar,
#page_style_wrap.with-right-sidebar {
  overflow: hidden;
  margin: -10px;
  padding: 10px;
}
#page_style_transparent {
  padding: 0;
  min-height: 300px;
  position: relative;
}
#page_style_transparent .boutique_page_header {
  display: none;
}
#page_style_transparent .location .boutique_page_header {
  display: block;
}
#page_style_no_title,
#page_style_normal {
  padding: 0;
  min-height: 300px;
  position: relative;
}
#page_style_no_title .boutique_page_header {
  display: none;
}
#column_wrapper {
  position: relative;
  clear: both;
  float: left;
  width: 100%;
}
#column_wrapper .content_main {
  float: left;
  width: 200%;
  position: relative;
}
#column_wrapper .content_main.with-right-sidebar {
  right: 100%;
}
#column_wrapper .content_main_wrap {
  float: right;
  width: 50%;
  position: relative;
}
#column_wrapper .content_main.with-right-sidebar .content_main_wrap {
  left: 50%;
  float: left;
}
#column_wrapper .content_main.with-left-sidebar .content_main_data {
  position: relative;
  right: 100%;
  /*overflow: hidden;*/
  padding-left: 30px;
}
#column_wrapper .content_main.with-right-sidebar .content_main_data {
  /*overflow: hidden;*/
  padding-right: 30px;
}
#column_wrapper .content_main.with-left-sidebar .sidebar {
  float: left;
  position: relative;
}
#column_wrapper .content_main.with-right-sidebar .sidebar {
  float: right;
  position: relative;
}
.page .content_main_data {
  position: relative;
}
.page_title_text:after,
#content:after {
  content: "";
  display: table;
  clear: both;
}
.page_title_text {
  padding-bottom: 0px;
}
.entry-content {
  position: relative;
}
/** widget **/
#header_widgets {
  margin-bottom: 30px;
}
.widget_content {
  position: relative;
  line-height: 1.7em;
}
.widget_content:after {
  content: "";
  display: table;
  clear: both;
}
.widget-area.columns-1 .widget {
  width: 100%;
}
.widget-area.columns-3 .widget ul li a {
  padding-left: 9px;
}
.sidebar .widget {
  clear: both;
  text-align: left;
  margin: 0 0 35px 0;
  line-height: normal;
  padding: 0;
  position: relative;
}
.widget a {
  /*font-weight: bold;*/
  text-decoration: none;
}
.widget p {
  margin: 0 0 10px;
}
.widget a:hover,
.widget a:focus,
.widget a:active {
  text-decoration: underline;
}
.widget ul {
  margin: 0;
  /*0 6px 0 10px !important;*/
  padding: 0;
  list-style: none;
}
.widget ul ul {
  margin-left: 1em;
}
.widget ul li {
  margin: 0px;
  padding: 0;
  line-height: inherit;
}
.widget ul li a {
  padding: 8px 5px;
  display: inline-block;
}
.widget_content > ul > li > a,
.widget div > ul > li ul.children a,
.widget ul > li ul.children a,
.widget div > ul > li.has-children > a,
.widget ul > li.has-children > a {
  display: block;
  position: relative;
}
.widget ul .widget ul li a,
.widget ul li a:link,
.widget ul li a:visited,
.widget-title {
  text-decoration: none;
}
.widget ul li a:hover {
  /*color:#9a7138;*/
}
.widget-title {
  font-weight: normal;
  z-index: 80;
  text-align: left;
  margin: 0;
  padding: 2px 0 20px 0;
}
/* Calendar Widget */
#calendar_wrap {
  padding-left: 7px;
}
.widget_calendar #wp-calendar {
  width: 95%;
  text-align: center;
}
.widget_calendar #wp-calendar caption,
.widget_calendar #wp-calendar td,
.widget_calendar #wp-calendar th {
  text-align: center;
}
.widget_calendar #wp-calendar caption {
  font-size: 11px;
  font-weight: 500;
  padding: 5px 0 3px 0;
  text-transform: uppercase;
}
.widget_calendar #wp-calendar th {
  border-top: 1px solid #edebdf;
  border-bottom: 1px solid #edebdf;
  font-weight: bold;
}
.widget_calendar #wp-calendar tfoot td {
  border-top: 1px solid #edebdf;
  border-bottom: 1px solid #edebdf;
}
.widget_calendar a {
  font-weight: bold;
  text-decoration: underline;
}
/* social */
.widget_social_icons-description span {
  width: auto;
}
.widget_social_icons a.webicon:hover,
.widget_social_icons a.webicon {
  margin: 5px;
}
p.widget_social_icons_size_large {
  margin: 0 -6px;
}
/*categories*/
.widget.widget_recent_entries ul li {
  padding-bottom: 5px;
}
.widget_categories li span {
  /*margin:-21px 5px 0 0;*/
  float: right;
}
.widget_recent_entries li a {
  /*font-weight: bold;*/
}
.widget_recent_entries li > span {
  display: block;
  padding: 0px 0 5px 10px;
  font-style: italic;
  font-size: 0.8em;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}
.sticky {
  /**/
}
.gallery-caption {
  /**/
}
/* Comment Form */
/* =Comments
----------------------------------------------- */
/* dtbaker_banner header */
#comment_title .full_banner .content {
  display: block;
  width: 100%;
  margin-top: -3px;
}
#comment_title .full_banner .content #comment_share {
  float: right;
  margin-top: -7px;
  line-height: 20px;
}
#comment_title .full_banner .content #comment_share .widget_social_icons a {
  margin: 5px 3px;
}
#comments-title {
  font-weight: normal;
  margin: 2em 0 0 0;
}
.nopassword,
.nocomments {
  color: #aaa;
  font-size: 24px;
  font-weight: 100;
  margin: 26px 0;
  text-align: center;
}
.commentlist {
  list-style: none;
  margin: 20px 0 0 88px;
  padding: 0;
}
.commentlist li {
  margin: 0 0 21px 0;
  padding: 0;
}
.commentlist .children li {
  margin-bottom: 10px;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
  width: 100%;
  /* reset the width for the one-column and sidebar page layout */
}
.commentlist div.comment {
  margin: 0;
  padding: 10px;
  position: relative;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
#reviews .commentlist > li.comment {
  background: #FFF;
}
.commentlist .pingback {
  margin: 0 0 1.625em;
  padding: 0 1.625em;
}
.commentlist .children {
  position: relative;
  list-style: none;
  margin: -4px 0 0 0;
  padding: 26px 0 0 24px;
}
/*
.commentlist .children li.comment {
    background: #fff;
    border-left: 1px solid #ddd;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    margin: 1.625em 0 0;
    padding: 1.625em;
    position: relative;
}*/
.commentlist .children li.comment .fn {
  display: block;
}
.comment-meta .fn {
  font-style: normal;
}
.comment-meta {
  font-size: 12px;
  line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
  line-height: 1.625em;
  margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
  margin: 1.625em 0 0;
}
.commentlist .reply {
  text-align: right;
}
.comment-meta a {
  font-weight: bold;
}
.commentlist .avatar {
  border-radius: 3px;
  /*-webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;*/
  left: -90px;
  padding: 0;
  position: absolute;
  top: 0;
}
/*
#blog_comments .commentlist > li:before {
    content: url(images/comment-arrow.png);
    left: -21px;
    position: absolute;
}
.commentlist > li.pingback:before {
    content: '';
}*/
.commentlist .children .avatar {
  background: none;
  box-shadow: none;
  left: 10px;
  padding: 0;
  top: 10px;
}
a.comment-reply-link {
  margin: 8px 0 0 0;
  border: 0 !important;
  color: #3989C8;
  font-weight: normal;
  padding: 4px 9px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
  color: #EFA80F;
}
a.comment-reply-link > span {
  display: inline-block;
  position: relative;
  top: -1px;
}
/* Post author highlighting */
.commentlist > li.bypostauthor {
  /*border-color: #d3d3d3;*/
}
.commentlist > li.bypostauthor .comment-meta {
  color: #575757;
}
/*
.commentlist > li.bypostauthor:before {
    content: url(images/comment-arrow-bypostauthor.png);
}
.commentlist .children > li.bypostauthor {
    background: #fafafa;
    border-color: #d3d3d3;
}
*/
/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
  margin-left: 102px;
  width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
  width: auto;
}
#respond input[type="text"],
#respond textarea {
  position: relative;
  padding: 8px;
  margin-left: 80px;
  display: block;
  width: 82%;
  border: 0;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  display: inline-block;
  font-size: 13px;
  z-index: 1;
  position: absolute;
}
#respond textarea {
  resize: vertical;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
  color: #CCC;
  font-size: 15px;
  position: absolute;
  z-index: 1;
  top: 2px;
  right: -18px;
}
#respond .comment-notes,
#respond .logged-in-as {
  font-size: 13px;
}
#respond .logged-in-as a:hover,
.commentlist #respond {
  margin: 1.625em 0 0;
  width: auto;
}
#reply-title {
  /*color: #373737;*/
  margin: 10px 0;
  padding: 0;
  display: none;
}
.commentlist #reply-title {
  display: block;
}
#cancel-comment-reply-link {
  float: right;
}
#respond label {
  line-height: 2.2em;
}
#respond p {
  font-size: 12px;
  margin: 11px 0;
  padding: 0;
}
#respond p.form-submit {
  margin-left: 78px;
}
p.comment-form-comment {
  margin: 0;
}
.form-allowed-tags {
  display: none;
}
