@import "fonts/font-awesome.min.css";

body#tinymce.wp-editor {
	margin: 10px;
	max-width: 1170px;
	/*background: #FFF !important;
    color:#000 !important;*/
}

.wp-caption{
	max-width: 100%;
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px 0;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption.alignleft{
	margin-right: 10px;
}
.wp-caption.alignright{
	margin-left: 10px;
}
.wp-caption-dt{
	display:inline;
}
.wp-caption-text{
	text-align: center;
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 11px;
}
img{
	max-width: 100%;
	height: auto;
}

.wpview-wrap[data-wpview-type="dtbaker_icon"] {
	margin-bottom: 0;
}
.wpview-wrap[data-wpview-text^="%5Bdtbaker_icon%20type%3D%22bubble"] {
	display: inline-block;
	width: auto;
}
.wpview-wrap[data-wpview-text^="%5Bdtbaker_icon%20type%3D%22vertical"] {
	display: inline-block;
	width: 24%;
}
.wpview-wrap[data-wpview-text^="%5Bdtbaker_icon%20type%3D%22vertical"] .dtbaker_icon_vertical{
	width: 100%;
}

.entry-content .gallery-columns-2 .gallery-item{

}
