@include: common.neon

category:
	label: Category
	type: categories
	taxonomy: offers
	default: 0
	help: "Select category displayed on page"

orderby:
	label: Order By
	type: select
	selected: date
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		date: Creation Date
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

count:
	label: Count
	type: number
	default: 99
	help: "Number of items listed on page"

layout:
	label: Layout
	type: select
	selected: box
	default:
		box: Box
		list: List
	help: 'Select layout type of displayed items'

textRows:
	label: Text Rows
	type: select
	selected: 3	
	default:
		none: Unlimited
		1: 1 row
		2: 2 rows
		3: 3 rows
		4: 4 rows
		5: 5 rows
	help: "Number of rows for description text"

addInfo:
	label: Advanced Info
	type: on-off
	default: on
	help: "Enable or disable post information"

- section(id: layout-box, title: 'Box Layout settings')

boxColumns:
	label: Columns
	type: select
	selected: 3
	default: [1, 2, 3, 4, 5]
	help: "Number of items in one row"

boxAlign:
	label: Text Alignment
	type: image-radio
	checked: align-center
	images:
		align-left: text-align-left.png
		align-center: text-align-center.png
		align-right: text-align-right.png
	default:
		align-left: Align to Left
		align-center: Align to Center
		align-right: Align to Right
	help: "Select alignment of title and description"

boxEnableCarousel:
	label: Carousel
	type: on-off
	default: off
	help: "Enable or disable carousel feature"

boxEnableAutoplay:
	label: Carousel Autoplay
	type: on-off
	default: off
	help: "Enable or disable carousel autoplay feature"

boxEnableFading:
	label: Carousel Fading
	type: on-off
	default: off
	help: "Enable or disable carousel fading feature"

boxRows:
	label: Carousel Rows
	type: select
	selected: 1
	default: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	help: "Number of rows in carousel"

- section(id: layout-list, title: 'List Layout settings')

listColumns:
	label: Columns
	type: select
	selected: 2
	default: [1, 2, 3]
	help: "Number of items in one row"

listEnableCarousel:
	label: Carousel
	type: on-off
	default: off
	help: "Enable or disable carousel feature"

listEnableAutoplay:
	label: Carousel Autoplay
	type: on-off
	default: off
	help: "Enable or disable carousel autoplay feature"

listEnableFading:
	label: Carousel Fading
	type: on-off
	default: off
	help: "Enable or disable carousel fading feature"

listRows:
	label: Carousel Rows
	type: select
	selected: 2
	default: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	help: "Number of rows in carousel"

- section(title: 'Carousel Advanced Settings', advanced: true)

carouselOffset:
	label: Carousel Offset
	type: number
	unit: px
	default: ''
	help: "Space above bottom carousel"
