.container, .full_container_slider {
	opacity:1;
	-webkit-transition: opacity  2200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: opacity  2200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: opacity  2200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: opacity  2200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: opacity  2200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.container.animationStart, .full_container_slider.animationStart {
	opacity:0;
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
}
.container.animationStart.immediateShow {
	opacity:1;
}

.client_info_holder > * {
	position:relative;
	opacity:1;
	left:0px;
	-webkit-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.client_info_holder.animationStart > * {
	opacity: 0;
	left: 50px;
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
}


.info_block .info_item {
	position: relative;
	opacity:1;
	left:0px;
	
	-webkit-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.info_block.animationStart .info_item {
	opacity: 0;
	left: 40px;
}

.section_featured_texts > * {
	opacity:1;

	-webkit-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 1200ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.section_featured_texts.animationStart > * {
	opacity:0;
	
	-webkit-transition:all 0 linear 0 !important;	/* rewind instantly */
	-moz-transition:all 0 linear 0 !important;
	-o-transition:all 0 linear 0 !important;
	-ms-transition:all 0 linear 0 !important;
	transition:all 0 linear 0 !important;
}

.section_featured_texts img {
	-moz-transform: rotateY( 360deg );
	-webkit-transform: rotateY( 360deg );
	transform: rotateY( 360deg );
}

.section_featured_texts.animationStart img {
	display: block;
	-moz-transform: rotateY( 180deg );
	-webkit-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}


.section_featured_texts h3 {
	position:relative;
	opacity:1;
	top:0px;

	-webkit-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.section_featured_texts.animationStart h3 {
	opacity:0;
	top:-30px;
}

.section_featured_texts p {
	position:relative;
	opacity:1;
	top:0px;

	-webkit-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.section_featured_texts.animationStart p {
	opacity:0;
	top:30px;
}




#portfolio_items .pic_info {
	position: relative;
	opacity:1;
	left:0px;

	-webkit-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;	
}

#portfolio_items.animationStart .pic_info {
	opacity: 0;
	left:40px;
}



.portfolio_page .columns .pic img {
	opacity:1;
			
	-webkit-transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.portfolio_page .columns .pic.animationStart img{
	opacity: 0;	
}





.numbers_holder .counter {
	position: relative;
	opacity:1;
	left:0px;

	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;	
}

.numbers_holder.animationStart .counter {
	opacity: 0;
	left:40px;
}



.circ_numbers_holder .counter {
	position: relative;
	opacity:1;
	left:0px;

	-webkit-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all 800ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;	
}

.circ_numbers_holder.animationStart .counter {
	opacity: 0;
	left:40px;
}



.team_block_content  > .pic {
	position: relative;
	opacity:1;
	left:0px;
	
	-webkit-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-moz-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-o-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	-ms-transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
	transition: all  1000ms cubic-bezier(0.230, 1.000, 0.320, 1.000) 0ms;
}

.team_block_content.animationStart > .pic {
	opacity: 0;
	left: 40px;
}







/* CUSTOM RESPONSIVE STYLES */ 
/* Disable the transitions that mess up Live resizing (carousels + info Items etc) */

@media only screen and (max-width: 959px) {
	
	.info_block .info_item ,
	.portfolio_page .columns .pic img,
	#portfolio_items .pic_info
	{
		-webkit-transition:all 0 linear 0 !important;
		-moz-transition:all 0 linear 0 !important;
		-o-transition:all 0 linear 0 !important;
		-ms-transition:all 0 linear 0 !important;
		transition:all 0 linear 0 !important;
	}	

}