/*
 * jQuery Nivo Slider v2.7
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
    position: relative;
	margin:0 auto;
}

.nivoSlider img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.nivo-caption {
    display: none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    z-index: 6;
    display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
    display: block;
    position: absolute;
    z-index: 5;
    height: 100%;
}

.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
/* Caption styles */
.nivo-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #fff;
    opacity: 0.8;
 /* Overridden by captionOpacity setting */
    width: 95.5%;
    padding: 25px;
    z-index: 8;
    margin-bottom: 20px;
}

.nivo-caption p {
    padding: 0px;
    margin: 0;
}

.nivo-caption a {
    display: inline !important;
}

.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
    width: 38px;
	height: 38px;
	margin: -19px 0 0;
	display: block;
	background: url(../images/flex-slider/bg_direction_nav_custom.png) no-repeat;
	position: absolute;
	cursor: pointer;
	text-indent: -9999px;
	z-index:999;
	bottom:50px;
}

.nivo-prevNav {
    left: 10px;
}

.nivo-nextNav {
    right: 10px;
	background-position: -38px 0 !important;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
    position: relative;
    z-index: 9;
    width: 13px;
	height: 13px;
	background: url(../images/flex-slider/bg_control_nav_custom.png) no-repeat 0 0;
	cursor: pointer;
	text-indent: -9999px;
	float:left;
	margin-left:5px;
}

.nivo-controlNav a.active {
    background-position: 0 -26px;
    cursor: default;
}
.nivo-controlNav{
	position:absolute;
	bottom: 40px;
    position: absolute;
    right: 20px;
}