@include: common.neon

category:
	label: Category
	type: categories
	taxonomy: partners
	default: 0
	basic: true
	help: "Select category displayed on page"

orderby:
	label: Order By
	type: select
	selected: menu_order
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		title: Alphabetically
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'
	basic: true

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'
	basic: true

logoSpace:
	label: Custom Spaces
	type: number
	unit: 'px'
	default: ''
	basic: true
	help: "Offset of partner's logo"