@include: common.neon

category:
	label: Category
	type: categories
	taxonomy: spaces
	default: 0
	help: "Select category displayed on page"
	basic: true

orderby:
	label: Order By
	type: select
	selected: date
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		date: Creation Date
		menu_order: Item Order
		rand: Random
	help: 'Select order of items listed on page'
	basic: true

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'
	basic: true

linkTarget:
	label: Open In New Window
	type: on-off
	default: off
	basic: true
	help: "Open links in new window or tab"

animationTime:
	label: Time
	type: range
	min: 1
	max: 10
	step: 1
	default: 5
	help: "Time visibility of advertisement in seconds"
	basic: true

- section(title: 'Advertising Colors', advanced: true)

borderColor:
	label: Border Color
	type: color
	default: ''
	help: "Color of border around advertisement"

textBgColor:
	label: Background
	type: color
	default: ''
	help: "Background color of advertisement"