/*------------------------------------------------------------------
Project:	QOON THEME / Layout - HALFS
Version:	1.1
Last change:	
Assigned to:	OrangeIdea
-------------------------------------------------------------------*/
.oi_main_menu { list-style:none;  padding-left:0}
#oi_current_image_shortcode { position:relative !important; height:900px !important}
.oi_main_menu li { display:inline-block; position:relative;}
.oi_main_menu li a { display:block;}
.oi_main_menu li > ul{ opacity:1; margin-left:0 !important; min-width:150px; top:auto; text-align:left;}
.oi_main_menu li> ul li a{ min-width:150px;text-align:left;}
.oi_burger_on { display:block; opacity:1 !important; position:relative;}


.oi_right_half { position:fixed; right:0; left:50%; top:0; bottom:0; background-size:cover !important; background-position:center center !important;}
.oi_left_half { width:50%; padding:40px; background:#fff;}
.oi_bg_img_shortcod { width:400px;}
.fixed_footer { width:50%; padding-left:25px; padding-right:25px;}
.oi_footer_menu { margin-top:0px}
.oi_port_nav { position:relative; display:block !important;}
.oi_main_port_nav:after { display:block; content:''; margin-bottom:40px; clear:both;}
.oi_portfolio_page_holder { margin-bottom:0px;}
.oi_port_nav .oi_np_holder {padding:100px 0}
.blog .oi_logo_holder, .single-post .oi_logo_holder  { margin-bottom:20px;}
.in_left_helf { display:none; visibility:hidden}


@media (min-width: 0px) and (max-width: 1680px) {
}
@media (min-width: 1680px) and (max-width: 1920px) {
}
@media (min-width: 1920px) and (max-width: 9999px) {
}


@media (min-width: 1240px) and (max-width: 2900px) {
	
}
@media (min-width: 767px) and (max-width: 1100px) {

}

@media (min-width: 767px) and (max-width: 980px) {
	.oi_right_half { display:none; visibility:hidden;}
	.oi_left_half, .fixed_footer { width:100%}
}

@media (min-width: 0px) and (max-width: 767px) {
	.oi_main_menu { display:none;}
	.show_xs_menu .oi_main_menu { display:block}
	#menu_slide_xs { position:relative !important; right:0 !important; margin:0 !important; display:inline-block !important; text-align:center !important;}
	.oi_right_half { display:none; visibility:hidden;}
	.oi_left_half, .fixed_footer { width:100%}
	.oi_port_style_ii .oi_vc_port_mask { opacity:0; top:0 !important; left:0 !important;}
	.oi_port_style_ii .oi_vc_port_mask { opacity:0; top:0 !important; left:0 !important;}
	.oi_strange_portfolio_item { width:100%;}
	.oi_legend { margin-top:0px;}
	#menu_slide_xs { display:block; opacity:1}
	.oi_logo_holder { padding:15px 0 !important}
	.oi_xs_menu { margin:0px; position: fixed; top:0; padding:10px; right:100%; left:0px; margin-left:-400px; bottom:-300px; display:block !important; z-index:993}
	.oi_main_menu li{ display:block !important; float:none; text-align:left;}
	.oi_main_menu ul { position:relative !important;}
	.oi_main_menu li a { display:inline-block;}
	.oi_main_menu { float:none; margin:0px; padding:0px 0}
	.oi_menu_overlay { position:fixed; visibility:hidden;  content:''; display:block; width:100%; height:100%; top:0; left:0; right:0; bottom:0; z-index:992; background:#000; opacity:0}
	.show_xs_menu .oi_menu_overlay { margin-left:0px; opacity:0.3}
	.show_xs_menu .oi_xs_menu { right:40%; margin-left:0;}
	.show_xs_menu .oi_menu_overlay { visibility:visible;}
	
	.oi_menu_overlay, .oi_xs_menu, .oi_menu_overlay {
		webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.oi_footer_widgets_holder { text-align:center;}
	.col-xs-12 { margin:10px 0}
	.oi_footer_menu { text-align:center;}

}
