.admin-bar #main,.admin-bar #main header {top: 32px;}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.responsive-video iframe,
.responsive-video object,
.responsive-video embed  {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.directions-form {margin-top: 40px;}
#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* In accordance with the rounding of the default infowindow corners. */
}
/*Gallery Grid View*/
.gallery-col {
	float: left;
	padding: 0px 15px;
}
.gallery-col img {width: 100%;height: auto;}
.popup-gallery .gallery-col a {margin-bottom: 38px;}
.grid_size_one,.grid_size_two,.grid_size_three,.grid_size_full{width: 100%;}
@media (min-width: 768px){
	.grid_size_one {
		width: 50%;
	}
	.grid_size_two {
		width: 100%;
	}
	.grid_size_three {
		width: 100%;
	}
}
@media (min-width: 992px){
	.grid_size_one {
		width: 25%;
	}
	.grid_size_two {
		width: 50%;
	}
	.grid_size_three {
		width: 75%;
	}
}
a.popup-video {position: relative;}
.video-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.popup-video i {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 28px;
	height: 32px;
	margin-left: -14px;
	margin-top: -16px;
	color: #fff;
}
a.popup-video:hover .video-overlay {
	opacity: 0;
	filter: alpha(opacity=0);
}
#eventreg_msg {color: #A94442;display: none;margin-bottom: 20px;text-align: center;}
.blogslider .flex-direction-nav a {width: 20px;height: 40px;top: 50%;}
.blogsingleslider .flex-direction-nav .flex-next,.blogslider .flex-direction-nav .flex-next {right: 0px;}
.blogsingleslider .flex-direction-nav .flex-prev,.blogslider .flex-direction-nav .flex-prev {left: 0px;}
.tagcloud a {font-size: 12px!important;}
.blogsingleslider {margin-bottom: 40px;}
.comment-reply-title {font-size: 2.5rem;font-weight: 400;}
/*vc_tta_tabs*/
.vc_tta-tabs-container {margin-bottom: 40px!important;}
.vc_tta-panels {border: 0px!important;background: transparent !important;}
.vc_tta.vc_tta-shape-rounded .vc_tta-tab > a {border-radius: 4px !important;border: 0px !important;color: #C2C2C2 !important;}
.vc_tta.vc_tta-shape-rounded .vc_tta-tab:not(:first-child):not(:last-child) > a {
    border-radius: 0 !important;
}
.vc_tta-tabs.vc_tta-tabs-position-top.vc_tta-o-shape-group .vc_tta-tab:first-child:not(:last-child) > a {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.vc_tta-tabs.vc_tta-tabs-position-top.vc_tta-o-shape-group .vc_tta-tab:last-child:not(:first-child) > a {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.vc_tta-color-grey.vc_tta-style-classic .vc_tta-tab > a {
	background-color: #EEE;
	padding: 5px 20px !important;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}
.vc_tta-tabs.vc_tta-tabs-position-top:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill) .vc_tta-tab.vc_active > a::before ,.vc_tta-tabs.vc_tta-tabs-position-top:not([class*="vc_tta-gap"]):not(.vc_tta-o-no-fill) .vc_tta-tab.vc_active > a::after{display: none!important;}
.vc_tta-accordion .vc_tta-panel {margin-bottom: 20px !important;border:1px solid #f7f7f7;border-radius: 3px;}
.vc_tta-panels .vc_tta-panel + .vc_tta-panel {margin-top: 5px;}
.vc_tta.vc_general .vc_tta-panel-title {
	text-transform: uppercase!important;
	font-size: 12px!important;
}
.vc_tta-panel-heading{
	background-color: transparent !important;
	border-color: #f7f7f7 !important;
	border-width: 0px!important;
	border-radius: 3px!important;
}
.vc_tta-panel.vc_active .vc_tta-panel-heading {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-bottom: 1px solid #f7f7f7 !important;
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left .vc_tta-controls-icon {left: auto!important;right:20px;}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-left.vc_tta-panel-title > a {padding-left: 20px !important;}
.header .background-opacity {background: rgba(0,0,0,0);}
.slider-bg .background-opacity {background: rgba(0,0,0,0.3);}
.slider-bg .flexslider {margin-bottom: 60px !important;}
.err-icon i {
	width: 90px;
	height: 90px;
	line-height: 90px;
	font-size: 50px;
	border: 3px solid red;
	border-radius: 100%;
	text-align: center;
	color: red;
}
.head404 {font-size: 100px;color: #A94442;}
.post-wrap .sticky {padding: 10px;border: 2px dashed #4EAE49;}
.nav-social ul{list-style: none;float: right;}
.nav-social ul li {display: inline-block;}
.nav-social ul li a {padding: 10px;}
.thumbnail > .caption > p:last-child {margin-bottom: 10px !important;}
.speaker_link,.speaker_link:hover {text-decoration: none;color:#5c5c5c;}
/*home image parallax*/
@media only screen and (max-width: 992px) and (-webkit-min-device-pixel-ratio: 2) {
   .header.parallax-bg {
       background-attachment: scroll !important;
       -webkit-background-size: cover;
       background-position: center;
   }
}
/*slideshow*/
.header_slideshow {background-color: transparent !important;}
.bg-slideshow-wrap {position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.bg-slideshow-slider {
	width: 100%;
	height: 100%;
}
.bg-slideshow-slider .slides,.bg-slideshow-slider .slides li,.bg-slideshow-slider .slides li .bg {height: 100%;}
.bg-slideshow-slider .slides li .bg {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.social-links ul {padding-left: 0px;list-style: none;}