<div id="primary" class="content-area">
	<div id="content" class="content-wrap" role="main">

		{* we need to import template file where content block is defined *}
		{include $currentTemplate, opts => $element->options}

	</div><!-- #content -->
</div><!-- #primary -->

{includePart "ait-theme/elements/content/javascript"}