@include: common.neon

layout:
	label: Layout
	type: select
	selected: horizontal
	default:
		horizontal: Horizontal
		vertical: Vertical
	basic: true
	help: "Select layout type of displayed items"

category:
	label: Category
	type: categories
	taxonomy: tables
	default: 0
	help: "Select category displayed on page"
	basic: true

orderby:
	label: Order By
	type: select
	selected: menu_order
	# see http://codex.wordpress.org/Class_Reference/WP_Query#Order_.26_Orderby_Parameters
	default:
		title: Alphabetically
		menu_order: Item Order
	help: 'Select order of items listed on page'
	basic: true

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'
	basic: true

standard:
	label: Standard Color
	type: color
	default: ''
	help: "Decoration color of standard items"
	basic: true

featured:
	label: Featured Color
	type: color
	default: ''
	help: "Decoration color of featured items"
	basic: true
	
butColor:
	label: Button Color
	type: color
	default: ''
	help: "Decoration color of buttons"
	basic: true


