.znTweetBoxItems-username {margin-bottom: 30px; font-size: 16px;}
.znTweetBoxItems {list-style: none; margin: 0; padding: 0;}
.znTweetBoxItems-itemTweet {margin-bottom: 30px;}
.znTweetBoxItems-itemDate {}
.znTweetBox-alg--left,
.znTweetBox-alg--left .znTweetBoxItems-item {text-align: left;}
.znTweetBox-alg--center,
.znTweetBox-alg--center .znTweetBoxItems-item {text-align: center;}
.znTweetBox-alg--right,
.znTweetBox-alg--right .znTweetBoxItems-item {text-align: right;}
