<?xml version="1.0" encoding="utf-8"?>
<config>
  <fields name="General">
		<field name="profile_default" type="profile" default="" label="Default Profile" description="Select the profile which should be loaded by default." />
		<field name="profile_dynamic" type="radio" default="1" label="Dynamic Profiles" description="Allow profiles to be loaded by URL.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="compression" type="list" default="0" label="Compression" description="Minify and combine CSS and JavaScript into a single file. Use gzip compression and Data URIs to reduce image file requests.">
			<option value="0">None</option>
			<option value="1">Combination + Minify</option>
			<option value="2">Combination + Minify + Data URIs</option>
			<option value="3">Combination + Minify + Data URIs + Gzip</option>
		</field>
		<field name="outdated_browser" type="radio" default="1" label="Upgrade Page" description="Redirect outdated browsers to the upgrade page.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="twitter" type="radio" default="0" label="Twitter Button" description="Display a Tweet button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="plusone" type="radio" default="0" label="Google+ Button" description="Display a Google+ button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="facebook" type="radio" default="0" label="Facebook Button" description="Display a facebook like button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	  	<field name="tracking_code" type="textarea" rows="8" cols="30" label="Tracking Code" description="Insert your Google Analytics tracking code." />
		<field name="check" type="check" label="System Check" description="Detects system issues." />
		<field name="System" type="separator" />
		<field name="date_format" type="text" default="d. M Y" label="Date Format" description="Set the date format." />
		<field name="multicolumns" type="list" default="1" label="Frontpage Multi Columns" description="Set the number of item columns on the frontpage.">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</field>
		<field name="multicolumns_order" type="radio" default="1" label="Multi Columns Order" description="Set the items order to across or down.">
			<option value="1">Across</option>
			<option value="0">Down</option>
		</field>	
		<field name="wpautop" type="radio" default="0" label="Post Formatting" description="Enable/Disable the content filter wpautop.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	</fields>
  <fields name="Profiles">
    <field name="Style" type="separator" />
    <field name="style" type="styles" default="" label="Style" description="Select the style variation." />
    <field name="font1" type="list" default="default" label="Body Font" description="Select the main body typeface.">
      <option value="arial">Arial</option>
      <option value="lucida">Lucida</option>
      <option value="georgia">Georgia</option>
      <option value="timesnewroman">Times New Roman</option>
      <option value="trebuchet">Trebuchet</option>
      <option value="droidsans">Droid Sans</option>
      <option value="opensans">Open Sans</option>
      <option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
      <option value="mavenpro">Maven Pro</option>
      <option value="kreon">Kreon</option>
    </field>
    <field name="font2" type="list" default="cambria" label="Header Font" description="Select the headings typeface.">
      <option value="arial">Arial</option>
      <option value="lucida">Lucida</option>
      <option value="georgia">Georgia</option>
      <option value="timesnewroman">Times New Roman</option>
      <option value="trebuchet">Trebuchet</option>
	  <option value="bebas">Bebas Neue</option>
      <option value="droidsans">Droid Sans</option>
      <option value="opensans">Open Sans</option>
      <option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
      <option value="mavenpro">Maven Pro</option>
      <option value="kreon">Kreon</option>
      <option value="cambria">Cambria</option>
    </field>
    <field name="font3" type="list" default="cambria" label="Menu Font" description="Select the menu typeface.">
      <option value="arial">Arial</option>
      <option value="lucida">Lucida</option>
      <option value="georgia">Georgia</option>
      <option value="timesnewroman">Times New Roman</option>
      <option value="trebuchet">Trebuchet</option>
	  <option value="bebas">Bebas Neue</option>
      <option value="droidsans">Droid Sans</option>
      <option value="opensans">Open Sans</option>
      <option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
      <option value="mavenpro">Maven Pro</option>
      <option value="kreon">Kreon</option>
      <option value="cambria">Cambria</option>
    </field>
    <field name="Layout Style" type="separator" />
    <field name="background" type="list" default="default" label="Background" description="Select the Page Background.">
      <option value="">None</option>
      <option value="blue_one">Blue One</option>
      <option value="blue_two">Blue Two</option>
      <option value="blue_three">Blue Three</option>
      <option value="red_one">Red One</option>
      <option value="red_two">Red Two</option>
      <option value="yellow_one">Yellow One</option>
      <option value="yellow_two">Yellow Two</option>
      <option value="green_one">Green One</option>
      <option value="green_two">Green Two</option>
      <option value="green_three">Green Three</option>
      <option value="violet_one">Violet One</option>
      <option value="violet_two">Violet Two</option>
      <option value="black_one">Black One</option>
      <option value="black_two">Black Two</option>
      <option value="">------- Subtle Patterns -------</option>
      <option value="arab_tile">Arab Tile</option>
      <option value="argyle">Argyle</option>
      <option value="batthern">Batthern</option>
      <option value="beige_paper">Beige Paper</option>
      <option value="bgnoise_lg">BGNoise LG</option>
      <option value="black_scales">Black Scales</option>
      <option value="black_thread">Black Thread</option>
      <option value="blu_stripes">Blu Stripes</option>
      <option value="bright_squares">Bright Squares</option>
      <option value="carbon_fibre">Carbon Fibre</option>
      <option value="circles">Circles</option>
      <option value="concrete_wall">Concrete Wall</option>
      <option value="concrete_wall_2">Concrete Wall 2</option>
      <option value="crossed_stripes">Crossed Stripes</option>
      <option value="dark_circles">Dark Circles</option>
      <option value="dark_leather">Dark Leather</option>
      <option value="dark_wood">Dark Wood</option>
      <option value="denim">Denim</option>
      <option value="diagonal_striped_brick">Diagonal Striped Brick</option>
      <option value="diagonal-noise">Diagonal Noise</option>
      <option value="egg_shell">Egg Shell</option>
      <option value="elegant_grid">Elegant Grid</option>
      <option value="farmer">Farmer</option>
      <option value="first_aid_kit">First Aid Kit</option>
      <option value="gplaypattern">GPlay Pattern</option>
      <option value="green_dust_scratch">Green Dust Scratch</option>
      <option value="green_gobbler">Green Gobbler</option>
      <option value="green-fibers">Green Fibers</option>
      <option value="grey_sandbag">Grey Sandbag</option>
      <option value="grid_noise">Grid Noise</option>
      <option value="gridme">Grid Me</option>
      <option value="ice_age">Ice Age</option>
      <option value="irongrip">Iron Grip</option>
      <option value="light_honeycomb">Light Honeycomb</option>
      <option value="little_pluses">Little Pluses</option>
      <option value="low_contrast_linen">Low Contrast Linen</option>
      <option value="norwegian_rose">Norwegian Rose</option>
      <option value="old_wall">Old Wall</option>
      <option value="perforated_white_leather">Perforated White Leather</option>
      <option value="pool_table">Pool Table</option>
      <option value="ravenna">Ravenna</option>
      <option value="real_cf">Real CF</option>
      <option value="retina_wood">Retina Wood</option>
      <option value="roughcloth">Rough Cloth</option>
      <option value="silver_scales">Silver Scales</option>
      <option value="soft_kill">Soft Kill</option>
      <option value="squares">Squares</option>
      <option value="stacked_circles">Stacked Circles</option>
      <option value="tex2res1">Tex 2 Res 1</option>
      <option value="tex2res2">Tex 2 Res 2</option>
      <option value="tex2res3">Tex 2 Res 3</option>
      <option value="tex2res4">Tex 2 Res 4</option>
      <option value="tex2res5">Tex 2 Res 5</option>
      <option value="texturetastic_gray">Texturetastic Gray</option>
      <option value="tileable_wood_texture">Tileable Wood</option>
      <option value="triangles">Triangles</option>
      <option value="washi">Washi</option>
      <option value="white_brick_wall">White Brick Wall</option>
      <option value="white_leather">White Leather</option>
      <option value="whitey">Whitey</option>
      <option value="woven">Woven</option>
    </field>
    <field name="Content" type="separator" />
    <field name="date" type="radio" default="0" label="Date" description="Show the date.">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="totop_scroller" type="radio" default="1" label="To-Top Scroller" description="Show the to-top scroller.">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="warp_branding" type="radio" default="1" label="Warp Branding" description="Show the Warp branding.">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="system_output" type="radio" default="1" label="System Output" description="Show the system output.">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="Layout" type="separator" />
    <field name="responsive" type="radio" default="1" label="Responsive Layout" description="Enable responsive layout.">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </field>
    <field name="template_width" type="text" size="10" default="980" label="Template Width" description="Set the template width in pixel." class="short" />
    <field name="sidebar-a_width" type="text" size="10" default="25" label="Sidebar A Width" description="Set the Sidebar A width in percent." class="short" />
    <field name="sidebar-b_width" type="text" size="10" default="25" label="Sidebar B Width" description="Set the Sidebar B width in percent." class="short" />
    <field name="sidebar-a" type="list" default="right" label="Sidebar A Position" description="Align the sidebar to the left or right.">
      <option value="right">Right</option>
      <option value="left">Left</option>
    </field>
    <field name="sidebar-b" type="list" default="right" label="Sidebar B Position" description="Align the sidebar to the left or right.">
      <option value="right">Right</option>
      <option value="left">Left</option>
    </field>
    <field name="top-a" type="layout" default="equal" label="Top A Layout" description="Select a grid layout for this module position." />
    <field name="top-b" type="layout" default="equal" label="Top B Layout" description="Select a grid layout for this module position." />
    <field name="innertop" type="layout" default="equal" label="Inner Top Layout" description="Select a grid layout for this module position." />
    <field name="innerbottom" type="layout" default="equal" label="Inner Bottom Layout" description="Select a grid layout for this module position." />
    <field name="bottom-a" type="layout" default="equal" label="Bottom A Layout" description="Select a grid layout for this module position." />
    <field name="bottom-b" type="layout" default="equal" label="Bottom B Layout" description="Select a grid layout for this module position." />
    <field name="menu_width" type="text" size="10" default="250" label="Drop Down Column Width" description="Set the column width of the drop down menu in pixel." class="short" />
  </fields>
</config>
