/*===================================================================================*/
/*	SHOP-TAB
/*===================================================================================*/

.tab-content {
	#grid-view,
	#list-view {
		border-bottom: 1px solid #ececec;
        border-top: 1px solid #ececec;
        padding-top: 30px;
	}
}
