@include: common.neon
	
url:
	label: Link
	type: url
	default: ''
	help: "URL of song used in player, use valid URL format with http://"
	
height:
	label: Height
	type: number
	unit: 'px'
	default: ''
	help: "Height of player"

showArtwork:
	label: Artwork
	type: on-off
	default: true
	help: "Display artwork in player"

- section(title: 'Player Colors and Layout', advanced: true)

color:
	label: Color
	type: color
	default: ''
	help: "Decorative color of player"

borderColor:
	label: Border Color
	type: color
	default: ''
	help: "Color of border around player"

