{include $element->common('header')}

<div id="{$htmlId}" class="{$htmlClass}">

	<iframe height="{$el->option(height)}" src="http://www.mixcloud.com/widget/iframe/?feed={$el->option(url)}&amp;stylecolor={!= str_replace('#', '', $el->option(color))}&amp;embed_type=widget_standard&amp;hide_cover={if $el->option(showArtwork)}0{else}1{/if}"></iframe>

</div>

{includePart "ait-theme/elements/mixcloud/javascript"}