@include: common.neon

type:
	label: Type
	type: select
	default:
		youtube: 'YouTube'
		vimeo: 'Vimeo'
	help: "Select video source"

link:
	label: Link
	type: url
	default: ''
	help: "URL of video displayed on page, use valid URL format with http:// and use long URL in case of YouTube video"

width:
	label: Width
	type: number
	unit: px
	default: 600
	help: "Width of player"

height:
	label: Height
	type: number
	unit: px
	default: 370
	help: "Height of player"

- section(title: 'Colors', advanced: true)

borderColor:
	label: Border Color
	type: color
	default: ''
	help: "Color of border around video"