@include: common.neon
	
username:
	label: Username
	type: text
	default: ''
	help: "Twitter username (account)"
	
posts:
	label: Count
	type: number
	default: 10
	help: "Count of displayed posts"

- section(title: Twitter API Data)

consumerKey:
	label: Consumer key
	type: code
	default: ''
	help: "Twitter API Consumer key"
	
consumerSecret:
	label: Consumer secret
	type: code
	default: ''
	help: "Twitter API Consumer secret"

accessToken:
	label: Access token
	type: code
	default: ''
	help: "Twitter API Access token"

accessTokenSecret:
	label: Access token secret
	type: code
	default: ''
	help: "Twitter API Access token secret"

dateFormat:
	label: Date Format
	type: code
	default: 'j F Y'
	help: "Format of posts dates"
	
escapeSpecialChars:
	label: Escape Special Characters
	type: on-off
	default: off
	help: "Escaping special characters used in posts"
	
linksClickable:
	label: Clickable Links
	type: on-off
	default: on
	help: "Possibility click on posts links"
		
displayDate:
	label: Date
	type: on-off
	default: on
	help: "Display posts dates"
