@include: common.neon

sliderMode:
	label: Animation
	type: select
	selected: fade
	default:
		horizontal : Slide Horizontal
		fade : Fade
	basic: true
	help: "Select type of slider animation"

sliderAutoplay:
	label: Autoplay
	type: on-off
	basic: true
	default: off
	help: "Enable or disable the autoplay feature"

contentSize:
	label: Size
	type: select
	default:
		contentsize: Content Size
		fullsize: Fullwidth Size
	basic: true
	help: "Select size of slider"

imageFormat:
	label: Image Format
	type: select
	selected: "2:1"
	default:
		"1:1" : "1:1"
		"4:3" : "4:3"
		"16:9" : "16:9"
		"2:1" : "2:1"
		"3:1" : "3:1"
		"4:1" : "4:1"
		"5:1" : "5:1"
	basic: true
	help: "Select format of images"

pagerType:
	label: Navigation
	type: select
	default:
		bullets: Bullets
		thumbnails: Thumbnails
		none: None
	basic: true
	help: "Select type of slider navigation"

descriptionAnimation:
	label: Description Animation
	type: select
	selected: fade
	default:
		none: None
		fade: Fade
		rotate: Rotate
		move: Move
		zoom: Zoom
	basic: true
	help: "Select type of animation for description"

linkTarget:
	label: Open In New Window
	type: on-off
	basic: true
	default: off
	help: "Open links in new window or tab"

slides:
	label: Slides
	type: clone
	max: 25
	items:
		link:
			label: Link
			type: text
			help: "URL of link for image in slide, use valid URL format with http://"
		image:
			label: Image
			type: image
			help: "URL of image displayed in slide, use valid URL format with http://"
		title:
			label: Title
			type: text
			help: "Title displayed in description box"
		description:
			label: Description
			type: textarea
			help: "Text displayed in description box"
		button:
			label: Button Text
			type: text
			help: "Text for button displayed in description box"
		descriptionAlign:
			label: Text Alignment
			type: select
			selected: "text-center"
			default:
				"text-left" : "Left"
				"text-center" : "Center"
				"text-right" : "Right"
			help: "Select text alignment in description box"
		descriptionPosition:
			label: Position of Description
			type: select
			selected: "center-right"
			default:
				"top-full" : "Top Fullsize"
				"top-left" : "Top-Left"
				"top-center" : "Top-Center"
				"top-right" : "Top Right"
				"center-left" : "Center Left"
				"center-center" : "Center Center"
				"center-right" : "Center Right"
				"bottom-left" : "Bottom-Left"
				"bottom-center" : "Bottom-Center"
				"bottom-right" : "Bottom Right"
				"bottom-full" : "Bottom Fullsize"
			help: "Select position of description box"
		descWidth:
			label: Description Width
			type: number
			unit: px
			default: ''
			help: "Width of description box"
	default: []
	basic: true

- section(title: 'Slider Layout', advanced: true)

borderColor:
	label: Slider Border
	type: color
	default: ''
	help: "Color of border around slider"

sliderAutoplayPause:
	label: Autoplay Pause
	type: range
	min: 1
	max: 10
	step: 1
	unit: s
	default: 4
	help: "The amount of time (in sec) between each auto transition"

pagerPosition:
	label: Navigation Position
	type: select
	default:
		outside: Outside of Slider
		inside: Inside of Slider
	help: "Select position of slider navigation"

thumbBorderColor:
	label: Thumbnail Border
	type: color
	default: ''
	help: "Color of border around the thumbnails"

- section(title: 'Slider Descriptions Layout', advanced: true)

descWidthAll:
	label: Width
	type: number
	unit: px
	default: ''
	help: "Width of description box for all slides"

descVoffset:
	label: Vertical Offset
	type: number
	unit: px
	default: ''
	help: "Top and bottom offset of description boxes"

descHoffset:
	label: Horizontal Offset
	type: number
	unit: px
	default: ''
	help: "Right and left offset of description boxes"

descBackground:
	label: Background
	type: color
	default: '#000000'
	opacity: 50%
	help: "Background of description boxes"

descTitleColor:
	label: Title
	type: color
	default: ''
	help: "Color of title in description boxes"

descTitleSize:
	label: Title Size
	type: number
	unit: px
	default: ''
	help: "Font size of title in description boxes"

descTextColor:
	label: Text
	type: color
	default: ''
	help: "Color of text in description boxes"

descButtonColor:
	label: Button Color
	type: color
	default: ''
	help: "Color of button in description boxes"

descButtonTextColor:
	label: Button Text
	type: color
	default: ''
	help: "Color of text on button in description boxes"

descButtonOpacity:
	label: Button Opacity
	type: range
	min: 0.2
	max: 1.0
	step: 0.05
	default: '1'
	help: "Opacity of button in description boxes"
