.primary-color {
  color: #901818;
}

.primary-bg {
  background-color: #901818;
}

.white-color {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.black-color {
  color: #000;
}

.black-bg {
  background-color: #000;
}

.font-color {
  color: #1A1A1A;
}

.display-block {
  display: block !important;
}

/* ******************************************************** */
/* typo - single post 
/* ******************************************************** */
/* post meta and author box */
.post-meta,
.post-author {
  font-family: "PT Sans Narrow";
  font-size: 14px;
  line-height: 22px;
  margin: 3px 0 10px;
  font-weight: 700;
  text-transform: uppercase;
}

/* post sections titles */
.post-tags .module-title,
.post-about-the-author .module-title,
.related-post .module-title,
.comment-respond .module-title,
.post-comments .module-title {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 5px;
  font-weight: 700;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
}

/* ******************************************************** */
/* typo - widgets
/* ******************************************************** */
/* widget titles and related */
.widget-title,
.widget-tabs .nav > li > a,
.module-top {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 20px;
  font-weight: 700;
  font-family: "PT Sans Narrow";
  text-transform: uppercase;
}

/* widget big and small titles */
.widget .widget-body .module-small-title {
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 15px 0;
  font-weight: 700;
}
.widget .widget-body .module-big-title {
  font-size: 28px;
  line-height: 36px;
  margin: 0 0 15px 0;
  font-weight: 700;
}

/* widget body */
/* ******************************************************** */
/* typo - big and small titles
/* ******************************************************** */
.module-4-three-cols .module-big-title,
.module-5-three-cols .module-big-title,
.fave-post-set-layout .module-small-title,
.post .module-small-title,
.module-small-title,
.gallery-title-small {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 10px;
  font-weight: 700;
}

.module-big-title {
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 15px;
  font-weight: 700;
}

@media (max-width: 480px) {
  .module-big-title,
  .module-1 .module-big-title,
  .module-2 .module-big-title,
  .module-4-two-cols .module-big-title,
  .module-5-two-cols .module-big-title,
  .widget .widget-body .module-big-title {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 10px;
    font-weight: 700;
  }
}

/* ******************************************************** */
/* colors
/* ******************************************************** */
a,
a:hover,
.module-title,
.blockquote-left,
.blockquote-right,
.blockquote-center,
.widget-title,
.widget-tabs .nav-tabs > li.active > a,
.widget-tabs .nav-tabs > li.active > a:focus,
.widget-tabs .nav-tabs > li.active > a:hover {
  border-color: #901818;
}

.widget_archives ul li:before {
  border-color: transparent #901818;
}

[class*="navbar-header-"] .nav > li > a,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  border-bottom-color: #901818;
}

.post-review-bars {
  border-top-color: #901818;
}

.score-label,
.widget_tags a,
.post-tags a,
#today,
.widget-instagramm-slider .owl-theme .owl-controls .owl-buttons div,
.navbar-inverse,
[class*="navbar-header-"] .nav > li > a:hover,
.review,
.jspDrag,
.grid-banner-slide .owl-theme .owl-controls .owl-buttons div {
  background-color: #901818;
}

.comment-body-author,
.bypostauthor {
  background-color: rgba(144, 24, 24, 0.05);
  border: 1px solid rgba(144, 24, 24, 0.2);
}

.playlist-video.selected,
.playlist-video:hover {
  border-left: 3px solid #901818;
}

/* ******************************************************** */
/* boxed layout options
/* ******************************************************** */
.boxed-layout {
  background-color: #9B9B9B;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}

/* ******************************************************** */
/* user role colors
/* ******************************************************** */
.role-admin.role-icon {
  background-color: #D0021B;
  color: #fff;
}

.role-editor.role-icon {
  background-color: #FF6600;
  color: #fff;
}

.role-author.role-icon {
  background-color: #52BCD2;
  color: #fff;
}

.role-contributor.role-icon {
  background-color: #3F8E3B;
  color: #fff;
}

.role-subscriber.role-icon {
  background-color: #9B9B9B;
  color: #fff;
}

/* ******************************************************** */
/* pagination
/* ******************************************************** */
.pagination .active,
.pagination .active a {
  color: #fff;
  background-color: #901818;
}
