@include: common.neon

category:
	label: @native
	type: categories
	taxonomy: portfolios
	default: 0
	basic: true
	help: "Select category displayed on page"

count:
	label: Count
	type: number
	default: 10
	help: "Number of visible items"
	basic: true
	less: false

columns:
	label: Columns
	type: number
	default: 5
	help: "Number of items in one row"
	basic: true

textRows:
	label: Text Rows
	type: select
	selected: 3	
	default:
		none: Unlimited
		1: 1 row
		2: 2 rows
		3: 3 rows
		4: 4 rows
		5: 5 rows
	help: "Number of rows for description text"
	basic: true	

- section(title: Portfolio Layout)

showFilter:
	label: Filter
	type: on-off
	default: on
	help: "Display Portfolio filter"

subcategoryItems:
	label: Subcategory Filter
	type: on-off
	default: on
	help: "Display items from subcategories when filtering"

display:
	label: Item Display
	type: select
	selected: detail
	default:
		detail: Link to detail
		colorbox: Open in popup
	help: "Select how to show the content of Portfolio item"

orderby:
	label: Order By
	type: select
	selected: menu_order
	default:
		date: Creation Date
		menu_order: Item Order
		rand: Random
	help: "Select order of items listed on page"

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

imageDescription:
	label: Excerpt
	type: on-off
	default: on
	help: "Display Portfolio item description"

imageHeight:
	label: Image Height
	type: number
	unit: px
	default: auto
	help: "Height of Portfolio images. For automatic height enter auto or 0."

imageOffset:
	label: Image Offset
	type: number
	unit: px
	default: 20
	help: "Offset of Portfolio images"
