/* Miscellaneous */
body a {
    outline: none !important;
}

li {
    line-height: 24px;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.align-left {
    text-align: $left;
}

.align-right {
    text-align: $right;
}

.align-center {
    text-align: center;
}

.push-bottom {
    margin-bottom: 35px;
}

.push-top {
    margin-top: 35px;
}

.block-nowrap {
    display: inline-block;
    white-space: nowrap;

    @media #{$screen-small} {
        display: inline;
    }
}

.block-inline {
    display: inline-block;

    @media #{$screen-small} {
        display: inline;
    }
}

.pt-left {
    float: #{$left} !important;
}

.pt-right {
    float: #{$right} !important;
}

.pt-none {
    float: none !important;
}

.bold {
    font-weight: bold;
}

.font-light {
    font-weight: 200;
}

.overflow-hidden {
    overflow: hidden;
}

.inverted {
    color: #FFF;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.text-decoration-none, .ms-btn {
    text-decoration: none !important;
}

/* Clearfix */
.alert {
    a {
        text-decoration: none;
    }
    i {
        margin-#{$right}: 8px;
        font-size: 1.1em;
    }

    ul {
        padding: 0;
        margin: side-values(7px 0 0 25px);
        li {
            font-size: 0.9em;
        }
    }

    &.alert-sm {
        padding: 5px 10px;
        font-size: 0.9em;
    }

    &.alert-lg {
        padding: 20px;
        font-size: 1.2em;
    }

    &.alert-default {
        background-color: $color-default;
        border-color: darken($color-default, 3%);
        color: darken($color-default, 50%);

        .alert-link {
            color: darken($color-default, 65%);
        }
    }

    &.alert-dark {
        background-color: lighten($color-dark, 10%);
        border-color: darken($color-dark, 10%);
        color: lighten($color-dark, 70%);

        .alert-link {
            color: lighten($color-dark, 85%);
        }
    }
}

.br-none {
    border-radius: 0 !important;
}

.br-normal {
    border-radius: $border-normal !important;
}

.br-thick {
    border-radius: $border-thick !important;
}

.b-none {
    border: medium none !important;
}

.tf-none {
    &,
    & img {
        @include transform(none !important);
        @include transition(none !important);
    }
}

.bg-pos-bottom {
    background-position: center bottom !important;
}

.bg-pos-top {
    background-position: center top !important;
}

.bg-pos-center {
    background-position: center center !important;
}

.bg-pos-left-top {
    background-position: left top !important;
}

.bg-pos-left-bottom {
    background-position: left bottom !important;
}

.bg-pos-left-center {
    background-position: left center !important;
}

.bg-pos-right-top {
    background-position: right top !important;
}

.bg-pos-right-bottom {
    background-position: right bottom !important;
}

.bg-pos-right-center {
    background-position: right center !important;
}

.color-white {
    color: $color-white !important;

    a {
        color: $color-white !important;
    }
}

table {
    width: 100%;

    p {
        margin: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
}

embed, iframe, object, video {
    max-width: 100%;
    vertical-align: middle;
}

th,
td {
    padding: 8px;
}

dl dd {
    margin-bottom: 15px;
}

/* Blockquote */
blockquote {
    font-size: 1em;
    &.with-borders {
        border-radius: $border-medium;
        border-top: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
        border-bottom: if-light(1px solid #dfdfdf, 1px solid $color-dark-4);
        border-left: if-light(1px solid #ececec, 1px solid $color-dark-3);
        border-right: if-light(1px solid #ececec, 1px solid $color-dark-3);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
        padding: 15px 20px;
    }
}

/* Content Grid */
.content-grid {
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    .content-grid-item {
        position: relative;
        padding: 25px;
        margin: 0;
        &:before, &:after {
            content: '';
            position: absolute;
        }
        &:before {
            height: 100%;
            top: 0;
            left: -1px;
            border-left: if-light(1px solid #dadada, 1px solid $color-dark-4);
        }
        &:after {
            width: 100%;
            height: 0;
            top: auto;
            left: 0;
            bottom: -1px;
            border-bottom: if-light(1px solid #dadada, 1px solid $color-dark-4);
        }
        .img-responsive {
            display: inline-block;
        }
    }

    &.content-grid-dashed {
        .content-grid-item {
            &:before {
                border-left: if-light(1px dashed #dadada, 1px dashed $color-dark-4);
            }
            &:after {
                border-bottom: if-light(1px dashed #dadada, 1px dashed $color-dark-4);
            }
        }
    }
}


.minicart-icon2:before {
    font-family: "FontAwesome" !important;
    font-size: 1.1em;
    content: $fa-var-shopping-cart;
}

.minicart-icon3:before {
    font-family: "Simple-Line-Icons" !important;
    font-size: 1.1em;
    content: "\e04e";
}
.minicart-icon4:before {
    font-family: "Simple-Line-Icons" !important;
    content: "\e035";
    font-size: 1.1em;
}

/* Cursor */
.cur-pointer {
    cursor: pointer;
}

/* Font Size */
.font-size-xs {
    font-size: 0.8em !important;
}

.font-size-sm {
    font-size: 0.9em !important;
    .vc_btn3 {
        font-size: 1em !important;
    }
}

.font-size-md {
    font-size: 1em !important;
}

.font-size-lg {
    font-size: 1.1em !important;
}

.font-size-xl {
    font-size: 1.2em !important;
}

.text-xs {
    font-size: 1rem !important;
}

.text-sm {
    font-size: 1.3rem !important;
}

.text-md {
    font-size: 1.6rem !important;
}

.text-lg {
    font-size: 1.9rem !important;
}

.text-xl {
    font-size: 2.2rem !important;
}

/* Line Height */
.line-height-xs {
    line-height: 16px !important;
}

.line-height-sm {
    line-height: 20px !important;
}

.line-height-md {
    line-height: 24px !important;
}

.line-height-lg {
    line-height: 28px !important;
}

.line-height-xl {
    line-height: 32px !important;
}

/* sticky class */
.sticky-transition[data-plugin-sticky] {
    @include transition(top 0.3s ease-in-out 0s);
}

/* Ajax Box */
.ajax-box {
    @include transition (all 0.2s);
    position: relative;
    .ajax-box-content {
        @include transition (all 0.2s);
        opacity: 1;
        height: auto;
    }
    .bounce-loader,
    .porto-ajax-loading {
        opacity: 0;
    }
    &.ajax-box-init {
        height: 0px;
    }
    &.ajax-box-loading {
        height: 300px;
        .ajax-box-content {
            opacity: 0;
            height: 300px;
        }
        .bounce-loader,
        .porto-ajax-loading {
            opacity: 1;
        }
    }
}

[data-plugin-parallax] {
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-attachment: fixed !important;
    position: relative;
    clear: both;
}

.transition-none {
    @include transition(none !important);
}