
/* Menu Bar */
nav.ubermenu.ubermenu-main{
	background:transparent;
}

/* Top Level Menu Items: standard */
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > a,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > span.um-anchoremulator, .ubermenu-responsive-toggle {
	border: 1px solid #f7f7f7;
	border-width: 1px 0;
	border-color: #f7f7f7 #f7f7f7 #e0e0e0;
	color:#777;
	font-size: 14px;
	padding: 10px 16px 10px;
/*	padding: 7px 16px 9px;*/
	margin-bottom: -1px;
	text-shadow:none;
	outline:none;
}
a.ubermenu-responsive-toggle {
	color:#afafaf;
}

a.ubermenu-responsive-toggle > i.fa {
	color: #afafaf;
	font-size: 10px;
	padding-top: 4px;
	position: absolute;
	right: 10px;
}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega > a,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega > span.um-anchoremulator {
	padding-right: 20px;
}

/* Has subs arrows */
nav.ubermenu.ubermenu-main ul li.ss-nav-menu-reg li.megaReg-with-sub > a:after, nav.ubermenu.ubermenu-main ul li.ubermenu-has-submenu-mega > a:after, nav.ubermenu.ubermenu-main ul li.ss-nav-menu-mega > a:after, nav.ubermenu.ubermenu-main ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator:after, nav.ubermenu.ubermenu-main ul li.ubermenu-has-submenu-mega > span.um-anchoremulator:after, nav.ubermenu.ubermenu-main ul li.ss-nav-menu-mega > span.um-anchoremulator:after {
	border-top-color: #ccc;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target:after{
	border-top-color: #ccc;
	content: "\f0d7";
	font-size: 70%;
	color: #ccc;
}
.ubermenu-sub-indicators .ubermenu-submenu-type-flyout > .ubermenu-has-submenu-drop > .ubermenu-target:after {
	content: "\f0da";
}

nav.ubermenu.ubermenu-main ul li.ss-nav-menu-reg li.megaReg-with-sub > a:after, nav.ubermenu.ubermenu-main ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator:after {
	border-top-color: transparent;
	border-left-color: #ccc;
}

/* Top Level Menu Items: Hover */
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item:hover > a, 
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > a:hover, 
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-active > a,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item:hover > span.um-anchoremulator,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > span.um-anchoremulator:hover,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-active > span.um-anchoremulator {
	color:#333;
}

	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega:hover > a, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout:hover > a,
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega > a:hover, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout > a:hover,
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega.ubermenu-active > a, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout.ubermenu-active > a,
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega:hover > span.um-anchoremulator, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout:hover > span.um-anchoremulator, 
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega > span.um-anchoremulator:hover, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout > span.um-anchoremulator:hover, 
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega.ubermenu-active > span.um-anchoremulator, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout.ubermenu-active > span.um-anchoremulator {
		border-bottom-color: transparent !important; }
	
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-flyout:hover, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-active.ubermenu-has-submenu-flyout,
	nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-has-submenu-mega:hover, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-active.ubermenu-has-submenu-mega {
		box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
		border-radius: 2px 2px 0 0;
	}

/* Top Level Menu Items: Hover over link or submenu */
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-active > a,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item:hover > span.um-anchoremulator, 
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-active > span.um-anchoremulator{
	border-color: transparent;
}

/* Top Level: Current Menu Item */
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-current-menu-item > a, body nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-current-menu-item > a:hover {
	color:#444;
	border-bottom-color: #808080;
}
	/* highlight "home" item */
	.home nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-current-menu-item > a, .home-page nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-current-menu-item > a {
		border-bottom-color: #e0e0e0;
	}

/* Sub-Menu */
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ss-nav-menu-mega > ul.sub-menu-1, 
nav.ubermenu.ubermenu-main ul.ubermenu-nav li.ubermenu-item/*.ss-nav-menu-reg*/ ul.ubermenu-submenu {
	border: none;
	color: #999;
	text-shadow: none;
	box-shadow: 0px 1px 7px rgba(0,0,0,.07);
}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item  ul.ubermenu-submenu-type-flyout.ubermenu-submenu,
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu-type-mega.ubermenu-submenu/*.sub-menu-1*/ {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding-top: 0;
	padding-bottom: 1px;
	border: 1px solid #e0e0e0;
	border-color: #e0e0e0 #e7e7e7;
	border-color: #e0e0e0 rgba(0,0,0,.08) rgba(0,0,0,.09);
	margin-top:1px;
	margin-left: -1px; /* compensate for menu border with top link alignment */
	-moz-background-clip: padding !important; -webkit-background-clip: padding !important; background-clip: padding-box !important; /* allows border to overlay bg content instead of menu */
}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu-type-mega li.ubermenu-item-level-1 {
	padding: 10px 20px 10px 17px;
}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item ul.ubermenu-submenu {
	border-top:0 !important;

}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item > ul.ubermenu-submenu-type-mega ul.ubermenu-submenu-type-stack {
	border:0;
	box-shadow: none;
}
nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-item-level-0:hover > a, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-mega.ubermenu-has-submenu-drop:hover > a, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-item-level-0.ubermenu-active > a, nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ubermenu-has-submenu-mega.ubermenu-has-submenu-drop.ubermenu-active > a {
	background: #fff;
	border-color: #e7e7e7;
	border-radius: 1px 1px 0 0;
}
nav.ubermenu.ubermenu-main li.ubermenu-item ul.ubermenu-submenu-type-mega/*.ss-nav-menu-mega ul*/.ubermenu-submenu/*.sub-menu-1*/, nav.ubermenu.ubermenu-main li.ubermenu-item ul.ubermenu-submenu-type-flyout/*.ss-nav-menu-reg*/.ubermenu-submenu {
	background-color: #fff;
}
nav.ubermenu.ubermenu-main ul li.ubermenu-item ul.ss-nav-menu-mega ul li ul.ubermenu-submenu li.ubermenu-item a, nav.ubermenu.ubermenu-main ul li ul.ubermenu-submenu li.ubermenu-item a,
nav.ubermenu.ubermenu-main ul li ul.ubermenu-submenu li.ubermenu-item .um-anchoremulator {
	color: #808080;
	font-size: 13px;
	min-width: 180px;
	padding: 10px 20px 10px 17px;
	text-shadow:0px 1px 1px #fff;
}
	/* MegaMenu Drop Downs Only (not standard style) */
	nav.ubermenu.ubermenu-main /*ul li.ubermenu-item.ss-nav-menu-mega ul li ul*/.ubermenu-submenu li.ubermenu-item a, nav.ubermenu.ubermenu-main ul li.ss-nav-menu-mega ul.ubermenu-submenu li.ubermenu-item a, 
	nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul.ubermenu-submenu li.ubermenu-item .um-anchoremulator {
		padding: 10px;
		border-radius: 2px;
		margin: 0;
	}
nav.ubermenu.ubermenu-main ul.ubermenu-submenu-type-mega /*ul.sub-menu-1 >*/ > li.ubermenu-item > a, 
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul.sub-menu-1 > li.ubermenu-item:hover > a, 
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul li ul.ubermenu-submenu li.ubermenu-item-header > a,
nav.ubermenu.ubermenu-main ul.ubermenu-submenu.ubermenu-submenu-type-mega li.ubermenu-item-level-1 > a,
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul.sub-menu-1 > li.ubermenu-item > .um-anchoremulator, 
.wpmega-widgetarea h2.widgettitle {
	color: #333;
	font-size: 15px;
	font-weight: 800;
	text-shadow: 0px 1px 1px #fff;
	padding-bottom: .4em;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: .4em;
	/*padding-left: 0;*/
}
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul ul.ubermenu-submenu li.ubermenu-item a:hover, 
nav.ubermenu.ubermenu-main ul ul.ubermenu-submenu > li.ubermenu-item:hover > a {

}
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul ul.ubermenu-submenu li.ubermenu-item a:hover,
nav.ubermenu.ubermenu-main ul ul.ubermenu-submenu > li.ubermenu-item:hover > a:hover {
	background-color:#f7f7f7;
	color: #4c4c4c;
}
nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul.ubermenu-submenu li.ubermenu-item.ss-nav-menu-highlight > a, nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-reg ul.ubermenu-submenu li.ubermenu-item.ss-nav-menu-highlight > a{
	color:#8f0000;
}
.ss-nav-menu-with-img .ubermenu-target-title, .ss-nav-menu-with-img .wpmega-link-description {}
.ss-nav-menu-with-img{
	min-height:20px;
}

nav.ubermenu.ubermenu-main ul.ubermenu-nav > li.ubermenu-item.ss-nav-menu-reg ul.ubermenu-submenu > li.ubermenu-item > ul.ubermenu-submenu{
	top: 0px;
	border: 1px solid #f7f7f7;
	border-color: #f7f7f7 #e7e7e7 #e0e0e0;
}

nav.ubermenu.ubermenu-main ul.ubermenu-nav li.ubermenu-item a span.ubermenu-target-description{
	font-size: 10px;
	color: #999;
	text-transform: uppercase;
	/*margin-top: 3px;*/
}
nav.ubermenu.ubermenu-main > ul.ubermenu-nav > li.ubermenu-item > .wpmega-nonlink > form#searchform.ubersearch-v2 input[type="text"]{
	color:#777;
}


nav.ubermenu.ubermenu-main ul li.ubermenu-item.ss-nav-menu-mega ul.ubermenu-submenu li.ubermenu-item ul.wpmega-postlist img {
	background:#fff;
	border:1px solid #ddd;
	float:left;
	padding:4px;
}

/* icons */
nav.ubermenu.ubermenu-main .ubermenu-target-title > i[class^="icon-"] { color: #d0d0d0; }

/* IE7 Hacks */
nav.ubermenu.ubermenu-main.ubermenu-horizontal ul.ubermenu-nav{
	*border-bottom:none;
}
nav.ubermenu.ubermenu-main.ubermenu-vertical ul.ubermenu-nav{
	*border-right:none;
}

/* Top Level Searchbar */
form#NavSearchForm input[type="text"], form#NavSearchForm button[type="submit"] {
	border-bottom:1px solid #ddd;
}

nav.ubermenu.ubermenu-main .ubermenu-target-title {
	line-height: 18px; /* fix for browser compatibility (default, 1.4em, interprets as 20px in one browser, 18px in another...) */
}

nav.ubermenu.ubermenu-main .ubermenu-item.ubermenu-has-submenu-drop > a.ubermenu-target:after{
	right:-1px;
	padding-right: 5px;
}

/* Max width of 768 pixels. */
@media screen and (max-width: 959px) {

	div.navSearch { display:none; }

}
