@include: common.neon

type:
	label: Type
	type: select
	selected: ROADMAP
	default:
		ROADMAP: Normal Map
		SATELLITE: Satellite Map
		HYBRID: Hybrid Map
	basic: true
	help: "Select type of Google Map. To see 3D view on the map, set Type to 'Satellite', Zoom to minimal value of '18' and turn off 'Auto Zoom & Fit Map'"

#contentSize:
#	label: Size
#	type: select
#	default:
#		contentsize: Content Size
#		fullsize: Fullwidth Size
#	basic: true
#	help: "Select size of Google Map"

height:
	label: Height
	type: number
	unit: px
	default: 500
	basic: true
	help: "Height of Google Map"

#address:
#	label: Address
#	type: code
#	default: ''
#	basic: true
#	help: "Address of default position shown on Google Map"
address:
	label: Address
	type: map
	default:
		address: ""
		latitude: "1"
		longitude: "1"
		streetview: off
	basic: true
	help: "Address of default position shown on Google Map"
zoom:
	label: Zoom
	type: range
	less: false
	min: 0
	max: 21
	default: 12
	basic: true
	help: "Zoom level of Google Map"

autoZoomAndFit:
	label: "Auto Zoom & Fit Map"
	type: on-off
	default: on
	basic: true

clusterEnable:
	label: Clustering
	type: on-off
	default: off
	basic: true
	help: "Enable or disable clustering feature"

clusterRadius:
	label: Cluster Radius
	type: number
	basic: true
	default: 100
	help: "Set size of radius for clustering"

geoLocationEnable:
	label: Geolocation
	type: on-off
	default: off
	basic: true
	help: "Enable or disable geolocation feature"

#streetViewEnable:
#	label: Street View
#	type: on-off
#	default: off
#	basic: true
#	help: "Enable or disable street view feature"

#streetViewHeading:
#	label: Streetview Heading
#	type: number
#	default: 34
#	basic: true

#streetViewPitch:
#	label: Streetview Pitch
#	type: number
#	default: 10
#	basic: true

- section(title: 'Infobox options')
infoboxEnableTelephoneNumbers:
	label: Enable Telephone Numbers
	type: on-off
	default: off
	basic: true

- section(title: 'Map General Colors', advanced: true)

borderColor:
	label: Map's Border
	type: color
	default: ''
	help: "Border color of Google Map"

mapHue:
	label: Map's Hue
	type: color
	default: ''
	help: "Hue color of Google Map"

mapSaturation:
	label: Map's Saturation
	type: range
	min: -100
	max: 100
	step: 1
	default: '20'
	help: "Saturation level of Google Map"

mapBrightness:
	label: Map's Brightness
	type: range
	min: -100
	max: 100
	step: 1
	default: '0'
	help: "Brightness level of Google Map"

- section(title: 'Map Object Colors', advanced: true)

objSaturation:
	label: Saturation
	type: range
	min: -100
	max: 100
	step: 1
	default: '-70'
	help: "Saturation level of Google Map objects"

objBrightness:
	label: Brightness
	type: range
	min: -100
	max: 100
	step: 1
	default: '-1'
	help: "Brightness level of Google Map objects"

landscapeShow:
	label: Display landscapes
	type: on-off
	default: on

landscapeColor:
	label: Landscape Hue
	type: color
	default: ''
	help: "Hue color of Google Map landscape"

administrativeShow:
	label: Display administratives
	type: on-off
	default: on

administrativeColor:
	label: Administrative Hue
	type: color
	default: ''
	help: "Hue color of Google Map administrative areas"

roadsShow:
	label: Display roads
	type: on-off
	default: on

roadsColor:
	label: Roads Hue
	type: color
	default: ''
	help: "Hue color of Google Map roads"

waterShow:
	label: Display water
	type: on-off
	default: on

waterColor:
	label: Water Hue
	type: color
	default: '#c6e8eb'
	help: "Hue color of Google Map water"

poiShow:
	label: Display poi
	type: on-off
	default: on

poiColor:
	label: POI Hue
	type: color
	default: ''
	help: "Hue color of Google Map Points Of Interest"

mousewheelZoom:
	label: MouseWheel Zoom
	type: on-off
	default: off
