/*------------------------------------------------------------------------------ header */
header {
    width: 100%;
    height: 75%;
    position: absolute;
}

header.subpage {
    height: 40% !important;
}

header #header-background-images {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

header #header-background-images .header-background-image {
    background-size: cover !important;
    height: 100%;
    width: 100%;
    z-index: 1 !important;
}

header .top-header-box .logo a img {
    border: none;
    width: 100%;
}

@media (max-width: 599px) {

    header .top-header-box {
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 5000;
    }
    
    header .top-header-box ul.menu-left,
    header .top-header-box ul.menu-right {
        display: none;
    }

    header .top-header-box .logo {
        width: 160px;
        height: 75px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -80px;
    }

    .responsive-menu {
        left: 50%;
        top: 80px !important;
    }
    
    #responsive-menu-window {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        z-index: 99999;
        padding: 30px;
        display: none;
    }
    
    #responsive-menu-window h3 {
        font-size: 35px;
    }
    
    #responsive-menu-window ul { 
        list-style: none;
        margin-top: 25px;
    } 
    
    #responsive-menu-window ul li a {
        text-decoration: none;
        padding: 10px;
        display: block;
        font-size: 15px;
        margin-top: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    #responsive-menu-window ul.sub-menu {
        margin: 0 0 0 20px;
    }
    
    #responsive-menu-window .close-responsive-menu {
        font-size: 25px;
        position: absolute;
        top: 40px;
        right: 30px;
        cursor: pointer;
    }
    
    #scrollable-menu-wrapper {
        margin-left: 5%;
    }
    
    #scrollable-menu-wrapper .scrollable-menu-list { display: none; }
}

@media (min-width: 600px) and (max-width: 849px) {

    header .top-header-box {
        width: 550px;
        position: absolute;
        top: 0;
        z-index: 5000;
        left: 50%;
        margin-left: -275px;
    }
    
    header .top-header-box ul.menu-left,
    header .top-header-box ul.menu-right {
        display: none;
    }
    
    header .top-header-box .logo {
        width: 160px;
        height: 75px;
        position: absolute;
        top: 0;
        left: 0;
    }

    #responsive-menu-window {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        z-index: 99999;
        padding: 30px;
        display: none;
    }
    
    #responsive-menu-window h3 {
        font-size: 35px;
    }
    
    #responsive-menu-window ul { 
        list-style: none;              
        margin-top: 25px;
    } 
    
    #responsive-menu-window ul li a {
        text-decoration: none;
        padding: 10px;
        display: block;
        font-size: 15px;
        margin-top: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    
    #responsive-menu-window ul.sub-menu {
        margin: 0 0 0 20px;
    }
    
    #responsive-menu-window .close-responsive-menu {
        font-size: 25px;
        position: absolute;
        top: 40px;
        right: 30px;
        cursor: pointer;
    }
    
    #scrollable-menu-wrapper {
        width: 548px;
        left: 50%;
        margin-left: -275px;
    }

    #scrollable-menu-wrapper .scrollable-menu-list { display: none; }
}

@media (min-width: 850px) and (max-width: 1149px) {

    header .top-header-box {
        width: 800px;
        position: absolute;
        top: 0;
        z-index: 5000;
        left: 50%;
        margin-left: -400px;
    }
    
    header .top-header-box ul.menu-left,
    header .top-header-box ul.menu-right {
        list-style: none;
        margin-top: 20px;
    }
    
    header .top-header-box ul.menu-left li,
    header .top-header-box ul.menu-right li {
        display: inline-block;
        margin: 0 10px;
        position: relative;
    }
    
    header .top-header-box ul.menu-left li a,
    header .top-header-box ul.menu-right li a {
        padding: 0 0 30px 0;
    }
    
    header .top-header-box ul.menu-left li a,
    header .top-header-box ul.menu-right li a {
        font-size: 12px !important;
    }
    
    header .top-header-box .logo {
        width: 160px;
        height: 75px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -80px;
    }
    
    #scrollable-menu-wrapper {
        width: 798px;
        left: 50%;
        margin-left: -400px;
    }
    
    #scrollable-menu-wrapper .scrollable-menu-list li a {
        font-size: 12px !important;
        padding: 0 9px !important;
    }
    
    #scrollable-menu-wrapper .scrollable-menu-responsive { display: none; }
    .responsive-menu { display: none; }
}

@media (min-width: 1150px) {

    header .top-header-box {
        width: 1100px;
        position: absolute;
        top: 0;
        z-index: 5000;
        left: 50%;
        margin-left: -550px;
    }
    
    header .top-header-box ul.menu-left,
    header .top-header-box ul.menu-right {
        list-style: none;
        margin-top: 30px;
    }
   
    header .top-header-box ul.menu-left li,
    header .top-header-box ul.menu-right li {
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    
    header .top-header-box ul.menu-left li a,
    header .top-header-box ul.menu-right li a {
        padding: 0 0 30px 0;
    }
    
    header .top-header-box .logo {
        width: 190px;
        height: 90px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -85px;
    }
    
    #scrollable-menu-wrapper {
        width: 1098px;
        left: 50%;
        margin-left: -550px;
    }
    
    #scrollable-menu-wrapper .scrollable-menu-responsive { display: none; }
    .responsive-menu { display: none; }
}

#responsive-menu-wrapper {
    display: none;
}

header .top-header-box .responsive-menu {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

header .top-header-box .responsive-menu i {
    font-size: 21px;
    position: absolute;
    margin-left: -35px;
    margin-top: -2px;
}

header .responsive-menu-list a {
    cursor: pointer;
}

header .top-header-box ul.menu-left li a,
header .top-header-box ul.menu-right li a {
    text-decoration: none;
    font-size: 13px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}

header .top-header-box ul.menu-left {
    float: left;
}

header .top-header-box ul.menu-left li:first-child,
header .top-header-box ul.menu-right li:first-child { 
    margin-left: 0;
}

header .top-header-box ul.menu-left li:last-child,
header .top-header-box ul.menu-right li:last-child { 
    margin-right: 0;
}

header .top-header-box ul.menu-right {
    position: absolute;
    top: 0;
    right: 0;
}        

/* scrollable menu wrapper */
#scrollable-menu-wrapper {
    -webkit-box-shadow: 0 3px 1px -1px rgba( 0, 0, 0, 0.05 );
	  -moz-box-shadow: 0 3px 1px -1px rgba( 0, 0, 0, 0.05 );
	  box-shadow: 0 3px 1px -1px rgba( 0, 0, 0, 0.05 ); 
    height: 70px;
    position: fixed;
    border-left: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;
    background: #fff;
    top: 0;
    display: none;
    z-index: 400;
}

#scrollable-menu-wrapper .logo {
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 25px;
}

#scrollable-menu-wrapper .scrollable-menu-list {
    list-style: none;
    padding: 24px 20px 13px 0;
    float: right;
}

#scrollable-menu-wrapper .scrollable-menu-list li {
    display: inline-block;
    position: relative;
}

#scrollable-menu-wrapper .scrollable-menu-list li a {
    text-decoration: none;
    font-size: 13px;
    padding: 0 12px 30px 12px;
}

#scrollable-menu-wrapper .scrollable-menu-responsive {
    position: absolute;
    top: 24px;
    right: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#scrollable-menu-wrapper .scrollable-menu-responsive i {
    font-size: 21px;
    position: absolute;
    margin-left: -5px;
}

/*------------------------------------------------------------------------------ submenu */
header ul.sub-menu {
    position: absolute;
    margin-left: -10px;
    margin-top: 20px;
    background: #fff;
    padding: 5px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.5 );
    width: 150px;
    display: none;
}

header ul.sub-menu:before {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    content: ' ';
    top: -5px;
    left: 20px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
}

header ul.sub-menu ul.sub-menu:before {
    top: 14px;
    left: -6px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

header ul.sub-menu li {
    padding: 5px 0 5px 0 !important;
    display: block !important;  
    border-bottom: 1px dashed #eee;
    margin: 0 !important;
}

header ul.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu .sub-menu {
    margin-left: 100%;
    margin-top: -29px !important;
}

#scrollable-menu-wrapper .sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ddd;
    background: #fff;
    margin-top: 20px;
    border-radius: 3px;
    padding: 5px 15px;
    box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.1 );
    display: none;
}

#scrollable-menu-wrapper .sub-menu:before {
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    content: ' ';
    top: -6px;
    left: 20px;
    transform:rotate(45deg);
    -webkit-transform:rotate(45deg); 
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

#scrollable-menu-wrapper .sub-menu ul.sub-menu:before {
    top: 14px;
    left: -6px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: none;
}

#scrollable-menu-wrapper .sub-menu li {
    padding: 5px 0 5px 0 !important;
    display: block !important;  
    border-bottom: 1px dashed #eee;
    margin: 0 !important;
}

#scrollable-menu-wrapper .sub-menu li:last-child {
    border-bottom: none;
}

#scrollable-menu-wrapper .sub-menu li a {
    margin: 0 !important;
    padding: 0 !important;
}

@media (min-width: 850px) and (max-width: 1149px) {

    header ul.sub-menu,
    #scrollable-menu-wrapper ul.sub-menu {
        width: 120px;
    }
}