html#ecwid_html {
	body#ecwid_body {

		.top-cart-row-container {
			position: relative;
		}

		.widget.widget_ecwid_minicart {
			position: absolute;
			top: -70px;
			#{$end}: 0;
			display: inline-block;

			.widgettitle {
				display: none;
			}
		}

		.widget.widget_ecwid_minicart_miniview {
			position: absolute;
			top: 0;
			#{$end}: 0;
			text-align: #{$end} !important;
			height: 100%;

			.widgettitle {
				display: none;
			}
		}

		div.ecwid-minicart-mini-rolloverContainer {
			display: block !important;

			div.ecwid-minicart-mini-rollover {
				border: none !important;
				#{$start}: 65px !important;
				top: 0 !important;
				cursor: pointer;
			}

			.ecwid-minicart-mini-link {
			    display: inline-block;
			    font-size: 14px;
			    line-height: 21px;
			    float: $end;
			    margin-top: -4px;

			    &,
			    &:hover,
			    &:focus {
			    	color: #3d3d3d !important;
			    }
			}

			.ecwid-minicart-mini-items {
				display: none ;
			}

			.ecwid-minicart-mini-overlay-count {
				font-size: 12px !important;
				height: 21px;
				width: 21px;
				border-radius: 50%;
				display: inline-block;
				text-align: center;
				font-weight: 700;
				color: #fff !important;
				vertical-align: middle;
				line-height: 19px;
				margin-#{$start}: 9px;
				margin-#{$end}: 18px;
			}

			.ecwid-minicart-mini-total {
				margin-top: -5px;

				.ecwid-minicart-mini-total-label {
					display: none;
				}

				.ecwid-minicart-mini-total-total {
					font-size: 22px;
				}
			}

			&:hover,
			&:focus {
				.ecwid-minicart-mini-link,
				a {
					&,
				    &:hover,
				    &:focus {
				    	color: #3d3d3d !important;
				    }
				}
			}
		}

		.ecwid-minicart-mini-overlay-count {
			border-radius: 100px;
		    color: #fff;
		    font-size: 12px;
		    font-weight: 700;
		    height: 21px;
		    line-height: 21px;
		    position: absolute;
		    #{$end}: 12px;
		    text-align: center;
		    top: 5px;
		    width: 21px;

			&:before {
				background: url("../images/background-images/cart.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			  	bottom: 0;
			  	content: "";
			  	#{$start}: 0;
			  	position: absolute;
			  	#{$end}: 0;
			  	top: 0;
			}
		}
	}
}