dl[role="main"] {
    overflow: hidden;

    dt {
        width: 70%;
        margin: -1px 0 0;
        padding: 5px 5% 5px 0;
        border-width: 1px 0 0 ;
        font-weight: normal;
        border-color: inherit;
    }

    dd {
        width: 25%;
        margin: -1px 0 0;
        padding: 5px 0;
        border-width: 1px 0 0 ;
        text-align: right;
        border-color: inherit;
    }
}