
.opendemo { display:block;}
.closedemo { display:none;}
#opendemo { opacity:1;}


.demo_text { font-size:11px; line-height: 12px; }
.demo_link_section { margin: 10px 0 0 0; }
.demolink { font-size:10px; color:#111 !important; display:inline;}

#demopanel {

	position:absolute;
	top:0;
	left:65px;
	z-index:99;
	}
	
.demo_toggle {
	cursor:pointer;
	width:30px;
	height:30px;
	}
	
.paneloptions { 
	width:340px;
	position:absolute;
	left:40px;
	top:-70px;
	display:block;
	}
	
.paneloptions span a{
	font-family: 'Open Sans',sans-serif;
	font-size:11px;
	font-weight:700;
	padding:15px 25px;
	text-transform:uppercase;
	}
.paneloptions span a{
	text-decoration:none;
	}
	
.paneloptions .demo_light a{
	color:#888;
	background:#fff;
	border:2px solid #aaa;
	}
.paneloptions .demo_dark a{
	color:#fff;
	background:#222;
	border:2px solid #888;
	}
	
.paneloptions .demo_light a, .paneloptions .demo_dark a {	
	-webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.paneloptions .demo_light a:hover, .paneloptions .demo_dark a:hover {
-webkit-box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    4px 4px 5px rgba(50, 50, 50, 0.75);
box-shadow:         4px 4px 5px rgba(50, 50, 50, 0.75);
	}