/** metaboxes **/
table.cmb_metabox th label{
    margin-top: 0;
    font-size: 13px;
    text-align:left;
}
table.cmb_metabox tr{
    margin: 10px!important;
}
table.cmb_metabox td{
    padding-top:15px!important;
}
table.cmb_metabox td input[type="text"]{
    font-size: 13px;
}
table.cmb_metabox .cmb_upload_button{
    height: 32px;
}