.admin-message {
  max-width: 1185px;
  margin-top: 20px !important;
  margin-left: 0px !important;
}

#stag-admin-wrap {
  max-width: 1200px;
  margin: 20px 20px 0 0;
  border-radius: 3px;
  overflow: hidden;
}
#stag-admin-wrap a {
  text-decoration: none;
  outline: 0;
}

.stag-options-header {
  background: #1b93c7;
  color: white;
  padding: 20px 15px;
  max-height: 58px;
  overflow: hidden;
}
.stag-options-header h1 {
  margin: 10px 0 0 0;
  font-size: 30px;
  font-weight: 100;
}
.stag-options-header h1 span {
  font-size: 13px;
}
.stag-options-header a {
  color: inherit;
}
.stag-options-header .divider {
  display: inline-block;
  margin: 0 5px;
}
.stag-options-header .stag-logo {
  float: right;
  margin: -20px -20px 0 0;
  background: #363f48;
  width: 106px;
  height: 98px;
}
.stag-options-header .stag-logo a {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../img/stag-logo.png") transparent no-repeat 26px 27px;
}
.stag-options-header .stag-logo a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}

.stag-content {
  border: 1px solid #ececec;
  border-top: none;
  position: relative;
}
.stag-content ul {
  margin: 0;
  padding: 0;
}
.stag-content input[type="text"]:not(.colorpicker),
.stag-content textarea {
  padding: 5px;
  font-size: 13px;
  color: #918d8d;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #dfdfdf;
}
.stag-content input[type="text"]:not(.colorpicker):focus,
.stag-content textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.stag-content textarea {
  resize: vertical;
  line-height: 1.4;
}

.stag-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 16.7%;
  background: #f9f9f9;
  font-weight: 100;
  z-index: 2;
}
.stag-sidebar li {
  margin: 0;
}
.stag-sidebar a {
  display: block;
  padding: 15px;
  color: #464646;
  border-bottom: 1px solid #ececec;
}
.stag-sidebar a.active {
  background: white;
  margin-right: -1px;
}
.stag-sidebar a:active {
  outline: 0;
}

.stag-main-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 16.7%;
  padding-left: 30px;
  padding-right: 0px;
  border-left: 1px solid #ececec;
  background: white;
  position: relative;
}
.stag-main-content .page {
  display: none;
  min-height: 500px;
}

/*.stag-main-content .page:first-child {
  display: block;
}*/

.stag-main-content .page h2 {
  font-size: 30px;
  color: #363f48;
  margin-top: 0px;
  padding-top: 35px;
}
.stag-main-content .page .page-description {
  font-size: 13px;
  color: #bdbdbd;
  margin-bottom: 20px;
}
.stag-main-content .page h3 {
  margin: 0 0 10px 0;
  color: #363f48;
  font-size: 16px;
}
.stag-main-content .page .row {
  padding: 20px 30px 20px 20px;
  border-top: 1px solid #ececec;
}
.stag-main-content .page .desc {
  width: 48%;
  float: left;
  line-height: 1.6;
  color: #bcbcbc;
  font-size: 13px;
}
.stag-main-content .page .input {
  width: 48%;
  float: right;
}
.stag-main-content .page .input.checkbox {
  background: none;
}
.stag-main-content .file img,
.stag-main-content .files img {
  max-width: 220px;
  display: block;
  vertical-align: top;
  border: 1px solid #ddd;
  margin: 0 0 .25em 0;
}
.stag-main-content .file-upload {
  margin-bottom: 20px;
}

.stag-content .input .mini { width: 140px !important; }
.stag-content .input .full { width: 100% !important; }

.stag-content .typography select {
	float: left;
	margin-right: 5px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .stag-options-header .stag-logo a {
    background-position: 27px -53px;
    background-size: 50px 125px;
  }
}
.stag-clear {
  clear: both;
}

.stag-footer {
  margin: 30px 0px 0px -30px;
  background: #363f48;
  padding: 20px 30px 20px 20px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 0;
  z-index: 100;
}

.stag-clearfix:before,
.stag-clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.stag-clearfix:after {
  clear: both;
}

.stag-clearfix {
  *zoom: 1;
}

.stag-button {
  -webkit-appearance: none;
  font: inherit;
  border: none;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  width: 180px;
  padding: 14px 10px;
  cursor: pointer;
  font-weight: 300;
  outline: none;

}

.stag-button--reset {
  background: #474f57;
}

.stag-button--save {
  background: #2a95c5;
  float: right;
}

.stag-upload-button {
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #bbb;
  font-weight: bold;
  font-size: 13px;
  width: 140px;
  text-align: center;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
  background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background: -o-linear-gradient(top, #ffffff, #f1f1f1);
  background: linear-gradient(top, #ffffff, #f1f1f1);
  padding: 5px 0;
  color: #7e7e7e;
}
.stag-upload-button:hover {
  color: inherit;
}

.stag-remove-button {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  color: #c00;
  font-weight: bold;
}
.stag-remove-button:hover {
  color: inherit;
}

.stag-notification {
  position: fixed;
  top: 40px;
  right: 10px;
  color: white;
  font-weight: 300;
  font-size: 14px;
  padding: 8px 20px;
  width: 180px;
  text-align: center;
  z-index: 1000;
  opacity: 1;
  display: none;

  background: #1b93c7;
}

.stag-notification--error {
  background: #c00;
}

@media only screen and (max-width: 700px) {
	.stag-sidebar {
		position: relative;
		width: 100%;
	}
	.stag-sidebar li {
		display: inline-block;
	}

	.stag-main-content {
		margin-left: 0;
	}

	.stag-main-content .page .row {
		padding-left: 0;
	}
}

@media only screen and (max-width: 420px) {
	.stag-options-header {
		max-height: 80px;
	}

	.stag-options-header .stag-logo {
		height: 120px;
	}

	.stag-main-content .page .desc,
	.stag-main-content .page .input {
		width: 100%;
		float: none;
	}

	.stag-main-content .page .input{
		margin-top: 15px;
	}

	#reset-button {
		display: none;
	}

	.stag-button{
		float: none;
		width: 100%;
	}
}

/*
 * Ladda
 * http://lab.hakim.se/ladda
 * MIT licensed
 *
 * Copyright (C) 2013 Hakim El Hattab, http://hakim.se
 */.ladda-button{position:relative}.ladda-button .ladda-spinner{position:absolute;z-index:2;display:inline-block;width:32px;height:32px;top:50%;margin-top:-16px;opacity:0}.ladda-button .ladda-label{position:relative;z-index:3}.ladda-button .ladda-progress{position:absolute;width:0;height:100%;left:0;top:0;background:rgba(0,0,0,0.2);visibility:hidden;opacity:0;-webkit-transition:0.1s linear all !important;-moz-transition:0.1s linear all !important;-ms-transition:0.1s linear all !important;-o-transition:0.1s linear all !important;transition:0.1s linear all !important}.ladda-button[data-loading] .ladda-progress{opacity:1;visibility:visible}.ladda-button,.ladda-button .ladda-spinner,.ladda-button .ladda-label{-webkit-transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;-moz-transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;-ms-transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;-o-transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;transition:0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important}.ladda-button[data-style=zoom-in],.ladda-button[data-style=zoom-in] .ladda-spinner,.ladda-button[data-style=zoom-in] .ladda-label,.ladda-button[data-style=zoom-out],.ladda-button[data-style=zoom-out] .ladda-spinner,.ladda-button[data-style=zoom-out] .ladda-label{-webkit-transition:0.3s ease all !important;-moz-transition:0.3s ease all !important;-ms-transition:0.3s ease all !important;-o-transition:0.3s ease all !important;transition:0.3s ease all !important}.ladda-button[data-style=expand-right] .ladda-spinner{right:14px}.ladda-button[data-style=expand-right][data-size="s"] .ladda-spinner,.ladda-button[data-style=expand-right][data-size="xs"] .ladda-spinner{right:4px}.ladda-button[data-style=expand-right][data-loading]{padding-right:56px}.ladda-button[data-style=expand-right][data-loading] .ladda-spinner{opacity:1}.ladda-button[data-style=expand-right][data-loading][data-size="s"],.ladda-button[data-style=expand-right][data-loading][data-size="xs"]{padding-right:40px}.ladda-button[data-style=expand-left] .ladda-spinner{left:14px}.ladda-button[data-style=expand-left][data-size="s"] .ladda-spinner,.ladda-button[data-style=expand-left][data-size="xs"] .ladda-spinner{left:4px}.ladda-button[data-style=expand-left][data-loading]{padding-left:56px}.ladda-button[data-style=expand-left][data-loading] .ladda-spinner{opacity:1}.ladda-button[data-style=expand-left][data-loading][data-size="s"],.ladda-button[data-style=expand-left][data-loading][data-size="xs"]{padding-left:40px}.ladda-button[data-style=expand-up]{overflow:hidden}.ladda-button[data-style=expand-up] .ladda-spinner{top:-32px;left:50%;margin-left:-16px}.ladda-button[data-style=expand-up][data-loading]{padding-top:54px}.ladda-button[data-style=expand-up][data-loading] .ladda-spinner{opacity:1;top:14px;margin-top:0}.ladda-button[data-style=expand-up][data-loading][data-size="s"],.ladda-button[data-style=expand-up][data-loading][data-size="xs"]{padding-top:32px}.ladda-button[data-style=expand-up][data-loading][data-size="s"] .ladda-spinner,.ladda-button[data-style=expand-up][data-loading][data-size="xs"] .ladda-spinner{top:4px}.ladda-button[data-style=expand-down]{overflow:hidden}.ladda-button[data-style=expand-down] .ladda-spinner{top:62px;left:50%;margin-left:-16px}.ladda-button[data-style=expand-down][data-size="s"] .ladda-spinner,.ladda-button[data-style=expand-down][data-size="xs"] .ladda-spinner{top:40px}.ladda-button[data-style=expand-down][data-loading]{padding-bottom:54px}.ladda-button[data-style=expand-down][data-loading] .ladda-spinner{opacity:1}.ladda-button[data-style=expand-down][data-loading][data-size="s"],.ladda-button[data-style=expand-down][data-loading][data-size="xs"]{padding-bottom:32px}.ladda-button[data-style=slide-left]{overflow:hidden}.ladda-button[data-style=slide-left] .ladda-label{position:relative}.ladda-button[data-style=slide-left] .ladda-spinner{left:100%;margin-left:-16px}.ladda-button[data-style=slide-left][data-loading] .ladda-label{opacity:0;left:-100%}.ladda-button[data-style=slide-left][data-loading] .ladda-spinner{opacity:1;left:50%}.ladda-button[data-style=slide-right]{overflow:hidden}.ladda-button[data-style=slide-right] .ladda-label{position:relative}.ladda-button[data-style=slide-right] .ladda-spinner{right:100%;margin-left:-16px}.ladda-button[data-style=slide-right][data-loading] .ladda-label{opacity:0;left:100%}.ladda-button[data-style=slide-right][data-loading] .ladda-spinner{opacity:1;left:50%}.ladda-button[data-style=slide-up]{overflow:hidden}.ladda-button[data-style=slide-up] .ladda-label{position:relative}.ladda-button[data-style=slide-up] .ladda-spinner{left:50%;margin-left:-16px;margin-top:1em}.ladda-button[data-style=slide-up][data-loading] .ladda-label{opacity:0;top:-1em}.ladda-button[data-style=slide-up][data-loading] .ladda-spinner{opacity:1;margin-top:-16px}.ladda-button[data-style=slide-down]{overflow:hidden}.ladda-button[data-style=slide-down] .ladda-label{position:relative}.ladda-button[data-style=slide-down] .ladda-spinner{left:50%;margin-left:-16px;margin-top:-2em}.ladda-button[data-style=slide-down][data-loading] .ladda-label{opacity:0;top:1em}.ladda-button[data-style=slide-down][data-loading] .ladda-spinner{opacity:1;margin-top:-16px}.ladda-button[data-style=zoom-out]{overflow:hidden}.ladda-button[data-style=zoom-out] .ladda-spinner{left:50%;margin-left:-16px;-webkit-transform:scale(2.5);-moz-transform:scale(2.5);-ms-transform:scale(2.5);-o-transform:scale(2.5);transform:scale(2.5)}.ladda-button[data-style=zoom-out] .ladda-label{position:relative;display:inline-block}.ladda-button[data-style=zoom-out][data-loading] .ladda-label{opacity:0;-webkit-transform:scale(0.5);-moz-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5);transform:scale(0.5)}.ladda-button[data-style=zoom-out][data-loading] .ladda-spinner{opacity:1;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}.ladda-button[data-style=zoom-in]{overflow:hidden}.ladda-button[data-style=zoom-in] .ladda-spinner{left:50%;margin-left:-16px;-webkit-transform:scale(0.2);-moz-transform:scale(0.2);-ms-transform:scale(0.2);-o-transform:scale(0.2);transform:scale(0.2)}.ladda-button[data-style=zoom-in] .ladda-label{position:relative;display:inline-block}.ladda-button[data-style=zoom-in][data-loading] .ladda-label{opacity:0;-webkit-transform:scale(2.2);-moz-transform:scale(2.2);-ms-transform:scale(2.2);-o-transform:scale(2.2);transform:scale(2.2)}.ladda-button[data-style=zoom-in][data-loading] .ladda-spinner{opacity:1;-webkit-transform:none;-moz-transform:none;-ms-transform:none;-o-transform:none;transform:none}.ladda-button[data-style=contract]{overflow:hidden;width:100px}.ladda-button[data-style=contract] .ladda-spinner{left:50%;margin-left:-16px}.ladda-button[data-style=contract][data-loading]{border-radius:50%;width:52px}.ladda-button[data-style=contract][data-loading] .ladda-label{opacity:0}.ladda-button[data-style=contract][data-loading] .ladda-spinner{opacity:1}.ladda-button[data-style=contract-overlay]{overflow:hidden;width:100px;box-shadow:0px 0px 0px 3000px rgba(0,0,0,0)}.ladda-button[data-style=contract-overlay] .ladda-spinner{left:50%;margin-left:-16px}.ladda-button[data-style=contract-overlay][data-loading]{border-radius:50%;width:52px;box-shadow:0px 0px 0px 3000px rgba(0,0,0,0.8)}.ladda-button[data-style=contract-overlay][data-loading] .ladda-label{opacity:0}.ladda-button[data-style=contract-overlay][data-loading] .ladda-spinner{opacity:1}
