/**
 * @package WordPress
 * @subpackage Agriculture
 * @since Agriculture 1.0
 * 
 * Visual Content Composer Styles
 * Created by CMSMasters
 * 
 */


#cmsms_composer_content {
	border:1px solid #cccccc;
	background:#fefefe;
	font:13px/20px 'Droid Sans', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	color:#505050;
	text-align:left;
	height:auto;
	padding:30px 20px 0;
	margin:10px 0 20px;
	position:relative;
	overflow:auto;
	resize:vertical;
	max-width:980px;
	min-height:50px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	text-rendering:optimizeLegibility;
}

#cmsms_composer_content.deactivated {
	background:#fefefe url(../../inc/img/wpspin_light.gif) 50% 50% no-repeat;
	height:50px;
}

#cmsms_composer_content.deactivated > div {display:none;}

#cmsms_composer_content .cmsms_composer_column_head {
	background-color:#f9f9f9;
	padding:0 21px;
	position:relative;
}

.cmsms_composer_column_width {
	background-color:#4a4a4a;
	color:#ffffff;
	font-style:italic;
	line-height:41px;
	display:block;
	height:41px;
	float:left;
	padding:0 8px 0 5px;
	margin:0 12px 0 0;
}

.cmsms_composer_column_title {
	background-color:#f9f9f9;
	line-height:41px;
	display:block;
	height:41px;
	padding:0 12px 0 0;
	overflow:hidden;
}

.cmsms_composer_column_button {
	background-color:#ebebeb;
	background-position:2px 2px;
	background-repeat:no-repeat;
	display:block;
	text-align:center;
	width:20px;
	height:20px;
	position:absolute;
	text-indent:-9999px;
	-webkit-box-shadow:inset 1px 1px 0 #ffffff;
	-moz-box-shadow:inset 1px 1px 0 #ffffff;
	box-shadow:inset 1px 1px 0 #ffffff;
}

.cmsms_composer_column_delete {
	border:1px solid #894c4b;
	border-bottom:0;
	background:#e75e5a url(../../inc/img/cmsms_composer_delete.png) 2px 2px no-repeat;
	display:none;
	top:-22px;
	right:-1px;
	-webkit-box-shadow:inset 1px 1px 0 #ec7d7b;
	-moz-box-shadow:inset 1px 1px 0 #ec7d7b;
	box-shadow:inset 1px 1px 0 #ec7d7b;
	-webkit-border-radius:1px 1px 0 0;
	-moz-border-radius:1px 1px 0 0;
	border-radius:1px 1px 0 0;
}

.cmsms_composer_column_edit {
	border-bottom:1px solid #9e9e9e;
	border-left:1px solid #9e9e9e;
	background-image:url(../../inc/img/cmsms_composer_edit.png);
	top:0;
	right:0;
}

.cmsms_composer_column_arrow, 
.cmsms_composer_column_check {
	border-bottom:1px solid #9e9e9e;
	border-left:1px solid #9e9e9e;
	top:0;
	right:0;
}

.cmsms_composer_column_arrow.checked, 
.cmsms_composer_column_check.checked {
	background-color:#bcbcbc;
	-webkit-box-shadow:inset 1px 1px 0 #b2b2b2;
	-moz-box-shadow:inset 1px 1px 0 #b2b2b2;
	box-shadow:inset 1px 1px 0 #b2b2b2;
}

.cmsms_composer_column_arrow {background-image:url(../../inc/img/cmsms_composer_arrow.png);}

.cmsms_composer_column_arrow.checked {background-image:url(../../inc/img/cmsms_composer_arrow_checked.png);}

.cmsms_composer_column_check {background-image:url(../../inc/img/cmsms_composer_check.png);}

.cmsms_composer_column_check.checked {background-image:url(../../inc/img/cmsms_composer_checked.png);}

.cmsms_composer_column_copy {
	border-left:1px solid #9e9e9e;
	background-image:url(../../inc/img/cmsms_composer_copy.png);
	bottom:0;
	right:0;
}

.cmsms_composer_column_plus {
	border-bottom:1px solid #9e9e9e;
	border-right:1px solid #9e9e9e;
	background-image:url(../../inc/img/cmsms_composer_plus.png);
	top:0;
	left:0;
}

.cmsms_composer_column_minus {
	border-right:1px solid #9e9e9e;
	background-image:url(../../inc/img/cmsms_composer_minus.png);
	bottom:0;
	left:0;
}

#cmsms_composer_content .cmsms_composer_column_content {
	display:none;
	position:relative;
}

#cmsms_composer_content .cmsms_composer_column_elements {
	border-top:1px solid #9e9e9e;
	padding:30px 10px 0;
	position:relative;
	min-height:45px;
}

#cmsms_composer_content .cmsms_composer_column_elements[data-folder="divider"], 
#cmsms_content_composer_text {display:none;}

.cmsms_composer_buttons_container {
	padding-top:15px;
	position:relative;
	max-width:1020px;
}

.cmsms_composer_buttons_container a {outline:none;}

.wp-core-ui .cmsms_composer_buttons {
	display:inline-block;
	line-height:24px;
	width:24px;
	height:24px;
	padding:0;
	margin:0 5px 10px 0;
	text-indent:-9999px;
}

.wp-core-ui .cmsms_composer_buttons.ui-draggable-dragging {
	border:1px solid #9e9e9e;
	background:#f9f9f9;
	height:41px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
}

.wp-core-ui .cmsms_composer_buttons.one_first.ui-draggable-dragging,
.wp-core-ui .cmsms_composer_buttons.five_sixth.ui-draggable-dragging,
.wp-core-ui .cmsms_composer_buttons.four_fifth.ui-draggable-dragging,
.wp-core-ui .cmsms_composer_buttons.three_fourth.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.two_third.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.three_fifth.ui-draggable-dragging,
.wp-core-ui .cmsms_composer_buttons.one_half.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.two_fifth.ui-draggable-dragging,
.wp-core-ui .cmsms_composer_buttons.one_third.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.one_fourth.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.one_fifth.ui-draggable-dragging, 
.wp-core-ui .cmsms_composer_buttons.one_sixth.ui-draggable-dragging {width:25%;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column16 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -479px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column15 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -559px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column14 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -679px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column13 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -519px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column25 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -639px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column12 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -439px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column35 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -719px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column23 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -599px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column34 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -759px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column45 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -799px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column56 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -160px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column11 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) 0 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_divider1 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -359px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_clear1 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -399px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_text {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -118px 2px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_box {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -199px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_block {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -319px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_color {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -239px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_person {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -918px 2px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_tab {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -839px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_toggle {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -879px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_acc {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -919px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_tour {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -959px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_table {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1039px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_price {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1079px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_stat {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -279px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_embed {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1119px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_html5 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1159px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_single {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1199px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_multi {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1239px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_html5 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1279px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_single {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1319px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_multi {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1359px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_post {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1399px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_slider {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1439px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_clients {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1556px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_map {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1479px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_email {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1519px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_divider2 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -359px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_clear2 {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -399px 1px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column16:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -479px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column15:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -559px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column14:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -679px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column13:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -519px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column25:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -639px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column12:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -439px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column35:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -719px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column23:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -599px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column34:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -759px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column45:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -799px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column56:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -160px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_column11:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) 0 -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_divider1:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -359px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap1 > #cmsms_composer_clear1:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -399px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_text:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -118px -38px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_box:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -199px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_block:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -319px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_color:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -239px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_person:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -918px -38px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_tab:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -839px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_toggle:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -879px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_acc:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -919px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_tour:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -959px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_table:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1039px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_price:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1079px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_stat:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -279px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_embed:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1119px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_html5:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1159px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_single:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1199px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_video_multi:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1239px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_html5:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1279px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_single:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1319px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_audio_multi:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1359px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_post:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1399px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_slider:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1439px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_clients:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1556px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_map:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1479px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_email:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1519px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_divider2:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -359px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_buttons_container_wrap2 > #cmsms_composer_clear2:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -399px -39px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap {
	float:right;
	position:relative;
	overflow:hidden;
}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > a.button {
	border-color:#f9f9f9;
	display:inline-block;
	line-height:24px;
	width:24px;
	height:24px;
	padding:0;
	margin:0 0 10px 5px;
	text-indent:-9999px;
}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > a.button:hover, 
.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > a.button:focus {border-color:#999999;}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > #cmsms_clear_content {
	background:#f9f9f9 url(../../inc/img/cmsms_composer_clear.png) 3px 3px no-repeat;
	margin:0 5px 10px;
}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > #cmsms_pattern_save {
	background:#f9f9f9 url(../../inc/img/cmsms_composer_save.png) 3px 3px no-repeat;
	margin:0 10px 10px 5px;
}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > #cmsms_pattern_load {background:#f9f9f9 url(../../inc/img/cmsms_composer_add.png) 3px 3px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > #cmsms_pattern_delete {background:#f9f9f9 url(../../inc/img/cmsms_composer_del.png) 3px 3px no-repeat;}

.cmsms_composer_buttons_container > .cmsms_composer_templates_container_wrap > #cmsms_pattern_list {
	padding:3px;
	margin-top:0;
	margin-bottom:0;
}

.cmsms_updated, 
.cmsms_error {
	border:1px solid #e6db55;
	background-color:#ffffe0;
	display:none;
	width:100%;
	padding:10px;
	position:absolute;
	top:13px;
	left:0;
	z-index:10;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.cmsms_updated {
	border:1px solid #e6db55;
	background-color:#ffffe0;
}

.cmsms_error {
	border:1px solid #cc0000;
	background-color:#ffebeb;
}

#TB_ajaxContent a.button {outline:none;}

#TB_ajaxContent .wp_themeSkin table.mceToolbar {margin:2px 6px;}

#TB_ajaxContent .wp-editor-wrap {padding:0 15px 15px 0;}

#TB_ajaxContent tr.custom_composer_button_field {
	border-top:1px dotted #dfdfdf;
	border-bottom:1px dotted #dfdfdf;
	background-color:#eeeeee;
	display:none;
}

.cmsms_shcs_buttons {
	width:598px;
	padding:15px 10px 15px 15px;
	overflow:hidden;
}

#TB_window {
	font:13px sans-serif;
	overflow-x:hidden;
	overflow-y:auto;
}

#TB_ajaxContent h3 {
	font:normal 1.6em Georgia, "Times New Roman", Times, serif;
	color:#5a5a5a;
	margin-bottom:1em;
}

#TB_ajaxContent h3.media-title {width:598px;}

#TB_ajaxContent .media-item .describe {border-top:0;}

#TB_ajaxContent textarea {
	min-height:50px;
	resize:vertical;
}

#TB_ajaxContent input[type="button"] {cursor:pointer;}

#TB_ajaxContent table.describe a.del_item_but {
	color:#ff0000;
	font-size:15px;
	text-decoration:none;
}

#TB_ajaxContent .media-item .describe td {padding:0;}

#TB_ajaxContent img.custom_preview_image {
	border:1px solid #dddddd;
	background:#f5f5f5;
	display:block;
	padding:5px;
	max-width:250px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}

#TB_ajaxContent .custom_upload_image_button {
	padding-left:.4em;
	margin-right:5px;
}

#TB_ajaxContent .custom_upload_image_button span.wp-media-buttons-icon {
	background:url(../../inc/img/media-button.png) left top no-repeat;
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 2px;
	vertical-align:text-top;
}

#TB_ajaxContent .custom_dropcap1_button, 
#TB_ajaxContent .custom_dropcap2_button, 
#TB_ajaxContent .custom_button_button, 
#TB_ajaxContent .custom_table_button {
	display:inline-block;
	line-height:24px;
	width:24px;
	height:24px;
	padding:0;
	margin:0 5px;
	text-indent:-9999px;
}

#TB_ajaxContent .custom_dropcap1_button {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -39px 1px no-repeat;}

#TB_ajaxContent .custom_dropcap2_button {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -79px 1px no-repeat;}

#TB_ajaxContent .custom_button_button {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -999px 1px no-repeat;}

#TB_ajaxContent .custom_table_button {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1039px 1px no-repeat;}

#TB_ajaxContent .custom_dropcap1_button:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -39px -39px no-repeat;}

#TB_ajaxContent .custom_dropcap2_button:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -79px -39px no-repeat;}

#TB_ajaxContent .custom_button_button:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -999px -39px no-repeat;}

#TB_ajaxContent .custom_table_button:hover {background:#f9f9f9 url(../../inc/img/icons-sprite-fullscreen.png) -1039px -39px no-repeat;}

.lighbox_image_list {
	list-style:none;
	padding:20px 0 0;
	margin:1em 0 0;
	position:relative;
	overflow:hidden;
}

.lighbox_image_list li {
	float:left;
	padding:0 10px 10px 0;
	position:relative;
}

.lighbox_image_list.selected_list > li.ui-sortable-highlight {
	border:1px solid #e6db55;
	background-color:#ffffe0;
	width:73px;
	height:73px;
	float:left;
	padding:0;
	margin:0 10px 10px 0;
	position:relative;
}

.lighbox_image_list li a, 
.lighbox_image_list li a img {
	display:block;
	width:75px;
	height:75px;
	position:relative;
}

.lighbox_image_list li a span {
	display:block;
	width:71px;
	height:71px;
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:.5;
	filter:alpha(opacity=50);
}

.lighbox_image_list.selected_list {
	margin-top:0;
	clear:both;
}

.lighbox_image_list.selected_list li a {cursor:move;}

.lighbox_image_list.selected_list li a:hover span {
	border:0;
	background:url(../../inc/img/delete.png) 3px 3px no-repeat;
	width:20px;
	height:20px;
}

.cmsms_shcs_buttons {
	width:598px;
	padding:15px 10px 15px 15px;
	overflow:hidden;
}

#cmsms_composer_content a {
	color:#888888;
	text-decoration:none;
	cursor:pointer;
	outline:none;
}

#cmsms_composer_content a:hover {color:#181818;}

#cmsms_composer_content p {
	margin:0;
	padding:0 0 20px;
}

#cmsms_composer_content div {
	text-align:left;
	margin:0;
	padding:0;
}

#cmsms_composer_content .fl {float:left;}

#cmsms_composer_content .fr {float:right;}

#cmsms_composer_content .dn {display:none;}

#cmsms_composer_content .cl, 
#cmsms_composer_content .clear {
	border-top:1px dashed #eeeeee;
	clear:both;
}

#cmsms_composer_content .divider {
	border-top:1px dotted #c6c6c6;
	height:1px;
	margin:20px 0 30px;
	clear:both;
}

#cmsms_composer_content .one_first, 
#cmsms_composer_content .five_sixth, 
#cmsms_composer_content .four_fifth, 
#cmsms_composer_content .three_fourth, 
#cmsms_composer_content .two_third, 
#cmsms_composer_content .three_fifth, 
#cmsms_composer_content .one_half, 
#cmsms_composer_content .two_fifth, 
#cmsms_composer_content .one_third, 
#cmsms_composer_content .one_fourth, 
#cmsms_composer_content .one_fifth, 
#cmsms_composer_content .one_sixth {
	border:1px solid #9e9e9e;
	background-color:#e9e9e9;
	float:left;
	margin:0 1% 30px 1%;
	position:relative;
	-webkit-box-shadow:1px 1px 3px -3px #9e9e9e;
	-moz-box-shadow:1px 1px 3px -3px #9e9e9e;
	box-shadow:1px 1px 3px -3px #9e9e9e;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	border-radius:1px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

#cmsms_composer_content .ui-sortable-placeholder {
	border:1px solid #e6db55;
	background-color:#ffffe0;
	display:block;
	visibility:visible !important;
}

#cmsms_composer_content a.button.cmsms_composer_buttons {
	border:1px solid #e6db55;
	background:#ffffe0;
	display:block;
	height:41px;
	margin:0 1% 30px 1%;
	position:relative;
	overflow:hidden;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

#cmsms_composer_content a.button.cmsms_composer_buttons.one_first {width:98%;}

#cmsms_composer_content a.button.cmsms_composer_buttons.one_fourth {width:23%;}

#cmsms_composer_content a.button.cmsms_composer_buttons > div {display:none;}

#cmsms_composer_content > .one_first:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .five_sixth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .four_fifth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .three_fourth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .two_third:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .three_fifth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .one_half:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .two_fifth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .one_third:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .one_fourth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .one_fifth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete, 
#cmsms_composer_content > .one_sixth:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete {display:block;}

#cmsms_composer_content .cmsms_composer_column_elements .one_first:hover > .cmsms_composer_column_head > .cmsms_composer_column_delete {display:block;}

#cmsms_composer_content .one_first {width:98%;}

#cmsms_composer_content .one_half {width:48%;}

#cmsms_composer_content .one_third {width:31.33%;}

#cmsms_composer_content .two_third {width:64.66%;}

#cmsms_composer_content .one_fourth {width:23%;}

#cmsms_composer_content .three_fourth {width:73%;}

#cmsms_composer_content .one_fifth {width:18%;}

#cmsms_composer_content .two_fifth {width:38%;}

#cmsms_composer_content .three_fifth {width:58%;}

#cmsms_composer_content .four_fifth {width:78%;}

#cmsms_composer_content .one_sixth {width:14.66%;}

#cmsms_composer_content .five_sixth {width:81.33%;}

#cmsms_composer_content .one_first.right_column, 
#cmsms_composer_content .five_sixth.right_column, 
#cmsms_composer_content .four_fifth.right_column, 
#cmsms_composer_content .three_fourth.right_column, 
#cmsms_composer_content .two_third.right_column, 
#cmsms_composer_content .three_fifth.right_column, 
#cmsms_composer_content .one_half.right_column, 
#cmsms_composer_content .two_fifth.right_column, 
#cmsms_composer_content .one_third.right_column, 
#cmsms_composer_content .one_fourth.right_column, 
#cmsms_composer_content .one_fifth.right_column, 
#cmsms_composer_content .one_sixth.right_column {float:right;}

#cmsms_composer_content .one_first.first_column, 
#cmsms_composer_content .five_sixth.first_column, 
#cmsms_composer_content .four_fifth.first_column, 
#cmsms_composer_content .three_fourth.first_column, 
#cmsms_composer_content .two_third.first_column, 
#cmsms_composer_content .three_fifth.first_column, 
#cmsms_composer_content .one_half.first_column, 
#cmsms_composer_content .two_fifth.first_column, 
#cmsms_composer_content .one_third.first_column, 
#cmsms_composer_content .one_fourth.first_column, 
#cmsms_composer_content .one_fifth.first_column, 
#cmsms_composer_content .one_sixth.first_column {clear:both;}

.media-item .describe input[type="text"].my-color-field {width:80px;}

