@media only screen and (max-width: 1200px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-grid,
  .eltd-container-inner,
  .eltd-grid-section .eltd-section-inner,
  .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 818px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed .eltd-wrapper-inner,
  .eltd-boxed .eltd-footer-inner {
    width: 96%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1400px) {
  .eltd-two-columns-75-25 .eltd-column1,
  .eltd-two-columns-25-75 .eltd-column2 {
    width: 66.66%;
  }
  .eltd-two-columns-75-25 .eltd-column2,
  .eltd-two-columns-25-75 .eltd-column1 {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-two-columns-66-33 > .eltd-column1,
  .eltd-two-columns-66-33 > .eltd-column2,
  .eltd-two-columns-33-66 > .eltd-column1,
  .eltd-two-columns-33-66 > .eltd-column2,
  .eltd-two-columns-75-25 > .eltd-column1,
  .eltd-two-columns-75-25 > .eltd-column2,
  .eltd-two-columns-25-75 > .eltd-column1,
  .eltd-two-columns-25-75 > .eltd-column2,
  .eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner > .eltd-column,
  .eltd-three-columns > .eltd-three-columns-inner > .eltd-column,
  .eltd-four-columns > .eltd-four-columns-inner > .eltd-column,
  .eltd-five-columns > .eltd-five-columns-inner > .eltd-column {
    width: 100%;
  }
  .eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner,
  .eltd-three-columns > .eltd-three-columns-inner,
  .eltd-four-columns > .eltd-four-columns-inner,
  .eltd-five-columns > .eltd-five-columns-inner {
    margin: 0;
  }
  .eltd-two-columns-66-33 > .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-66-33 > .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-33-66 > .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-33-66 > .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-75-25 > .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-75-25 > .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-25-75 > .eltd-column1 > .eltd-column-inner,
  .eltd-two-columns-25-75 > .eltd-column2 > .eltd-column-inner,
  .eltd-two-columns-50-50 > .eltd-two-columns-50-50-inner > .eltd-column > .eltd-column-inner,
  .eltd-three-columns > .eltd-three-columns-inner > .eltd-column > .eltd-column-inner,
  .eltd-four-columns > .eltd-four-columns-inner > .eltd-column > .eltd-column-inner,
  .eltd-five-columns > .eltd-five-columns-inner > .eltd-column > .eltd-column-inner {
    padding: 0;
  }
  .wpcf7-form .eltd-two-columns-50-50 .eltd-two-columns-50-50-inner .eltd-column-inner {
    padding: 0 12px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-content {
    margin-top: 0px !important;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-section-inner-margin {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-blog-with-sidebar.eltd-masonry-four-cols .eltd-blog-masonry-grid-sizer,
  body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-blog-with-sidebar.eltd-masonry-four-cols article {
    width: calc((100% - 50px) / 3);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-next-info,
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-prev-info {
    vertical-align: top;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-next,
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-prev {
    display: none;
  }
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-next-info {
    padding-right: 15px;
  }
  body.eltd-header-vertical .eltd-blog-single-navigation .eltd-blog-single-prev-info {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-four-cols .eltd-blog-masonry-grid-sizer,
  body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-four-cols article, body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-three-cols .eltd-blog-masonry-grid-sizer,
  body.eltd-header-vertical .eltd-blog-holder.eltd-blog-type-masonry.eltd-masonry-three-cols article {
    width: calc((100% - 25px) / 2);
  }
}

@media only screen and (max-width: 1400px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 90%;
  }
}

@media only screen and (max-width: 1024px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 768px;
  }
}

@media only screen and (max-width: 768px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 420px;
  }
}

@media only screen and (max-width: 480px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 300px;
  }
}

@media only screen and (max-width: 320px) {
  body.eltd-header-vertical .eltd-grid,
  body.eltd-header-vertical .eltd-container-inner,
  body.eltd-header-vertical .eltd-grid-section .eltd-section-inner,
  body.eltd-header-vertical .eltd-slider .carousel-inner .eltd-slider-content-outer {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  aside.eltd-vertical-menu-area {
    display: none;
  }
  .eltd-header-vertical .eltd-content,
  .eltd-header-vertical footer {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-page-header {
    display: none;
  }
  .eltd-mobile-header {
    display: block;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 950px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-drop-down .wide .second > .inner > ul {
    width: 768px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-boxed .eltd-page-header .eltd-sticky-header,
  .eltd-boxed .eltd-page-header .eltd-fixed-wrapper.fixed {
    width: 1000px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 818px;
    left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 650px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 470px;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 350px;
  }
}

@media only screen and (max-width: 320px) {
  .eltd-boxed.eltd-sticky-up-mobile-header .mobile-header-appear .eltd-mobile-header-inner {
    width: 96%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-title.eltd-has-background {
    background: transparent none repeat scroll 0 0 !important;
    height: auto !important;
    padding: 0 !important;
  }
  .eltd-title.eltd-title-image-not-responsive .eltd-title-image {
    display: block;
  }
  .eltd-title .eltd-title-holder {
    height: 100% !important;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 !important;
  }
  .eltd-title .eltd-title-holder .eltd-container {
    display: block;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-container-inner {
    display: table;
    height: 100%;
  }
  .eltd-title .eltd-title-holder .eltd-title-subtitle-holder {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  .eltd-title .eltd-title-subtitle-holder {
    padding: 0px !important;
  }
}

/* ==========================================================================
   Elements Holder Responsive start style
   ========================================================================== */
@media only screen and (max-width: 1400px) {
  .eltd-elements-holder.eltd-responsive-mode-1400.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1400.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1400.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1400.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1400.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1280.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-1024.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-768.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-600.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-two-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-three-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-four-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-five-columns .eltd-elements-holder-item, .eltd-elements-holder.eltd-responsive-mode-480.eltd-six-columns .eltd-elements-holder-item {
    width: 100%;
    display: inline-block;
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder .eltd-elements-holder-item-content {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1280.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-1024.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-768.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-600.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-left .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: left;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-right .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: right;
  }
  .eltd-elements-holder.eltd-responsive-mode-480.eltd-one-column-alignment-center .eltd-elements-holder-item .eltd-elements-holder-item-content {
    text-align: center;
  }
}

/* ==========================================================================
   End of Elements Holder Responsive style
   ========================================================================== */
/* ==========================================================================
   Google Map start style
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-google-map-overlay {
    display: block;
  }
}

/* ==========================================================================
   End of Google Map style
   ========================================================================== */
/* ==========================================================================
# Call to action responsive style - begin
========================================================================== */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column1 {
    width: 65%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-call-to-action .eltd-call-to-action-row-75-25 .eltd-call-to-action-column2 {
    width: 35%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-call-to-action-cell {
    display: block;
    text-align: center !important;
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon-holder {
    position: relative;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-icon {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action .eltd-text-wrapper .eltd-call-to-action-text {
    text-align: center;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-call-to-action.with-icon {
    padding: 0;
  }
}

/* ==========================================================================
# Call to action responsive style - end
========================================================================== */
/* ==========================================================================
# Message responsive style - begin
========================================================================== */
/* Unique style for both types  - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-message {
    padding: 20px 22px;
  }
}

@media screen and (max-width: 320px) {
  .eltd-message .eltd-message-text {
    line-height: normal;
  }
}

/* Unique style for both types - end
========================================================================== */
/* Type with icon - begin
========================================================================== */
@media only screen and (max-width: 600px) {
  .eltd-message.eltd-with-icon .eltd-message-icon-holder {
    padding: 20px 22px;
  }
}

/* Type with icon - end
========================================================================== 
/* ==========================================================================
# Message responsive style - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-sizer,
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-item {
    width: 49%;
  }
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-gutter {
    width: 2%;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li,
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li {
    width: 49%;
    margin: 0 2% 25px 0;
  }
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li:nth-child(2n),
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n) {
    margin: 0 0 25px;
  }
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li:nth-child(2n+1),
  .eltd-vertical-menu-area .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-sizer,
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-item {
    width: 100%;
  }
  .eltd-blog-list-holder.eltd-masonry .eltd-blog-list-masonry-grid-gutter {
    width: 0;
  }
  .eltd-blog-list-holder.eltd-boxes.eltd-four-columns > ul > li,
  .eltd-blog-list-holder.eltd-boxes.eltd-three-columns > ul > li,
  .eltd-blog-list-holder.eltd-boxes.eltd-two-columns > ul > li {
    width: 100% !important;
    margin: 0 0 25px !important;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-blog-list-item-inner {
    display: block;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-item-text-holder {
    display: block;
    padding: 20px 0;
  }
  .eltd-blog-list-holder.eltd-image-in-box .eltd-item-image {
    display: block;
    width: auto;
  }
}

/* ==========================================================================
# Image Gallery - begin
========================================================================== */
/* Image Gallery Grid - begin
========================================================================== */
@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-2 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-3 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-4 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 24%;
    margin-right: 1.33333%;
    margin-bottom: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: both;
    margin-right: 1.33333%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(5n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(4n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n) {
    margin-right: 0;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(2n+1) {
    clear: both;
    margin-right: 2%;
  }
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image:nth-child(3n+1) {
    clear: none;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-image-gallery .eltd-image-gallery-grid.eltd-gallery-columns-5 .eltd-gallery-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2%;
  }
}

/* Image Gallery Grid - end
========================================================================== */
/* Image Gallery Slider - begin
========================================================================== */
/* Image Gallery Slider - end
========================================================================== */
/* ==========================================================================
# Image Gallery - end
========================================================================== */
/* ==========================================================================
   Blog Slider shortcode start styles
========================================================================== */
/* Blog slider start styles
========================================================================== */
@media only screen and (max-width: 1280px) {
  .eltd-blog-slide-item {
    height: 450px;
  }
}

@media only screen and (max-width: 1200px) {
  .eltd-blog-slide-item {
    height: 420px;
  }
}

@media only screen and (max-width: 1024px) {
  .eltd-blog-slide-item {
    height: 380px;
  }
  .eltd-blog-slide-item .eltd-blog-slide-post-info {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-slide-item {
    height: 350px;
  }
  .eltd-blog-slide-item .eltd-blog-slide-post-info {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-slide-item {
    height: 320px;
  }
  .eltd-blog-slide-item .eltd-blog-slide-post-info {
    width: 60%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-blog-slide-item {
    height: 300px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .eltd-header-vertical .eltd-blog-slide-item .eltd-blog-slide-post-info {
    width: 50%;
  }
  .eltd-header-vertical .eltd-blog-slide-item {
    height: 370px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-carousel.eltd-slider .eltd-blog-slide-arrow.right {
    right: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-carousel.eltd-slider .eltd-blog-slide-arrow.left {
    left: 5px;
  }
}

/* Blog slider end styles
========================================================================== */
/* Blog Carousel start styles
========================================================================== */
@media screen and (max-width: 1400px) {
  .eltd-blog-carousel-item .eltd-blog-carousel-post-info {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-blog-carousel-item .eltd-blog-carousel-post-info {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .eltd-blog-carousel-item .eltd-post-info-date {
    display: none;
  }
  .eltd-blog-carousel-item .eltd-blog-slide-title {
    margin-bottom: 10px;
  }
}

/* Blog Carousel end styles
========================================================================== */
/* ==========================================================================
   Blog Slider shortcode end styles
========================================================================== */
/* ==========================================================================
   Global Widgets Responsive Styles - Start
========================================================================== */
/* widgets in sidebar with vertical menu styles */
@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  body.eltd-header-vertical aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-blog-list-item-inner {
    display: block;
  }
  body.eltd-header-vertical aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-item-image {
    width: 100%;
    display: block;
  }
  body.eltd-header-vertical aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-item-text-holder {
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
    text-align: left;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .eltd-latest-posts-widget .eltd-blog-list .eltd-item-image {
    display: block;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-blog-list-item-inner {
    display: block;
  }
  aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-item-image {
    width: 100%;
    display: block;
  }
  aside.eltd-sidebar .widget.eltd-latest-posts-widget .eltd-blog-list-holder.eltd-image-in-box .eltd-item-text-holder {
    display: block;
    padding-left: 0;
    margin-bottom: 15px;
    text-align: center;
  }
}

/* ==========================================================================
   Global Widgets Responsive Styles - End
========================================================================== */
/* ==========================================================================
   Sticky sidebar styles - begin
========================================================================== */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .eltd-sticky-up-mobile-header aside.eltd-sidebar.eltd-sticky-sidebar {
    margin-top: 10px;
    -webkit-transition: margin-top 0.3s ease;
    -moz-transition: margin-top 0.3s ease;
    transition: margin-top 0.3s ease;
  }
  .eltd-sticky-up-mobile-header aside.eltd-sidebar.eltd-sticky-sidebar.move-down {
    margin-top: 10px;
  }
  .eltd-sticky-up-mobile-header aside.eltd-sidebar.eltd-sticky-sidebar.mobile-move-down {
    margin-top: 110px;
  }
}

/* ==========================================================================
   Sticky sidebar styles - end
========================================================================== */
@media only screen and (max-width: 1024px) {
  .eltd-instagram-feed.grid.eltd-col-9 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 768px) {
  .eltd-instagram-feed.grid.eltd-col-4 li {
    width: 50%;
  }
  .eltd-instagram-feed.grid.eltd-col-6 li {
    width: 33.33%;
  }
}

@media only screen and (max-width: 480px) {
  .eltd-instagram-feed.grid.eltd-col-4 li,
  .eltd-instagram-feed.grid.eltd-col-3 li,
  .eltd-instagram-feed.grid.eltd-col-6 li,
  .eltd-instagram-feed.grid.eltd-col-9 li {
    width: 100%;
  }
}

/*# sourceMappingURL=modules-responsive.css.map */