/*------------------------------------------------------------------

[Table of contents]

1. Tip for non-valid fields / span.wpcf7-not-valid-tip
2. Tip for non-valid fields when input is focused / input:focus + span.wpcf7-not-valid-tip
3. Control wrapper in contact form / span.wpcf7-form-control-wrap
4. Response / div.wpcf7-response-output

-------------------------------------------------------------------*/

span.wpcf7-not-valid-tip {
	.primary-color-bg;
	.small-text;
	.body-heavy-font-weight;
	display: block;
	position: absolute;
	top: 50%;
	right: 0;
	padding: 0 10px;
	transform: translateY(-50%);
	border-radius:@baseLineHeight;
}

input:focus + span.wpcf7-not-valid-tip {
	display: none;
}

span.wpcf7-form-control-wrap {
	position: relative;
	display: block;
}

div.wpcf7-response-output{
	.primary-color-bg;
	.medium-text;
	.body-heavy-font-weight;
	margin: 0;
	padding: @baseLineHeight / 2;
	text-align: center;
	border-width: 0;
}