/*------------------------------------------------------------------
[Table of contents]

1. Horizontal form group / .form-horizontal .form-group
	1.1. Last form group / &:last-child
2. Input (form element) styling / .form-input-style
	2.1. Focus state / &:focus
	2.2. Placeholder text (Chrome) / &::-webkit-input-placeholder
	2.3. Placeholder text (Firefox) / &:-moz-placeholder
	2.4. Placeholder text (Firefox) / &::-moz-placeholder
	2.5. Placeholder text (IE) / &:-ms-input-placeholder

-------------------------------------------------------------------*/

.form-horizontal .form-group{
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 20px;

	&:last-child{
		margin-bottom: 0;
	}
}

.form-input-style{
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	border-width: 0 !important;
	border-bottom: 1px solid fadeout(desaturate(@primaryColor, 100%), 75%) !important;
	font-size: 16px;
	padding: 6px 9px;
	box-shadow: none;
	color: @titleTextColor;

	&:focus{
		box-shadow: none;
		outline: 0;
	}

	// styling placeholder text
	// http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css
	&::-webkit-input-placeholder { /* WebKit browsers */
		color: fadeout(@titleTextColor, 50%);
		.uppercase;
		.title-font;
		.letter-spacing;
		font-size: 14px;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color: fadeout(@titleTextColor, 50%);
		.uppercase;
		.title-font;
		.letter-spacing;
		font-size: 14px;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color: fadeout(@titleTextColor, 50%);
		.uppercase;
		.title-font;
		.letter-spacing;
		font-size: 14px;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color: fadeout(@titleTextColor, 50%);
		.uppercase;
		.title-font;
		.letter-spacing;
		font-size: 14px;
	}
}