@display:
	label: Display
	type: on-off
	default: on
	help: "Display or hide this element on page"
	basic: true

title:
	label: Title
	type: text
	default: ''
	help: 'Title text displayed with element'

description:
	label: Description
	type: textarea
	default: ''
	help: 'Description text displayed with element'	

headAlign:
	label: Alignment
	type: image-radio
	checked: align-center
	images:
		align-left: text-align-left.png
		align-center: text-align-center.png
		align-right: text-align-right.png
	default:
		align-left: Align to Left
		align-center: Align to Center
		align-right: Align to Right
	help: "Select alignment of title and description"

customClass:
	label: Custom Class
	type: code
	default: ''
	help: 'Write your custom class for own element identification'

customWidth:
	label: Custom Width
	type: number
	unit: px
	default: ''
	help: "Custom max-width of element"

- section(title: Element Background, advanced: true)

@bg:
	label: Background
	type: background
	default:
		color: ''
		opacity: 100%
		image: ''
		repeat: repeat
		position: top center
		scroll: scroll
	help: "Look of element background. Color, opacity and background image."

titlesAltColor:
	label: Titles Color
	type: color
	default: ''
	help: "Custom color of titles"

textAltColor:
	label: Text Color
	type: color
	default: ''
	help: "Custom color of text"

linkAltColor:
	label: Links Color
	type: color
	default: ''
	help: "Custom color of links"

lightAltColor:
	label: Light Objects
	type: color
	opacity: 100%
	default: ''
	help: "Custom color of light objects links"

- section(title: Spaces around Element, advanced: true)

margin-top:
	label: Top Margin
	type: number
	unit: px
	default: ''
	help: "Space above element"

padding-top:
	label: Top Padding
	type: number
	unit: px
	default: ''
	help: "Top space inside element"

padding-bottom:
	label: Bottom Padding
	type: number
	unit: px
	default: ''
	help: "Bottom space inside element"

margin-bottom:
	label: Bottom Margin
	type: number
	unit: px
	default: ''
	help: "Space below element"

