{if ($el->hasOption(title) and $el->option->title) or ($el->hasOption(description) and $el->option->description)}

	<div n:class="elm-mainheader, $el->hasOption(headAlign) ? $el->option->headAlign">
		{if $el->option->title}
			<h2 class="elm-maintitle">{!$el->option->title}</h2>
		{/if}
		{if $el->option->description}
			<p class="elm-maindesc">{!$el->option->description}</p>
		{/if}
	</div>

{/if}
