/* at least 3 bugs come from this. Use responsibly. I'm bringing back regular media queries. - Maki */

/*.mk-tab-slider:media( max-width: 767px ) .mk-slider-content {
    width: 100%;
    padding: 50px 25px;
    height: auto;
}
.mk-tab-slider:media( max-width: 767px ) .mk-slider-image {
    width: 100%;
}
.mk-tab-slider:media( max-width: 767px ) .mk-tab-slider-share {
    position: inherit;
    display: table;
    margin: 0 auto;
}
.mk-tab-slider:media( max-width: 767px ) .mk-tab-slider-share li {
    float: none;
    display: table-cell;
    text-align: center;
    padding: 0 5px;
}


.mk-tab-slider:media( max-width: 1024px ) .mk-slider-content {
    width: 100%;
    padding: 50px 25px;
    height: auto;
}
.mk-tab-slider:media( max-width: 1024px ) .mk-slider-image {
    width: 100%;
}
.mk-tab-slider:media( max-width: 1024px ) .mk-tab-slider-share {
    position: inherit;
    display: table;
    margin: 0 auto;
}
.mk-tab-slider:media( max-width: 1024px ) .mk-tab-slider-share li {
    float: none;
    display: table-cell;
    text-align: center;
    padding: 0 5px;
}*/