@display:
	label: Display
	type: on-off
	default: on
	help: "Display or hide this element on page"  

title:
	label: Title
	type: post-title

description:
	label: Description
	type: textarea
	help: "Description text displayed with page title"
	
pageShare:
	label: Share
	type: on-off
	default: on
	help: "Display or hide page share"  