/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container					{ position: relative; width: 980px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns			{ float: left; display: inline; }
	.container .gutter			{ margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column > .alpha, .columns > .alpha               { margin-left: 0; }
    .column > .omega, .columns > .omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 6.25%;  }
    .container .two.columns                     { width: 12.5%; }
    .container .three.columns                   { width: 18.75%; }
    .container .four.columns                    { width: 25%; }
    .container .five.columns                    { width: 31.25%; }
    .container .six.columns                     { width: 37.5%; }
    .container .seven.columns                   { width: 43.75%; }
    .container .eight.columns                   { width: 50%; }
    .container .nine.columns                    { width: 56.25%; }
    .container .ten.columns                     { width: 62.5%; }
    .container .eleven.columns                  { width: 68.75%; }
    .container .twelve.columns                  { width: 75%; }
    .container .thirteen.columns                { width: 81.25%; }
    .container .fourteen.columns                { width: 87.5%; }
    .container .fifteen.columns                 { width: 93.75%; }
    .container .sixteen.columns                 { width: 100%; }

    .container .one-third                { width: 33.3%; }
    .container .two-thirds               { width: 66.6%; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }

	img { max-width:100%; }
	.ie8 img { max-width:none; }
	.ie8 #navigation { border:1px solid #ddd; }
	.ie7 .container, .ie7 .container { display:inline-block;}  /* Just in case for bottom sidebar */
	.ie7 .container .six.columns                     { width: 37.4%; } /* Just in case for header part */
	
	#slider .container.parallax { width:100%; }
	

/* #Widescreen
================================================== */

    /* Note: Design for a width of 1056px */

		@media only screen and (min-width: 1200px) {
        .container                                  { width: 1056px; }

        /* Offsets */
		.container .offset-by-one                   { padding-left: 66px; }
        .container .offset-by-two                   { padding-left: 132px; }
        .container .offset-by-three                 { padding-left: 198px; }
        .container .offset-by-four                  { padding-left: 264px; }
        .container .offset-by-five                  { padding-left: 330px; }
        .container .offset-by-six                   { padding-left: 396px; }
        .container .offset-by-seven                 { padding-left: 462px; }
        .container .offset-by-eight                 { padding-left: 528px; }
        .container .offset-by-nine                  { padding-left: 594px; }
        .container .offset-by-ten                   { padding-left: 660px; }
        .container .offset-by-eleven                { padding-left: 726px; }
        .container .offset-by-twelve                { padding-left: 792px; }
        .container .offset-by-thirteen              { padding-left: 858px; }
        .container .offset-by-fourteen              { padding-left: 924px; }
        .container .offset-by-fifteen               { padding-left: 1056px; }
		
		/* Slider */
		#arapah-slider .ui-tabs-panel { width:740px; }
		#slider .container.parallax { width:1300px; }
		
		/* Carousel */
		#arapah-carousel .carousel-posts li { width:325px; }
		#arapah-carousel .carousel-posts img { width:100%; }
		
		/* Portfolio */
		.portf img, #arapah-slider img	{ width:100%; height:auto; }
		.container .portfolio.four.columns { width:274px; }
    }
	
	

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
		
		#time { display:none; }
		
		/* Slider */
		#arapah-slider ul.ui-tabs-nav .title, #arapah-slider .ui-tabs-nav-item .date { display:none; }
		#arapah-slider ul.ui-tabs-nav { width:95px; }
		#slider .da-slide h2 { font-size:36px; }
		
		/* Carousel */
		#arapah-carousel .carousel-posts li { width:230px; }
		#arapah-carousel .carousel-posts img { width:100%; height:150px; }
		
		.container .portf .one-third, .container .portf .four { width:50%; }
		.container .portf .one-third img, .container .portf .four img { width:100%; }
		.container .portfolio.four.columns { width:269px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns .gutter,
        .container .column .gutter { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; } */

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }
		
		#time, .social, .topmenu, #navigation ul.sub-menu ul, .post-meta, .filterable-grid .post-content { display:none; }
		#search-form { width:115px; margin:15px ; background:none; }
		.topmenu { margin:17px 15px; }
		#search-form .inputbox { background: rgba(255,255,255,0.1); width:100px; padding-left:8px; padding-right:7px; }
		#topest ul li { padding:0 5px; }
		
		h1.logo a { margin:0 auto; }
		
		/* Slider */
		#arapah-slider ul.ui-tabs-nav, #arapah-slider .ui-tabs-panel .info p { display:none; }
		#arapah-slider .ui-tabs-panel { width:100%; height:250px; }
		#arapah-slider .ui-tabs-panel .info { width:80%; left:10%; bottom:10%; padding:10px; }
		#arapah-slider .info h2, #arapah-slider .info a { font-size:16px; line-height:1.2; padding:0; }
		#slider .da-slide h2 { font-size:24px; }
		#slider .da-slider { margin:-10px auto 0; }
		
		/* Carousel */
		#arapah-carousel .columns { overflow:hidden; }
		#arapah-carousel .carousel-posts { margin-left:-20px; }
		#arapah-carousel .carousel-posts li { width:200px; padding-left:20px; }
		#arapah-carousel .carousel-posts img { width:100%; height:130px; margin-bottom:7px; }
		#arapah-carousel .carousel-posts .post-content, #arapah-carousel .carousel-posts .post-meta { display:none; }
		#arapah-carousel a.Car-PostTitle { font-size:16px; }
		
		#maincontent .main, #maincontent #leftside .main { margin:0 0 40px; }
		#leftside.container .gutter.sidebar { margin:0; }
		
		.bigbutton { width:231px; margin:0 auto; }
		
		textarea#comment { width:90%; }
		
		.container .portf .one-third, .container .portf .four { width:100%; }
		.container .portf .one-third img, .container .portf .four img { width:100%; }
		.portf .minmargin, .portf .margin { margin-right:0; }
		.portf .filterable-grid .margin { margin-bottom:20px; }
		
		#bottom .widget-1 > *, #bottom .widget-2 > *, #bottom .widget-3 > *, #bottom .widget-4 > *, #bottom .widget-5 > *, #bottom .widget-6 > * { margin-left:0; margin-right:0; }
		
		.carousel-widget .carousel-posts img { width:100%; height:72%; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns .gutter,
        .container .column .gutter { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }
		
		.topmenu { margin:17px 15px; display:block; }
		
		/* Slider */
		#arapah-slider ul.ui-tabs-nav, #arapah-slider .ui-tabs-panel .info p { display:none; }
		#arapah-slider .ui-tabs-panel { width:420px; }
		#arapah-slider .ui-tabs-panel .info { width:300px; left:35px; }
		#arapah-slider .info a { font-size:20px; line-height:1.2; }
		#slider .da-slider { margin:-40px auto 0; }
		
		/* Carousel */
		#arapah-carousel .carousel-posts { margin-left:-20px; }
		/* #arapah-carousel .carousel-posts li { width:125px; padding-left:20px; }
		#arapah-carousel .carousel-posts img { width:100%; height:90px; margin-bottom:7px; }
		#arapah-carousel .carousel-posts .post-content, #arapah-carousel .carousel-posts .post-meta { display:none; } */
		#arapah-carousel a.Car-PostTitle { font-size:14px; }
		
		.container .portf .one-third { width:50%; }
		.container .portf .one-third img { width:100%; }
		.container .portfolio.four.columns { width:210px; margin-bottom:0; }
    }
	

/* Layout Shortcodes */
.full-width {width:100%; height:auto; overflow:hidden}

.one_half { width: 48%; }
.one_third { width: 30.66%; }
.two_thirds { width: 65.33%; }
.one_fourth { width: 22%; }
.three_fourths { width: 74%; }
.one_fifth { width: 16.8%; }
.two_fifth { width: 37.6%; }
.three_fifth { width: 58.4%; }
.four_fifth { width: 67.2%; }
.one_sixth { width: 13.33%; }
.five_sixth { width: 82.67%; }

.one_half,
.one_third,
.two_thirds,
.three_fourths,
.one_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 20px;
	float: left;
}

.one_half.last,
.one_third.last,
.two_thirds.last,
.three_fourths.last,
.one_fourth.last,
.one_fifth.last,
.two_fifth.last,
.three_fifth.last,
.four_fifth.last,
.one_sixth.last,
.five_sixth.last {margin-right:0;}

/* Layout Portfolio */
.portf.one_half,
.portf.one_third,
.portf.two_thirds,
.portf.three_fourths,
.portf.one_fourth,
.portf.one_fifth,
.portf.two_fifth,
.portf.three_fifth,
.portf.four_fifth,
.portf.one_sixth,
.portf.five_sixth {
	margin-left: 4%;
	margin-right: 0%;
}



/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
