@include: common.neon

@display:
	label: Display
	type: on-off
	default: on
	basic: true
	help: "Display or hide this element on page"

chartType:
	label: Type
	type: select
	default:
		gauge: Gauge
		#pie: Pie
		line: Line
		textbox: Text
	basic: true
	help: "Select type of counter"

counterDimension:
	label: Dimension
	type: number
	unit: px
	default: '122'
	basic: true
	help: "Dimension of counters"

counterThickness:
	label: Thickness
	type: number
	unit: px
	default: '45'
	basic: true
	help: "Thickness of counters"

counters:
	label: 
	type: clone
	max: 10
	help: 'Add new Counter by click on "+ Add New Item" link, or remove existing Counter by clicking on red cross. Click on "Remove All Items" link to remove all existing Counters.'
	items:
		current:
			label: Current Value
			type: text
			help: "Value displayed by counter (number from 0 to 100 for type Gauge and Line)"
		title:
			label: Title
			type: text
			help: "Text displayed as label of counter"
		description:
			label: Description
			type: text
			help: "Text displayed as description with counter"
	default: []
	basic: true

- section(title: 'Colors', advanced: true)

counterBottomColor:
	label: Bottom Color
	type: color
	default: "#f6f6f6"
	help: "Main color of counters"

counterBaseColor:
	label: Top Color
	type: color
	default: '#d05756'
	help: "Color displaying current value"