/*smartbox adds*/
body{
	font-family: Arial, sans-serif;
}

.everything{visibility: visible !important;}

.header_container{ background: white; }

header .social{ left: 60px !important; }

ul.da-thumbs li:hover > a > div { background: black;}

img.camera_thumb{ height: auto; }

.flex-direction-nav li a.prev{ left: -70px; background-color: #666 !important;}
.flex-direction-nav li a.next{ right: -70px; background-color: #666 !important;}

.flex-control-nav li a{
	background-color: #666 !important;
	filter: alpha(opacity=100);
}

.projectCategories {background: black;}

ul.ch-grid li a h3{ opacity: 0; filter: alpha(opacity=0);}
.magnifier, .hover-flex { opacity: 0; filter: alpha(opacity=0);}

.search_top #s{
	padding-bottom: 7px;
}

.search_top #searchform.ie_searcher_open {
	margin-left: 21px;
}
.search_top #searchform.ie_searcher_close { 
	margin-left: 0px;
}

#topcontrol{z-index: 9999 !important;}
.validateform ul.forms textarea{ overflow: hidden; }


#banner > ul > li {z-index: 10;}
#banner > ul > li + li {z-index: 20;}
#banner > ul > li + li + li {z-index: 30;}
#banner > ul > li + li + li + li {z-index: 40;}

.overlay_categories{
	font-family: Arial, sans-serif;
}


.widget-area a{
	font-size: 12px;
}

.info_above_menu .telephone, .info_above_menu .email, .info_above_menu .address{
	position: relative;
	float: left;
	display: inline-block;
	clear: none;
}

/* svg's */

.post-listing .post_type.text{
	background-image: url(../img/Blog-icons/ptype-text.png) !important;
}
.post-listing .post_type.gallery{
	background-image: url(../img/Blog-icons/ptype-gallery.png) !important;
}
.post-listing .post_type.image{
	background-image: url(../img/Blog-icons/ptype-photo.png) !important;
}
.post-listing .post_type.video{
	background-image: url(../img/Blog-icons/ptype-video.png) !important;
}
.post-listing .post_type.audio{
	background-image: url(../img/Blog-icons/ptype-music.png) !important;
}
.post-listing .post_type.slider{
	background-image: url(../img/Blog-icons/ptype-slider.png) !important;
}
.recentPosts .post_type.text, .recentposts_listing .recentPostsSidebar.text{
	background-image: url(../img/Blog-icons/ptype-text.png) !important;
}
.recentPosts .post_type.gallery, .recentposts_listing .recentPostsSidebar.gallery{
	background-image: url(../img/Blog-icons/ptype-gallery.png) !important;
}
.recentPosts .post_type.image, .recentposts_listing .recentPostsSidebar.image{
	background-image: url(../img/Blog-icons/ptype-photo.png) !important;
}
.recentPosts .post_type.video, .recentposts_listing .recentPostsSidebar.video{
	background-image: url(../img/Blog-icons/ptype-video.png) !important;
}
.recentPosts .post_type.audio, .recentposts_listing .recentPostsSidebar.audio{
	background-image: url(../img/Blog-icons/ptype-music.png) !important;
}
.recentPosts .post_type.slider, .recentposts_listing .recentPostsSidebar.slider{
	background-image: url(../img/Blog-icons/ptype-slider.png) !important;
}
.footer-widget .recentPosts .post_type.text, .recentposts_listing .recentPostsSidebar.text{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-text.png) !important;
}
.footer-widget .recentPosts .post_type.gallery, .recentposts_listing .recentPostsSidebar.gallery{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-gallery.png) !important;
}
.footer-widget .recentPosts .post_type.image, .recentposts_listing .recentPostsSidebar.image{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-photo.png) !important;
}
.footer-widget .recentPosts .post_type.video, .recentposts_listing .recentPostsSidebar.video{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-video.png) !important;
}
.footer-widget .recentPosts .post_type.audio, .recentposts_listing .recentPostsSidebar.audio{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-music.png) !important;
}
.footer-widget .recentPosts .post_type.slider, .recentposts_listing .recentPostsSidebar.slider{
	background-image: #3b3e42 url(../img/Blog-icons/ptype-slider.png) !important;
}
.blogarchive .metas .the_author{
	background-image: url(../img/Blog-icons/blogicon-author.png) !important;
}
.blogarchive .metas .comments{
	background-image: url(../img/Blog-icons/blogicon-comments.png) !important;
}
.blogarchive .metas .tags{
	background-image: url(../img/Blog-icons/blogicon-tags.png) !important;
}
.mail_chimp_form_container .banner{
	background-image: url(../img/icon-newsletter.png) !important;
}


.shop_topbar_middle, .shop_bottombar_middle{
	width: 32px !important;
}