/* --- Features icon --- */
#features_icon option
{
	background: no-repeat scroll 5px 5px / 38px auto transparent;
    padding-right: 50px;
	padding-left: 0;
}
/* --- Theme options --- */

.theme_options .header_left,
.theme_options .header_right
{
	float: right;
}
.theme_options .header_right
{
	padding: 0 40px 0 0;
}
.theme_options .header_right .description
{
	float: right;
}
.theme_options .header_right .logo
{
	float: left;
	background: url("../images/wp_admin_map.png") 0 -260px;
	margin: 20px 0 20px 20px;
}
.theme_options .settings
{
	float: left;
	padding: 20px 40px 20px 20px;
}
.theme_options .form_field_list  #import_dummy_version {
	float: right !important;
	margin-left: 10px;
	margin-right: 0;
}
.theme_options .settings .color_preview,
.widget-content .color_preview,
.metabox-holder .color_preview
{
	float: right;
	margin: 1px 1px 1px 5px;
}
.theme_options .menu
{
	float: right;
}
.theme_options .menu a
{
	background: url("../images/wp_admin_map.png");	
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.theme_options .menu a:hover,
.theme_options .menu a.selected
{
	background-position: 0 -60px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4);
}
.theme_options .menu a span
{
	float: left;
}
.theme_options .menu a:hover .general,
.theme_options .menu a.selected .general
{
	background-position: 0 -16px;
}
.theme_options .menu a .social
{
	background-position: -16px 0;
}
.theme_options .menu a:hover .social,
.theme_options .menu a.selected .social
{
	background-position: -16px -16px;
}
.theme_options .menu a .header
{
	background-position: -160px 0;
}
.theme_options .menu a:hover .header,
.theme_options .menu a.selected .header
{
	background-position: -160px -16px;
}
.theme_options .menu a .font
{
	background-position: -32px 0;
}
.theme_options .menu a:hover .font,
.theme_options .menu a.selected .font
{
	background-position: -32px -16px;
}
.theme_options .menu a .plugin
{
	background-position: -48px 0;
}
.theme_options .menu a:hover .plugin,
.theme_options .menu a.selected .plugin
{
	background-position: -48px -16px;
}
.theme_options .menu a .post
{
	background-position: -64px 0;
}
.theme_options .menu a:hover .post,
.theme_options .menu a.selected .post
{
	background-position: -64px -16px;
}
.theme_options .menu a .slider
{
	background-position: -144px 0;
}
.theme_options .menu a:hover .slider,
.theme_options .menu a.selected .slider
{
	background-position: -144px -16px;
}
.theme_options .menu a .colors
{
	background-position: -128px 0;
}
.theme_options .menu a:hover .colors,
.theme_options .menu a.selected .colors
{
	background-position: -128px -16px;
}
.theme_options .menu a .contact_form
{
	background-position: -160px 0;
}
.theme_options .menu a:hover .contact_form,
.theme_options .menu a.selected .contact_form
{
	background-position: -160px -16px;
}
.theme_options .submenu a
{
	background: url("../images/wp_admin_map.png") 0 -120px;	
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	padding: 12px 37px 12px 10px;
}
.theme_options .submenu a:hover,
.theme_options .submenu a.selected
{
	background-position: 0 -160px;
}
.theme_options #theme_options_preloader,
.theme_options #theme_options_tick
{
	float: left;
}
.theme_options .footer_left
{
	float: right;
}
.theme_options .footer_right
{
	float: left;
}
.theme_options input[type='submit']
{
    float: left;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.theme_options ul.social-list
{
	margin-left:0;
	margin-right:20px;
}
.theme_options ul.social-list li
{
	float:right;
}
.theme_options ul.social-list li a.social-list-tumblr			{ background-position:-150px -200px;	}
.theme_options ul.social-list li a.social-list-flickr			{ background-position:-60px -200px;		}
.theme_options ul.social-list li a.social-list-envato			{ background-position:-90px -200px;		}
.theme_options ul.social-list li a.social-list-twitter			{ background-position:-30px -200px;		}
.theme_options ul.social-list li a.social-list-facebook			{ background-position:-0px -200px;		}
.theme_options ul.social-list li a.social-list-deviantart		{ background-position:-180px -200px;	}
.theme_options ul.social-list li a.social-list-tumblr:hover		{ background-position:-150px -230px;	}
.theme_options ul.social-list li a.social-list-flickr:hover		{ background-position:-60px -230px;		}
.theme_options ul.social-list li a.social-list-envato:hover		{ background-position:-90px -230px;		}
.theme_options ul.social-list li a.social-list-twitter:hover	{ background-position:-30px -230px;		}
.theme_options ul.social-list li a.social-list-facebook:hover	{ background-position:-0px -230px;		}
.theme_options ul.social-list li a.social-list-deviantart:hover	{ background-position:-180px -230px;	}
/* --- Meta box options --- */
.meta_box_options_left,
.meta_box_options_right
{
	float: right;
}
.meta_box_options_right
{
	margin-right: 5%;
	margin-left: 5%;
}
/* --- departments hours list --- */
#department_hours_list .operation_button
{
	float: left;
	margin-right: 10px;
	margin-left: 0;
}

/* --- visual composer --- */

.wpb_mc_carousel .attachment-thumbnails li,
.wpb_mc_small_slider .attachment-thumbnails li,
.wpb_photostream .attachment-thumbnails li,
.wpb_slider .attachment-thumbnails li 
{
    margin-left: 3px;
	margin-right: 0;
}

.wpb_mc_carousel .column_edit_trigger,
.wpb_mc_small_slider .column_edit_trigger,
.wpb_photostream .column_edit_trigger,
.wpb_slider .column_edit_trigger
{
    float: right;
}
.wpb_bootstrap_modals .listitemwindow
{
	margin: 300px -280px 0 0;
}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-items-list { background-position: 0 0}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-carousel { background-position: 0 -32px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-small-slider { background-position: 0 -64px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-announcement-box { background-position: 0 -96px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-testimonials { background-position: 0 -128px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-box-header { background-position: 0 -160px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-sentence { background-position:  0 -192px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-doctors-list { background-position:  0 -224px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-gallery-items-list { background-position:  0 -256px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-features-list { background-position: 0 -288px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-contact-form { background-position: 0 -320px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-blog { background-position: 0 -352px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-post { background-position: 0 -384px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-timetable { background-position: 0 -416px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-photostream { background-position: 0 -448px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-notification-box { background-position: 0 -480px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-dropcap { background-position: 0 -512px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-icon { background-position: 0 -544px;}
.wpb_bootstrap_modals .wpb-content-layouts i.icon-wpb-layer-pricing-table { background-position: 0 -576px;}
