@include: common.neon

countdownSize:
	label: Size
	type: number
	unit: px
	default: '122'
	basic: true
	help: "Diameter of countdown circles"

lineWidth:
	label: Line Width
	type: number
	unit: px
	default: '22'
	basic: true
	help: "Width of countdown circles"

startDate:
	label: Date From
	type: date
	picker: datetime
	format: 'D, d M yy'
	basic: true
	help: "Starting date for countdown"

endDate:
	label: Date To
	type: date
	picker: datetime
	format: 'D, d M yy'
	basic: true
	help: "Ending date for countdown"

finishedText:
	label: Finished Text Screen
	type: editor
	settings:
		media_buttons: true
		teeny: false
	basic: true
	help: "Text displayed after end date"

- section(title: 'Colors', advanced: true)

countdownRound:
	label: Bottom Color
	type: color
	default: "#f6f6f6"
	help: "Main color of countdown circles"

countdownColor:
	label: Top Color
	type: color
	default: '#ef1e25'
	help: "Color displaying current value"
