/*
Style All Shortcode
*/
/* ==========================================================================
   Start Shortcode Qoute
========================================================================== */
.cs-quote-style-1, .cs-quote-style-2, .cs-quote-style-3 {
    display: block;
    font-family: Novecentowide-Bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 0 14%;
    position: relative;
    max-width:80%;
    text-align:center;
}
.cs-quote-style-1:before, .cs-quote-style-1:after {
    font-family: Novecentowide-Medium;
    font-size: 137px;
    position: absolute;
    top: 45px;
    margin: auto;
}
.cs-quote-style-1:before {
    left: 0;
    content: "â€œ";   
}
.rtl .cs-quote-style-1:before {
    left: inherit;
    right: 0;
}
.cs-quote-style-1:after {
    right: 0;
    top: inherit;
    bottom: -25px;
    content: "â€�";
}
.rtl .cs-quote-style-1:after {
    right: inherit;
    left: 0;
}
.cs-quote-style-2 {
    padding: 10px 20px;
}
.cs-quote-style-3 {
    background: #f5f5f5;
    padding: 20px 60px 20px 70px;
}
.cs-quote-style-3:before, .cs-quote-style-3:after {
    font-size: 100px;
    font-family: Novecentowide-Medium;
    position: absolute;
    top: 35px;
    width: 34px;
    height: 24px;
}
.cs-quote-style-3:before {
    left: 10px;
    content: "â€œ";
}
.rtl .cs-quote-style-3:before {
    left: inherit;
    right: 10px;
}
.cs-quote-style-3:after {
    top: inherit;
    right: 20px;
    bottom: -14px;
    content: "â€�";
}
.rtl .cs-quote-style-3:after {
    right: inherit;
    left: 20px;
}
/* ==========================================================================
   End Shortcode Qoute
========================================================================== */

/* ==========================================================================
   Start Carousel
========================================================================== */
.cs-carousel .carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 534px;
}
.cs-carousel .carousel-indicators {
    display: none;
}
.cs-carousel .carousel-caption {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    padding: 15px;
    text-align: left;
    z-index: 100;
}
.cs-carousel .carousel-control {
    width: 23px;
    height: 23px;
    top: inherit;
    bottom: 13px;
    z-index: 101;
    left: inherit;
    -webkit-text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -ms-text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -o-text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    opacity: 1;
}
.cs-carousel .carousel-control.right {
    right: 12px;
}
.cs-carousel .carousel-control.left {
    right: 40px;
}
.cs-carousel .carousel-control span {
    color: #fff;
    font-size: 20px;
}

/* ==========================================================================
   Start Shortcode Gallery
========================================================================== */
.gallery-filters a {
    list-style: none outside none;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #f5f5f5;
    border-color: #ececec;
    border-image: none;
    border-radius: 4px;
    border-right: 1px solid #ececec;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    color: #888888 !important;
    display: inline-block;
    letter-spacing: 0.05em;
    line-height: 25px;
    padding: 0 10px;
    text-decoration: none;
    outline: none;
    -webkit-transition: all 300ms linear 0ms;
    -moz-transition: all 300ms linear 0ms;
    -o-transition: all 300ms linear 0ms;
    -ms-transition: all 300ms linear 0ms;
    transition: all 300ms linear 0ms;
}
.gallery-filters a:hover, .gallery-filters a.active {
    color: #fff !important;
}
ul.gallery {
    padding: 0 !important;
}
ul.gallery li a {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    padding: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
ul.gallery li a img {
    cursor: pointer;
}
.modal-dialog {
    margin: 30px auto
}
.admin-bar .modal-dialog {
    margin: 100px auto
}
.modal-header {
    padding: 0;
    height: 42px;
}
.modal-header .close span, .modal-header .close span:hover {
    background: none repeat scroll 0 0 #000;
    border-radius: 100%;
    color: #fff;
    height: 24px;
    line-height: 24px;
    margin: 10px 10px 0 0;
    right: 8px;
    top: 8px;
    width: 24px;
    display: block;
}
.modal-header .close:hover {
    background: none !important;
    border: none !important;
}
.modal-dialog .em-booking-form-details {
    padding-right: 15px;
}
.modal-dialog .em-booking-login-form {
    padding-left: 15px;
}
.modal-dialog .em-booking-form-details > p,
.modal-dialog .em-booking-form-details select,
.modal-dialog .em-booking-login > p {
    margin: 0 0 8px;
}
.modal-dialog .em-booking-form-details label,
.modal-dialog .em-booking-login label {
    display: block;
}
.modal-dialog .em-booking-form-details input[type="text"],
.modal-dialog .em-booking-form-details select,
.modal-dialog .em-booking-login input[type="text"],
.modal-dialog .em-booking-login input[type="password"] {
    width: 100%;
    height: 36px;
    line-height: 36px;
}
.modal-dialog .em-booking-form-details textarea {
    height: 80px;
}
.modal-dialog .em-booking-form,
.modal-dialog .em-booking-login {
    width: 50%;
    float: left;
}
.modal-dialog .em-booking-login > p br {
    display: none;
}
.admin-bar .modal-dialog .em-booking-form {
    width: 100%;
}
/* ==========================================================================
   End  Shortcode Gallery
========================================================================== */

/* ==========================================================================
   Short Code Button VC
   ========================================================================== */
.wpb_button_a {
    display: block;
    margin: 0 0 10px;
}

/* ==========================================================================
   Start Portfolio
========================================================================== */
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-header {
    position: relative;
    overflow: hidden;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-header img {
    display: block;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-meta {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-meta-box {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-meta-box .cs-portfolio-title a {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-title {
    margin: 0;;
    line-height: 24px;
    opacity: 0;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
    -webkit-transform:translateX(-100px);
       -moz-transform:translateX(-100px);
        -ms-transform:translateX(-100px);
         -o-transform:translateX(-100px);
            transform:translateX(-100px);
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-category {
    line-height: 24px;
    margin: 0;
    opacity: 0;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
    -webkit-transform:translateX(100px);
       -moz-transform:translateX(100px);
        -ms-transform:translateX(100px);
         -o-transform:translateX(100px);
            transform:translateX(100px);
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-category a {
    font-size: 12px;
    color: #fff;
    font-style: italic;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-readmore {
    bottom: 0;
    position: absolute;
    right: 0;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-description {
    margin-top: 20px;
}
.cs-portfolio.cs-portfolio-style2 a.cs-read-more {
    border-color: transparent rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) transparent;
    border-style: solid;
    border-width: 32px;
    color: #fff;
    display: block;
    font-size: 21px;
    height: 64px;
    width: 64px;
    opacity: 0;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-header:hover .cs-portfolio-category,
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-header:hover .cs-portfolio-title,
.cs-portfolio.cs-portfolio-style2 .cs-portfolio-header:hover a.cs-read-more {
    opacity: 1;
    -webkit-transform:translateX(0px);
       -moz-transform:translateX(0px);
        -ms-transform:translateX(0px);
         -o-transform:translateX(0px);
            transform:translateX(0px);
}
/* ==========================================================================
   End Portfolio
========================================================================== */

/* ==========================================================================
    Start google maps Styles
========================================================================== */
.gmnoprint img {
    max-width: inherit;
}
/* ==========================================================================
    Start google maps Styles
========================================================================== */

/* ==========================================================================
    Start recent post Styles
========================================================================== */

#cboxLoadedContent{overflow:hidden!important;}
.cs-recent-post .cs-entry-media {
  min-height: 100px;
  position: relative;
}
.cs-recent-post .cs-entry-media img{
	display:block;
}
.cs-recent-post .cs-entry-media .cboxElement {
  background: none repeat scroll 0 0 rgba(19,22,69,0.78);
  border: 1px solid #161a48;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 50px;
  z-index: 10;
}
.cs-recent-post .cs-entry-media  .cboxElement  .fa {
  margin-top: -10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
}
.cs-recent-post.style-1{
	text-align:center;
}
.cs-recent-post.style-1  .cs-entry-media {
	margin-bottom:20px;
	position: relative;
}
.cs-recent-post.style-1 .cs-entry-media:after {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.cs-recent-post.style-1 .cs-entry-media:hover:after {
    background: rgba(0,0,0,0.1);
}
.cs-recent-post.style-1  .cs-recent-post-container {
  box-shadow: 5px 3px 4px #eee;
  margin-bottom: 30px;
}
.cs-recent-post.style-1  .cs-recent-post-meta{
	padding:0px 30px 10px;
	text-transform:uppercase;
	color:#888aa1;
}
.cs-recent-post.style-1  .cs-recent-post-meta .cs-category a{
	color:#888aa1;
}
.cs-recent-post.style-1  .cs-recent-post-meta .cs-category:after {
    content: "/";
    padding: 0 5px;
}
.cs-recent-post.style-1  .cs-recent-post-title{
	padding:0px 30px 5px;
}
.cs-recent-post .cs-recent-post-title  .entry-title{
	margin:0;
	text-transform:uppercase;
}
.cs-recent-post.style-1  .cs-recent-post-description{
	padding:5px 30px 30px;
}

.cs-recent-post.style-2 .cs-entry-media {
  float: left;
}
.cs-recent-post.style-2 .cs-entry-media img {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 10px 20px 0;
  padding: 5px;
}
.cs-carousel-post.style-1,
.cs-carousel-post.style-1 .cs-carousel-header {
    position: relative;
}
.cs-carousel-post.style-1 .cs-carousel-header .cs-header + .cs-nav {
    position: absolute;
    top: 0;
    right: 0;
}
.rtl .cs-carousel-post.style-1 .cs-carousel-header .cs-header + .cs-nav {
    right: inherit;
    left: 0;
}
.cs-carousel-post.style-1 .cs-carousel-details {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.cs-carousel-post.style-1 a.read-more-link {
    bottom: 0;
    color: #fff !important;
    display: block;
    font-size: 50px;
    height: 60px;
    left: 0;
    line-height: 60px;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 300ms linear 0ms;
    width: 60px;
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-carousel-post.style-1 .cs-carousel-header:hover a.read-more-link {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.cs-recent-post.style-3 .cs-post-image img {
    border: medium none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    margin: 0;
}
.cs-recent-post.style-3 .cs-entry-media {
    float: none;
    overflow: hidden;
}
.cs-recent-post.style-3 .cs-entry-media img {
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-recent-post.style-3 .cs-entry-media:hover img {
    -webkit-transform: rotate(3deg) scale(1.12);
       -moz-transform: rotate(3deg) scale(1.12);
        -ms-transform: rotate(3deg) scale(1.12);
         -o-transform: rotate(3deg) scale(1.12);
            transform: rotate(3deg) scale(1.12);
}
.cs-recent-post.style-3 .cs-recent-post-title a {
    font-size: 14px;
    text-transform: none;
    display: block;
}
.cs-recent-post.style-3 .cs-recent-post-item {
    padding: 9px;
}
.cs-recent-post.style-3 .cs-title {
    color: #fff;
    padding: 15px 19px;
    margin: 0 9px;
}
.cs-recent-post.style-3 .cs-title:before {
    content: "\f1ea";
    font-family: FontAwesome;
    padding-right: 20px;
}
.rtl .cs-recent-post.style-3 .cs-title:before {
    padding-right: 0;
    padding-left: 0;
}
.cs-recent-post.style-3 .cs-recent-post-container {
    position: relative;
}
.cs-recent-post.style-3 .cs-recent-post-title {
    bottom: 0;
    position: absolute;
    width: 100%
}
.cs-recent-post.style-3 .cs-recent-post-title .entry-title {
    margin: 10px;
}
.cs-recent-post.style-3 .cs-recent-post-title a {
    color: #fff;
    padding: 10px 20px;
}
/* ==========================================================================
    End recent post Styles
========================================================================== */
/* ==========================================================================
   Elements Typo
========================================================================== */
.radio input[type="radio"], 
.radio-inline input[type="radio"], 
.checkbox input[type="checkbox"], 
.checkbox-inline input[type="checkbox"]{
    cursor: pointer;
    height: 20px;
    opacity: 0;
    position: relative;
    right: -25px;
    top: 8px;
    width: 20px;
    z-index: 999;
}
.radio span, .radio label, .radio div, .checkbox span {
    position: relative;
}
input[type="radio"] + span, 
input[type="checkbox"] + span {
    cursor: pointer;
    line-height: 24px;
    position: static;
    text-transform: capitalize;
    padding: 0 0 0 20px;
}
.rtl input[type="radio"] + span, 
.rtl input[type="checkbox"] + span {
    padding: 0 20px 0 0;
}
input[type="radio"] + span:before, 
input[type="checkbox"] + span:before {
    background: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background: -moz-linear-gradient(center top , #fff 0%, #f5f5f5 100%);
    background: linear-gradient(center top , #fff 0%, #f5f5f5 100%);
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    box-shadow: 0 1px 3px #e5e5e5;
    content: "";
    height: 30px;
    left: 0;
    position: absolute;
    top: 0;
    width: 30px;
}
input[type="checkbox"] + span:before {
    top: -5px;
}
input[type="checkbox"] + span:before {
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
        -ms-border-radius: 0px;
         -o-border-radius: 0px;
            border-radius: 0px;
}
input[type="checkbox"] + span:after {
    border-radius: 50px;
    content: "";
    height: 16px;
    left: 7px;
    opacity: 1;
    position: absolute;
    top: 6.5px;
    width: 16px;
}
input[type="radio"] + span:after,
input[type="checkbox"] + span:after {
    opacity: 0;
}
input[type="radio"]:checked + span:after,
input[type="checkbox"]:checked + span:after {
    border: none;
    border-radius: 10px;
    content: "";
    height: 16px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 16px;
    opacity: 1;
}
input[type="checkbox"]:checked + span:after {
    background: transparent;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 16px;
    opacity: 1;
    top: -2px;
}
span.Selectoptions {
    position: relative;
    display: inline-block;
}
span.Selectoptions:after {
    background: -webkit-linear-gradient(left, #fff, #f5f5f5);
    background: -moz-linear-gradient(center left , #fff 0%, #f5f5f5 100%);
    background: linear-gradient(center left , #fff 0%, #f5f5f5 100%);
    bottom: 0;
    content:"\f0d9   \f0da";
    font-family: FontAwesome;
    font-size: 16px;
    color: #5f5f5f;
    height: 35px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 35px;
    line-height: 37px;
    text-align: center;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
     -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

span.Selectoptions select, #rtb-party, #rtb-date, #rtb-time {
    background: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background: -moz-linear-gradient(center top , #fff 0%, #f5f5f5 100%);
    background: linear-gradient(center top , #fff 0%, #f5f5f5 100%);
    margin: 0;
    -webkit-box-shadow: 0 1px 3px #e5e5e5;
       -moz-box-shadow: 0 1px 3px #e5e5e5;
            box-shadow: 0 1px 3px #e5e5e5;
    -webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
    color: #372f2b;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    min-width: 135px;
}
.Selectoptions select {
    line-height: 25px;
}
#rtb-party, #rtb-date, #rtb-time {
    min-width: 10px;
    margin: 0 0 15px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.cs-booking-form .Selectoptions {
    display: block;
}
.csbody .xdsoft_datetimepicker .xdsoft_prev:hover,
.csbody .xdsoft_datetimepicker .xdsoft_next:hover {
    background-color: transparent;
}
.csbody .xdsoft_datetimepicker .xdsoft_calendar th {
    font-weight: normal;
    color: #888;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, 
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
         -o-box-shadow: none !important;
            box-shadow: none !important;
}
/**** Contact Form 7 *****/
.wpcf7-captchar {
    max-width: 100px;
}
.wpcf7-captchac {
    margin: 0 10px;
}
.csbody .modal-backdrop {
    position: inherit;
}
#modal-booking.modal {
    background: rgba(0,0,0,0.7);
}
.modal-open {
    padding-right: 0 !important;
} 
.modal-open .modal {
    overflow-y: hidden !important;
}
#modal-booking .modal-title {
    line-height: 42px;
    padding: 0 15px;
    letter-spacing: 0;
}
#modal-booking label,
#modal-booking .cs-booking-form span.des-text, 
#modal-booking .cs-booking-form .cs-message {
    color: #333 !important;
}
#modal-booking .modal-dialog {
    max-width: 700px;
    width: 100%;
}
#modal-booking .modal-footer {
    padding: 0 0 12px;
    border: none;
}
#modal-booking .rtb-error {
    height: 50px;
    overflow: hidden;
    line-height: 22px;
}
/* ==========================================================================
   End Elements Typo
========================================================================== */
/* ==========================================================================
   Start Carousel For NUVO
========================================================================== */
.cs-carousel-item {
    padding: 4px;
}
.cs-carousel-post .bx-viewport, .cs-carousel-event .bx-viewport {
    padding: 14px 0px 0;
    height: auto !important;
}
.cs-carousel-post .cs-header {
    margin-bottom: 40px;
}
.cs-carousel-post .bx-wrapper {
    max-width: 100% !important;
}
.cs-carousel-container {
    border: 1px solid #dcdcdc;
    padding: 7px;
    position: relative;
    -webkit-box-shadow: -4px 4px 0 #dcdcdc;
       -moz-box-shadow: -4px 4px 0 #dcdcdc;
        -ms-box-shadow: -4px 4px 0 #dcdcdc;
         -o-box-shadow: -4px 4px 0 #dcdcdc;
            box-shadow: -4px 4px 0 #dcdcdc;
}
.cs-carousel-container .cs-carousel-header {
    position: relative;
}
.cs-carousel-container .cs-carousel-header img {
    width: 100%;
    height: auto;
}
.cs-carousel-container .cs-carousel-header .cs-carousel-post-date {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 56px;
    height: 56px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    text-transform: uppercase;
    padding: 4px 4px 2px 4px;
    top: -30px;
    z-index: 10;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
.cs-carousel-container .cs-carousel-header .cs-carousel-post-date span {
    display: block;
}
.cs-carousel-container .cs-carousel-header .cs-carousel-details {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto !important;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10;
}
.cs-carousel-container .cs-carousel-header:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: transparent;
    z-index: 9;
     -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}  
.cs-carousel-container .cs-carousel-details a {
    display: inline-block;
    background: #fff;
    height: 52px;
    line-height: 52px;
    text-align: center;
    width: 52px;
    font-size: 15px;
    outline: none;
    z-index: 11;
    opacity: 0 !important;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
        -ms-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-container .cs-carousel-details a i {
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-container .cs-carousel-details .cs-zoom-images,
.cs-carousel-container .cs-carousel-details .cs-read-more {
    clear: none;
    display: inline-block;
    float: none;
    position: relative;
    margin: 0 5px;
}
.cs-carousel-container .cs-carousel-details a:hover i {
    color: #fff !important;
} 
.cs-carousel-container .cs-carousel-details .cs-zoom-images a {
    -webkit-transform:translateX(-100px);
      -moz-transform:translateX(-100px);
       -ms-transform:translateX(-100px);
        -o-transform:translateX(-100px);
           transform:translateX(-100px);
}
.cs-carousel-container .cs-carousel-details .cs-read-more a {
    -webkit-transform:translateX(100px);
      -moz-transform:translateX(100px);
       -ms-transform:translateX(100px);
        -o-transform:translateX(100px);
           transform:translateX(100px);
}
.cs-carousel-container .cs-carousel-header:hover:before {
    background: rgba(255,255,255, 0.5);
}
.cs-carousel-container .cs-carousel-header:hover .cs-carousel-details a {
    -webkit-transform:translateX(0px);
      -moz-transform:translateX(0px);
       -ms-transform:translateX(0px);
        -o-transform:translateX(0px);
           transform:translateX(0px);
    opacity: 1 !important;
}
.cs-carousel-body {
    padding: 5px;
}
.cs-carousel-body .cs-carousel-post-title {
    margin: 10px 0 0;
    text-transform: uppercase;
}
.cs-carousel-body .cs-carousel-post-title a {
    color: #333;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    display: block;
     -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-body .cs-carousel-post-description {
    margin-top: 10px;
    padding: 0 0 20px 0;
}
.cs-carousel-body .cs-carousel-post-description .cs-read-more {
    bottom: -25px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
.cs-carousel-body .cs-carousel-post-description .cs-read-more a.read-more-link {
    border-width: 1px 1px 3px;
}
.cs-carousel-style-1 .cs-nav {
    margin: 40px 0 0;
}
.cs-carousel-style-1 .cs-nav,
.cs-carousel-style-2 .cs-nav {
    text-align: center;
}
.cs-carousel-style-2 .cs-carousel-item-wrap:nth-child(3n+2) .cs-carousel-container,
.cs-carousel-style-2.cs-carousel-style-3 .cs-carousel-item-wrap:nth-child(3n+3) .cs-carousel-container {
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
        -ms-box-shadow: none !important;
         -o-box-shadow: none !important;
            box-shadow: none !important;
}
.cs-carousel-style-2 .cs-carousel-item-wrap:nth-child(3n+2) .cs-carousel-container:before {
    background: #dcdcdc;
    bottom: -4px;
    content: "";
    height: 4px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 98%;
}
.cs-carousel-style-2 .cs-carousel-item-wrap:nth-child(3n+3) .cs-carousel-container {
    -webkit-box-shadow: 4px 4px 0 #dcdcdc;
       -moz-box-shadow: 4px 4px 0 #dcdcdc;
        -ms-box-shadow: 4px 4px 0 #dcdcdc;
         -o-box-shadow: 4px 4px 0 #dcdcdc;
            box-shadow: 4px 4px 0 #dcdcdc;
}
.cs-carousel-style-2 .cs-carousel-container .cs-carousel-header {
    overflow: hidden;
}
.cs-carousel-style-2 .cs-carousel-post-icon {
    color: #fff;
    position: absolute;
    bottom: -41px;
    height: 82px;
    width: 82px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    z-index: 10;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
}
.cs-carousel-style-2 .cs-carousel-body .cs-carousel-post-meta {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 16px;
    padding-bottom: 16px;
}
.cs-carousel-style-2 .cs-carousel-body .cs-carousel-post-title {
    text-align: center;
    margin: 16px 0 0;
}
.cs-carousel-style-2 .cs-carousel-body .cs-carousel-post-intro-text {
    font-size: 13px;
    color: #333;
    text-align: center;
    display: block;
}
.cs-carousel-style-1 .post.type-post,
.cs-carousel-style-2 .post.type-post,
.cs-carousel-style-3 .post.type-post {
    height: inherit !important;
}
.cs-carousel-style-3 .cs-carousel-body {
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
   -webkit-transform:translateY(100%);
      -moz-transform:translateY(100%);
       -ms-transform:translateY(100%);
        -o-transform:translateY(100%);
           transform:translateY(100%);
}
.cs-carousel-style-3 .cs-carousel-header:before {
    height: inherit;
}
.cs-carousel-style-3 .cs-carousel-header .cs-carousel-post-icon {
    bottom: 0;
    height: 56px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    line-height: 75px;
    text-align: center;
    -webkit-transition: all 0.5s linear 0s;
       -moz-transition: all 0.5s linear 0s;
        -ms-transition: all 0.5s linear 0s;
         -o-transition: all 0.5s linear 0s;
            transition: all 0.5s linear 0s;
            opacity: 1;
    -webkit-transform:translateY(0%);
      -moz-transform:translateY(0%);
       -ms-transform:translateY(0%);
        -o-transform:translateY(0%);
           transform:translateY(0%);
}
.cs-carousel-style-3 .cs-carousel-header .cs-carousel-post-icon i {
    font-size: 28px;
}
.cs-carousel-style-3 .cs-category a {
    color: #fff;
}
.cs-carousel-style-3 .cs-carousel-container {
    border: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
        -ms-box-shadow: none;
         -o-box-shadow: none;
            box-shadow: none;
    padding: 0;
    position: relative;   
}
.cs-carousel-style-3 .cs-carousel-container {
    overflow: hidden;
}
.cs-carousel-style-3 .cs-carousel-container .cs-carousel-header:hover:before {
    background: transparent;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-title {
    margin: 20px 0 0;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-title h3 {
    text-align: left;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-title h3 {
    color: #fff;
    font-size: 16px;
    font-family: 'semibold';
    letter-spacing: 0;
    line-height: 20px;
     -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-style-3 .cs-carousel-body {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
}
.cs-carousel-style-3 .cs-carousel-inner {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 2px 22px;
    margin-bottom: -4px !important;
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-style-3 .cs-carousel-container:hover .cs-carousel-body {
   -webkit-transform:translateY(0%);
      -moz-transform:translateY(0%);
       -ms-transform:translateY(0%);
        -o-transform:translateY(0%);
           transform:translateY(0%);
}
.cs-carousel-style-3 .cs-carousel-container:hover .cs-carousel-header .cs-carousel-post-icon {
    -webkit-transform:translateY(100%);
      -moz-transform:translateY(100%);
       -ms-transform:translateY(100%);
        -o-transform:translateY(100%);
           transform:translateY(100%);
           opacity: 0;
}
.cs-carousel-style-3 .cs-carousel-post-icon {
    position: relative;
    background: transparent !important;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-icon {
    height: 56px;
    line-height: 65px;
    text-align: center;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-icon i {
    font-size: 28px;
}
.cs-carousel-style-3 .cs-carousel-post-icon:before {
    content: "";
    height: 56px;
    left: 0;
    position: absolute;
    top: 0;
    width: 112px;
    z-index: 6;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-border-radius: 100px 100px 0 0;
       -moz-border-radius: 100px 100px 0 0;
        -ms-border-radius: 100px 100px 0 0;
         -o-border-radius: 100px 100px 0 0;
            border-radius: 100px 100px 0 0;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-carousel-style-3 .cs-carousel-post-icon i {
    position: relative;
    z-index: 10;
    color: #fff;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-meta {
    border: medium none;
    margin: 0;
    padding: 0;
}
.cs-carousel-style-3 .cs-carousel-body .cs-carousel-post-description {
    padding: 0 0 5px;
    line-height: 20px;
}
.cs-carousel-style-3 .cs-carousel-header-feature {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.cs-carousel-style-3 .cs-carousel-header-feature h3 {
    font-size: 32px;
    line-height: 1;
    margin: 0;
    letter-spacing: 0;
}
.cs-carousel-style-3 .cs-carousel-header-feature span {
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.16em;
}
/* ==========================================================================
   End Carousel For NUVO
========================================================================== */

/* ==========================================================================
   Start carousel events
========================================================================== */
.cs-carousel-events-container {
    position: relative;
}
.cs-carousel-events-container .cs-carousel-events-header {
    position: relative;
}
.cs-carousel-events-container .cs-carousel-events-header img {
    width: 100%;
}
.cs-carousel-events .cs-header-events {
    margin-bottom: 20px;
}
.cs-carousel-events-header .cs-carousel-events-date {
    color: #fff;
    font-size: 18px;
    height: 56px;
    left: 0;
    line-height: 21px;
    margin: 0 auto;
    padding: 6px 4px 2px 4px;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    bottom: -30px;
    width: 56px;
    z-index: 10;
}
.cs-carousel-events-header .cs-carousel-events-date span {
    display: block;
}
.cs-carousel-events-body {
    border: 3px solid #fff;
    bottom: 0;
    height: 92%;
    left: 0;
    margin: auto !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 93%;
    overflow: hidden;
}
.cs-carousel-events-body .cs-event-title {
    background: rgba(0, 0, 0, 0.8);
    padding: 0 13px;
    position: relative;
    z-index: 3;
}
.cs-carousel-events-body .cs-event-title .cs-carousel-event-title {
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0 25px;
    position: relative;
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
    -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-events-body .cs-event-title .cs-carousel-event-title:before {
    content: "\f0d7";
    font-family: FontAwesome;
    color: #fff;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    font-size: 15px;
}
.cs-carousel-events-body .cs-event-title .cs-carousel-event-title a {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
     -webkit-transition: all 0.3s linear 0s;
       -moz-transition: all 0.3s linear 0s;
        -ms-transition: all 0.3s linear 0s;
         -o-transition: all 0.3s linear 0s;
            transition: all 0.3s linear 0s;
}
.cs-carousel-events-body .cs-carousel-events-description {
    color: #c9c8c6;
    padding: 0 13px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s linear 0s;
       -moz-transition: all 0.5s linear 0s;
        -ms-transition: all 0.5s linear 0s;
         -o-transition: all 0.5s linear 0s;
            transition: all 0.5s linear 0s;
    z-index: 2;
    max-height: 0;
    overflow: hidden;
}
.cs-carousel-events-body .cs-carousel-events-description p {
    padding-top: 13px;
}
.cs-carousel-events-container:hover .cs-carousel-events-body .cs-carousel-events-description {
    max-height: 1000px;
}
.cs-carousel-events-container:hover .cs-carousel-events-body .cs-event-title .cs-carousel-event-title {
    border-bottom: 1px solid #fff;
}
.cs-carousel-events-body .cs-carousel-events-description .cs-carousel-events-read-more {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 13px;
}
.cs-carousel-events .cs-nav {
    margin-bottom: 20px;
}
.cs-read-more .btn.btn-default {
    padding: 10px 14px !important;
}
.cs-carousel-event-style1 .cs-nav {
    text-align: center;
    padding: 10px 0 0;
}
.cs-carousel-event-style2 .cs-title {
    font-size: 36px;
    margin: 0 0 10px;
}
.cs-carousel-event-style2 .cs-title span {
    border-top: 5px solid #fff;
    color: #fff;
    padding: 10px 0 0;
}
.cs-carousel-event-style2 .cs-subtitle {
    font-size: 30px;
}
.cs-carousel-event-style2 .cs-content {
    background: rgba(255, 255, 255, 0.4);
}
.cs-carousel-event-style2 .cs-header {
    position: relative;
    margin: 0 0 25px;
}
.cs-carousel-event-style2 .cs-nav {
    position: absolute;
    right: 0;
    bottom: 0;
}
.cs-carousel-event-style2 .cs-content .cs-carousel-list {
    overflow: hidden;
}
.cs-carousel-event-style2 .cs-content .cs-carousel-item-wrap .cs-carousel-item {
    margin: 25px -1px 25px 0 !important;
    padding: 0 25px;
    border-right: 1px solid #fff;
}
.cs-carousel-event-style2 .cs-event-date .cs-day {
    font-size: 72px;
    color: #fff;
    display: block;
    line-height: 1;
}
.cs-carousel-event-style2 .cs-event-date .cs-month {
    font-size: 33px;
    color: #fff;
    display: block;
    line-height: 1;
}
.cs-carousel-event-style2 .cs-carousel-header {
    overflow: hidden;
}
.cs-carousel-event-style2 .cs-carousel-header .cs-event-date {
    float: left;
    height: 110px;
    margin: 0 10px 0 0;
    width: 100px;  
    text-align: center; 
}
.cs-carousel-event-style2 .cs-carousel-header .cs-month {
    text-transform: uppercase;
}
.cs-carousel-event-style2 .cs-carousel-title a {
    font-size: 18px;
}
.cs-carousel-event-style2 .cs-event-meta .cs-event-time i {
    font-size: 18px;
    padding-right: 14px;
}
.cs-carousel-event-style2 .cs-carousel-post-description {
    line-height: 18px;
    margin: 12px 0 0;
}
.cs-carousel-event-style2 .btn-event {
    color: #fff !important;
    font-family: inherit !important;
    font-size: 17px;
    line-height: 24px;
    padding: 10px 14px;
}
.cs-carousel-event-style2 .btn-event i {
    padding-left: 10px;
}
/* ==========================================================================
   End carousel events
========================================================================== */

/* ==========================================================================
   Start Latest Event Slider
========================================================================== */
.cs-latestEvents .cs-eventHeader,
.cs-transformEvents .cs-eventHeader {
    text-align: center;
    padding: 0 17px 17px 17px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}

.cs-latestEvents .cs-eventHeader:before,
.cs-transformEvents .cs-eventHeader:before {
    content: "";
    height: 32px;
    left: 1px;
    position: absolute;
    top: -14px;
    width: 51%;
    z-index: 10;
    -webkit-transform: rotate(-8deg);
       -moz-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
         -o-transform: rotate(-8deg);
            transform: rotate(-8deg);
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.cs-latestEvents .cs-eventHeader:after,
.cs-transformEvents .cs-eventHeader:after {
    content: "";
    height: 32px;
    right: 1px;
    position: absolute;
    top: -14px;
    width: 51%;
    z-index: 10;
    -webkit-transform: rotate(8deg);
       -moz-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
         -o-transform: rotate(8deg);
            transform: rotate(8deg);
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}

.cs-latestEvents .cs-eventHeader h3.css-eventTitle,
.cs-transformEvents .cs-eventHeader h3.css-eventTitle {
    color: #fff;
    font-size: 16px;
    font-family: 'semibold';
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0 0 5px;
    position: relative;
    z-index: 12;
    top: -8px;
}
.cs-latestEvents .cs-eventHeader .css-eventDes,
.cs-transformEvents .cs-eventHeader .css-eventDes {
    line-height: 20px;
    margin-top: -8px;
    position: relative;
    z-index: 12;
    color: #fff;
}
.cs-latestEvents .cs-eventBody {
    background: #222;
    padding: 17px;
}
.cs-latestEvents .cs-eventBody .cs-eventList {
    padding: 0;
    margin: 0;
}
.cs-latestEvents .cs-eventBody .cs-eventList li {
    margin-bottom: 9px;
    padding-bottom: 9px;
    border-bottom: 1px solid #4e4e4e;
}
.cs-latestEvents .cs-eventBody .cs-eventList li:last-child {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.cs-latestEvents .cs-eventBody .cs-eventImg span {
    display: block;
    border: 1px solid #fff;
}
.cs-latestEvents .cs-eventBody .cs-eventImg img {
    border: 1px solid #222;
    max-width: 89px;
    height: 60px;
}
.cs-latestEvents .cs-eventBody .cs-eventContent {
    padding-left: 9px;
}
.cs-latestEvents .cs-eventBody .cs-eventContent > h3 {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 20px;
    margin: 0 0 5px;
}
.cs-latestEvents .cs-eventBody .cs-eventContent > h3 a {
    color: #fff;
}
.cs-latestEvents .cs-eventBody .cs-eventContent p {
    color: #c4c4c4;
    line-height: 17px;
    margin: 0;
}
/* ==========================================================================
   End Latest Event Slider
========================================================================== */

/* ==========================================================================
   Start Shop
========================================================================== */
.cs-shopcarousel-style-1-shop .cs-title{
    margin-bottom: 25px!important;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item-wrap{
    position: relative;
    overflow: hidden;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item-wrap:hover{}
.cs-shopcarousel-style-1-shop .star-rating{
    display: none!important;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item{}
.cs-shopcarousel-style-1-shop .woo-info{
    margin-top: 60px;
}
.cs-shopcarousel-style-1-shop .woo-info .price{
    color: #2d2c2c!important;
    font-size: 13px!important;
}

/* show category */
.shop-category .cs-carousel-item-wrap:hover,
.cs-shop-hover .cs-carousel-item-wrap:hover{}
.woo-title-price{
    background: #fff;
    padding: 10px 15px;
    text-align: center;
    position: relative;
}
.cs-shopcarousel-style-1-shop .woo-image img{
    width: 100%;
    height: auto;
    display: block;
}

.cs-shopcarousel-style-1-shop .add_to_cart_button{
    margin-left: -80px;
    position: absolute;
    background-color: #000;
    text-indent: -9999px;
    top: -50px;
    padding: 0;
    border: none;
    left: 10px;
    width: 40px;
    height: 40px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button:before {
    content:"\f07a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0;
    text-align: center;
    color: #fff;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item-wrap:hover .add_to_cart_button{
    opacity: 1;
    margin-left: 0;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button span {
    position: absolute;
    top: 0;
    left: 42px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #000;
    padding: 0 10px;
    text-indent: 0;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button:hover span {
    opacity: 1;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button.added:before {
    content: "\e017";
    font-family: WooCommerce;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0;
    text-align: center;
    color: #fff;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button.loading:before{
    display: none;
}
.cs-shopcarousel-style-1-shop .add_to_cart_button.loading{
    background: #000 url(../images/ajax-loader.gif) center no-repeat!important;
}

/* view detail */
.cs-shopcarousel-style-1-shop .view-detail{
    margin-right: -80px;
    position: absolute;
    background-color: #000;
    text-indent: -9999px;
    top: -50px;
    padding: 0;
    border: none;
    right: 10px;
    width: 40px;
    height: 40px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cs-shopcarousel-style-1-shop .view-detail:before {
    content: "\f067";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0;
    text-align: center;
    color: #fff;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item-wrap:hover .view-detail{
    opacity: 1;
    margin-right: 0;
}
.cs-shopcarousel-style-1-shop .view-detail span {
    position: absolute;
    top: 0;
    right: 42px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #000;
    padding: 0 10px;
    text-indent: 0;
    white-space: nowrap;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}
.cs-shopcarousel-style-1-shop .view-detail:hover span {
    opacity: 1;
}
/* added to cart */
.cs-shopcarousel-style-1-shop .added_to_cart {
    margin-top: -80px;
    position: absolute;
    background-color: #000;
    color: #fff;
    text-indent: -9999px;
    padding: 0!important;
    border: none;
    top: -100px;
    left: 0px;
    width: 40px;
    height: 40px;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.cs-shopcarousel-style-1-shop .wc-forward:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-indent: 0;
    text-align: center;
    margin: 0;
    color: #fff;
    content: "\f178";
    font-family: FontAwesome;
}
.cs-shopcarousel-style-1-shop .cs-carousel-item-wrap:hover .added_to_cart{
    opacity: 1;
    margin-top: 0;
}
.cs-shopcarousel-style-1-shop .cs-content-related-items {
    position: relative;
}

/* ==========================================================================
   End Shop
========================================================================== */
/* ==========================================================================
   Start Single Images VC
========================================================================== */
.wpb_single_image .wpb_singleimage_heading {
    color: #888888;
    font-family: OpenSans-Light !important;
    font-size: 18px;
    letter-spacing: 0;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
}
.wpb_single_image .wpb_single_image-header {
    position: relative;
}
.wpb_single_image .wpb_single_image-header a {
    background: #fff;
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    opacity: 0;
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
    -webkit-transform: translate(0px, -50%);
       -moz-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
         -o-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
            border-radius: 100%;
}
.wpb_single_image:hover .wpb_single_image-header a {
    opacity: 1;
}
.wpb_single_image .wpb_single_image-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    content: "";
    -webkit-transition: all 300ms linear 0ms;
       -moz-transition: all 300ms linear 0ms;
         -o-transition: all 300ms linear 0ms;
        -ms-transition: all 300ms linear 0ms;
            transition: all 300ms linear 0ms;
}
.wpb_single_image .wpb_single_image-header img {
    width: 100%;
}