{include $element->common('header')}

<div id="{$htmlId}" class="{$htmlClass}">

	<iframe height="{if $el->option(size) == 'small'}116{else}166{/if}" src="https://w.soundcloud.com/player/?url={$el->option(url)}&amp;color={!= str_replace('#', '', $el->option(color))}&amp;auto_play={if $el->option(autoplay)}true{else}false{/if}&amp;show_artwork={if $el->option(showArtwork)}true{else}false{/if}"></iframe>

</div>

{includePart "ait-theme/elements/soundcloud/javascript"}