@include: common.neon

url:
	label: Link
	type: url
	default: ''
	help: "URL of song used in player, use valid URL format with http://"
	
size:
	label: Size
	type: select
	default:
		large: Large
		small: Small
	help: "Select size of player"

showArtwork:
	label: Artwork
	type: on-off
	default: true
	help: "Display artwork in player"

autoplay:
	label: Autoplay
	type: on-off
	default: true
	help: "Use autoplay on page load"

- section(title: 'Player Colors and Layout', advanced: true)

color:
	label: Color
	type: color
	default: ''
	help: "Decorative color of player"


