/*-------------------------------------------------------------------------- */
/* Common
/*-------------------------------------------------------------------------- */
#air-wrap a:active { outline: none; }
.air-clear { clear: both; } 
.form-table th, .form-wrap label { color: #777; }
.form-table th { width: 150px; }
.button-secondary { margin-left: 6px; }
textarea, input { padding-top: 4px; padding-bottom: 4px; }
label { cursor: auto; }

.air-text { color: #777; line-height: 1.5em; }
.air-text h3 { font-size: 14px; color: #444; font-weight: bold; border-bottom: 1px solid #eee; padding-bottom: 6px; margin-bottom: 10px; margin-top: 20px; }
.air-text small { color: #aaa; }

#air-save-notice { background: #21759b url(img/button-grad.png) repeat-x top; float: left; margin: 4px 5px; padding: 3px 8px; font-weight: bold; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.3); -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
#air-save-notice p { background: url(img/save-success.png) no-repeat 0 2px; margin: 0; padding-left: 18px; }

.air-image-placeholder {  }
.air-image-placeholder img { background: #eee; padding: 10px; margin-top: 20px; border: 2px dashed #ccc; max-height: 60px; max-width: 426px; }
input.air-image-button { margin-left: 3px!important; }


/*-------------------------------------------------------------------------- */
/* Wrapper
/*-------------------------------------------------------------------------- */
#air-wrap { width: 827px; margin-top: 20px; font-family: Arial; font-size: 12px; line-height: 1.5em; border-radius: 10px; box-shadow: 3px 3px 5px rgba(0,0,0,0.05); }
#air-wrap a { text-decoration: none; }
#air-wrap input[type="text"],
#air-wrap textarea,
#air-wrap select,
#air-wrap strong { color: #555;  background: #f4f4f4; -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05); box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);  }


/*-------------------------------------------------------------------------- */
/* Header
/*-------------------------------------------------------------------------- */
#air-header { background: #ccc url(img/air-header.png) repeat-x top; color: #777; text-shadow: 0 1px 0 rgba(255,255,255,0.5); height: 60px; position: relative; border-bottom: 1px solid #175d7f;
border-top: 1px solid #b5b5b5; border-bottom: 1px solid #999; border-left: 1px solid #bbb; border-right: 1px solid #bbb;
-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }

#air-header ul { position: absolute; top: 0; right: 0; left: 0; margin: 0; padding: 17px 22px; }
#air-header ul li { float: left; margin: 0; line-height: 22px; }
#air-header ul li#air-theme-version { color: #666; line-height: 26px; font-weight: normal; font-size: 24px; letter-spacing: -0.3px; margin-right: 16px; }
#air-header ul li#air-theme-version { font-weight: bold; }
#air-header ul li#air-theme-version span { font-weight: normal; color: #888; }
#air-header ul li#air-air-version { float: right; line-height: 24px; background: url(img/air-version.png) repeat-x top; padding: 0 12px;
border-top: 1px solid #b8b8b8; border-bottom: 1px solid #7a7a7a; border-left: 1px solid #a2a2a2; border-right: 1px solid #a2a2a2;
-moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px;
-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,0.9), 0 1px 0 rgba(255,255,255,0.4);
-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.9), 0 1px 0 rgba(255,255,255,0.4);
box-shadow: inset 0 1px 1px rgba(255,255,255,0.9), 0 1px 0 rgba(255,255,255,0.4); }
#air-header ul li#logo { float: right; margin-right: 14px; }
#air-header ul li#logo a#wpbandit-logo { background: url(img/wpbandit-logo.png) no-repeat 0 0; width: 51px; height: 25px; display: block; margin-top: 1px; overflow: hidden; text-indent: -999px; }


/*-------------------------------------------------------------------------- */
/* Sidebar
/*-------------------------------------------------------------------------- */
#air-sidebar { background: #f1f1f1; width: 145px; float: left; position: relative; z-index: 9; }

ul#air-menu { font-family: Arial; font-weight: bold; text-shadow: 0 1px 0 #fff; margin: 0; }
ul#air-menu li { list-style: none; margin: 0; }
ul#air-menu li a { display: block; font-size: 13px; line-height: 16px; padding: 8px 8px; border-top: 1px solid #f9f9f9; border-bottom: 1px solid #dfdfdf; border-right: 1px solid #d8d8d8; position: relative; }
ul#air-menu li a:hover { background: #e4e4e4; } 
ul#air-menu li.current a { color: #fff; text-shadow: 0 -1px 0 #333; border-bottom-color: #6d6d6d; border-top-color: #808080; border-right-color: #555; margin-left: -1px; padding-left: 9px;
background-color: #777; /* Fallback */
background-image: -ms-linear-gradient(bottom, #6d6d6d, #808080); /* IE10 */
background-image: -moz-linear-gradient(bottom, #6d6d6d, #808080); /* Firefox */
background-image: -o-linear-gradient(bottom, #6d6d6d, #808080); /* Opera */
background-image: -webkit-gradient(linear, left bottom, left top, from(#6d6d6d), to(#808080)); /* old Webkit */
background-image: -webkit-linear-gradient(bottom, #6d6d6d, #808080); /* new Webkit */
background-image: linear-gradient(bottom, #6d6d6d, #808080); /* proposed W3C Markup */ }
ul#air-menu li.current a span { position: absolute; right: 0; top: 0; }
ul#air-menu li.current a span,
ul#air-menu li.current a span i.air-arrow {
background-color: #777; /* Fallback */
background-image: -ms-linear-gradient(right bottom, #6d6d6d, #808080); /* IE10 */
background-image: -moz-linear-gradient(right bottom, #6d6d6d, #808080); /* Firefox */
background-image: -o-linear-gradient(right bottom, #6d6d6d, #808080); /* Opera */
background-image: -webkit-gradient(linear, right bottom, left top, from(#6d6d6d), to(#808080)); /* old Webkit */
background-image: -webkit-linear-gradient(right bottom, #6d6d6d, #808080); /* new Webkit */
background-image: linear-gradient(right bottom, #6d6d6d, #808080); /* proposed W3C Markup */ }
ul#air-menu li.current a span i.air-arrow { position: absolute; top: 7px; left: -7px; width: 17px; height: 17px; display: block;
-moz-transform:    matrix( -0.6, 1, 0.6, 1, 0, 0 );
-webkit-transform: matrix( -0.6, 1, 0.6, 1, 0, 0 );
-o-transform:      matrix( -0.6, 1, 0.6, 1, 0, 0 );
-ms-transform:     matrix( -0.6, 1, 0.6, 1, 0, 0 );
transform:         matrix( -0.6, 1, 0.6, 1, 0, 0 ); }

/* top & default icons */
i.air-icon { background: url(img/air-icons.png) no-repeat 0 0; width: 16px; height: 16px; float: left; margin-right: 6px; }
i.air-icon.air-icon-changelog { background-position: 0 -16px; }
i.air-icon.air-icon-forums { background-position: 0 -32px; }
i.air-icon.air-icon-themes { background-position: 0 -48px; }

/* sidebar icons : options */
i.air-icon.air-icon-general { background-position: 0 -64px; }
i.air-icon.air-icon-blog { background-position: 0 -80px; }
i.air-icon.air-icon-seo { background-position: 0 -96px; }
i.air-icon.air-icon-header { background-position: 0 -112px; }
i.air-icon.air-icon-footer { background-position: 0 -128px; }
i.air-icon.air-icon-sidebar { background-position: 0 -144px; }
i.air-icon.air-icon-styling { background-position: 0 -160px; }
i.air-icon.air-icon-typography { background-position: 0 -176px; }
i.air-icon.air-icon-help { background-position: 0 -192px; }
i.air-icon.air-icon-javascript { background-position: 0 -208px; }

/* sidebar icons : modules */
i.air-icon.air-icon-social { background-position: 0 -240px; }
i.air-icon.air-icon-login { background-position: 0 -256px; }
i.air-icon.air-icon-maintenance { background-position: 0 -272px; }
i.air-icon.air-icon-portfolio{ background-position: 0 -288px; }


/*-------------------------------------------------------------------------- */
/* Subheader
/*-------------------------------------------------------------------------- */
#air-subheader { background: #eaf2fa; text-shadow: 0 1px 0 #fff; height: 32px; border-top: 1px solid #d5e0ec; border-bottom: 1px solid #d5e0ec; }

ul#air-headmenu { float: right; font-size: 12px; font-weight: bold; margin: 0; }
ul#air-headmenu li { list-style: none; float: left; margin: 0; }
ul#air-headmenu li a { color: #21759b; display: block; line-height: 16px; padding: 8px 12px; border-left: 1px solid #d5e0ec; 
-moz-box-shadow: inset 1px 0 0 #fff; -webkit-box-shadow: inset 1px 0 0 #fff; box-shadow: inset 1px 0 0 #fff; }
ul#air-headmenu li a:hover { color: #21759b; text-decoration: underline; } 
ul#air-headmenu li.current a { background: #fff; border-bottom: 1px solid #fff; }


/*-------------------------------------------------------------------------- */
/* Main
/*-------------------------------------------------------------------------- */
#air-content { background: url(img/air-sidebar.png) repeat-y 0 0; border-left: 1px solid #d8d8d8; border-right: 1px solid #d8d8d8; border-bottom: 1px solid #d8d8d8; 
-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px; }

#air-main { width: 680px; float: left; min-height: 500px; padding-bottom: 60px; position: relative; z-index: 8;
-moz-border-radius: 0 0 4px 0; -webkit-border-radius: 0 0 4px 0; border-radius: 0 0 4px 0;}
#air-main-inner { padding: 0 20px 40px 20px; }
#air-main-inner pre { padding: 10px 0; white-space: pre-wrap; word-wrap: break-word; overflow-x: auto; overflow-y: hidden; }  

.air-module { padding-top: 20px; }
.air-submit { padding: 0; margin: 6px 0; }


/*-------------------------------------------------------------------------- */
/* Fields
/*-------------------------------------------------------------------------- */
input.air-error { border: 1px solid red; }
input.aligncenter { text-align: center; }
.air-halign-radio { margin-right: 15px }
.air-colorpicker { background: url(img/colorpicker/select.png); float: left; position: relative; margin-top: -5px; margin-right: 10px; width: 36px; height: 36px; }
.air-colorpicker div { background: url(img/colorpicker/select.png) center; position: absolute; top: 3px; left: 3px; width: 30px; height: 30px; }
.colorpicker input { line-height: 10px; top:5px }


/*-------------------------------------------------------------------------- */
/* Modules : Common
/*-------------------------------------------------------------------------- */

/* box */
.air-box { background: #f4f4f4; border: 1px solid #dfdfdf; float: left; width: 308px;
-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
-moz-box-shadow: inset 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff;  }
.air-box-head h3 { font-size: 12px; padding: 8px 10px; border-bottom: 1px solid #dfdfdf; margin: 0; }
.air-box-inner { padding: 10px; }
.air-box label { display: block; width: 100%; }
.air-box input[type="text"],
.air-box select,
.air-box textarea { background: #fff!important; }

/* table */
.empty-message { border: 1px solid #dfdfdf; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; } 
.empty-message p { padding: 0 10px; text-align: center; color: #999; }
.air-table { width: 100%; border: 1px solid #dfdfdf; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.air-table thead th { color: #444; padding: 8px 0; text-align: left; border-bottom: 1px solid #dfdfdf; }
.air-table tr { padding: 10px 0; }
.air-table td { border-bottom: 1px solid #eee; padding: 15px 0; vertical-align: top; }
.air-table a.air-link-move,
.air-table a.air-link-delete { width: 28px; height: 28px; float: left; display: block; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.air-table a.air-link-move:hover,
.air-table a.air-link-delete:hover { background: #eee; }
.air-table a.air-link-move img,
.air-table a.air-link-delete img{ margin: 8px; }
.air-table .new-window { margin-top: 10px; }

.air-table tfoot td { border-bottom: 0; padding: 10px; }
.air-table tfoot input { margin-left: 10px; }
.air-table tfoot p { margin: 0; }

/* credit text */
.air-credit { font-size: 11px; color: #aaa; margin: 0; }
.air-credit a { color: #aaa; text-decoration: underline!important; }
.air-credit a:hover { text-decoration: none!important; }


/*-------------------------------------------------------------------------- */
/* Footer
/*-------------------------------------------------------------------------- */
#air-footer { background: #fff url(img/air-footer.png) repeat-y right; width: 652px; padding: 10px 14px; border-top: 1px solid #f1f1f1; position: absolute; bottom: 0; 
-moz-border-radius: 0 0 10px 0; -webkit-border-radius: 0 0 10px 0; border-radius: 0 0 10px 0; }
#air-footer p { float: right; }


/*-------------------------------------------------------------------------- */
/* Browser Gradients
/*-------------------------------------------------------------------------- */
.air-box-head,
.air-table thead { background-color: #f1f1f1; text-shadow: 0 1px 0 #fff;
background-image:-ms-linear-gradient(top,#f9f9f9,#ececec);
background-image:-moz-linear-gradient(top,#f9f9f9,#ececec);
background-image:-o-linear-gradient(top,#f9f9f9,#ececec);
background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
background-image:-webkit-linear-gradient(top,#f9f9f9,#ececec);
background-image:linear-gradient(top,#f9f9f9,#ececec);
-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff; -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff; box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
