@include: common.neon

address:
	label: Email Address
	type: text
	default: ""
	basic: true
	help: "Email address of recipient"

sender:
	label: Sender Email Address
	type: text
	default: ""
	basic: true
	help: "Email address of sender. Some hostings accept only something@yourdomain.com. Contact your provider for more information."

subject:
	label: Email Subject
	type: text
	default: ""
	basic: true
	help: "Subject of received email"

content:
	label: Email Content
	type: textarea
	default: ""
	basic: true
	help: "Content of received email. Use Name attribute to get value of input, example: {name}"

msgsuccess:
	label: Success Message
	type: text
	default: "The form was successfuly sent!"
	basic: true
	help: "Message displayed when form is sent successfully"

msgerror:
	label: Error Message
	type: text
	default: "There was an error sending the form, try again later or contact your system administrator."
	basic: true
	help: "Message displayed when form sending failed"

msgwarning:
	label: Warning Message
	type: text
	default: "The validation of the form was not successful!"
	basic: true
	help: "Message displayed when validation is not successful"

- section(title: 'Form Inputs')

captchaInclude:
	label: Captcha
	type: on-off
	default: on
	basic: true
	help: "Use Captcha feature"

captchaLabel:
	label: Captcha Label
	type: text
	default: ""
	basic: true
	help: "Label for Captcha input"

captchaText:
	label: Captcha Text
	type: text
	default: ""
	basic: true
	help: "Text displayed beside Captcha input"

resetButtonDisplay:
	label: Reset Button
	type: on-off
	default: off
	basic: true
	help: "Display reset button in form"

escapeFormInputs:
	label: Escape Form Inputs
	type: on-off
	default: off
	basic: true
	help: "Turn on/off characters escaping of form inputs"

inputs:
	label: Form Inputs
	type: clone
	max: 100
	basic: true
	help: ''
	items:
		label:
			label: Label
			type: text
			help: "Text displayed as label for input. To hide label leave this input empty."
			default: ''
		name:
			label: Name
			type: code
			default: ''
			help: "Name of input, used for email content"
		type:
			label: Input Type
			type: select
			default:
				checkbox-horizontal: Checkbox Horizontal
				checkbox-vertical: Checkbox Vertical
				date: Date
				email: Email
				hidden: Hidden
				#password: Password
				radio-horizontal: Radio Horizontal
				radio-vertical: Radio Vertical
				#search: Search
				select: Select
				text: Text
				textarea: Textarea
				url: URL
				#file: File
			help: "Select type of input"
		value:
			label: Value
			type: text
			default: ''
			help: "Text displayed in input for text input types. For types with more values use semi-colon delimiter. Example: select value 1;select value 2;select value 3"

		placeholder:
			label: Placeholder
			type: text
			default: ''
			help: "Text displayed as placeholder while input is empty"

		size:
			label: Size
			type: select
			selected: full
			default:
				full: "Full Size"
				halfone: "Half Size - one per row"
				halftwo: "Half Size"
			help: "Select size of input"

		required:
			label: Required
			type: select
			selected: false
			default:
				true: "Yes"
				false: "No"
			help: "Select if the field is required"
	default: []

- section(title: 'Contact Form Layout', advanced: true)

labelWidth:
	label: Label Width
	type: number
	unit: px
	default: ""
	help: "Custom width of form labels"
