/**

	This file contains all styling definitions for the white template layout.
	If you add a value in this file, it will be changed for the color only. For global changes open style.css in the parent folder.
	
	dont't forget that the images are now two parent folders higher. (../../images)

**/


a, a:visited, a:active {
    color: #0099cc;
}

a:hover {
    
}

/* BUTTON COLORS */


.subscribeform .submit, .payment_container .submit {
	background: url(../../images/colors/white/button.png) no-repeat 0 0;
	color: #7c7c7c;
	text-shadow: 0px 1px 0px #ffffff;	
}

.subscribeform .submit:hover, .payment_container .submit:hover {
	background-position: -132px 0;	
}

.form-submit #submit, .post-comment-form #submit, .contact_container #submit {
	background: #999999;
	color: #fff;
}
.form-submit #submit:hover, .post-comment-form #submit:hover, .contact_container #submit:hover {
	background: #666666;
	color: #fff;
}

.blog_row .readmore {
	background: #999999;
	color: #fff;
}
.blog_row .readmore:hover {
	background: #666666;
	color: #fff;
}

/* SCROLLBARS */

#event_scrollbar .thumb { 
	background: url(../../images/colors/white/scroll.png); 
}


#event_scrollbar .thumb:hover { 
	background: url(../../images/colors/white/scroll.png) -17px 0; 
}

#post_scrollbar .thumb {
	background: url(../../images/colors/white/scroll.png); 
}


#post_scrollbar .thumb:hover { 
	background: url(../../images/colors/white/scroll.png) -17px 0; 
}

#static_main_scrollbar .thumb {
	background: url(../../images/colors/white/scroll.png); 
}


#static_main_scrollbar .thumb:hover { 
	background: url(../../images/colors/white/scroll.png) -17px 0; 
}
