.mk-page-section .mk-header {
	position: absolute;
	left:0;
	bottom:0;
}

/* resets header banner background in this shortcode */
.js-header-shortcode {
	background: transparent !important;
}


/* Fixes a bug that pushes header to out of page section */
.mk-page-section .js-header-shortcode .mk-header-holder{
	position: relative !important;
}