.color-azure .required,
.color-azure a:hover, 
.color-azure header p.title a:hover,
.color-azure .directory h2 a:hover {color: #15bad3;}
.color-azure header>section.top nav>ul>li.current-menu-item>a, 
.color-azure header>section.top nav>ul>li.current-menu-item:hover>a,
.color-azure header>section.top nav>ul>li.current-menu-ancestor>a,
.color-azure header>section.top nav>ul>li.current-menu-ancestor:hover>a {background: #15bad3; color: #fff;}
.color-azure header .top ul ul a {color: #3f3f3f;}
.color-azure .main-header a {color: #3f3f3f;}
.color-azure blockquote {border-left-color: #15bad3;}
.color-azure nav.mainmenu>ul>li:hover>a {color: #15bad3;}
.color-azure nav.mainmenu>ul>li.current-menu-item>a {color: #15bad3;}
.color-azure.t03 h2.underline, .color-azure h2 span, .color-azure h2:first-child span, .color-azure h2.underline span, .color-azure h3 span, .color-azure.t03 .widget h3 {border-color: #15bad3;}
.color-azure .more a:hover {color: #15bad3;}
.color-azure h2.alt span {border-bottom: 2px solid #15bad3;}
.color-azure .dc-alt {color: #15bad3;}
.color-azure ul.tabs a.selected {border: 1px solid #15bad3; border-bottom: 3px solid #129eb4; background: #15bad3; color: #fff;}
.color-azure a:hover .circle {border-color: #129eb4; background: #15bad3; color: #fff;}
.color-azure .wp-pagenavi span.current {color: #15bad3;}
.color-azure .wp-pagenavi a:hover {color: #15bad3;}
.color-azure ul.accordion li>a:before {color: #15bad3;}
.color-azure .content-slider article h3 a:hover {color: #15bad3;}
.color-azure ul.hp-services li h3 a:hover {color: #15bad3;}
.color-azure .hp-recent-work article h3 a:hover {color: #15bad3;}
.color-azure .filters ul a:hover {color: #15bad3;}
.color-azure .filters ul a.selected {background: #15bad3; color: #fff;}
.color-azure .portfolio article h3 a:hover {color: #15bad3;}
.color-azure .project p.copyright a:hover {color: #15bad3;}
.color-azure .project dl {border-left: 2px solid #15bad3;}
.color-azure .project-nav a:hover {color: #15bad3;}
.color-azure .postlist article h2 a:hover {color: #15bad3;}
.color-azure .post-meta a:hover, .tags a:hover {color: #15bad3;}
.color-azure .post-author h3 a:hover {color: #15bad3;}
.color-azure .comment-author a:hover {color: #15bad3;}
.color-azure .popular-objects a:hover {color: #15bad3;}
.color-azure .events .rss-link a:hover {color: #15bad3;}
.color-azure .events-head a:hover {color: #15bad3;}
.color-azure .calendar td a.day:hover {color: #15bad3;}
.color-azure .sidebar a:hover {color: #15bad3;}
.color-azure p.progress>span.fill {background: #15bad3;}
.color-azure .tooltip-dark {position: relative; background: #15bad3; color: #fff;}
.color-azure table.alt th {border-bottom: 3px solid #129eb4; background: #15bad3; color: #fff;}
.color-azure .pricing-plan:hover {border-top: 2px solid #15bad3;}
.color-azure .pricing-plan:hover p.price strong {color: #15bad3;}
.color-azure .pricing-plan:hover h2 {color: #15bad3;}
.color-azure table.pricing tr.action td:first-child a:hover {color: #15bad3;}
.color-azure .why-us ul li {background-image: url("../../images/tick-azure.png");}
.color-azure ul.tick li {background: url("../../images/tick-azure.png") 0 0 no-repeat;}
.color-azure footer {padding: 25px 0 0; color: #aeaeae;}
.color-azure footer a {color: #ebebeb;}
.color-azure footer a:hover {color: #aeaeae;}
.color-azure p.more a {color: #3f3f3f;}
.color-azure p.more a:hover {color: #15bad3;}
@media (max-width: 980px) {
	.color-azure footer {margin: 0 -20px; padding: 25px 20px 0;}
}


.color-azure button[type="submit"], .color-azure input[type="submit"], .color-azure a.button, .color-azure .pricing-plan a.button, .color-azure table.pricing a.button, .color-azure .directory .searchform button {border-color: #0fabc8; border-top-color: #28b2c2; background: #2dcbde;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkY2JkZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZmFiYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #2dcbde 0%, #0fabc8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2dcbde), color-stop(100%,#0fabc8));
background: -webkit-linear-gradient(top,  #2dcbde 0%,#0fabc8 100%);
background: -o-linear-gradient(top,  #2dcbde 0%,#0fabc8 100%);
background: -ms-linear-gradient(top,  #2dcbde 0%,#0fabc8 100%);
background: linear-gradient(to bottom,  #2dcbde 0%,#0fabc8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dcbde', endColorstr='#0fabc8',GradientType=0 );
color: #fff; text-shadow: 0 -1px 0 #1c9dae;}
.color-azure button[type="submit"]:hover, .color-azure input[type="submit"]:hover, .color-azure a.button:hover, .color-azure table.pricing a.button:hover, .color-azure .directory .searchform button:hover {background: #0fabc8;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmYWJjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZGNiZGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #0fabc8 0%, #2dcbde 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0fabc8), color-stop(100%,#2dcbde));
background: -webkit-linear-gradient(top,  #0fabc8 0%,#2dcbde 100%);
background: -o-linear-gradient(top,  #0fabc8 0%,#2dcbde 100%);
background: -ms-linear-gradient(top,  #0fabc8 0%,#2dcbde 100%);
background: linear-gradient(to bottom,  #0fabc8 0%,#2dcbde 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0fabc8', endColorstr='#2dcbde',GradientType=0 );
color: #fff;}

.color-azure .slider-pager a {background-image: url("../../images/paginator-azure.png");}
.color-azure .slider1 article h3 strong {color: #15bad3;}

.color-azure header.h1 nav.mainmenu>ul>li:hover>a {color: #3f3f3f;}
.color-azure header.h1 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h1 nav.mainmenu>ul>li.current-menu-ancestor>a {color: #15bad3;}
.color-azure header.h2 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #15bad3; color: #3f3f3f;}
.color-azure header.h2 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h2 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #15bad3; color: #3f3f3f;}
.color-azure header.h3 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #129eb4; background: #15bad3; color: #fff;}
.color-azure header.h3 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h3 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #129eb4; background: #15bad3; color: #fff;}
.color-azure header.h4 nav.mainmenu>ul>li>a:active {color: #15bad3;}
.color-azure header.h4 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h4 nav.mainmenu>ul>li.current-menu-ancestor>a {background-color: #15bad3; background-image: url("../../images/h4-azure.png");}
.color-azure header.h4 nav.mainmenu>ul>li.current-menu-item.parent,
.color-azure header.h4 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/h4-azure.png");}
.color-azure header.h5 {border-bottom: 2px solid #15bad3;}
.color-azure header.h5 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h5 nav.mainmenu>ul>li.current-menu-ancestor>a, 
.color-azure header.h5 nav.mainmenu>ul>li:hover>a {border-bottom: 1px solid #15bad3; background: #15bad3; color: #fff;}
.color-azure header.h6 {border-bottom: 2px solid #15bad3;}
.color-azure header.h6 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h6 nav.mainmenu>ul>li.current-menu-ancestor>a, 
.color-azure header.h6 nav.mainmenu>ul>li:hover>a {background: #15bad3; color: #fff;}
.color-azure header.h7 nav.mainmenu>ul>li:hover>a,
.color-azure header.h7 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h7 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3; color: #fff;}
.color-azure header.h7 nav.mainmenu>ul>li.parent:hover,
.color-azure header.h7 nav.mainmenu>ul>li.current-menu-item.parent:hover,
.color-azure header.h7 nav.mainmenu>ul>li.current-menu-ancestor:hover {background-image: url("../../images/dropdown-arrow-azure.png");}

.color-azure header.h8 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h8 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3; color: #fff;}
.color-azure header.h8 nav ul ul li a:hover {color: #3f3f3f;}
.color-azure header.h9 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h9 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3; color: #fff;}
.color-azure header.h9 nav ul ul li a:hover {color: #3f3f3f;}
.color-azure header.h10 nav.mainmenu>ul>li:hover>a {border-bottom: 3px solid #15bad3;}
.color-azure header.h10 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h10 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #15bad3; color: #fff;}
.color-azure header.h10 nav ul ul li a:hover {color: #3f3f3f;}
.color-azure header.h11 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h11 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3;}
.color-azure header.h12 nav.mainmenu>ul>li.current-menu-item>a, 
.color-azure header.h12 nav.mainmenu>ul>li.current-menu-ancestor>a {border-bottom: 3px solid #15bad3;}
.color-azure header.h13 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h13 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3;}
.color-azure header.h13 nav.mainmenu>ul>li.current-menu-item.parent:hover,
.color-azure header.h13 nav.mainmenu>ul>li.current-menu-ancestor.parent:hover {background-image: url("../../images/dropdown-arrow-azure.png");}
.color-azure header.h14 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h14 nav.mainmenu>ul>li.current-menu-ancestor>a {background-color: #15bad3; background-image: url("../../images/dropdown-arrow-azure.png");}
.color-azure header.h14 nav.mainmenu>ul>li.current-menu-item.parent,
.color-azure header.h14 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/dropdown-arrow-azure.png");}
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-item>a,
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a {background: #15bad3;}
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-item>a:before,
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-ancestor>a:before {border-color: #15bad3 transparent transparent #15bad3;}
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-item.parent,
.color-azure header.h15 nav.mainmenu>ul>li.current-menu-ancestor.parent {background-image: url("../../images/h4-azure.png");}
.color-azure .landing-form button {border-color: #28b2c2; border-bottom-color: #0d94ad;}

.color-azure .col3 h3 span, 
.color-azure .home .col3 h3 span,
.color-azure .divider.d2 {border-color: #15bad3;}
.color-azure a.go-top {background-color: #15bad3;}
.color-azure h2.t01 span {border-color: #15bad3;}
.color-azure .content > aside h3.t01 span {border-color: #15bad3;}
.color-azure .content > aside h3.t03 {border-color: #15bad3;}
.color-azure h2.t03 {border-color: #15bad3;}
.color-azure footer h3.t03 {border-color: #15bad3;}
.color-azure ul.event-list p.date span:first-child {background-color: #15bad3;}
.color-azure .cat-archive > section > h3:first-child {background-color: #15bad3;}
.color-azure .cat-archive > section > h3:before {border-right-color: #10889a; border-top-color: #10889a;}
.color-azure .slider7 .controls ul .active a:before {background-color: #15bad3;}
.color-azure .content-slider.related article div div, .color-azure .hp-recent-work article div div, .color-azure .portfolio article div div {background: rgba(21,186,211,0.8);}
.color-azure .slider8 .slider-pager a {background-image: url("../../images/paginator.png");}
.color-azure .slider12 .slider-pager a {background-image: url("../../images/paginator-slider12.png");}
.color-azure .latest h3 a:hover {color: #15bad3;}
.color-azure .col4 h3 a:hover, .color-azure .col3 h3 a:hover {color: #15bad3;}
.color-azure .col2 h2 a:hover {color: #15bad3;}
.color-azure .intro h1 strong {color: #15bad3;}
.color-azure .slider5 h2 strong {color: #15bad3;}
.color-azure .cat-archive ul li a:hover {color: #15bad3;}
.color-azure .slider9 .slider-titles a:hover {color: #fff;}
.color-azure .product-list-full ul li h3 a:hover {color: #15bad3;}
.color-azure .pricing-plan:hover p.price strong, .color-azure .pricing-plan.selected p.price strong {color: #15bad3;}
.color-azure .pricing-plan:hover h2, .color-azure .pricing-plan.selected h2 {color: #15bad3;}
.color-azure .pricing-plan.selected {border-top: 2px solid #15bad3;}
.color-azure .sidebar .widget > div > ul.menu li.current-menu-item>a, 
.color-azure .sidebar .widget > div > ul.menu li.current_page_item>a,
.color-azure .sidebar .widget.menu > ul li.current-menu-item > a {background-color: #15bad3;}
.color-azure .404 button {background: #fff url("../../images/search-large.png") no-repeat scroll 50% 50% #FFFFFF;}
.color-azure .post-meta a.comment-link {background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10px" height="11px"><g><g><polygon fill="%2315bad3" points="0,0 0,8 2,8 2,11 3,11 3,10 4,10 4,9 5,9 5,8 10,8 10,0"/></g></g></svg>');}
.color-azure a.btn:hover {color:#fff;}
.color-azure a.btn.light-gray:hover {color:#555;}
.color-azure .e404 button, .color-azure .e404 button:hover, .color-azure .searchform button, .color-azure .searchform button:hover {background: url("../../images/search-large.png") no-repeat scroll 50% 50% #FFFFFF;}
