

/* Second size from responsive.css - start */

	body.large .container_inner,
	body.normal .container_inner,
	body.large .drop_down2 .second,
	body.large .drop_down2 .second .inner2,
	body.normal .drop_down2 .second,
	body.normal .drop_down2 .second .inner2,
	body.small .drop_down2 .second,
	body.small .drop_down2 .second .inner2,
	body.normal .full_width .parallax_content,
	.full_width .parallax_content{
		width: 768px;
	}

	.projects_holder.v4 .mix{
		width: 32%;
		margin: 0 0 2%;
	}

	.projects_holder.v4 .filler{
		width: 31.5%;
	}
	
	.projects_holder.v3 .mix{
		width: 48.9%;
		margin: 0 0 2.2%;
	}

	.projects_holder.v3 .filler {
		width: 48.9%;
	}

	.portfolio_gallery a.v4{
		width: 32%;
		margin: 0px 2% 2% 0px !important;
	}

	.portfolio_gallery a.v4:nth-child(3n){
		margin: 0px 0px 2% 0px !important;
	}

	.posts_holder article .post_text_inner{
		min-height: 155px;
	}

	.blog_holder_list article.mix{
		width: 48.2%;
		margin: 0px 0px 3.5%;
	}

	.price_table.v4{
		width: 49.5%;
		margin: 0px 0.5% 25px 0px;
	}

	.price_table.v4:nth-child(2n){
		margin: 0px 0px 25px 0px;
	}

	.price_table.v3{
		width: 49.75%;
		margin: 0px 0.5% 25px 0px;
	}

	.price_table.v3:nth-child(2n){
		margin: 0px 0px 25px 0px;
	}

	.latest_post_holder ul li.three{
		width: 32.9%;
		padding: 0px 0.4% 0px 0px;
	}

	.latest_post_holder ul li.four,
	.latest_post_holder ul li.five{
		width: 49.5%;
		padding: 0px 0.5% 0px 0px;
	}

	.widget.widget_search form input[type="submit"]{
		padding: 0px;
		font-size: 11px;
	}
	
/* Second size from responsive.css - start */

	.header_right_widget #lang_sel ul > li a.lang_sel_sel, .header_right_widget #lang_sel_click ul > li a.lang_sel_sel{
		display:inline;
		white-space:nowrap;
		padding-right:26px;
	}
	.header_right_widget #lang_sel_list ul > li a{
		display:inline;
		white-space:nowrap;
		padding-right:5px;
	}
	.header_right_widget #lang_sel ul li ul li a{
		padding-right:26px;
	}