@display:
	label: Display
	type: on-off
	default: off
	basic: true
	help: "Display or hide this element on page"

alias:
	label: Revolution Slider Alias
	type: revslider-alias
	basic: true
	help: "Select slider displayed on page"

alternative:
	label: Alternative Image
	type: image
	default: ''
	basic: true
	help: "Image displayed in responsive layout instead of slider"

responsive:
	label: Responsive Resolution
	type: select
	selected: 480
	default:
		1024: 1024px
		980: 980px
		768: 768px
		640: 640px
		480: 480px
		0: Disable
	basic: true
	help: "Breakpoint when alternative image is displayed"