<!-- SLIDER -->
<div id="{$htmlId}" class="{$htmlClass} {$htmlId}">

	<!--<div class="loading"><span class="ait-preloader">{!__ 'Loading&hellip;'}</span></div>-->

	<div class="slider">
		{!$el->renderSlider()}
	</div>
	{if $el->option(alternative) != ''}
	<div class="slider-alternative" style="display: none">
		<img src="{$el->option(alternative)}" alt="alternative" />
	</div>
	{/if}

</div><!-- end of slider -->

{includePart "ait-theme/elements/revolution-slider/javascript"}