@include: common.neon

taxonomy:
	label: Display category
	type: select
	selected: "aititems"
	default:
		"aititems": Item Categories
		"aitlocations": Item Locations

- section(id: taxonomy-aitlocations, title: '')

imageDisplay:
	label: Image Type
	type: select
	default:
		'icon': 'Icon'
		'image1': 'Small Image'
		'image2': 'Large Image'
	selected: 'image1'

- section

orderby:
	label: Order By
	type: select
	selected: name
	default:
		name: Name
		count: Item Count
	help: 'Select order of taxonomies listed on page'

order:
	label: Order
	type: select
	selected: ASC
	default:
		ASC: Ascending
		DESC: Descending
	help: 'Select order of items listed on page'

layout:
	label: Layout
	type: select
	selected: box
	default:
		box: Box
		list: List
		icon: Icon
	help: 'Select layout type of displayed items'

- section(id: layout-box, title: 'Box Layout settings')

boxColumns:
	label: Columns
	type: select
	selected: 3
	default: [1, 2, 3, 4, 5]
	help: "Number of items in one row"

boxDisplayDesc:
	label: Display Description
	type: on-off
	default: on

boxTextRows:
	label: Text Rows
	type: select
	selected: 3
	default:
		none: Unlimited
		1: 1 row
		2: 2 rows
		3: 3 rows
		4: 4 rows
		5: 5 rows
	help: "Number of rows for description text"

boxAlign:
	type: variable
	deafult: align-center
	less: false

boxEnableCarousel:
	label: Carousel
	type: on-off
	default: off
	help: "Enable or disable carousel feature"

boxEnableAutoplay:
	label: Carousel Autoplay
	type: on-off
	default: off
	help: "Enable or disable carousel autoplay feature"

boxEnableFading:
	label: Carousel Fading
	type: on-off
	default: off
	help: "Enable or disable carousel fading feature"

boxRows:
	label: Carousel Rows
	type: select
	selected: 1
	default: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	help: "Number of rows in carousel"

#boxImageHeight:
#	label: Image Format
#	type: select
#	selected: "medium"
#	default:
#		"small" : "Small"
#		"medium" : "Medium"
#		"large" : "Large"
#	help: "Select format for images"


- section(id: layout-list, title: 'List Layout settings')

listColumns:
	label: Columns
	type: select
	selected: 2
	default: [1, 2, 3, 4]
	help: "Number of items in one row"

listDisplayDesc:
	label: Display Description
	type: on-off
	default: on

listTextRows:
	label: Text Rows
	type: select
	selected: 3
	default:
		none: Unlimited
		1: 1 row
		2: 2 rows
		3: 3 rows
		4: 4 rows
		5: 5 rows
	help: "Number of rows for description text"

listEnableCarousel:
	label: Carousel
	type: on-off
	default: off
	help: "Enable or disable carousel feature"

listEnableAutoplay:
	label: Carousel Autoplay
	type: on-off
	default: off
	help: "Enable or disable carousel autoplay feature"

listEnableFading:
	label: Carousel Fading
	type: on-off
	default: off
	help: "Enable or disable carousel fading feature"

listRows:
	label: Carousel Rows
	type: select
	selected: 2
	default: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
	help: "Number of rows in carousel"

#listImageHeight:
#	label: Image Format
#	type: select
#	selected: "small"
#	default:
#		"small" : "Small"
#		"large" : "Large"
#	help: "Select format for images"

- section(id: layout-icon, title: 'Icon Layout settings')

iconBoxWidth:
	label: Icon Box Width
	type: range
	unit: px
	min: 80
	max: 200
	step: 5
	default: 120

iconAlign:
	type: variable
	default: align-center
	less: false

iconEnableCarousel:
	label: Carousel
	type: variable
	default: on
	help: "Enable or disable carousel feature"
	less: false

iconEnableAutoplay:
	label: Carousel Autoplay
	type: variable
	default: off
	help: "Enable or disable carousel autoplay feature"
	less: false

iconEnableFading:
	label: Carousel Fading
	type: variable
	default: off
	help: "Enable or disable carousel fading feature"
	less: false

iconRows:
	label: Carousel Rows
	type: variable
	default: 1
	help: "Number of rows in carousel"
	less: false

#iconImageHeight:
#	label: Image Format
#	type: select
#	selected: "medium"
#	default:
#		"small" : "Small"
#		"large" : "Large"
#	help: "Select format for images"

- section(title: 'Advanced Colors', advanced: true)

imageGrey:
	label: Grey Effect
	type: select
	default:
		"0": "Off"
		"1": "On"
	selected: "0"
	help: "Gray effect on Image type : Image"

imageBorderColor:
	label: Image Border Color
	type: color
	opacity: 100%
	default: ""
	help: "Border color of Image type : Image"

imageBorderColorHover:
	label: Image Border Hover
	type: color
	opacity: 100%
	default: ""
	help: "Border color of Image type : Image on hover"

- section(title: 'Carousel Advanced Settings', advanced: true)

carouselOffset:
	label: Carousel Offset
	type: number
	unit: px
	default: ''
	help: "Space above bottom carousel"
