/**

Core Front-end Styling Page Builder

**/
.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.cf {
	display: block;
}

[class*=aq_span] {
	float: left;
	margin-left: 3%;
}

[class*=span] {
	float: left;
	margin-left: 3%;
}

.aq-template-wrapper .span1 {
	width: 5.58%;
}

.aq-template-wrapper .span2 {
	width: 14.17%;
}

.aq-template-wrapper .span3 {
	width: 22.75%;
}

.aq-template-wrapper .span4 {
	width: 31.33%;
}

.aq-template-wrapper .span5 {
	width: 39.92%;
}

.aq-template-wrapper .span6 {
	width: 48.5%;
}

.aq-template-wrapper .span7 {
	width: 57.08%;
}

.aq-template-wrapper .span8 {
	width: 65.67%;
}

.aq-template-wrapper .span9 {
	width: 74.25%;
}

.aq-template-wrapper .span10 {
	width: 82.83%;
}

.aq-template-wrapper .span11 {
	width: 91.42%;
}

.aq-template-wrapper .span12 {
	width: 100%;
}

.aq-template-wrapper .aq-first {
	margin-left: 0;
}

.aq-template-wrapper .aq_span1 {
	width: 5.58%;
}

.aq-template-wrapper .aq_span2 {
	width: 14.17%;
}

.aq-template-wrapper .aq_span3 {
	width: 22.75%;
}

.aq-template-wrapper .aq_span4 {
	width: 31.33%;
}

.aq-template-wrapper .aq_span5 {
	width: 39.92%;
}

.aq-template-wrapper .aq_span6 {
	width: 48.5%;
}

.aq-template-wrapper .aq_span7 {
	width: 57.08%;
}

.aq-template-wrapper .aq_span8 {
	width: 65.67%;
}

.aq-template-wrapper .aq_span9 {
	width: 74.25%;
}

.aq-template-wrapper .aq_span10 {
	width: 82.83%;
}

.aq-template-wrapper .aq_span11 {
	width: 91.42%;
}

.aq-template-wrapper .aq_span12 {
	width: 100%;
}

.aq-template-wrapper .aq-first {
	margin-left: 0;
}

@media only screen and (min-width: 100px) and (max-width: 720px) {
	.aq-template-wrapper .span1,.aq-template-wrapper .span2,.aq-template-wrapper .span3,.aq-template-wrapper .span4,.aq-template-wrapper .span5,.aq-template-wrapper .span6,.aq-template-wrapper .span7,.aq-template-wrapper .span8,.aq-template-wrapper .span9,.aq-template-wrapper .span10,.aq-template-wrapper .span11,.aq-template-wrapper .span12,.aq-template-wrapper .aq_span1,.aq-template-wrapper .aq_span2,.aq-template-wrapper .aq_span3,.aq-template-wrapper .aq_span4,.aq-template-wrapper .aq_span5,.aq-template-wrapper .aq_span6,.aq-template-wrapper .aq_span7,.aq-template-wrapper .aq_span8,.aq-template-wrapper .aq_span9,.aq-template-wrapper .aq_span10,.aq-template-wrapper .aq_span11,.aq-template-wrapper .aq_span12 {
		width: 96%;
		margin: 0 auto 30px;
		position: relative;
		padding: 0 2%;
	}
	
	[class*=span] {
		float: none;
	}

}

/** Blocks 
-----------------------*/
.aq-block {
}

/* clear block */
.aq-block-aq_clear_block {
	margin-bottom: 0;
}

.aq-block-hr-single {
	margin-bottom: 20px;
}

.aq-block-hr-double {
	margin-bottom: 0;
}

.aq-block-aq_column_block {
	margin-bottom: 0;
}

.aq-template-wrapper .span1 .span1 {
	width: 100%;
}

.aq-template-wrapper .span2 .span1 {
	width: 47.5%;
}

.aq-template-wrapper .span2 .span2 {
	width: 100%;
}

.aq-template-wrapper .span3 .span1 {
	width: 30%;
}

.aq-template-wrapper .span3 .span2 {
	width: 65%;
}

.aq-template-wrapper .span3 .span3 {
	width: 100%;
}

.aq-template-wrapper .span4 .span1 {
	width: 21.25%;
}

.aq-template-wrapper .span4 .span2 {
	width: 47.5%;
}

.aq-template-wrapper .span4 .span3 {
	width: 73.75%;
}

.aq-template-wrapper .span4 .span4 {
	width: 100%;
}

.aq-template-wrapper .span5 .span1 {
	width: 16%;
}

.aq-template-wrapper .span5 .span2 {
	width: 37%;
}

.aq-template-wrapper .span5 .span3 {
	width: 58%;
}

.aq-template-wrapper .span5 .span4 {
	width: 79%;
}

.aq-template-wrapper .span5 .span5 {
	width: 100%;
}

.aq-template-wrapper .span6 .span1 {
	width: 12.5%;
}

.aq-template-wrapper .span6 .span2 {
	width: 30%;
}

.aq-template-wrapper .span6 .span3 {
	width: 47.5%;
}

.aq-template-wrapper .span6 .span4 {
	width: 65%;
}

.aq-template-wrapper .span6 .span5 {
	width: 82.5%;
}

.aq-template-wrapper .span6 .span6 {
	width: 100%;
}

.aq-template-wrapper .span7 .span1 {
	width: 10%;
}

.aq-template-wrapper .span7 .span2 {
	width: 25%;
}

.aq-template-wrapper .span7 .span3 {
	width: 40%;
}

.aq-template-wrapper .span7 .span4 {
	width: 55%;
}

.aq-template-wrapper .span7 .span5 {
	width: 70%;
}

.aq-template-wrapper .span7 .span6 {
	width: 85%;
}

.aq-template-wrapper .span7 .span7 {
	width: 100%;
}

.aq-template-wrapper .span8 .span1 {
	width: 8.13%;
}

.aq-template-wrapper .span8 .span2 {
	width: 21.25%;
}

.aq-template-wrapper .span8 .span3 {
	width: 34.38%;
}

.aq-template-wrapper .span8 .span4 {
	width: 47.5%;
}

.aq-template-wrapper .span8 .span5 {
	width: 60.63%;
}

.aq-template-wrapper .span8 .span6 {
	width: 73.75%;
}

.aq-template-wrapper .span8 .span7 {
	width: 86.88%;
}

.aq-template-wrapper .span8 .span8 {
	width: 100%;
}

.aq-template-wrapper .span9 .span1 {
	width: 6.67%;
}

.aq-template-wrapper .span9 .span2 {
	width: 18.33%;
}

.aq-template-wrapper .span9 .span3 {
	width: 30%;
}

.aq-template-wrapper .span9 .span4 {
	width: 41.67%;
}

.aq-template-wrapper .span9 .span5 {
	width: 53.33%;
}

.aq-template-wrapper .span9 .span6 {
	width: 65%;
}

.aq-template-wrapper .span9 .span7 {
	width: 76.67%;
}

.aq-template-wrapper .span9 .span8 {
	width: 88.33%;
}

.aq-template-wrapper .span9 .span9 {
	width: 100%;
}

.aq-template-wrapper .span10 .span1 {
	width: 5.5%;
}

.aq-template-wrapper .span10 .span2 {
	width: 16%;
}

.aq-template-wrapper .span10 .span3 {
	width: 26.5%;
}

.aq-template-wrapper .span10 .span4 {
	width: 37%;
}

.aq-template-wrapper .span10 .span5 {
	width: 47.5%;
}

.aq-template-wrapper .span10 .span6 {
	width: 58%;
}

.aq-template-wrapper .span10 .span7 {
	width: 68.5%;
}

.aq-template-wrapper .span10 .span8 {
	width: 79%;
}

.aq-template-wrapper .span10 .span9 {
	width: 89.5%;
}

.aq-template-wrapper .span10 .span10 {
	width: 100%;
}

.aq-template-wrapper .span11 .span1 {
	width: 4.55%;
}

.aq-template-wrapper .span11 .span2 {
	width: 14.09%;
}

.aq-template-wrapper .span11 .span3 {
	width: 23.64%;
}

.aq-template-wrapper .span11 .span4 {
	width: 33.18%;
}

.aq-template-wrapper .span11 .span5 {
	width: 42.73%;
}

.aq-template-wrapper .span11 .span6 {
	width: 52.27%;
}

.aq-template-wrapper .span11 .span7 {
	width: 61.82%;
}

.aq-template-wrapper .span11 .span8 {
	width: 71.36%;
}

.aq-template-wrapper .span11 .span9 {
	width: 80.91%;
}

.aq-template-wrapper .span11 .span10 {
	width: 90.45%;
}

.aq-template-wrapper .span11 .span11 {
	width: 100%;
}

.aq-template-wrapper .span12 .span1 {
	width: 3.75%;
}

.aq-template-wrapper .span12 .span2 {
	width: 12.5%;
}

.aq-template-wrapper .span12 .span3 {
	width: 21.25%;
}

.aq-template-wrapper .span12 .span4 {
	width: 30%;
}

.aq-template-wrapper .span12 .span5 {
	width: 38.75%;
}

.aq-template-wrapper .span12 .span6 {
	width: 47.5%;
}

.aq-template-wrapper .span12 .span7 {
	width: 56.25%;
}

.aq-template-wrapper .span12 .span8 {
	width: 65%;
}

.aq-template-wrapper .span12 .span9 {
	width: 73.75%;
}

.aq-template-wrapper .span12 .span10 {
	width: 82.5%;
}

.aq-template-wrapper .span12 .span11 {
	width: 91.25%;
}

.aq-template-wrapper .span12 .span12 {
	width: 100%;
}

/* General 
========================================================================*/
h4.aq-block-title {
	margin: 0 0 20px;
}

/* Column
========================================================================*/
.aq-block-aq_column_block.span1 > .aq-block.span1 {
	width: 100%;
}

.aq-block-aq_column_block.span2 > .aq-block.span1 {
	width: 47.5%;
}

.aq-block-aq_column_block.span2 > .aq-block.span2 {
	width: 100%;
}

.aq-block-aq_column_block.span3 > .aq-block.span1 {
	width: 30%;
}

.aq-block-aq_column_block.span3 > .aq-block.span2 {
	width: 65%;
}

.aq-block-aq_column_block.span3 > .aq-block.span3 {
	width: 100%;
}

.aq-block-aq_column_block.span4 > .aq-block.span1 {
	width: 21.25%;
}

.aq-block-aq_column_block.span4 > .aq-block.span2 {
	width: 47.5%;
}

.aq-block-aq_column_block.span4 > .aq-block.span3 {
	width: 73.75%;
}

.aq-block-aq_column_block.span4 > .aq-block.span4 {
	width: 100%;
}

.aq-block-aq_column_block.span5 > .aq-block.span1 {
	width: 16%;
}

.aq-block-aq_column_block.span5 > .aq-block.span2 {
	width: 37%;
}

.aq-block-aq_column_block.span5 > .aq-block.span3 {
	width: 58%;
}

.aq-block-aq_column_block.span5 > .aq-block.span4 {
	width: 79%;
}

.aq-block-aq_column_block.span5 > .aq-block.span5 {
	width: 100%;
}

.aq-block-aq_column_block.span6 > .aq-block.span1 {
	width: 12.5%;
}

.aq-block-aq_column_block.span6 > .aq-block.span2 {
	width: 30%;
}

.aq-block-aq_column_block.span6 > .aq-block.span3 {
	width: 47.5%;
}

.aq-block-aq_column_block.span6 > .aq-block.span4 {
	width: 65%;
}

.aq-block-aq_column_block.span6 > .aq-block.span5 {
	width: 82.5%;
}

.aq-block-aq_column_block.span6 > .aq-block.span6 {
	width: 100%;
}

.aq-block-aq_column_block.span7 > .aq-block.span1 {
	width: 10%;
}

.aq-block-aq_column_block.span7 > .aq-block.span2 {
	width: 25%;
}

.aq-block-aq_column_block.span7 > .aq-block.span3 {
	width: 40%;
}

.aq-block-aq_column_block.span7 > .aq-block.span4 {
	width: 55%;
}

.aq-block-aq_column_block.span7 > .aq-block.span5 {
	width: 70%;
}

.aq-block-aq_column_block.span7 > .aq-block.span6 {
	width: 85%;
}

.aq-block-aq_column_block.span7 > .aq-block.span7 {
	width: 100%;
}

.aq-block-aq_column_block.span8 > .aq-block.span1 {
	width: 8.13%;
}

.aq-block-aq_column_block.span8 > .aq-block.span2 {
	width: 21.25%;
}

.aq-block-aq_column_block.span8 > .aq-block.span3 {
	width: 34.38%;
}

.aq-block-aq_column_block.span8 > .aq-block.span4 {
	width: 47.5%;
}

.aq-block-aq_column_block.span8 > .aq-block.span5 {
	width: 60.63%;
}

.aq-block-aq_column_block.span8 > .aq-block.span6 {
	width: 73.75%;
}

.aq-block-aq_column_block.span8 > .aq-block.span7 {
	width: 86.88%;
}

.aq-block-aq_column_block.span8 > .aq-block.span8 {
	width: 100%;
}

.aq-block-aq_column_block.span9 > .aq-block.span1 {
	width: 6.67%;
}

.aq-block-aq_column_block.span9 > .aq-block.span2 {
	width: 18.33%;
}

.aq-block-aq_column_block.span9 > .aq-block.span3 {
	width: 30%;
}

.aq-block-aq_column_block.span9 > .aq-block.span4 {
	width: 41.67%;
}

.aq-block-aq_column_block.span9 > .aq-block.span5 {
	width: 53.33%;
}

.aq-block-aq_column_block.span9 > .aq-block.span6 {
	width: 65%;
}

.aq-block-aq_column_block.span9 > .aq-block.span7 {
	width: 76.67%;
}

.aq-block-aq_column_block.span9 > .aq-block.span8 {
	width: 88.33%;
}

.aq-block-aq_column_block.span9 > .aq-block.span9 {
	width: 100%;
}

.aq-block-aq_column_block.span10 > .aq-block.span1 {
	width: 5.5%;
}

.aq-block-aq_column_block.span10 > .aq-block.span2 {
	width: 16%;
}

.aq-block-aq_column_block.span10 > .aq-block.span3 {
	width: 26.5%;
}

.aq-block-aq_column_block.span10 > .aq-block.span4 {
	width: 37%;
}

.aq-block-aq_column_block.span10 > .aq-block.span5 {
	width: 47.5%;
}

.aq-block-aq_column_block.span10 > .aq-block.span6 {
	width: 58%;
}

.aq-block-aq_column_block.span10 > .aq-block.span7 {
	width: 68.5%;
}

.aq-block-aq_column_block.span10 > .aq-block.span8 {
	width: 79%;
}

.aq-block-aq_column_block.span10 > .aq-block.span9 {
	width: 89.5%;
}

.aq-block-aq_column_block.span10 > .aq-block.span10 {
	width: 100%;
}

.aq-block-aq_column_block.span11 > .aq-block.span1 {
	width: 4.55%;
}

.aq-block-aq_column_block.span11 > .aq-block.span2 {
	width: 14.09%;
}

.aq-block-aq_column_block.span11 > .aq-block.span3 {
	width: 23.64%;
}

.aq-block-aq_column_block.span11 > .aq-block.span4 {
	width: 33.18%;
}

.aq-block-aq_column_block.span11 > .aq-block.span5 {
	width: 42.73%;
}

.aq-block-aq_column_block.span11 > .aq-block.span6 {
	width: 52.27%;
}

.aq-block-aq_column_block.span11 > .aq-block.span7 {
	width: 61.82%;
}

.aq-block-aq_column_block.span11 > .aq-block.span8 {
	width: 71.36%;
}

.aq-block-aq_column_block.span11 > .aq-block.span9 {
	width: 80.91%;
}

.aq-block-aq_column_block.span11 > .aq-block.span10 {
	width: 90.45%;
}

.aq-block-aq_column_block.span11 > .aq-block.span11 {
	width: 100%;
}

.aq-block-aq_column_block.span12 > .aq-block.span1 {
	width: 3.75%;
}

.aq-block-aq_column_block.span12 > .aq-block.span2 {
	width: 12.5%;
}

.aq-block-aq_column_block.span12 > .aq-block.span3 {
	width: 21.25%;
}

.aq-block-aq_column_block.span12 > .aq-block.span4 {
	width: 30%;
}

.aq-block-aq_column_block.span12 > .aq-block.span5 {
	width: 38.75%;
}

.aq-block-aq_column_block.span12 > .aq-block.span6 {
	width: 47.5%;
}

.aq-block-aq_column_block.span12 > .aq-block.span7 {
	width: 56.25%;
}

.aq-block-aq_column_block.span12 > .aq-block.span8 {
	width: 65%;
}

.aq-block-aq_column_block.span12 > .aq-block.span9 {
	width: 73.75%;
}

.aq-block-aq_column_block.span12 > .aq-block.span10 {
	width: 82.5%;
}

.aq-block-aq_column_block.span12 > .aq-block.span11 {
	width: 91.25%;
}

.aq-block-aq_column_block.span12 > .aq-block.span12 {
	width: 100%;
}

/* Well block
========================================================================*/
.aq-block-aq_well_block.span1 > .aq-block.span1 {
	width: 100%;
}

.aq-block-aq_well_block.span2 > .aq-block.span1 {
	width: 47.5%;
}

.aq-block-aq_well_block.span2 > .aq-block.span2 {
	width: 100%;
}

.aq-block-aq_well_block.span3 > .aq-block.span1 {
	width: 30%;
}

.aq-block-aq_well_block.span3 > .aq-block.span2 {
	width: 65%;
}

.aq-block-aq_well_block.span3 > .aq-block.span3 {
	width: 100%;
}

.aq-block-aq_well_block.span4 > .aq-block.span1 {
	width: 21.25%;
}

.aq-block-aq_well_block.span4 > .aq-block.span2 {
	width: 47.5%;
}

.aq-block-aq_well_block.span4 > .aq-block.span3 {
	width: 73.75%;
}

.aq-block-aq_well_block.span4 > .aq-block.span4 {
	width: 100%;
}

.aq-block-aq_well_block.span5 > .aq-block.span1 {
	width: 16%;
}

.aq-block-aq_well_block.span5 > .aq-block.span2 {
	width: 37%;
}

.aq-block-aq_well_block.span5 > .aq-block.span3 {
	width: 58%;
}

.aq-block-aq_well_block.span5 > .aq-block.span4 {
	width: 79%;
}

.aq-block-aq_well_block.span5 > .aq-block.span5 {
	width: 100%;
}

.aq-block-aq_well_block.span6 > .aq-block.span1 {
	width: 12.5%;
}

.aq-block-aq_well_block.span6 > .aq-block.span2 {
	width: 30%;
}

.aq-block-aq_well_block.span6 > .aq-block.span3 {
	width: 47.5%;
}

.aq-block-aq_well_block.span6 > .aq-block.span4 {
	width: 65%;
}

.aq-block-aq_well_block.span6 > .aq-block.span5 {
	width: 82.5%;
}

.aq-block-aq_well_block.span6 > .aq-block.span6 {
	width: 100%;
}

.aq-block-aq_well_block.span7 > .aq-block.span1 {
	width: 10%;
}

.aq-block-aq_well_block.span7 > .aq-block.span2 {
	width: 25%;
}

.aq-block-aq_well_block.span7 > .aq-block.span3 {
	width: 40%;
}

.aq-block-aq_well_block.span7 > .aq-block.span4 {
	width: 55%;
}

.aq-block-aq_well_block.span7 > .aq-block.span5 {
	width: 70%;
}

.aq-block-aq_well_block.span7 > .aq-block.span6 {
	width: 85%;
}

.aq-block-aq_well_block.span7 > .aq-block.span7 {
	width: 100%;
}

.aq-block-aq_well_block.span8 > .aq-block.span1 {
	width: 8.13%;
}

.aq-block-aq_well_block.span8 > .aq-block.span2 {
	width: 21.25%;
}

.aq-block-aq_well_block.span8 > .aq-block.span3 {
	width: 34.38%;
}

.aq-block-aq_well_block.span8 > .aq-block.span4 {
	width: 47.5%;
}

.aq-block-aq_well_block.span8 > .aq-block.span5 {
	width: 60.63%;
}

.aq-block-aq_well_block.span8 > .aq-block.span6 {
	width: 73.75%;
}

.aq-block-aq_well_block.span8 > .aq-block.span7 {
	width: 86.88%;
}

.aq-block-aq_well_block.span8 > .aq-block.span8 {
	width: 100%;
}

.aq-block-aq_well_block.span9 > .aq-block.span1 {
	width: 6.67%;
}

.aq-block-aq_well_block.span9 > .aq-block.span2 {
	width: 18.33%;
}

.aq-block-aq_well_block.span9 > .aq-block.span3 {
	width: 30%;
}

.aq-block-aq_well_block.span9 > .aq-block.span4 {
	width: 41.67%;
}

.aq-block-aq_well_block.span9 > .aq-block.span5 {
	width: 53.33%;
}

.aq-block-aq_well_block.span9 > .aq-block.span6 {
	width: 65%;
}

.aq-block-aq_well_block.span9 > .aq-block.span7 {
	width: 76.67%;
}

.aq-block-aq_well_block.span9 > .aq-block.span8 {
	width: 88.33%;
}

.aq-block-aq_well_block.span9 > .aq-block.span9 {
	width: 100%;
}

.aq-block-aq_well_block.span10 > .aq-block.span1 {
	width: 5.5%;
}

.aq-block-aq_well_block.span10 > .aq-block.span2 {
	width: 16%;
}

.aq-block-aq_well_block.span10 > .aq-block.span3 {
	width: 26.5%;
}

.aq-block-aq_well_block.span10 > .aq-block.span4 {
	width: 37%;
}

.aq-block-aq_well_block.span10 > .aq-block.span5 {
	width: 47.5%;
}

.aq-block-aq_well_block.span10 > .aq-block.span6 {
	width: 58%;
}

.aq-block-aq_well_block.span10 > .aq-block.span7 {
	width: 68.5%;
}

.aq-block-aq_well_block.span10 > .aq-block.span8 {
	width: 79%;
}

.aq-block-aq_well_block.span10 > .aq-block.span9 {
	width: 89.5%;
}

.aq-block-aq_well_block.span10 > .aq-block.span10 {
	width: 100%;
}

.aq-block-aq_well_block.span11 > .aq-block.span1 {
	width: 4.55%;
}

.aq-block-aq_well_block.span11 > .aq-block.span2 {
	width: 14.09%;
}

.aq-block-aq_well_block.span11 > .aq-block.span3 {
	width: 23.64%;
}

.aq-block-aq_well_block.span11 > .aq-block.span4 {
	width: 33.18%;
}

.aq-block-aq_well_block.span11 > .aq-block.span5 {
	width: 42.73%;
}

.aq-block-aq_well_block.span11 > .aq-block.span6 {
	width: 52.27%;
}

.aq-block-aq_well_block.span11 > .aq-block.span7 {
	width: 61.82%;
}

.aq-block-aq_well_block.span11 > .aq-block.span8 {
	width: 71.36%;
}

.aq-block-aq_well_block.span11 > .aq-block.span9 {
	width: 80.91%;
}

.aq-block-aq_well_block.span11 > .aq-block.span10 {
	width: 90.45%;
}

.aq-block-aq_well_block.span11 > .aq-block.span11 {
	width: 100%;
}

.aq-block-aq_well_block.span12 > .aq-block.span1 {
	width: 3.75%;
}

.aq-block-aq_well_block.span12 > .aq-block.span2 {
	width: 12.5%;
}

.aq-block-aq_well_block.span12 > .aq-block.span3 {
	width: 21.25%;
}

.aq-block-aq_well_block.span12 > .aq-block.span4 {
	width: 30%;
}

.aq-block-aq_well_block.span12 > .aq-block.span5 {
	width: 38.75%;
}

.aq-block-aq_well_block.span12 > .aq-block.span6 {
	width: 47.5%;
}

.aq-block-aq_well_block.span12 > .aq-block.span7 {
	width: 56.25%;
}

.aq-block-aq_well_block.span12 > .aq-block.span8 {
	width: 65%;
}

.aq-block-aq_well_block.span12 > .aq-block.span9 {
	width: 73.75%;
}

.aq-block-aq_well_block.span12 > .aq-block.span10 {
	width: 82.5%;
}

.aq-block-aq_well_block.span12 > .aq-block.span11 {
	width: 91.25%;
}

.aq-block-aq_well_block.span12 > .aq-block.span12 {
	width: 100%;
}