body {
  min-width: 1200px !important;
}
 .container {
  width: 1200px !important;
}
 [class^="col-"] {
  float: left;
}
 .col-sm-1,
 .col-md-1,
 .col-lg-1 {
  width: 8.33333333% !important;
}
 .col-sm-2,
 .col-md-2,
 .col-lg-2 {
  width: 16.66666667% !important;
}
 .col-sm-3,
 .col-md-3,
 .col-lg-3 {
  width: 25% !important;
}
 .col-sm-4,
 .col-md-4,
 .col-lg-4 {
  width: 33.33333333% !important;
}
 .col-sm-5,
 .col-md-5,
 .col-lg-5 {
  width: 41.66666667% !important;
}
 .col-sm-6,
 .col-md-6,
 .col-lg-6 {
  width: 50% !important;
}
 .col-sm-7,
 .col-md-7,
 .col-lg-7 {
  width: 58.33333333% !important;
}
 .col-sm-8,
 .col-md-8,
 .col-lg-8 {
  width: 66.66666667% !important;
}
 .col-sm-9,
 .col-md-9,
 .col-lg-9 {
  width: 75% !important;
}
 .col-sm-10,
 .col-md-10,
 .col-lg-10 {
  width: 83.33333333% !important;
}
 .col-sm-11,
 .col-md-11,
 .col-lg-11 {
  width: 91.66666667% !important;
}
 .col-sm-12,
 .col-md-12,
 .col-lg-12 {
  width: 100% !important;
}
 .col-sm-offset-0,
 .col-md-offset-0,
 .col-lg-offset-0 {
  margin-left: 0 !important;
}
 .col-sm-offset-1,
 .col-md-offset-1,
 .col-lg-offset-1 {
  margin-left: 8.33333333% !important;
}
 .col-sm-offset-2,
 .col-md-offset-2,
 .col-lg-offset-2 {
  margin-left: 16.66666667% !important;
}
 .col-sm-offset-3,
 .col-md-offset-3,
 .col-lg-offset-3 {
  margin-left: 25% !important;
}
 .col-sm-offset-4,
 .col-md-offset-4,
 .col-lg-offset-4 {
  margin-left: 33.33333333% !important;
}
 .col-sm-offset-5,
 .col-md-offset-5,
 .col-lg-offset-5 {
  margin-left: 41.66666667% !important;
}
 .col-sm-offset-6,
 .col-md-offset-6,
 .col-lg-offset-6 {
  margin-left: 50% !important;
}
 .col-sm-offset-7,
 .col-md-offset-7,
 .col-lg-offset-7 {
  margin-left: 58.33333333% !important;
}
 .col-sm-offset-8,
 .col-md-offset-8,
 .col-lg-offset-8 {
  margin-left: 66.66666667% !important;
}
 .col-sm-offset-9,
 .col-md-offset-9,
 .col-lg-offset-9 {
  margin-left: 75% !important;
}
 .col-sm-offset-10,
 .col-md-offset-10,
 .col-lg-offset-10 {
  margin-left: 83.33333333% !important;
}
 .col-sm-offset-11,
 .col-md-offset-11,
 .col-lg-offset-11 {
  margin-left: 91.66666667% !important;
}
 .col-sm-offset-12,
 .col-md-offset-12,
 .col-lg-offset-12 {
  margin-left: 100% !important;
}
 .visible-xs,
 .visible-xs-block,
 .visible-sm,
 .visible-sm-block {
display: block !important;
}
 .visible-xs-inline,
 .visible-sm-inline {
  display: inline !important;
}
 .visible-xs-inline-block,
 .visible-sm-inline-block {
display: inline-block !important;
}
 .hidden-xs,
 .hidden-sm {
  display: block !important;
}
 .container .navbar-header,
 .container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
 .navbar-header {
  float: left;
}
 .navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
 .navbar-toggle {
  display: none;
}
 .navbar-collapse {
  border-top: 0;
}
 .navbar-brand {
  margin-left: -15px;
}
 .navbar-nav {
  float: left;
  margin: 0;
}
 .navbar-nav > li {
  float: left;
}
 .navbar-nav > li > a {
  padding: 15px;
}
 .navbar-nav.navbar-right {
  float: right;
}
 .navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
 .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
 .navbar .navbar-nav .open .dropdown-menu > li > a:focus,
 .navbar .navbar-nav .open .dropdown-menu > .active > a,
 .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
 .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
 .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
 .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
 .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

.pricing-table .pricing-column {
  display: block;
  float: left;
}

.btn {
    margin: 0 5px !important;
}

.navigation-toggle {
  display: none !important;
}

.col-md-8.col-sm-12.blogs {
  width: 66.6667% !important;
}


.entry-title.sticky-img-title a {
    width: 100% !important;
}

.entry-title {
    font-size: 47px !important;
}

.thumb-wrapper .title-wrap .sticky-img-title a {
  font-size: 47px !important;
  top: auto !important;
}

.navigation-header {
  width: 100% !important;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-collapse {
  background: transparent !important;
}

.navigation-header .navigation-bar > li {
    padding: 25px 9px !important;
}


.navigation-bar > li { display: inline-block !important; }

.navigation-bar-left {
  float: left !important;
}

.right-menu-wrap {
    text-align: right !important;
}

.navigation-brand {
  float: left !important;
}

.navigation-brand .brand-logo .logo {
  height: 86px !important; 
}

.fixmenu-clone.navigation-header .navigation-bar > li > a {
  color:  #646464;
}

.fixmenu-clone.navigation-header .open .navigation-bar > li > a {
  color: #646464;
}

.fixmenu-clone { background: #fff !important; }

.fixmenu-clone { background: #fff !important; }

.dropdown:hover > .dropdown-menu { display: block !important; }
.dropdown-menu .dropdown .caret { display: none !important; }
.dropdown-menu li a { padding: 15px !important; color: #fff !important; display:block !important; line-height: 18px !important; }
.dropdown-menu li a:hover { color:#fff !important; background:#1ac6ff !important; }

.dropdown-menu .dropdown-menu { display:none !important; position: absolute !important; top: 0 !important; border-bottom:0px solid #1ac6ff !important; margin: 0 !important; padding-bottom: 0px !important; list-style:none !important; padding-left:0 !important; margin-left:0 !important; background: rgba(0,0,0,0.7) !important; left: 100% !important; }
.dropdown-menu  .menu-item-has-children:after {content: "\f0da" !important; position: absolute !important; top: 7px !important; right: 10px !important; font-family: 'FontAwesome' !important; color: #fff !important; }

/* 12.2 Navigation dropdown */
.dropdown { font-size: 13px; line-height: 28px; text-align: left; }
.dropdown .btn { padding: 14px 14px; border-top: 2px solid #1ac6ff;  }
.dropdown .caret .fa { color: #1ac6ff; font-size: 16px; }
.dropdown-menu { min-width: 250px; margin: 0; position: absolute; padding: 0; list-style:none; background: rgba(0,0,0,0.7); border-radius: 0; border: 0; border-bottom: 5px solid #1AC6FF; }
.dropdown-menu > li { display: block; }
.dropdown-menu > li > a:focus,
.dropdown-menu > .current > a,
.dropdown-menu > .current > a:hover,
.dropdown-menu > .current > a:focus { color:#fff; }
.dropdown-menu > li > a:hover { color:#fff; background:#1ac6ff; }
.dropdown-menu > li > a:focus { background-color: transparent; }

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus { background-color: transparent; }
.dropdown-menu>.active>a:hover { background-color: #1ac6ff; }

.navbar-collapse.collapse {
  overflow: visible !important;
  height: auto !important;
  display: block !important;
}

.navigation .container {
  overflow: visible !important;
}


#featuredTab {
    min-height: 400px;
}

#featuredTab li:last-child a .tab-info:after, #featuredTab li:last-child a .tab-icon:after, #featuredTab .tab-content {
    border: medium none;
    padding: 0;
    position: absolute;
    right: 0;
    top: -60px;
    z-index: 1;
}

.fixmenu-clone .dropdown-menu {
    background: #1ac6ff;
}

#featuredTab { position: relative; width: 100%; margin-top: 160px; }
#featuredTab li { display: block; width: auto;  position: relative; float: none !important; }
#featuredTab li > a { display: block; }
#featuredTab li > a:after { content: ''; clear: both; display: block; }
#featuredTab li > a .tab-info { float: left; text-align: left; display: block; width: 346px; padding: 25px 28px; position: relative; z-index: 2; }
#featuredTab li > a .tab-icon { float: right; text-align: right; display: block; width: 113px; position: relative; z-index: 2; }
#featuredTab li > a .tab-info .tab-title { font-size: 17px; line-height: 21px; font-weight: 700; color: #1ac6ff; text-transform: uppercase; padding-bottom: 10px; }
#featuredTab li > a .tab-info .tab-desc { font-size: 15px; line-height: 28px; color: #5f5f5f; font-weight: 300; display: block; }
#featuredTab li > a .icon { font-size: 50px; padding: 21px 7px; display: block; padding: 46px 28px; }
#featuredTab li.ui-tabs-active { padding-bottom: 0px; margin-bottom: 0; }
#featuredTab li.ui-tabs-active > a .tab-info { -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-left-radius: 5px; background: #1ac6ff; }
#featuredTab li.ui-tabs-active > a .tab-icon { -webkit-border-top-right-radius: 5px; -moz-border-radius-topright: 5px; border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-bottomright: 5px; border-bottom-right-radius: 5px; background: #1ac6ff; }
#featuredTab li.ui-tabs-active > a .tab-info .tab-title,
#featuredTab li.ui-tabs-active > a .tab-info .tab-desc,
#featuredTab li.ui-tabs-active > a .icon { color: #fff; }
#featuredTab li a .tab-info:after,
#featuredTab li a .tab-icon:after { content: ''; width: 99%; border-bottom: 1px solid #dadfe3; display: block; position: absolute; bottom: 0; right: 0; }
#featuredTab li a .tab-icon:after { left: 0; right: auto; }
#featuredTab li:last-child a .tab-info:after,
#featuredTab li:last-child a .tab-icon:after,
#featuredTab li.ui-tabs-active a .tab-info:after,
#featuredTab li.ui-tabs-active a .tab-icon:after { display: none; }
.section-content #featuredTab .tab-content{ z-index: 999; }
#featuredTab .tab-content .tab-pane { border: none; padding: 0; }

article.vsc-service-elem { margin:0px 0px 60px 0px; padding: 0px 10px; }
article.vsc-service-elem .icon { font-size:3.3em; width: 100%; height: auto; line-height: 1 font-weight: 700;}
article.vsc-service-elem  p.thin { font-size:15px; color:#8a8a8a;}
article.vsc-service-elem  p.normal { font-size:15px; color:#1D1D1D; font-weight:700;}
article.vsc-service-elem:hover .icon { opacity:0.6; }
.vsc-service-content h6 { margin:10px 0px 13px 0px; line-height: 27px; font-size: 16px; font-family: 'Lato', sans-serif; }

.alt.nav-tabs { width: auto; }
.nav-tabs > li { float: left; }
