@media only screen and (min-width: 768px) and (max-width: 1140px){

	.timeline-view .entry-author{
		padding-right: 10% !important;
	}
	.timeline-view .entry-list{
		width: 90%;
		margin-right: 10% !important;
	}
	#header-container > .row{
		display: block !important;
	}
	#header-container > .row > .columns{
		display: block !important;
		vertical-align: middle;
		float: left !important;
	}
	.widget .tabs-controller li{
		font-size: 12px;
	}

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
	#page{
		border: 0 none !important;
	}
}