/* -----------------------------------------
   [kleo_news_ticker] - SHORTCODE
----------------------------------------- */
.js .news-ticker {
  height: 0;
  overflow: hidden;
}
.news-ticker .post-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-replace: optimizespeed;
}
.news-ticker h3 > a:after {
  content: " - ";
  padding-left: 15px;
}
.news-ticker article {
  margin-right: 10px;
  display: block;
  float: left;
  padding: 5px;
}
.news-ticker article h3 {
  margin: 0;
}
