@display:
	label: Display
	type: on-off
	default: on
	help: "Display or hide this element on page"
	basic: true
	
type:
	label: Type
	type: select
	default:
		line: Simple Line
		boldline: Bold Line
		dashed: Dashed
		shadow: Shadowed
	help: "Select type of rule"
	basic: true

size:
	label: Size
	type: select
	default:
		fullsize: Fullwidth Size
		contentsize: Content Size
	help: "Select size of rule"
	basic: true
	
showTop:
	label: Slide Up Button
	type: on-off
	default: off
	help: 'Display button on rule to slide up'
	basic: true

ruleColor:
	label: Color
	type: color
	default: ''
	help: "Color of rule"

elmTopPad:
	label: Top Padding
	type: number
	unit: px
	default: ''
	help: "Space above rule"

elmBotPad:
	label: Bottom Padding
	type: number
	unit: px
	default: ''
	help: "Space below rule"
