<div id="{$htmlId}" class="{$htmlClass} rule-{$el->option->type} rule-{$el->option->size}{if $el->option(showTop)} rule-btn-top-wrapper{/if}">
	<div class="grid-main">
		<div class="rule-content">
			<div class="rule-wrap">
				<div class="rule-separator"></div>
				{if $el->option(showTop)}<span class="rule-btn-top">{__ 'Go on Top'}</span>{/if}
			</div>
		</div>
	</div>
</div>
