@media print {
	.navigation--main, .header-component--left, .header-component--right,
	.site-footer, .article__footer, .yarpp-related {
		display: none !important;
	}

	.mosaic__item {
		width: 100% !important;
	}

	.pagination, .pagination--single{
		display: none;
	}

	.sidebar--main {
		display: none;
	}
}