.dokan-product-listing-area,
.store-page-wrap {
	.pagination-wrap,
	.dokan-pagination-container {
		ul.pagination,
		ul.dokan-pagination {
		    margin: 17px 0;
		    display: inline-block;
		    padding-#{$start}: 0;
		    
		    li{
		        display: inline;
		       
		        &:hover,&.current{
		            a{
		                background-color: #fff;
		            }
		        }

		        .current {
		        	background: transparent;
		        }
		        
		        &.active {
		        	a {
		        		background: transparent;
		        	}
		        }
		    }
		    
		    a, span{
		        position: relative;
		        float: $start; // Collapse white-space
		        border:1px solid darken($second-color,10%);
		        color: $black !important;
		        border-radius: 0 !important;
		        padding: dir-values(9px 17px) !important;
		        font-size: 18px;
		        margin: dir-values(0 4px 0 0);
		        font-weight: 400;
		    }
		}
	}
}