/**
 * WooCommerce
 */

.woocommerce h3 {
	font-size: 21px;
}

/* Product price */

	table .product-price {
		color: inherit;
		display: table-cell;
		float: none;
	}

/* Checkout thumb */

	.woocommerce-page #page-container #content table.cart img {
		display: block;
		margin: 0;
		width: 40px;
	}

	.woocommerce-page .product-thumbnail a {
		display: block;
	}

/* Buttons */
	
	.woocommerce a.button, 
	.woocommerce-page a.button, 
	.woocommerce button.button, 
	.woocommerce-page button.button,
	.woocommerce input.button,
	.woocommerce-page input.button,
	.woocommerce #respond input#submit,
	.woocommerce-page #respond input#submit,
	.woocommerce #content input.button,
	.woocommerce-page #content input.button,
	.woocommerce table.cart input, 
	.woocommerce-page table.cart input, 
	.woocommerce #content table.cart input, 
	.woocommerce-page #content table.cart input {
		border: 2px solid #c2c2c2;
		border-radius: 3px;
		color: #a2a2a2;
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		font-family: "Arimo", sans-serif;
		font-size: 14px;
		line-height: 1;
		padding: 8px 11px;
		width: auto;
		/* Overrides */
		background: #fff;
		text-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
	}

	.woocommerce a.button:hover, 
	.woocommerce-page a.button:hover, 
	.woocommerce button.button:hover, 
	.woocommerce-page button.button:hover,
	.woocommerce input.button:hover,
	.woocommerce-page input.button:hover,
	.woocommerce #respond input#submit:hover,
	.woocommerce-page #respond input#submit:hover,
	.woocommerce #content input.button:hover,
	.woocommerce-page #content input.button:hover,
	.woocommerce table.cart input:hover, 
	.woocommerce-page table.cart input:hover, 
	.woocommerce #content table.cart input:hover, 
	.woocommerce-page #content table.cart input:hover {
		background: transparent;
		color: #737373;
		border-color: #8a8a8a;
	}

	.woocommerce a.button.alt, 
	.woocommerce-page a.button.alt, 
	.woocommerce button.button.alt, 
	.woocommerce-page button.button.alt, 
	.woocommerce input.button.alt, 
	.woocommerce-page input.button.alt, 
	.woocommerce #respond input#submit.alt, 
	.woocommerce-page #respond input#submit.alt, 
	.woocommerce #content input.button.alt, 
	.woocommerce-page #content input.button.alt {
		background: #ad74a2;
		border-color: #96588a;
		box-shadow: none;
		font-family: inherit;
		text-shadow: none;
		text-transform: uppercase;
	}

	.woocommerce a.button.alt:hover, 
	.woocommerce-page a.button.alt:hover, 
	.woocommerce button.button.alt:hover, 
	.woocommerce-page button.button.alt:hover, 
	.woocommerce input.button.alt:hover, 
	.woocommerce-page input.button.alt:hover, 
	.woocommerce #respond input#submit.alt:hover, 
	.woocommerce-page #respond input#submit.alt:hover, 
	.woocommerce #content input.button.alt:hover, 
	.woocommerce-page #content input.button.alt:hover {
		background: #ad74a2;
		border-color: #76456c;
		text-shadow: none;
		box-shadow: none;
		text-transform: uppercase;
	}


/* Inputs */

	.woocommerce table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
		padding: 8px 10px;
	}

	.woocommerce form .form-row textarea, .woocommerce-page form .form-row textarea {
		height: 80px;
		line-height: 1.4;
	}

	.woocommerce form .form-row label, .woocommerce-page form .form-row label {
		margin-bottom: 5px;
	}

	.woocommerce .woocommerce-ordering select, .woocommerce-page .woocommerce-ordering select {
		padding: 5px;
	}

/* Cart Totals and Shipping Calculator */

	.shipping_calculator h2,
	.cart_totals h2 {
		font-size: 15px;
		line-height: 1;
		text-transform: uppercase;
	}

/**
 * Checkout Page
 */

	#customer_details {
		margin-bottom: 30px;
	}

/**
 * Products
 */

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	text-align: center;
}

.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
	margin-left: 42px;
}

.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count {
	margin-top: 10px;
}

/**
 * Titles
 */

.woocommerce div.product .product_title, .woocommerce-page div.product .product_title, .woocommerce #content div.product .product_title, .woocommerce-page #content div.product .product_title {
	font-size: 26px;
	margin-top: 15px;
}

.woocommerce div.product div.images div.thumbnails a, .woocommerce-page div.product div.images div.thumbnails a, .woocommerce #content div.product div.images div.thumbnails a, .woocommerce-page #content div.product div.images div.thumbnails a {
	margin-bottom: 12px;
}

/**
 * Widgets
 */

.widget.woocommerce .amount {
	color: #69a661;
}

.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
	width: 50px;
}

/**
 * Other
 */

.woocommerce .product .thumbnails a {
	margin: 0 !important;
	padding: 0 !important;
	width: 21% !important;
	margin: 2% !important;
	clear: none !important;
}

.woocommerce #reviews #comments h2, .woocommerce-page #reviews #comments h2 {
	font-size: 20px;
}

.woocommerce .widget_shopping_cart .total, .woocommerce-page .widget_shopping_cart .total {
	border-top: none;
}

/**
 * Responsive
 */

@media only screen and ( max-width: 767px ) {

	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100%;
		margin: 0 0 30px 0;
	}

	.woocommerce .products .star-rating, .woocommerce-page .products .star-rating {
		margin-left: 40%;
	}

	.woocommerce table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail, .woocommerce #content table.cart .product-thumbnail, .woocommerce-page #content table.cart .product-thumbnail {
		display: none;
	}

	.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
		padding: 5px;
	}

	.woocommerce a.button, .woocommerce-page a.button, .woocommerce button.button, .woocommerce-page button.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce table.cart input, .woocommerce-page table.cart input, .woocommerce #content table.cart input, .woocommerce-page #content table.cart input {
		display: block;
	}

	/* Cart Sum and Shipping calc */
	.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .shipping_calculator, .woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}

	/* Cart Inputs */
	.woocommerce table.cart input[type="submit"], .woocommerce-page table.cart input[type="submit"], .woocommerce #content table.cart input[type="submit"], .woocommerce-page #content table.cart input[type="submit"] {
		width: 100%;
		margin-bottom: 10px;
	}

	.woocommerce table.cart .coupon input[type="submit"], .woocommerce-page table.cart .coupon input[type="submit"], .woocommerce #content table.cart .coupon input[type="submit"], .woocommerce-page #content table.cart .coupon input[type="submit"] {
		width: auto;
	}

}

@media only screen and ( max-width: 479px ) {

	.product-subtotal {
		display: none;
	}

}