/* -----------------------------------------
   MENU
----------------------------------------- */
.menu { 
	background-image:url(../images/menu_back.png);
	background-position:center; 
	border-bottom:none;
	padding-left:15px; 
	padding-right:15px; 
	padding-bottom:5px; 
	z-index:1000; 
	font-family: 'PT Sans Narrow'; 
	font-weight:normal; 
	padding-left:15px; 
	padding-right:15px; 
	border-right-color: 1px solid #414141; 
	border-left-color: 1px solid #414141; 
}

.nav-bar.main { 
	background:#000000; 
}

.nav-bar.main > li { 
	border-right:none; 
	border-left:none; 
}

h6.sub.space { 
	line-height: 1.3; 
	font-weight: 300; 
	color: #6f6f6f; 
	margin-top:-10px; 
	margin-bottom:6px; 
}

h6.sub.space.active { 
	line-height: 1.3; 
	font-weight: 300; 
	margin-top:-10px; 
	color:#FFFFFF; 
}

h6.subheader { 
	margin: 0px; 
	padding-bottom:10px; 
}

h5.subheader { 
	margin: 0px; 
	padding-bottom:10px; 
	padding-top:4px; 
}

.no_desc h5 {
	margin: 10px 0;
}

.no_desc .title_page {
	
}

#mainNavigation ul li.no_desc:hover {
	background:url(../images/menu_hover_arrow.png) right bottom 5px no-repeat;
}

#mainNavigation ul li.no_desc ul {
	margin: -41px 0 0 41px;
}

/* -----------------------------------------
   MAIN
----------------------------------------- */
.logo { 
	margin-bottom:25px; 
}

.container { 
	background-position:center; 
	border-bottom:none; 
	padding-left:40px; 
	padding-right:40px; 
	bottom:0px; 
	z-index: 2 !important;
}

.normal-weight { 
	font-weight:normal; 
}

.back { 
	z-index:0; 
}

.front { 
	z-index:2; 	
}

.post-details-divider { 
	border-top: 1px solid #343434; 
	border-bottom: 1px solid #343434; 
	color: #9E9E9E;
}

/* General */
.columns.right {
	float:right;	
}

#mainContainer {
	/*overflow:hidden;*/
	z-index: 2;
	min-height:100%;
}
#mainContainer>.container{
	min-height:100%;	
}
.body_hiding_content #mainContainer  /* Added to hide the body */ {
	display: none;
}

/* Navigation */
div#navContainer {
	top:0;	
	max-width:240px;
	width:25%;
	z-index: 3;
}

div#mainNavigation {
	position:relative;	
	/*padding: 0 0 0 30px;*/
	padding:0 30px;
}

div#mainNavigation ul li a h5{
	font-size:18px;	
}
div#mainNavigation ul li a h6{
	font-size:12px;	
}
#mainNavigation ul {
	margin:0;	
}

#mainNavigation ul li:first-child {
	border-top:1px solid #343434;	
}

#mainNavigation ul li {
	list-style:none;
	border-bottom:1px solid #343434;
	/*border-top:1px solid #000;	
	max-width:180px;	
	width:100%;*/
	width:100%;
	padding: 0 0 0 10px;
}

#mainNavigation ul li a {
	/*max-width:180px;	
	width:100%;*/
	width: 180px;
	padding: 0 20px 0 0;
	display:block;
	/*opacity:0.6;*/
}

#mainNavigation ul li a.current {
	opacity:1;	
}

#mainNavigation ul li:hover {
	background:url(../images/menu_hover_arrow.png) right center no-repeat;
}

#mainNavigation ul li:hover > ul {
	display:block;	
}

div#navRepeatPart {
	width:100%;
	position:relative;
	padding-bottom:15px;
	/*margin-bottom: -1px;*/
}

#logo {
	position:relative;	
}

#bgRepeat {
	position:absolute;		
	overflow:hidden;
}

#bgRepeat,
#bgRepeat img {
	height:100%;	
	width:100%;
}

#mainNavigation ul li ul {
	display:none;
	position:absolute;
	margin:-50px 0 0 41px;
	left:74%;
	padding:0 20px;
	z-index: 999; /* added to fix overlap */
}

#mainNavigation ul li ul li:first-child {
	border-top:none;
}

#mainNavigation ul li ul li:last-child {
	border-bottom:none;	
}

#mainNavigation ul li ul li ul {
	margin: -25px 0 0 41px;
}

/*#mainNavigation ul li ul li {
	width:140px;	
	height:40px;
	line-height:40px;	
}*/

#mainNavigation ul li ul li {
	height: auto;
	line-height: 1.5;
	padding: 10px 0 8px 10px;
	width: 140px;
}

#mainNavigation ul li ul li:hover {
	background:url(../images/submenu_hover_arrow.png) right -10px center no-repeat;
}

#mainNavigation ul li ul li a {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size:12px;	
	height:auto;
	text-transform: uppercase;
	max-width:150px;
}

#mainNavigation ul li ul li a.active {
	font-weight:bold;
}

#mainNavigation li.current-menu-item a, #navbar li.current-menu-ancestor > a, #mainNavigation li.current-menu-parent > a, #mainNavigation li.current-menu-item a, #mainNavigation li.current-menu-ancestor > a h5, #mainNavigation li.current-menu-parent > a > h5, #mainNavigation li.current-menu-parent > a, #mainNavigation li.current-menu-item a , #mainNavigation li.current-menu-ancestor > a {	
	opacity: 1;
}

div#navArrowImg {
	position:absolute;	
	width:100%;
}

div#arrowLink {
	position:relative;
	text-align:center;	
}

/* Homepage Slider Description */
.sliderInfoContainer {	
	position:relative;	
	width:100%;
	max-width:1000px;
	margin:0 auto;
	height:auto; /* Modified for content background sliders */	
	z-index: 2; /* Fix for overlay conflict */
}

.slider-info { 
	position:fixed; 
	bottom:10px;
	width:100%;
	max-width:1000px;
}

.slider-top {
	top: 60px; /* recommend a minimum 60px for better display on smaller devices when mobile menu is visible. */
}

.slider-info-row {
	float:right;
	clear:both;	
}
 
.slider-desc {
	max-width:550px;	
	float:right;
}

div#slidecounter h4 {
	margin:0;
	line-height:30px;
	font-style: normal;	
}

/* BLOG */
.grid_repeat {
	background:url(../images/grid.png) left top repeat;
	width:100%;
	height:100%;
	position:fixed;
	z-index:-998;
	top:0;	
}

.blog,
.blog_title {
	padding:0 10px;	
}

.blog_title {
	margin-bottom:30px;	
}

.blog_block_left {
	width:68%;	
	float:left;
}

.blog_block_right {
	width:27%;	
	float:right;
}

.blog_post h4 {
	float:left;
	width:100%;	
}

.blog_date {
	width:100%;
	float:left;
	padding:1px 0;
	border-top:1px solid #343434;
	border-bottom:1px solid #343434;	
}

.blog_date ul {
	float:left;	
	width:50%;
}

.blog_date ul.right {
	float:right;	
	width:auto;
}

.blog_img {
	float:left;
	margin:15px 0 5px 0;	
	width:100%;
}

.portfolio_tags ul p {
	font-size: 12px !important;
} 

.portfolio_tags .post_tags {
	padding-left: 0px;
}

.blog_tags ul li {
	font-size: 12px;
}

form#search {
	padding:15px 0 0 0;	
}

.blog_section{
		
}

.blog_section h5 {
	padding:20px 0 0 0;
	margin:0;	
}

.blog_text {
	float:left;
	width:100%;	
}

/*Single Post Style*/
.marginT10 {
	margin-top:10px;	
}

.ques_style {
	float:left;
	width:100%;
	clear:both;
	padding-bottom:20px;
}

.quote_img {
	float:left;	
	clear:left;
	margin-right:20px;
	width:10%;
}

.quote_text {
	float:left;
	font-family:Verdana, Geneva, sans-serif;
	font-style:italic;
	color:#ccc;
	clear:right;	
	margin:15px 0 0 0;
	line-height:18px;
	width:80%;
}

.blog_date .tags {
	width:100%;	
	/*background:url(../images/tags.png) 10px top no-repeat;*/	
}

.blog_date .tags li:first-child {
	/*margin-left:25px;*/
}

.blog_date .tags i {
	margin-right: 10px;
}

div.comments_section > h4 {
	float:left;
	/*padding:20px 0;*/
}

ul.blog_comments > li {
	float:left;
	width:100%;
	border-top:1px solid #343434;	
	padding-top:20px;
}

ul.blog_comments li ul.blog_comments li:first-child {
	border:none;		
	padding-top:0;
}

ul.blog_comments li ul.blog_comments li {
	padding-top:10px;
}

div.date {
	font-size:11px;	
}

.post_title {
	width:auto;	
	float:left;
	font: bold 20px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;	
	clear: left;
	/*margin-top:20px;*/
}

.post .metadata_tags { 
	clear: both; 
}

.post_avatar {
	float:right;
}

.post_text {
	float:left;
	clear:both;
	padding:10px 0;	
	width:100%;
	margin-bottom: 20px; /* adds space to separate posts */
}

.post_reply {
	float:left;
	clear:both;	
}

.pending_moderation {
	color: #FF5151;
	font-weight: normal;
}

/* Content Area */
.page_content {
	font-size: 12px;
}

/*Contact page styles*/
.blog_block_right .gmap {
	padding-bottom:67.5%;	
}

.red_color {
	color:#ff0000;	
}

/*Tables*/
.div_table_overflow {
	overflow:auto;
	display:block;	
}

#pricing_table.pricing_4_col .pricing_section {
	width: 25%;
	min-width:150px;
}

#pricing_table .pricing_active {
	top:-13px;	
}

/*Navigation*/
div#navSection_desktop {
	max-width:250px;
	position:fixed;	
}

/*Galleries*/
/*Colorbox*/
#colorbox:focus {
	outline: none;
}

#colorbox,#colorbox * { 
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box; 
}

/* Galleria */
/* This rule is read by Galleria to define the gallery height: */
#galleria {
	/*height: 620px;*/
	margin-bottom:20px;
}

.gallery-info-title p {
	margin-bottom: 0;
}

/*Slideviewer*/
div#gallerySlideviewer {
	padding:0px 15px;
}

div#gallerySlideviewer ul, div#gallerySlideviewer ul li {
	padding-left: 0px;
}

/* Shortcodes */
.left_aligned_image, .alignleft {
	float:left;
	margin:5px 15px 5px 0;	
}

.right_aligned_image, .alignright {
	float:right;
	margin:5px 0 5px 15px;	
}

blockquote{
	background:url(../images/blockqoute.png) left top no-repeat;
	padding:15px 30px 10px 70px;		
	margin: 0 0 0 15px;
}

p.blockquote{
	font-weight:bold;
	font-style:italic;
	text-align:right;	
}

.buttonContainer{
	float:left;
	clear:both;
	padding:0 15px;	
}

.pV0H5{
	/*padding:0 5px;*/	
}

.pV0H10{
	padding:0 10px;	
}

.gallery-space a.image, .gallery-space a.video {
	margin-bottom: 0px;
}

a.image, a.video{
	float:left;
	width:100%;
	height:100%;
	position:relative;	
	margin-bottom:10px;
}
a.image img, a.video img{
	float:left;
	width:100%;
	height:auto;
}
a span.image_hover{
	background: black url(../images/hover_image_big.png) no-repeat center center;	
	top:0;
	position:absolute;
	width:100%;
	height:100%;
}
a span.video_hover{
	background: black url(../images/hover_video_big.png) no-repeat center center;	
	top:0;
	position:absolute;
	width:100%;
	height:100%;
}
a.gallery_4col span.image_hover{
	background: black url(../images/hover_image_small.png) no-repeat center center;
}
a.gallery_grid span.image_hover{
	background: black url(../images/hover_image_grid.png) no-repeat center center;
}
a.gallery_4col span.video_hover{
	background: black url(../images/hover_video_small.png) no-repeat center center;
}
a.gallery_grid span.video_hover{
	background: black url(../images/hover_video_grid.png) no-repeat center center;
}
div.row.assorted > div.six:nth-child(2n+1),
div.row.assorted > div.four:nth-child(3n+1),
div.row.assorted > div.three:nth-child(4n+1),
div.row.assorted > div.six_col:nth-child(6n+1){
	clear:left;	
}
.icon{
	position:absolute;
	top:-15px;
	left:-15px;	
}

body div#wpadminbar{
	z-index:10000!important;
}

body.admin-bar div#navContainer{top: 28px;}

/*Removing non relative tags(<h>) form the pages*/
.portfolio_thumb{
	margin-top:12px;	
	clear: both;
}
.grid_columns.grid_columns{
	padding:0 6px;	
	margin-bottom:2px;
}

/*To remove opacity from span elements*/
p a span{
	opacity:1 !important;	
}
/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 940px) {
		.sliderInfoContainer,
		.slider-info{
			width:95%;	
		}		
		.blog_block_left{
			width:100%;	
			float:left;
		}
		.blog_block_right{
			width:100%;	
			float:left;
		}
		.blog_date ul{
			padding:0 2px;	
		}
		#mainContainer {
			height:auto;	
		}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 789px) {
		body div#wpadminbar{
			position:fixed!important;
		}
		.row .mobile-three a.gallery_2col span.image_hover,
		.row .mobile-four a.gallery_3col span.image_hover{
			background: black url(../images/hover_image_small.png) no-repeat center center;
		}
		.row .mobile-three a.gallery_2col span.video_hover,
		.row .mobile-four a.gallery_3col span.video_hover{
			background: black url(../images/hover_video_small.png) no-repeat center center;
		}		`	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 789px) {
		.slider-desc{
			width:100%;	
		}
		#pricing_table.pricing_4_col .pricing_section,
		#pricing_table .pricing_section{
			min-width:240px;
			max-width:320px;
			width:100%;
			margin:0 auto 10px auto;
			float:none;			
		}
		#pricing_table .pricing_active{
			top:0;	
			margin: 0 auto 10px auto;
		}
		.container{
			/* top:45px;*/	
			 padding-bottom:45px;
		}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.slider-desc{
			width:100%;	
			display:none;
		}
		.slider-info-row h2{
			font-size:20px;
			line-height:30px;	
		}
		#pricing_table.pricing_4_col .pricing_section,
		#pricing_table .pricing_section{
			min-width:240px;
			width:100%;
			margin-bottom:5px;
		}
		#pricing_table .pricing_active{
			top:0;	
			margin: 0 -1px 5px -1px;
		}
		#galleria{/*height:320px*/}
		/* General */
		.columns.right{
			float:none;	
		}
		.container{
			/* top:45px;*/	
			 padding-bottom:45px;
		}
		.assorted.row .mobile-two{
			width:100% !important;
		}
		
		.row .mobile-fullwidth{width:100% !important;}
		.row .mobile-halfwidth{width:50% !important;}
		
		.row .mobile-halfwidth a.gallery_2col span.image_hover,
		.row .mobile-four a.gallery_3col span.image_hover,
		a.gallery_4col span.image_hover{
			background: black url(../images/hover_image_grid.png) no-repeat center center;
		}		
		.row .mobile-halfwidth a.gallery_2col span.video_hover,
		.row .mobile-four a.gallery_3col span.video_hover,
		a.gallery_4col span.video_hover{
			background: black url(../images/hover_video_grid.png) no-repeat center center;
		}
		
	}
	
.older-entries { 
	padding-top:30px; 
	font-style: italic; 
	font-size: 14px;  
	font-family: 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif; 
}

.older-entries a:hover { 
	padding-top:30px; 
	color: white; 
	text-decoration: underline;  
}

.reply { 
	font-size:11px; 
	text-decoration:underline; 
}

.header { 
	padding-top: 18px; 
	margin-bottom:25px; 
}

.title-page { 
	font-family: 'PT Sans Narrow', sans-serif; 
	font-weight:normal; 
	margin-top:6px; 
	text-transform: uppercase;
}

.page-title { 
	margin-top:40px;
}

.post-image { 
	margin-top:20px; 
	margin-bottom:20px; 
}

.inside-reveal { 
	color:#000000; 
}

.blog-link a { 
	color:#FFFFFF; 
}

/* -----------------------------------------
   COLORBOX
----------------------------------------- */
.gallery-space { 
	padding-bottom: 15px; 
}

.gallery-grid { 
	margin-right: 3px; 
}

/* -----------------------------------------
   FOOTER
----------------------------------------- */
.footer { 
	/*padding-top:70px; */
	margin-bottom:17px; 
	margin: 0 auto; 
	padding: 0 20px;
	overflow: hidden; 
	font: 12px/20px Verdana,Arial,sans-serif;
	line-height: 1.6;
}
.footer h3{
	font-size: 16px;
	padding: 5px 0 10px;
	margin-bottom:0px;	
	text-transform: uppercase;
	border-bottom: 1px solid #333333;
}
.footer .menu {
	background: none;
	font-family: inherit;
	padding: 0;
}
.footer .menu ul {
	padding: 0;
}
.footer .menu li {
	list-style: none;
	border-bottom: 1px solid #333333;
	padding: 5px 0 5px 10px;
}
.footer .menu li:hover {
	background: #121212;
}
.footer .menu li a {
	text-decoration: none;
}
.textwidget {
	padding: 10px 0;
}
.copyright-footer {
	padding: 0 20px;
}
p.copyright-text {
	font-size: 11px;
}

/* -----------------------------------------
   ASSORTED
----------------------------------------- */
.assorted { margin-botton:60px; }
.search-button {
	height: 26px;
	padding: 0 0 2px 0;
	width: 63px;
	background: #353535;
	background: -moz-linear-gradient(top, #424242,#282828);
	background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#282828));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#424242', endColorstr='#282828');/*For IE7-8-9*/ 
	border: 1px solid #333;
	font: 12px 'Helvetica Neue', Verdana, Helvetica, sans-serif;
	color:white;
	border-radius: 3px;
}

.more-link {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #2C2C2C;
	background: #111;
	float:left;
	text-align: center;
	padding: 7px 10px;
	display: block;
	text-decoration: none;
}
.more-link:hover{
	background:#222;
}	
.send-link, .wpcf7-submit {
	height: 30px;
	padding: 0 0 2px 0;
	width: 150px;
	background: #353535;
	background: -moz-linear-gradient(top, #424242,#282828);
	background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#282828));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#424242', endColorstr='#282828');/*For IE7-8-9*/ 
	border: 1px solid #333;
	font: 12px 'Helvetica Neue', Verdana, Helvetica, sans-serif;
	color:white;
	border-radius: 3px;
}

.send-link:hover,
.search-button:hover,
.wpcf7-submit:hover {
	background: -moz-linear-gradient(top,#282828, #424242);
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#424242));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#282828', endColorstr='#424242');/*For IE7-8-9*/ 
	cursor: pointer;
}

.edge {
	height:106px;
	opacity: 0.87;
	filter: alpha(opacity=87)/*for E8*/;
	background-position:center;
}

.space-bottom { 
	margin-bottom:10px; 
} 

/* -----------------------------------------
   Tabs
----------------------------------------- */
.tabs-content .tab {
	display:none;
}

.tabs, .tabs_alt { 
	list-style: none; 
}

.tabs li, .tabs_alt li { 
	display: inline; 
}

.tabs li a { 
	color: white; 
	float: left; 
	display: block; 
	padding: 4px 10px; 
	position: relative; 
	left: 0px; 
	background: #121212; 
	text-decoration: none; 
	border: 1px solid #2a2a2a; 
	margin: 0 5px -2px 0; 
	color: #ededed; 
	z-index: 0;
}

.tabs_alt li a {
	background: #121212;  
	text-decoration: none; 
	border: 1px solid #2a2a2a; 
	display: inline-block; 
	float: left;
	padding: 4px 10px;
	margin: 0 10px 0 0;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px; 
	border-radius: 2px; 
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
}

.tabs li a:hover { 
	background: #1a1a1a; 
}

.tabs li.active a {
	position: relative;
	z-index: 1000;
	border-bottom: none;
	background: #1a1a1a;
	color:  white;
}

.tabs_alt li.active a {
	 border-bottom: 1px solid #2a2a2a; 
	 background: #2a2a2a;
}

.tab_container {
	position: relative;
	z-index: 3;
	clear: left;
	margin: -3px 0 0 0;
	list-style: none;
	border: 1px solid #2a2a2a;
	background: #1a1a1a;
	display: block;
	width: 100%;
}

.tab_container_alt {
	background: none;
	border: none;
	margin: 0;
}

.tab_container div {
	padding: 20px;
}

.tab_container p {
	margin-bottom: 5px !important;
}

.tab_container_alt div {
	padding: 20px 0;
}

.tabs_wrap ul {
	margin: 0px !important;
	padding: 0px !important;
}

.toggle_box p {
	margin-bottom: 0px !important;
}

.tab_container div { 
	padding: 10px 3%; 
}  

.tab_container div.two_thirds {
	float: left;  
	margin: 0 5% 0 0; 
	width: 59%; 
}  

.tab_container div.one_third {
	float: left;   
	margin: 0 5% 0 0; 
	width: 24%; 
}

.tab_content > h3 {
	padding: 0;
}
 
/*Hide Menu*/

#hide_menu {
	width: 220px;
	height: 115px;
	margin: 0 0 0 0;
	padding: 0 30px 0 30px;
	position: relative;
}

.menu_visible {
	background:url(../images/menu_hide_arrow_top.png) no-repeat top left;
}

.menu_hidden {
	background:url(../images/menu_hide_arrow_bottom.png) no-repeat top left;
}

#hide_menu a {
	display: none;
	width: 48px;
	height: 48px;
	text-indent: -9999px;
	position: absolute;
	top: 5px;
	left: 97px;
	outline: none;}
	.menu_tooltip
	{width: 140px;
	height: 30px;
	padding: 17px 15px 0 25px;
	background: url(../images/tooltip.png) no-repeat center center;
	position: absolute;
	top: 4px;
	left: 131px;
	font: 12px "Helvetica Neue", Verdana, Helvetica, sans-serif;
	line-height: 18px;
	display: none;
} 

.menu_tooltip div {
	position: absolute;
	top: 14px;
	left: 31px;
}

.menu_tooltip .tooltip_show {
	display: none;
}

.menu_tooltip p {
	text-align: center;
}

p.interactive { 
	margin-bottom:0px;
}


/* Acordion ------------------------------------*/
.accordion { 
	margin: 15px 0; 
	padding: 0; 
	position: relative;
}

.accordion div { 
	margin: 0 0 5px 0; 
	padding: 0;
}

.accordion div.accordion_head {
	background: #121212;
	position: relative;
	z-index: 1;
	border: 1px solid #2a2a2a;
	margin: 0 0 5px 0;
}

.accordion div.accordion_head a {
	text-decoration: none;
	padding: 5px 10px;
	display: block;
	background:  url(../images/elements/accordion_open.png) no-repeat 98% center;
}

.accordion div.accordion_head.active_acc a {
	color: white;
	background: #292929;
}

.accordion div.accordion_content {
	background: #121212;
	border: 1px solid #2a2a2a;
	border-top: 0;
	top: -5px;
	margin: 0;
	position: relative;
	z-index: 0;
}

.accordion div.accordion_content .accordion_inner{
	padding:15px 20px 15px;	
}

/* --- toggles --- */
.toggle_box {
	margin: 10px 0;
}

.toggle_box .hide {
	padding: 5px 0;
}

.toggle_box .toggle {
	padding: 0 0 0 20px;
	background:  url(../images/elements/accordion_open.png) no-repeat left center;
	margin: 0 0 5px 0;
	display: block;
	font-size: inherit;
}

.toggle_alt .toggle_box {
	background: #121212; 
	text-decoration: none; 
	border: 1px solid #2a2a2a;
	margin: 10px 0;
}

.toggle_alt .toggle_box .toggle {
	padding: 5px 0 4px 25px;
	text-decoration: none;
	background:  url(../images/elements/accordion_open.png) no-repeat 5px center;
}
	
.toggle_alt .toggle_box div {
	padding: 5px 25px 15px 25px;
}

.toggle_alt .toggle_box .toggle {
	
}

.toggle_alt .toggle_box .toggle.active{
	background:  url(../images/elements/accordion_close.png) no-repeat 5px center;
	color: white;
}

.separator{
	width: 100%;
	height: 20px;
	border-bottom: 1px solid #787878;
}

/* --- Dropcaps --- */
.dropcaps p:first-child:first-letter { 
	font-size: 340%; 
	float: left; 
	position: relative; 
	margin: 10px 7px 0 0; 
	line-height: 0.7em; 
	font-family: Palatino, Georgia, serif;
}

.dropcaps_alt p:first-child:first-letter { 
	font-size: 340%; 
	float: left; 
	position: relative; 
	margin: 7px 7px 0 0; 
	line-height: 0.7em; 
	font-family: Verdana, Arial, sans-serif;
}

/* Vimeo Video Background */
	.backgroundvimeo {
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0;
	width: 100%;
	/*z-index: -1;*/
}
.backgroundvimeo > iframe {
	border: medium none;
	display:block;
	height: 100%;
	width: 100%;
}


/* Pricing Table styles 
---------------------------------------------- */

#pricing_table {
    margin: 15px auto;
    text-align: center;
    width: 100%;
	cursor:pointer;
}

.pricing_section {  
    background: #141414;
    border: 1px solid #5a5a5a;
    color: #ebebeb;
    padding: 20px 31.9px;
    float: left;
    position: relative;
}

/* Added in v5.0.6 for optional 2 column pricing tables */
.pricing_2_col .pricing_section {
	width: 50%;
}

/*#pricing_table.pricing_4_col .pricing_section
{
	width: 25%;
}*/

.pricing_active {
    z-index: 2;
    background: #3b3b3b;
    color:  white;
    border-width: 3px;
    padding: 30px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
    box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
}

.plan:nth-child(1) {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.plan:nth-child(4) {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

/* --------------- */   

#pricing_table h3 {
    font-size: 20px;
    font-weight: normal;
    padding: 30px 20px 0px 20px;
    margin: -20px -20px 0px -20px;
}

#pricing_table #most-popular h3 {
    background-color: #ddd;
    background-image: -moz-linear-gradient(#eee,#ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -o-linear-gradient(#eee, #ddd);
    background-image: -ms-linear-gradient(#eee, #ddd);
    background-image: linear-gradient(#eee, #ddd);
    margin-top: -30px;
    padding-top: 30px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}


#pricing_table h3 span {
    font: bold 25px/100px Georgia, Serif;
    color: white;
    display: block;
    margin: -5x auto -25px;  
}

/* --------------- */

#pricing_table ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

#pricing_table li {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    font-size: 12px !important;
}

/* --------------- */

#pricing_table .signup {
    position: relative;
    padding: 8px 20px;
    margin: 20px 0 0 0;
    color: #fff;
    font: bold 14px Arial, Helvetica;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: #72ce3f;
    background-image: -moz-linear-gradient(#72ce3f, #62bc30);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));
    background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
    background-image: -o-linear-gradient(#72ce3f, #62bc30);
    background-image: -ms-linear-gradient(#72ce3f, #62bc30);
    background-image: linear-gradient(#72ce3f, #62bc30);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
		
}

#pricing_table .signup:hover {
    background-color: #62bc30;
    background-image: -moz-linear-gradient(#62bc30, #72ce3f);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));
    background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
    background-image: -o-linear-gradient(#62bc30, #72ce3f);
    background-image: -ms-linear-gradient(#62bc30, #72ce3f);
    background-image: linear-gradient(#62bc30, #72ce3f);
}

#pricing_table .signup:active, #pricing_table .signup:focus {
    background: #62bc30;
    top: 2px;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
}

.post_tags {
	padding-left:30px;
}
.icon-list p {
	margin-bottom: 0px;
}
/* --------------- */


/* ----- Custom @ KS ------ */

.grid {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/grid.png);
	z-index: 1;
}

ul.archives li { 
	padding-bottom: 10px;
}

ul.archives li ul {
	padding-left: 15px;
	padding-bottom: 10px;
	display:inline-block;
}

ul.archives li ul li { 
	padding-top: 5px; 
	border-top: 0px; 
	list-style: circle; 
	padding-bottom: 2px;
}

#page_search #s {
    margin: 0 5px 0 0;
    padding: 7px 5px;

}

#page_search #searchsubmit {
    padding: 6px 0;
}

#searchsubmit {
    font-size: 12px;
    padding: 4px 0;
}

#cancel-comment-reply-link {
    background: url(../images/cross.png) no-repeat scroll left 0px rgba(0, 0, 0, 0);
    padding: 0 0 0 20px;
    position: relative;
    right: 0;
    top: 7px;
}

/* Added in v5.9.1 */
.comments_section .post_text {
	margin-bottom: 0;
}
.comments_section h4 {
	margin-bottom: 0;
}

/* --- Posts --- */
.post {
	height: auto;
	clear: both;
}

#pagination {
	clear: both;
	padding: 50px 0;
}

.older {
	display: inline;
}

.newer {
	display: inline;
	float: right;
}

/* Next/Prev Posts */
.next-prev-pagi {
	padding: 0 0 20px 0;
}

.next-prev-pagi i {
	font-size: 12px;
}

.next-post {
	text-align: right;
	font-size: 14px;
	line-height: 18px;
}

.prev-post {
	text-align: left;
	font-size: 14px;
	line-height: 18px;
}

.np-text {
	margin: 0 5px;
}

/* Back to Top */
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #000 url(../images/up-arrow.png) no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* --- Sidebar --- */
#sidebar div {
    margin: 0 0 40px;
}

#sidebar h5 {
    color: #d1d1d1;
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 20px;
}

/* Contact Widget */
.sidebar_contact h3{
	font-size:18px;
	padding:0;	
}

.footer ul.contact-widget {
	padding-top: 0px;
}

.footer ul.contact-widget li:first-child {
	border-top:none;
}

#sidebar ul li {
	border-bottom: 1px solid #2b2b2b;
	list-style: none;
	/*padding: 5px 0;*/
	background: url(../images/posts.png) -2px center no-repeat;
	padding: 5px 0 5px 23px;
}
#sidebar .wGallery li{
	background:none;
	padding:5px 0;
	border-bottom: 0px;
}
#sidebar ul li:first-child {
	border-top: 1px solid #2b2b2b;
}

#sidebar ul li:hover {
	background-color: #121212;
}
#sidebar ul li:hover a{
	color:#fff;
}
#sidebar ul li:active {
	color: #4d4d4d; font-weight: bold;
}

#sidebar .widget_search {
	margin: 0px;
}

#sidebar form#search div{
	margin:0;	
}

#sidebar ul#recentcomments li {
    background: url(../images/widget-comments.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    padding: 7px 0 7px 23px;
}

#sidebar ul#twitter_list li, #footer_columns ul#twitter_list li {
    background: url(../images/widget-twitter.png) no-repeat scroll left center rgba(0, 0, 0, 0);
    padding: 6px 0 8px 23px;
}

img.avatar {
    border: 1px solid #303030;
    padding: 5px;
    right: 0;
	width:auto;
	height:auto;
}

.info_box_sign {
    background: url(../images/info_box.png) no-repeat scroll left top rgba(0, 0, 0, 0);
}

.message_box_sign {
    display: block;
    height: 48px;
    left: -20px;
    position: absolute;
    text-indent: -9999px;
    top: -20px;
    width: 48px;
    z-index: 999;
}

/* Custom tool tip -tipsy*/
.tooltip_custom_top,
	.tooltip_custom_bottom,
	.tooltip_custom_left,
	.tooltip_custom_right{
		padding: 10px;
		color: #fff;
		background-color: rgba(0,0,0,0.9);
		text-shadow: 0 0 3px #000;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		position: relative;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		font-size:12px;
	}
	.tooltip_custom_top:after,
	.tooltip_custom_bottom:after,
	.tooltip_custom_left:after,
	.tooltip_custom_right:after{
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-image: none;
		border-style: solid;
		border-width: 7px;
		content: "";
		position: absolute;
		z-index:1;
	}
	.tooltip_custom_top:after {		
		border-color: rgba(0,0,0,0.9) transparent transparent transparent;		
		left: 50%;
		margin-left:-7px;
		bottom: -14px;
	}	
	.tooltip_custom_bottom:after {		
		border-color: transparent transparent rgba(0,0,0,0.9) transparent;		
		left: 50%;
		margin-left:-7px;
		top: -14px;
	}
	.tooltip_custom_left:after {		
		border-color: transparent transparent transparent rgba(0,0,0,0.9);
		right: -14px;
		top: 50%;
		margin-top:-7px;		
	}
	.tooltip_custom_right:after {		
		border-color: transparent rgba(0,0,0,0.9) transparent transparent;		
		left: -14px;
		top: 50%;
		margin-top:-7px;
	}
	
/* Fanybox Adjustments */
.fancybox-skin p {
	color: #444;
	margin-bottom: 0px;
}

/* Galleria Adjustments */
.galleria-info {
	opacity: 0.7;
}
.galleria-info-title {
	font-size: 12px;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	letter-spacing: 0.04em;
}
.galleria-info-title p {
	margin-bottom: 0px;
	margin-top: 10px;
	letter-spacing: 0.03em;
	font-size: 11px;
}

/* Social Networks in Navigation & Footer */
.social-networks-menu {
	text-align: center;
	padding: 10px 0;
}
.social-networks-menu a {
	display: inline;
	list-style: none;
	font-size: 22px;
	padding: 4px;
	line-height: 1.3em;
}
.footer-networks a {
	display: inline;
	list-style: none;
	font-size: 18px;
	line-height: 1.2em;
	padding: 0 4px;
}

/* Lists */
.blog_block_left ul, .fullwidth-page ul {
	padding-left: 17px;
}
.blog_block_left ul li, .fullwidth-page ul li {
	list-style-position: outside;
	padding-left: 5px;
}

/* Visual Composer Styles (coming in v5.1) */
.wpb_wrapper {
	
}
.wpb_wrapper h1, .wpb_wrapper h2, .wpb_wrapper h3, .wpb_wrapper h4, .wpb_wrapper h5, .wpb_wrapper h6 {
	margin-top: auto;
}
.vc_separator .vc_sep_holder .vc_sep_line {
	border-color: #646464;
	border-width: 1px 0 0;
}
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header {
	background: #121212;
	position: relative;
	z-index: 1;
	border: 1px solid #2a2a2a;
	margin: 0 0 5px 0;
	padding: 5px 10px;
}
.wpb_content_element .wpb_tabs_nav li {
	background: #121212;
	text-decoration: none;
	border: 1px solid #2a2a2a;
	margin: 10px 0;
}
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover {
	color: white;
	background: #292929;
}
.wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
	position: relative;
	z-index: 3;
	clear: left;
	margin: -3px 0 0 0;
	list-style: none;
	border: 1px solid #2a2a2a;
	background: #1a1a1a;
	display: block;
	width: 100%;	
}

/* Yoast Breadcrumbs */
.yoast-bc {
	border-bottom: 1px solid #434343;
}
#breadcrumbs {
	padding-bottom: 10px;
}

/* WPCF7 Alert */
div.wpcf7-validation-errors {
	padding: 20px 10px;
	font-size: 13px;
}

/* Portfolio Isotope: Filtered Galleries */
.media-boxes-filter {
	font-size: 0px;
	list-style: none;
	margin: 0;
	padding: 0px;
	text-align: left;
}
ul.media-boxes-filter {
	padding-left: 0;
}
.media-boxes-filter>li {
	display: inline-block;
	line-height: 0px;
	margin: 0 8px 0 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.media-boxes-filter>li a {
	display: block;
	cursor: pointer;
	color: #676767;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	margin: 0 0 12px;
	padding: 11px 14px;
	border: 1px solid #2C2C2C;
	background: #111;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color .1s;
	-moz-transition: background-color .1s;
	-o-transition: background-color .1s;
	-ms-transition: background-color .1s;
	transition: background-color .1s;
	-webkit-box-shadow: 0 1px 1px rgba(34,25,25,0.2);
	-moz-box-shadow: 0 1px 1px rgba(34,25,25,0.2);
	-o-box-shadow: 0 1px 1px rgba(34,25,25,0.2);
	-ms-box-shadow: 0 1px 1px rgba(34,25,25,0.2);
	box-shadow: 0 1px 1px rgba(34,25,25,0.2);
}
.media-boxes-filter>li a.selected {
	background:#222;
	color: #fff;
	-webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15) !important;
	-moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15) !important;
	box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15) !important;
}
.media-boxes-filter>li a:hover {
	background:#222;
	color: #fff;
}

/* Gravity Forms */
.gform_wrapper h3.gform_title {
	font-size: 25px;
	margin: 0 0 10px;
}
.gform_wrapper input[type=email], .gform_wrapper input[type=number], .gform_wrapper input[type=password], .gform_wrapper input[type=tel], .gform_wrapper input[type=text], .gform_wrapper input[type=url] {
	margin: 0 0 5px;
}
.gform_wrapper .top_label .gfield_description {
	padding: 0;
}
.ginput_container_select {
	
}
.gform_wrapper select {
	
}
.gform_wrapper option {
	
}
.gform_wrapper ul li.gfield {
	padding: 0 0 15px;
}
.gform_wrapper .top_label .gfield_label {
	font-size: 14px;
}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction {
	font-size: 13px;
}

/* Jetpack */
.comment-subscription-form {
	margin-top: 15px;
}
.sd-social-icon-text .sd-content ul li a.sd-button>span {
	display: inline !important;
	opacity: 1 !important;
}
.sd-content ul li a.sd-button>span {
	opacity: 1 !important;
}
.sd-social-official .sd-content ul li a.sd-button span {
	display: inline !important;
}

/* EventON */
.ajde_evcal_calendar .calendar_header .evcal_arrows {
	border-radius: 0px;
	border: none;
}

/* WordPress Calendar Widget */
#wp-calendar td {
	padding: 5px;
}

#wp-calendar #today { 
	background-color: #333; 
}

/* Attachment Page */
.attachment-image {
	margin-bottom: 25px;
}

/* WooCommerce */
.woocommerce .page-title {
	font-weight: normal;
    margin-top: 10px;
    text-transform: uppercase;
}
.woocommerce #pagination {
	padding: 15px 0 50px;
}

/* WC Shop Overview */
.woocommerce ul.products {
	padding: 25px 0 0;
}
.woocommerce ul.products li.product h3 {
	padding: 0 0 15px;
}
.woocommerce ul.products li.product .price {
	font-size: 13px;
	float: left;
}
.woocommerce ul.products li.product .button {
	clear: both;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last {
	margin-right: 0 !important;
}

/* WC Single Product */
.single-product .ks-woocommerce {
	margin-top: 30px;
}
.woocommerce div.product p.price {
	font-size: 16px !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	margin-bottom: 0;
	padding-left: 5px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-color: #646464;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	background: #1B1B1B;
	margin-right: 10px;
	margin-bottom: -5px;
	border-color: #646464;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: inherit;
	border-bottom: 1px solid #000;
	border-top: 3px solid #646464;
	z-index: 1;
	color: #F1F1F1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before, 
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
	box-shadow: none;
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	background-color: inherit;
	border: none;
	padding: 5px 10px;
	font-size: 16px;
}
.woocommerce div.product .woocommerce-tabs .panel {
	background: inherit;
	margin: 0;
	padding: 20px;
	border: none;
}
.woocommerce input.input-text.qty.text {
	font-size: 14px !important;
	padding: 0;
	height: 27px;
	width: 50px;
	margin: 0;
	display: inline-block;
	
}

/* WC Product Variations */
.woocommerce div.product form.cart .variations td {
	background: none;
}
.woocommerce div.product form.cart .variations td.label {
    padding: 9px 15px 0 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: inherit;
    white-space: nowrap;
    display: block;
    position: relative;
    bottom: 1px;
    color: #fff;
    background: none;
}
.woocommerce .single_variation {
    display: inline-block;
    position: relative;
    top: -20px;
    margin-right: 10px;
}
.woocommerce .variations_button {
	display: inline-block;
}

/* WC Product Reviews */
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border-color: #646464;
	border-radius: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #646464;
	display: block;
	width: 0;
	z-index: 1;
	left: 40px;
	top: 0;	
}

/* WC Related Products */
.woocommerce .related {
	border-top: 1px solid #646464;
	margin-top: 50px;
}
.woocommerce .related h2 {
	margin-top: 25px;
}
.woocommerce .related ul.products li.product {
	margin: 0 10px 0 0;
}

/* WC Messages */
.woocommerce .woocommerce-message {
	border-top-color: #70BF39;
}
.woocommerce .woocommerce-error {
	border-top-color: #EF4328;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
	background-color: #313131;
	font-size: 14px;
	color: #F1F1F1;
}

/* WC Checkout */
.woocommerce-checkout #payment {
	background: none;
}
.woocommerce-checkout #payment div.payment_box p:last-child {
	color: #333;
}
.woocommerce-checkout #payment ul.payment_methods li input {
	display: inline-block;
}
.woocommerce-checkout #payment ul.payment_methods li label {
	display: inline-block;
}
.select2-search input[type="text"] {
	background-color: #ccc !important;
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Hides the clunky default WC PayPal Icon */
.woocommerce-checkout #payment ul.payment_methods li.payment_method_paypal img {
	display: none;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
	line-height: 25px;
	margin-left: 15px;
}
/* Totals */
.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
	border: 0;
}

/* WC Cart */
.woocommerce a.remove {
	color: #EF4328 !important;
}
.woocommerce a.remove:hover {
	background-color: inherit;
}
.woocommerce table.shop_table .cart_item td {
	border-bottom: 1px solid rgba(100, 100, 100, 0.1) !important;
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
	text-align: center;
	display: block;
	float: none;
	font-size: 12px;
	padding: 0;
	margin: 0;
	font-weight: 200;
}
.woocommerce td.product-name dl.variation dd {
	font-style: italic;
	font-size: 11px;
}
.woocommerce td.product-name a {
	font-weight: 700;
}
.woocommerce-cart table.cart input {
	margin: 0 10px;
}

/* WC Tables */
.woocommerce table {
	border-radius: 0 !important;
	border: 0;
}
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
	border: 0;
}
.woocommerce th {
	border: 0;
}
.woocommerce td {
	border: 0;
}
.woocommerce tfoot th {
	background: #313131;
}
.woocommerce .order_details li strong {
	font-size: 1em;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: auto;
	padding: 8px 6px 5px;
	height: 27px;
}
.woocommerce-page table.cart td.actions {
	padding: 10px;
}

/* WC Buttons */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #2C2C2C;
	background: #111;
	float:left;
	text-align: center;
	padding: 7px 10px;
	display: block;
	text-decoration: none;
	color: #D2D2D2;
	font-weight: 300;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
	background: #222;
	color: #fff;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #2C2C2C;
	background: #111;
	float:left;
	text-align: center;
	padding: 7px 10px;
	display: block;
	text-decoration: none;
	color: #D2D2D2;
	font-weight: 300;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
	background: #222;
	color: #fff;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	width: 100%;
}

/* WC My Account */
.woocommerce mark {
	background-color: inherit;
	color: inherit;
	font-weight: 700;
	border-bottom: 1px solid;
}
.woocommerce address {
	font-size: 15px;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	border: 1px solid #646464;
	border-radius: 0px;
	background-color: #313131;
}

/* WC Hacks */
.pp_woocommerce {
	overflow: visible !important;
}
.pp_woocommerce .pp_top {
	height: 0px;
}
.pp_woocommerce div.ppt {
	margin: 0 0 10px 0px;
}
div.pp_woocommerce .pp_description {
	color: #333;
}
.woocommerce a.added_to_cart {
	display: none;
}

/* Video JS Fixes */
.video-content {
	width: 100%;
}
.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
	min-height: 100%;
}

/* Easy Digital Downloads */

/* EDD Checkout */
#edd_checkout_cart th, #edd_checkout_cart .edd_cart_header_row th {
	background: #313131;
}
#edd_checkout_form_wrap fieldset {
	border: none;
	padding: 0;
}
#edd_checkout_form_wrap legend {
	background: inherit;
	margin-top: 15px;
	font: bold 20px 'PT Sans', 'Helvetica Neue', 'Verdana', sans-serif;	
}
#edd_checkout_form_wrap #edd_final_total_wrap {
	background: #FAFAFA;
}
#edd_checkout_cart td, #edd_checkout_cart th {
	color: #d4d4d4;
    border: 1px solid #5c5c5c;
    padding: 5px 10px;
    text-align: center;
    background: #0f0f0f;
}
#edd_checkout_cart input.edd-item-quantity {
	display: inline;
	margin: 0;
}

/* EDD Confirmation */
table#edd_purchase_receipt_products li {
	margin: 0;
	padding: 0;
}

/* EDD Purchase History */
#edd_user_history th {
	font-weight: normal;
    color: white;
    text-align: left;
    border-left: 1px solid #5c5c5c;
    padding: 5px 10px;
    background: #313131;
}
#edd_user_history {
    text-align: left;
    width: 100%;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
}
#edd_user_history td, #edd_user_history th {
	border-bottom: 1px solid #5c5c5c;
}

/* EDD Pagination */
#edd_download_pagination {
	text-align: center;
}


/* WC Media Queries */
@media only screen and (max-width: 790px) {
	.woocommerce-cart table.cart td.actions .coupon .input-text {
		width: 100%;
		margin-bottom: 15px;
		display: block;
	}
	.woocommerce table.cart td.actions .input-text+.button {
		width: 100%;
		margin: 0;
	}
	.woocommerce .cart .button, .woocommerce .cart input.button {
		width: 100% !important;
		margin: 0;
	}
	.back-to-top { display: none !important; }
}
@media only screen and (min-width: 768px) {
	.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 32%;
		margin: 0 10px 2.992em 0;
	}
}

@media only screen and (max-width: 570px) {
	.woocommerce .related ul.products li.product {
		width: 100%;
		margin: 0 0 20px;
	}
}

@media only screen and (max-width: 510px) {
	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		width: 100%;
		border-bottom: none;
		border-radius: 0;
	}
}

@media only screen and (max-width: 480px) {
	.woocommerce ul.products li.product {
		width: 100%;
		margin: 0 0 20px;
	}
}