@include: common.neon

member:
	label: @native
	cpt: member
	type: posts
	default: 0
	help: "Select member displayed on page"

imageHeight:
	label: Image Format
	type: select
	selected: "1:1"
	default:
		"round" : "Round"
		"1:1" : "1:1"
		"2:1" : "2:1"
		"3:4" : "3:4"
		"4:3" : "4:3"
		"16:9" : "16:9"
		"none" : "No image"
	help: "Select format for image of member"

displayData:
	label: Display Contact Data
	type: on-off
	default: on
	help: "Enable or disable box with Contact Data"
	
linksInNewWindow:
	label: Open links in new window
	type: on-off
	default: off

memberdesc:
	label: Description Source
	type: select
	selected: long
	default:
		long: About Member
		short: Short description
		none: No description - wide Contact Data
	help: 'Select type of description or disable any description'

- section(id: memberdesc-long, title: 'Long description settings')

textRows:
	label: Text Rows
	type: select
	selected: 5	
	default:
		none: Unlimited
		1: 1 row
		2: 2 rows
		3: 3 rows
		4: 4 rows
		5: 5 rows
		6: 6 rows
		7: 7 rows
		8: 8 rows
		9: 9 rows
		10: 10 rows
	help: "Number of rows for description text"	

hideRows:
	label: Collapsible Rows
	type: on-off
	default: on
	help: "Collapsible hidden exceeded rows"

- section(id: memberdesc-none, title: 'No description settings')

maxMemberWidth:
	label: Max Width
	type: number
	unit: px
	default: 480
	help: "Max width for member when there is no description"

- section(title: 'Advanced Colors', advanced: true)

positionColor:
	label: Position Color
	type: color
	default: ""
	help: "Color of Member's Position"

dataTxtColor:
	label: Contact Data Color
	type: color
	default: ""
	help: "Color of text in Contact Data Box"

dataLnkColor:
	label: Contact Links Color
	type: color
	default: ""
	help: "Color of links in Contact Data Box"