@import url(../warp/css/tools.css);
/*//   Buttons   //
----------------------------------------------------------------------------------------------------*/
.button-default, .button-primary, .button-black
{
	display: inline-block;
	padding: 3px 9px;
	border-radius: 4px;
	font-size: 13px;
}
FORM.style BUTTON, FORM.style INPUT[type="button"], FORM.style INPUT[type="submit"]
{
	display: inline-block;
	padding: 6px 9px;
	border-radius: 4px;
	font-size: 12px;
}
FORM.style BUTTON, FORM.style INPUT[type="button"], FORM.style INPUT[type="submit"], .button-default
{
	border: 1px solid #E0E0E0;
	border-bottom-color: #CDCDCD;
	background: #F9F9F9;
	background: -webkit-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: -moz-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: -o-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: linear-gradient(to bottom, #f9f9f9, #f7f7f7);
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 1);
	color: #444;
}
FORM.style BUTTON:hover, FORM.style INPUT[type="button"]:hover, FORM.style INPUT[type="submit"]:hover, .button-default:hover, .button-primary, .pricing .hightlighted .button-default
{
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #FFF;
}
FORM.style BUTTON:active, FORM.style INPUT[type="button"]:active, FORM.style INPUT[type="submit"]:active, .button-default:active
{
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 1), inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #FFF;
}
.button-primary:hover, .pricing .hightlighted .button-default:hover
{
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #FFF;
}
.button-primary:active, .pricing .hightlighted .button-default:active
{
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #FFF;
}
.button-black
{
	border: 1px solid #4B4D51;
	border-bottom-color: #3E4144;
	background: #5B5D63;
	background: -webkit-linear-gradient(top, #5B5D63, #52555A);
	background: -moz-linear-gradient(top, #5B5D63, #52555A);
	background: -o-linear-gradient(top, #5B5D63, #52555A);
	background: linear-gradient(to bottom, #5B5D63, #52555A);
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #D1D1D1;
}
.button-black:hover
{
	border-color: #47494D;
	border-bottom-color: #3E4144;
	background: #4D5055;
	background: -webkit-linear-gradient(top, #4D5055, #45494E);
	background: -moz-linear-gradient(top, #4D5055, #45494E);
	background: -o-linear-gradient(top, #4D5055, #45494E);
	background: linear-gradient(to bottom, #4D5055, #45494E);
	box-shadow: inset 0px 1px 0 rgba(255, 255, 255, 0.2);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #D1D1D1;
}
.button-black:active
{
	border-color: #3E4144;
	background: #45494E;
	background: -webkit-linear-gradient(top, #45494E, #4D5055);
	background: -moz-linear-gradient(top, #45494E, #4D5055);
	background: -o-linear-gradient(top, #45494E, #4D5055);
	background: linear-gradient(to bottom, #45494E, #4D5055);
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0px 1px 2px rgba(0, 0, 0, 0.1);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	color: #D1D1D1;
}
/*//   Images and Objects   //
----------------------------------------------------------------------------------------------------*/
IMG.border-box
{
	border: 1px solid #DDD;
}
.img-border
{
	border: 1px solid #DDDDDD;
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.img-rounded
{
	/*+box-shadow:inset 0px 0px rgba(255, 255, 255, 0.65);*/
	-moz-box-shadow: inset 0px 0px rgba(255, 255, 255, 0.65);
	-webkit-box-shadow: inset 0px 0px rgba(255, 255, 255, 0.65);
	-o-box-shadow: inset 0px 0px rgba(255, 255, 255, 0.65);
	box-shadow: inset 0px 0px rgba(255, 255, 255, 0.65);
	border: 1px solid rgb(211, 212, 214);
	background-color: rgb(247, 247, 249);
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.img-polaroid
{
	padding: 4px;
	background-color: #FFF;
	border: 1px solid #CCC;
	/*+box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);*/
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.img-well
{
	background: url(../images/back/back.png);
	/*+box-shadow:inset 0px 0px 3px #999999;*/
	-moz-box-shadow: inset 0px 0px 3px #999999;
	-webkit-box-shadow: inset 0px 0px 3px #999999;
	-o-box-shadow: inset 0px 0px 3px #999999;
	box-shadow: inset 0px 0px 3px #999999;
	padding: 5px;
	/*+box-sizing:border-box;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
/*//   Lists and Tables   //
----------------------------------------------------------------------------------------------------
Line*/
UL.line > LI, UL.line > LI:first-child
{
	border-left-width: 3px;
	border-left-style: solid;
	padding: 7px 8px 5px;
}
UL.line > LI:hover
{
	border-left-width: 3px;
	border-left-style: solid;
}
/*Check*/
UL.check > LI
{
	padding: 4px 0 0 30px;
	background: url(../images/tools/list_check.png) no-repeat 0 0;
}
/*Zebra List and Table*/
UL.zebra > LI, TABLE.zebra TBODY TD
{
	border-bottom: 1px solid #DDD;
}
UL.zebra > LI:first-child, TABLE.zebra TBODY TR:first-child TD
{
	border-top: 1px solid #DDD;
}
UL.zebra > LI.odd, TABLE.zebra TBODY TR.odd
{
	background: #FAFAFA;
}
UL.zebra > LI:nth-of-type(odd), TABLE.zebra TBODY TR:nth-of-type(odd)
{
	background: #FAFAFA;
}
TABLE.zebra
{
	border: 1px solid #DDDDDD;
	background-color: #EEEEEE;
}
TABLE.zebra TH
{
	font-size: 16px;
	padding: 10px;
}
TABLE.zebra CAPTION
{
	color: #999;
	padding: 5px;
}
/*//   Definition Lists   //
----------------------------------------------------------------------------------------------------*/
DL.separator DT
{
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
/*border code because of RTL*/
DL.separator DD
{
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #DDD;
}
DL.separator DT:before
{
	content: "";
	position: absolute;
	top: 0;
	right: -15px;
	width: 30px;
	border-top: 1px solid #DDD;
}
DL.separator DT:after
{
	content: "";
	position: absolute;
	top: -3px;
	right: -3px;
	width: 5px;
	height: 5px;
	background: #FFF;
	border: 1px solid #DDD;
	border-radius: 6px;
}
DL.separator DT:first-child:before, DL.separator DT:first-child:after
{
	display: none;
}
/*//   Text   //
----------------------------------------------------------------------------------------------------
Inline Text Box*/
EM.box
{
	border: 1px dotted #BBB;
	background: #FAFAFA;
	color: #444;
}
/*Horizontal Rules*/
HR
{
	height: 2px;
	border-bottom: 1px solid #FFFFFF;
	/*+box-shadow:inset 0px -1px #DFDFDF;*/
	-moz-box-shadow: inset 0px -1px #DFDFDF;
	-webkit-box-shadow: inset 0px -1px #DFDFDF;
	-o-box-shadow: inset 0px -1px #DFDFDF;
	box-shadow: inset 0px -1px #DFDFDF;
	border-top: none;
	position: relative;
}
HR.hr-1
{
	background: url(../images/tools/hr_1.png) repeat-x center;
	height: 6px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-2
{
	background: url(../images/tools/hr_2.png) repeat-x right bottom;
	height: 6px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-3
{
	background: url(../images/tools/hr_3.png) repeat-x left bottom;
	height: 6px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-4
{
	background: url(../images/tools/hr_4.png) repeat-x right bottom;
	height: 6px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-5
{
	background: url(../images/tools/hr_5.png) no-repeat center bottom;
	height: 9px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-6
{
	background: url(../images/tools/hr_6.png) no-repeat left bottom;
	height: 9px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-7
{
	background: url(../images/tools/hr_7.png) no-repeat right bottom;
	height: 9px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
HR.hr-8:before
{
	content: " ";
	position: absolute;
	height: 4px;
	width: 70px;
	margin-top: -3px;
}
HR.hr-9:after
{
	content: " ";
	position: absolute;
	height: 4px;
	width: 70px;
	margin-top: -3px;
	right: 0px;
}
HR.hr-10, HR.dotted
{
	background: url(../images/tools/hr_10.png) repeat-x left center;
	height: 1px;
	border: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
/*//   Boxes   //
----------------------------------------------------------------------------------------------------*/
.box-content
{
	background: #FAFAFA;
	border: 1px solid #DDD;
}
.box-note, .box-info, .box-warning, .box-hint, .box-download
{
	background: #FAFAFA;
	border: 1px solid #DDD;
}
.box-info
{
	background: #EBF5FA url(../images/tools/box_info.png) no-repeat 0 0;
	border-color: #D2DCE1;
}
.box-warning
{
	background: #FFF0EB url(../images/tools/box_warning.png) no-repeat 0 0;
	border-color: #FFD7CD;
}
.box-hint
{
	background: #FFFAE6 url(../images/tools/box_hint.png) no-repeat 0 0;
	border-color: #FAE6BE;
}
.box-download
{
	background: #FAFFE6 url(../images/tools/box_download.png) no-repeat 0 0;
	border-color: #DCE6BE;
}
.round
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
/*//   Notice   //
----------------------------------------------------------------------------------------------------*/
.notice
{
	background: url(../images/notice-shadow.png) no-repeat center bottom;
	padding: 10px 0 5px;
}
/*//   Forms (Needed for System Markup)   //
----------------------------------------------------------------------------------------------------*/
FORM.box FIELDSET
{
	border: 1px solid #DDD;
}
FORM.box LEGEND
{
	background: #FFF;
}
/*//   Google Prettify   //
----------------------------------------------------------------------------------------------------*/
.com
{
	color: #93A1A1;
}
.lit
{
	color: #195F91;
}
.pun, .opn, .clo
{
	color: #93A1A1;
}
.fun
{
	color: #DC322F;
}
.str, .atv
{
	color: #D14;
}
.kwd, .prettyprint .tag
{
	color: #1E347B;
}
.typ, .atn, .dec, .var
{
	color: #008080;
}
.pln
{
	color: #48484C;
}
.prettyprint
{
	padding: 8px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
}
.prettyprint.linenums
{
	-webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	-moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
	box-shadow: inset 40px 0 0 #FBFBFC, inset 41px 0 0 #ECECF0;
}
/*- Specify class=linenums on a pre to get line numbering*/
OL.linenums LI
{
	padding-left: 12px;
	color: #999999;
	line-height: 20px;
	text-shadow: 0 1px 0 #FFF;
	margin: 0px 0px 0px 3px;
}
.prettyprint OL
{
	margin-top: 0px;
	margin-bottom: 0px;
}
/*//   Spacing   //
----------------------------------------------------------------------------------------------------*/
.top-spacing-10
{
	margin-top: 10px;
}
.top-spacing-20
{
	margin-top: 20px;
}
.top-spacing-30
{
	margin-top: 30px;
}
.bottom-spacing-10
{
	margin-bottom: 10px;
}
.bottom-spacing-20
{
	margin-bottom: 20px;
}
.bottom-spacing-30
{
	margin-bottom: 30px;
}
.left-spacing-10
{
	margin-left: 10px;
}
.left-spacing-20
{
	margin-left: 20px;
}
.left-spacing-30
{
	margin-left: 30px;
}
.right-spacing-10
{
	margin-right: 10px;
}
.right-spacing-20
{
	margin-right: 20px;
}
.right-spacing-30
{
	margin-right: 30px;
}
/*//   Social Icons   //
----------------------------------------------------------------------------------------------------*/
.social
{
	background: url(../images/icons/social_icons.png) no-repeat top left;
	height: 33px;
	width: 33px;
	display: inline-block;
}
.social-pinterest:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 0;
}
.social-linkedin:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -33px;
}
.social-googleplus:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -66px;
}
.social-flickr:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -99px;
}
.social-facebook:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -132px;
}
.social-delicious:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -165px;
}
.social-youtube:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -198px;
}
.social-vimeo:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -231px;
}
.social-twitter:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -264px;
}
.social-skype:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -297px;
}
.social-rss:hover
{
	width: 33px;
	height: 33px;
	background-position: 0 -330px;
}
.social-rss
{
	width: 33px;
	height: 33px;
	background-position: 0 -363px;
}
.social-pinterest
{
	width: 33px;
	height: 33px;
	background-position: 0 -396px;
}
.social-linkedin
{
	width: 33px;
	height: 33px;
	background-position: 0 -429px;
}
.social-googleplus
{
	width: 33px;
	height: 33px;
	background-position: 0 -462px;
}
.social-flickr
{
	width: 33px;
	height: 33px;
	background-position: 0 -495px;
}
.social-facebook
{
	width: 33px;
	height: 33px;
	background-position: 0 -528px;
}
.social-delicious
{
	width: 33px;
	height: 33px;
	background-position: 0 -561px;
}
.social-youtube
{
	width: 33px;
	height: 33px;
	background-position: 0 -594px;
}
.social-vimeo
{
	width: 33px;
	height: 33px;
	background-position: 0 -627px;
}
.social-twitter
{
	width: 33px;
	height: 33px;
	background-position: 0 -660px;
}
.social-skype
{
	width: 33px;
	height: 33px;
	background-position: 0 -693px;
}
/*//   Pricing Box   //
----------------------------------------------------------------------------------------------------*/
.pricing
{
	text-align: center;
}
.pricing .grid-box > DIV
{
	border-right: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	border-bottom: 2px solid #DEDEDE;
	margin-right: 2px;
	margin-left: 2px;
	box-sizing: border-box;
}
.pricing H2
{
	text-align: center;
	padding: 10px;
	margin: 0px;
	background-color: #353535;
	color: #FFFFFF;
}
.pricing .price
{
	font-size: 35px;
	display: inline-block;
	line-height: 2.1;
	font-weight: bold;
	color: #4D5055;
}
.pricing A
{
	margin-top: 15px;
	margin-bottom: 15px;
}
/*//   220 Font Awesome Icons   //
----------------------------------------------------------------------------------------------------*/
.icon-space
{
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}
.icon-space LI [class^="icon-"], .the-icons LI [class*=" icon-"]
{
	display: block;
	text-align: center;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
.icon-space LI
{
	text-align: center;
	margin-bottom: 20px;
	background-color: #F5F5F5;
	padding: 15px;
}
.the-icons
{
	list-style-type: none;
	text-align: center;
	margin-left: 0px;
	padding-left: 0px;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
	font-size: 11px;
	padding-right: 0px;
	margin-right: 0px;
}
.the-icons LI [class^="icon-"], .the-icons LI [class*=" icon-"]
{
	font-size: 32px;
	display: block;
	/*+placement:margin-auto 0px 0px;*/
	margin-left: auto;
	margin-right: auto;
	position: relative;
	left: 0px;
	top: 0px;
}
.the-icons LI
{
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	padding-bottom: 15px;
	padding-top: 15px;
}
.the-icons LI:hover
{
	background-color: #FAE6BE;
}
.ico16
{
	font-size: 16px;
	vertical-align: middle;
	line-height: 16px;
	height: 16px;
	margin-right: 10px;
}
.ico16-text-left
{
	font-size: 16px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 12px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico16-text-right
{
	font-size: 16px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 12px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
.ico20
{
	font-size: 20px;
	vertical-align: middle;
	line-height: 20px;
	height: 20px;
	margin-right: 10px;
}
.ico20-text-left
{
	font-size: 20px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 16px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico20-text-right
{
	font-size: 20px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 16px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
.ico24
{
	font-size: 24px;
	vertical-align: middle;
	padding: 0 10px 0 0;
	line-height: 24px;
	height: 24px;
}
.ico24-text-left
{
	font-size: 24px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 20px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico24-text-right
{
	font-size: 24px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 20px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
.ico32
{
	font-size: 32px;
	vertical-align: middle;
	padding: 0 10px 0 0;
	line-height: 32px;
	height: 32px;
}
.ico32-text-left
{
	font-size: 32px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 28px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico32-text-right
{
	font-size: 32px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 28px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
.ico48
{
	font-size: 48px;
	vertical-align: middle;
	padding: 0 10px 0 0;
	line-height: 48px;
	height: 48px;
}
.ico48-text-left
{
	font-size: 48px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 44px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico48-text-right
{
	font-size: 48px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 44px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
.ico64
{
	font-size: 64px;
	vertical-align: middle;
	padding: 0 10px 0 0;
	line-height: 64px;
	height: 64px;
}
.ico64-text-left
{
	font-size: 64px;
	vertical-align: middle;
	padding: 0 30px 0 0;
	line-height: 60px;
	/*+placement:float-left 0px 0px;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
	clear: left;
}
.ico64-text-right
{
	font-size: 64px;
	vertical-align: middle;
	padding: 0 0 0 30px;
	line-height: 60px;
	/*+placement:float-right 0px 0px;*/
	float: right;
	position: relative;
	left: 0px;
	top: 0px;
	clear: right;
}
LI [class^="icon-"], LI [class*=" icon-"]
{
	vertical-align: middle;
	margin-right: 5px;
}
