/*------------------------------------------------------------------
[Table of contents]

	Default Header
	
[/Table of contents]
-------------------------------------------------------------------*/

.site-branding {
	display: inline-block;
	float: left;
}
.rtl .site-branding {
    float: right;
}
@media only screen and (min-width: 63.9375em) {
	
	.site-branding {
		margin-right:35px;
	}
	.rtl .site-branding {
    margin-left: 35px;
    margin-right: 0;
}

}