/* CSS Document */
.builder-sent-content{width:200px; height:200px; background:#999; display:block; position:relative; margin:5px; padding:5px;}
.builder-sent-content > .elem-placeholder{width:200px; height:200px; position:static; display:block;}
.builder-sent-content > .elem-inside{display:none; pointer-events:none;}