#ut-sidebar-manager .ut-settings-title {
    color: #464646;
    font-weight: 300 !important;
}

#ut-sidebar-manager .form-table th {
    font-weight: 400 !important;
    width: 300px !important;
}

#ut-sidebar-manager blockquote {
    border: 1px solid #E1E4E7;
    border-left: 4px solid #21C2F8;
    padding: 20px;
    position: relative;
    background: #FFF;
    margin: 20px 0;
}


.ut-sidebar-settings-title {
    
    display: block;
    float: left;
    font-size: 23px;
    
    padding-right: 15px;
    padding-top: 16px;
}

.ut-to-copy {
    display:none !important;
}

.ut-dodelete {
    color: #77777a;
    position: absolute;
    right: 50px;
}

.ut-dodelete:hover {
    color:#AA0000;
}

.ut-sidebar-title {
    cursor:pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ut-sidebar-title h3 {
    color: #222222;
    margin: 1em;
    font-size:1.2em !important;
}

.ut-docopy {
    margin-top:20px !important;
}

.ut-repeat-group {
    color: #444444;
    margin-bottom: 5px;
}

.ut-repeat-group textarea {
    width: 25em;
}

.widget-inside {
    display:block;
}

.ui-accordion-content {
    padding: 10px !important;
}

.ui-accordion-content p {
    font-size: 13px !important;
    line-height: 1.5;
    margin: 1em 0 !important;
}