/* All default css style for  layout 2*/

.testimonial-layout2 {}

.testimonial-layout2 .cshero-testimonial-title {
	
}

.testimonial-layout2 .cshero-testimonial-image.center{
	margin-bottom: 20px;
}

.testimonial-layout2 .cshero-testimonial-category{
	font-style: italic;
}

.testimonial-layout2 .cshero-testimonial-description{ margin-top: 12px;}
/* Pager */
.testimonial-layout2 .cshero-pager {
	margin-top: 35px;
}

/* Home 5 */
